<% if (key2 === 'aries') { %>
<h3 class="horo"> Jungfrau & Widder </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Jungfrau und Aszendent im Widder </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Jungfrau und Aszendent in Widder vereint die analytische,
  detailorientierte Natur der Jungfrau mit der dynamischen und energischen Energie des Widders.
  Menschen mit dieser Konstellation sind praktisch und methodisch, haben aber auch eine mutige
  und entschlossene Seite, die ihnen hilft, ihre Ziele mit Entschlossenheit und Tatkraft zu verfolgen.
  Die Jungfrau-Sonne verleiht ihnen ein starkes Bedürfnis nach Ordnung, Effizienz und Perfektion,
  während der Widder-Aszendent ihre äußere Erscheinung mit Enthusiasmus,
  Durchsetzungsvermögen und einer gewissen Spontaneität ergänzt.
  Mit einem Widder-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die
  selbstbewusst, direkt und oft sehr initiativ ist. Sie haben keine Angst davor, neue Wege zu
  beschreiten und ihre Ideen in die Tat umzusetzen. Diese Kombination ermöglicht es ihnen, ihre
  analytischen Fähigkeiten und ihren praktischen Verstand mit einer mutigen und aktiven
  Herangehensweise zu verbinden. Sie sind in der Lage, Projekte zu initiieren und sie mit
  methodischer Präzision zu verfolgen, was sie zu effektiven und erfolgreichen Anführern machen
  kann.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, ungeduldig und
  kritisch zu sein. Ihr starker Wunsch nach Effizienz und Perfektion kann zu Frustration führen, wenn
  die Dinge nicht schnell genug vorangehen oder wenn sie auf Widerstände stoßen. Diese Neigung
  zur Ungeduld und ihr Hang zur Selbstkritik können zu inneren Spannungen und Konflikten mit
  anderen führen. Es ist wichtig für sie, ein Gleichgewicht zwischen ihrer dynamischen, energischen
  Seite und ihrer Fähigkeit, geduldig und nachsichtig zu sein, zu finden, um ein harmonisches und
  erfülltes Leben zu führen. Indem sie lernen, ihre Entschlossenheit mit Geduld und Mitgefühl zu
  balancieren, können sie sowohl ihre eigenen Ziele erreichen als auch positive Beziehungen zu
  anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'taurus') { %>
<h3 class="horo"> Jungfrau & Stier </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Jungfrau und Aszendent im Stier </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Jungfrau und Aszendent in Stier vereint die analytische
  und detailorientierte Natur der Jungfrau mit der stabilen und bodenständigen Energie des Stiers.
  Menschen mit dieser Konstellation sind praktisch, methodisch und haben ein starkes Bedürfnis
  nach Sicherheit und Beständigkeit. Die Jungfrau-Sonne verleiht ihnen ein ausgeprägtes
  Bewusstsein für Details, Effizienz und den Wunsch, alles perfekt zu machen, während der Stier-
  Aszendent ihre äußere Erscheinung mit einer ruhigen, verlässlichen und oft sehr sinnlichen
  Ausstrahlung bereichert.
  Mit einem Stier-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die geduldig,
  beständig und sehr praktisch veranlagt ist. Sie haben die Fähigkeit, ihre analytischen Fähigkeiten
  und ihren scharfen Verstand auf eine beständige und methodische Weise einzusetzen, was ihnen
  hilft, ihre Ziele mit Ausdauer und Entschlossenheit zu verfolgen. Diese Kombination ermöglicht es
  ihnen, ihre präzise und methodische Jungfrau-Natur mit einer beständigen und geduldigen
  Herangehensweise zu verbinden. Sie sind in der Lage, Projekte und Aufgaben mit großer Sorgfalt
  und Aufmerksamkeit zu bearbeiten, was oft zu zuverlässigen und hochwertigen Ergebnissen führt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, stur und unflexibel
  zu sein. Ihr starkes Bedürfnis nach Sicherheit und Beständigkeit kann dazu führen, dass sie
  Schwierigkeiten haben, sich an Veränderungen anzupassen oder neue Ansätze auszuprobieren.
  Diese Neigung zur Starrheit und ihr Perfektionismus können zu inneren Spannungen und
  Konflikten mit anderen führen, insbesondere wenn sie das Gefühl haben, dass ihre Methoden und
  Standards nicht respektiert werden. Es ist wichtig für sie, ein Gleichgewicht zwischen ihrer
  stabilen, praktischen Natur und der Fähigkeit, flexibel und offen für neue Erfahrungen zu sein, zu
  finden, um ein erfülltes und ausgeglichenes Leben zu führen. Indem sie lernen, ihre Beständigkeit
  mit Flexibilität zu balancieren, können sie sowohl ihre eigenen Ziele erreichen als auch positive
  Beziehungen zu anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'gemini') { %>
<h3 class="horo"> Jungfrau & Zwillinge </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Jungfrau und Aszendent in Zwillinge </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Jungfrau und Aszendent in Zwillinge vereint die
  analytische und detailorientierte Natur der Jungfrau mit der lebhaften und kommunikativen
  Energie der Zwillinge. Menschen mit dieser Konstellation sind praktisch, methodisch und
  gleichzeitig neugierig und vielseitig interessiert. Die Jungfrau-Sonne verleiht ihnen ein starkes
  Bewusstsein für Details, Effizienz und den Wunsch, alles perfekt zu machen, während der
  Zwillinge-Aszendent ihre äußere Erscheinung mit Lebendigkeit, Flexibilität und einer schnellen
  Auffassungsgabe bereichert.
  Mit einem Zwillinge-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die
  kommunikativ, kontaktfreudig und anpassungsfähig ist. Sie haben die Fähigkeit, ihre analytischen
  Fähigkeiten und ihren scharfen Verstand auf vielseitige und kreative Weise einzusetzen, was ihnen
  hilft, ihre Ziele mit Flexibilität und Einfallsreichtum zu verfolgen. Diese Kombination ermöglicht es
  ihnen, ihre präzise und methodische Jungfrau-Natur mit einer offenen und neugierigen
  Herangehensweise zu verbinden. Sie sind in der Lage, schnell zu lernen und sich an neue
  Situationen anzupassen, was ihnen in vielen Lebensbereichen zugutekommt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, sich zu verzetteln
  und unentschlossen zu sein. Ihre Neigung, sich auf viele verschiedene Interessen und Projekte
  gleichzeitig zu konzentrieren, kann dazu führen, dass sie Schwierigkeiten haben, langfristige
  Verpflichtungen einzugehen oder Aufgaben zu Ende zu bringen. Diese Dualität zwischen der
  methodischen Jungfrau und dem vielseitigen Zwillinge kann zu inneren Spannungen und einem
  Gefühl der Unzufriedenheit führen, wenn sie das Gefühl haben, dass sie ihre Ziele nicht
  vollständig erreichen. Es ist wichtig für sie, ein Gleichgewicht zwischen ihrer Flexibilität und ihrer
  Fähigkeit, fokussiert und zielgerichtet zu bleiben, zu finden, um ein erfülltes und erfolgreiches
  Leben zu führen. Indem sie lernen, ihre vielen Talente und Interessen mit Disziplin und Ausdauer
  zu kombinieren, können sie sowohl ihre eigenen Ziele erreichen als auch positive Beziehungen zu
  anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'cancer') { %>
<h3 class="horo"> Jungfrau & Krebs </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Jungfrau und Aszendent in Krebs </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Jungfrau und Aszendent in Krebs vereint die analytische
  und detailorientierte Natur der Jungfrau mit der sensiblen und fürsorglichen Energie des Krebses.
  Menschen mit dieser Konstellation sind praktisch und methodisch, aber auch sehr einfühlsam und
  familienorientiert. Die Jungfrau-Sonne verleiht ihnen ein starkes Bewusstsein für Details, Effizienz
  und den Wunsch, alles perfekt zu machen, während der Krebs-Aszendent ihre äußere
  Erscheinung mit Sanftheit, Empathie und einem tiefen Bedürfnis nach emotionaler Sicherheit und
  Geborgenheit bereichert.
  Mit einem Krebs-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die freundlich,
  fürsorglich und oft sehr intuitiv ist. Sie haben die Fähigkeit, ihre analytischen Fähigkeiten und ihren
  scharfen Verstand mit einer einfühlsamen und unterstützenden Haltung zu verbinden, was ihnen
  hilft, starke und vertrauensvolle Beziehungen aufzubauen. Diese Kombination ermöglicht es ihnen,
  ihre präzise und methodische Jungfrau-Natur mit einem tiefen Mitgefühl und einer ausgeprägten
  Fähigkeit, sich um andere zu kümmern, zu kombinieren. Sie sind in der Lage, ihre Projekte und
  Aufgaben mit großer Sorgfalt und Aufmerksamkeit zu bearbeiten und gleichzeitig die emotionalen
  Bedürfnisse ihrer Mitmenschen zu berücksichtigen.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, sich übermäßig um
  andere zu sorgen und ihre eigenen Bedürfnisse zu vernachlässigen. Ihr starkes Bedürfnis nach
  Sicherheit und Perfektion kann zu inneren Spannungen führen, insbesondere wenn sie das Gefühl
  haben, dass sie die Erwartungen nicht erfüllen können oder wenn sie auf Unsicherheiten stoßen.
  Diese Neigung zur Selbstaufopferung und ihre Sensibilität können dazu führen, dass sie sich
  leicht überfordert fühlen oder Schwierigkeiten haben, sich abzugrenzen. Es ist wichtig für sie, ein
  Gleichgewicht zwischen ihrer fürsorglichen, sensiblen Seite und ihrer Fähigkeit, auch für sich
  selbst zu sorgen, zu finden, um ein harmonisches und erfülltes Leben zu führen. Indem sie lernen,
  ihre eigenen Bedürfnisse zu erkennen und zu respektieren, können sie sowohl ihre eigenen Ziele
  erreichen als auch positive und gesunde Beziehungen zu anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'leo') { %>
<h3 class="horo"> Jungfrau & Löwe </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Jungfrau und Aszendent in Löwe </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Jungfrau und Aszendent in Löwe vereint die analytische,
  detailorientierte Natur der Jungfrau mit der strahlenden, selbstbewussten Energie des Löwen.
  Menschen mit dieser Konstellation sind methodisch und praktisch, aber sie haben auch eine
  dynamische und charismatische Ausstrahlung. Die Jungfrau-Sonne verleiht ihnen eine starke
  Fähigkeit zur Analyse, Effizienz und den Wunsch, alles perfekt zu machen, während der Löwe-
  Aszendent ihre äußere Erscheinung mit Selbstvertrauen, Kreativität und einem natürlichen Hang
  zur Führung bereichert.
  Mit einem Löwe-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die warmherzig,
  großzügig und oft sehr inspirierend ist. Sie haben die Fähigkeit, ihre analytischen Fähigkeiten und
  ihren scharfen Verstand mit einer lebendigen und ausdrucksstarken Präsenz zu verbinden, was
  ihnen hilft, in sozialen und beruflichen Situationen erfolgreich zu sein. Diese Kombination
  ermöglicht es ihnen, ihre präzise und methodische Jungfrau-Natur mit einem mutigen und
  enthusiastischen Ansatz zu kombinieren. Sie sind in der Lage, ihre Projekte und Aufgaben mit
  großer Sorgfalt und Aufmerksamkeit zu bearbeiten, während sie gleichzeitig andere durch ihre
  positive Energie und ihren Optimismus motivieren.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, sich zwischen ihrem
  Bedürfnis nach Perfektion und ihrem Drang, im Mittelpunkt zu stehen, hin- und hergerissen zu
  fühlen. Ihr starker Wunsch nach Anerkennung und ihre Neigung zur Selbstkritik können zu inneren
  Spannungen führen, insbesondere wenn sie das Gefühl haben, den hohen Erwartungen nicht
  gerecht zu werden. Diese Dualität kann zu Frustration und Unsicherheit führen, wenn sie nicht in
  der Lage sind, ihre analytische und methodische Seite mit ihrer kreativen und selbstbewussten
  Seite in Einklang zu bringen. Es ist wichtig für sie, ein Gleichgewicht zwischen ihrer praktischen,
  detailorientierten Natur und ihrer Fähigkeit, sich selbst zu schätzen und Selbstvertrauen zu haben,
  zu finden, um ein erfülltes und harmonisches Leben zu führen. Indem sie lernen, ihre eigenen
  Fähigkeiten anzuerkennen und sowohl ihre Stärken als auch ihre Schwächen zu akzeptieren,
  können sie sowohl ihre eigenen Ziele erreichen als auch positive Beziehungen zu anderen
  aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'virgo') { %>
<h3 class="horo"> Jungfrau & Jungfrau </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Jungfrau und Aszendent in Jungfrau </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Jungfrau und Aszendent in Jungfrau vereint die
  analytische, detailorientierte Natur der Jungfrau in doppelter Intensität. Menschen mit dieser
  Konstellation sind praktisch, methodisch und haben ein starkes Bedürfnis nach Ordnung und
  Perfektion. Die Jungfrau-Sonne verleiht ihnen eine ausgeprägte Fähigkeit zur Analyse, Effizienz
  und den Wunsch, alles in ihrem Leben zu optimieren. Der Jungfrau-Aszendent verstärkt diese
  Eigenschaften weiter und bringt zusätzlich eine äußere Erscheinung, die sorgfältig, zurückhaltend
  und oft sehr akribisch ist.
  Mit einem Jungfrau-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die ruhig,
  gewissenhaft und sehr zuverlässig ist. Sie haben die Fähigkeit, ihre analytischen Fähigkeiten und
  ihren scharfen Verstand mit einer methodischen und präzisen Herangehensweise zu verbinden,
  was ihnen hilft, ihre Ziele systematisch und gründlich zu verfolgen. Diese Kombination ermöglicht
  es ihnen, ihre präzise und methodische Jungfrau-Natur voll zur Geltung zu bringen und in vielen
  Bereichen des Lebens, insbesondere in Arbeit und Alltag, sehr erfolgreich zu sein. Ihre Liebe zum
  Detail und ihre Fähigkeit, komplexe Probleme zu lösen, machen sie zu wertvollen Mitstreitern und
  geschätzten Kollegen.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, überkritisch und
  perfektionistisch zu sein. Ihr starker Wunsch nach Perfektion und ihr ausgeprägter Hang zur
  Selbstkritik können zu inneren Spannungen und Stress führen, insbesondere wenn sie das Gefühl
  haben, den hohen Standards nicht gerecht zu werden. Diese Neigung zur Überanalyse und die
  Angst vor Fehlern können sie daran hindern, spontan zu sein und das Leben in vollen Zügen zu
  genießen. Es ist wichtig für sie, ein Gleichgewicht zwischen ihrer methodischen, detailorientierten
  Natur und der Fähigkeit, auch mal loszulassen und sich selbst gegenüber nachsichtig zu sein, zu
  finden, um ein harmonisches und erfülltes Leben zu führen. Indem sie lernen, ihre Stärken zu
  schätzen und ihre Schwächen zu akzeptieren, können sie sowohl ihre eigenen Ziele erreichen als
  auch positive und entspannte Beziehungen zu anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'libra') { %>
<h3 class="horo"> Jungfrau & Waage </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Jungfrau und Aszendent in Waage </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Jungfrau und Aszendent in Waage vereint die analytische,
  detailorientierte Natur der Jungfrau mit der charmanten und harmoniesuchenden Energie der
  Waage. Menschen mit dieser Konstellation sind praktisch und methodisch, aber sie haben auch
  eine ausgeprägte Fähigkeit, Schönheit und Ausgewogenheit in ihr Leben und ihre Beziehungen zu
  bringen. Die Jungfrau-Sonne verleiht ihnen eine starke Fähigkeit zur Analyse, Effizienz und den
  Wunsch, alles perfekt zu machen, während der Waage-Aszendent ihre äußere Erscheinung mit
  Anmut, Diplomatie und einem starken Sinn für Gerechtigkeit bereichert.
  Mit einem Waage-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die freundlich,
  charmant und oft sehr ästhetisch orientiert ist. Sie haben die Fähigkeit, ihre analytischen
  Fähigkeiten und ihren scharfen Verstand mit einer diplomatischen und kooperativen
  Herangehensweise zu verbinden, was ihnen hilft, harmonische Beziehungen zu pflegen und
  Konflikte zu vermeiden. Diese Kombination ermöglicht es ihnen, ihre präzise und methodische
  Jungfrau-Natur mit einer eleganten und sozialen Haltung zu kombinieren. Sie sind in der Lage,
  ihre Projekte und Aufgaben mit großer Sorgfalt und einem ausgeprägten Sinn für Ästhetik zu
  bearbeiten, was oft zu sehr ansprechenden und gut durchdachten Ergebnissen führt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, zu sehr darauf
  bedacht zu sein, es allen recht zu machen, und Schwierigkeiten haben, klare Entscheidungen zu
  treffen. Ihr starker Wunsch nach Harmonie und Perfektion kann zu inneren Spannungen führen,
  insbesondere wenn sie das Gefühl haben, dass ihre Bemühungen nicht gewürdigt werden oder
  wenn sie auf Ungerechtigkeiten stoßen. Diese Neigung zur Überanpassung und die Angst vor
  Konflikten können sie daran hindern, ihre eigenen Bedürfnisse und Wünsche klar zu
  kommunizieren. Es ist wichtig für sie, ein Gleichgewicht zwischen ihrer harmoniesuchenden,
  diplomatischen Natur und der Fähigkeit, standhaft und selbstbewusst zu bleiben, zu finden, um
  ein erfülltes und authentisches Leben zu führen. Indem sie lernen, sowohl ihre eigenen
  Bedürfnisse zu erkennen als auch offen und ehrlich zu kommunizieren, können sie sowohl ihre
  eigenen Ziele erreichen als auch positive und gesunde Beziehungen zu anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'scorpio') { %>
<h3 class="horo"> Jungfrau & Skorpion </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Jungfrau und Aszendent in Skorpion </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Jungfrau und Aszendent in Skorpion vereint die
  analytische, detailorientierte Natur der Jungfrau mit der intensiven und geheimnisvollen Energie
  des Skorpions. Menschen mit dieser Konstellation sind praktisch, methodisch und haben ein
  starkes Bedürfnis, die Welt um sie herum zu verstehen und zu kontrollieren. Die Jungfrau-Sonne
  verleiht ihnen eine ausgeprägte Fähigkeit zur Analyse, Effizienz und den Wunsch, alles perfekt zu
  machen, während der Skorpion-Aszendent ihre äußere Erscheinung mit Tiefe, Entschlossenheit
  und einer magnetischen Ausstrahlung bereichert.
  Mit einem Skorpion-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die intensiv,
  durchdringend und oft sehr entschlossen ist. Sie haben die Fähigkeit, ihre analytischen
  Fähigkeiten und ihren scharfen Verstand mit einer leidenschaftlichen und fokussierten
  Herangehensweise zu verbinden, was ihnen hilft, tiefgründige Einblicke zu gewinnen und
  komplexe Probleme zu lösen. Diese Kombination ermöglicht es ihnen, ihre präzise und
  methodische Jungfrau-Natur mit einer starken inneren Kraft und Entschlossenheit zu kombinieren.
  Sie sind in der Lage, ihre Projekte und Aufgaben mit großer Sorgfalt und einem unermüdlichen
  Streben nach Perfektion zu bearbeiten, was oft zu beeindruckenden und nachhaltigen
  Ergebnissen führt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, übermäßig kritisch
  und kontrollierend zu sein. Ihr starkes Bedürfnis nach Perfektion und Kontrolle kann zu inneren
  Spannungen führen, insbesondere wenn sie das Gefühl haben, dass sie nicht die volle Kontrolle
  über ihre Umgebung oder ihre Projekte haben. Diese Neigung zur Überanalyse und die Angst vor
  Fehlern können sie daran hindern, sich zu entspannen und das Leben zu genießen. Es ist wichtig
  für sie, ein Gleichgewicht zwischen ihrer intensiven, fokussierten Natur und der Fähigkeit, auch
  mal loszulassen und Vertrauen zu haben, zu finden, um ein harmonisches und erfülltes Leben zu
  führen. Indem sie lernen, sowohl ihre eigenen Fähigkeiten zu schätzen als auch die Kontrolle zu
  teilen, können sie sowohl ihre eigenen Ziele erreichen als auch positive und gesunde Beziehungen
  zu anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'sagittarius') { %>
<h3 class="horo"> Jungfrau & Schütze </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Jungfrau und Aszendent in Schütze </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Jungfrau und Aszendent in Schütze vereint die
  analytische, detailorientierte Natur der Jungfrau mit der optimistischen und abenteuerlustigen
  Energie des Schützen. Menschen mit dieser Konstellation sind praktisch und methodisch, haben
  aber auch einen starken Drang nach Wissen und neuen Erfahrungen. Die Jungfrau-Sonne verleiht
  ihnen eine ausgeprägte Fähigkeit zur Analyse, Effizienz und den Wunsch, alles perfekt zu machen,
  während der Schütze-Aszendent ihre äußere Erscheinung mit Enthusiasmus, Offenheit und einem
  unstillbaren Wissensdurst bereichert.
  Mit einem Schütze-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die fröhlich,
  optimistisch und oft sehr neugierig ist. Sie haben die Fähigkeit, ihre analytischen Fähigkeiten und
  ihren scharfen Verstand mit einer weiten Perspektive und einem philosophischen Ansatz zu
  verbinden, was ihnen hilft, tiefere Einsichten und Verständnis für die Welt um sie herum zu
  gewinnen. Diese Kombination ermöglicht es ihnen, ihre präzise und methodische Jungfrau-Natur
  mit einem abenteuerlichen und aufgeschlossenen Geist zu kombinieren. Sie sind in der Lage, ihre
  Projekte und Aufgaben mit großer Sorgfalt zu bearbeiten, während sie gleichzeitig neue Horizonte
  erkunden und immer auf der Suche nach persönlichem Wachstum sind.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, unentschlossen und
  zerstreut zu sein. Ihr starker Wunsch nach Perfektion und Detailgenauigkeit kann im Widerspruch
  zu ihrem Bedürfnis nach Freiheit und neuen Erfahrungen stehen, was zu inneren Spannungen
  führen kann. Diese Dualität kann dazu führen, dass sie Schwierigkeiten haben, langfristige
  Verpflichtungen einzugehen oder Projekte abzuschließen, wenn sie ständig nach neuen
  Abenteuern streben. Es ist wichtig für sie, ein Gleichgewicht zwischen ihrer analytischen,
  detailorientierten Natur und ihrer abenteuerlichen, aufgeschlossenen Seite zu finden, um ein
  harmonisches und erfülltes Leben zu führen. Indem sie lernen, ihre vielen Interessen und Talente
  mit Disziplin und Ausdauer zu kombinieren, können sie sowohl ihre eigenen Ziele erreichen als
  auch positive und inspirierende Beziehungen zu anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'capricorn') { %>
<h3 class="horo"> Jungfrau & Steinbock </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Jungfrau und Aszendent in Steinbock
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Jungfrau und Aszendent in Steinbock vereint die
  analytische, detailorientierte Natur der Jungfrau mit der disziplinierten und zielstrebigen Energie
  des Steinbocks. Menschen mit dieser Konstellation sind praktisch und methodisch, haben aber
  auch einen starken Ehrgeiz und ein ausgeprägtes Verantwortungsbewusstsein. Die Jungfrau-
  Sonne verleiht ihnen eine ausgeprägte Fähigkeit zur Analyse, Effizienz und den Wunsch, alles
  perfekt zu machen, während der Steinbock-Aszendent ihre äußere Erscheinung mit
  Ernsthaftigkeit, Ausdauer und einer starken beruflichen Orientierung bereichert.
  Mit einem Steinbock-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die
  zuverlässig, organisiert und oft sehr zielgerichtet ist. Sie haben die Fähigkeit, ihre analytischen
  Fähigkeiten und ihren scharfen Verstand mit einer strukturierten und pragmatischen
  Herangehensweise zu verbinden, was ihnen hilft, ihre Ziele systematisch und gründlich zu
  verfolgen. Diese Kombination ermöglicht es ihnen, ihre präzise und methodische Jungfrau-Natur
  mit einem starken Fokus auf langfristigen Erfolg und Stabilität zu kombinieren. Sie sind in der
  Lage, Projekte und Aufgaben mit großer Sorgfalt und einer soliden Planung zu bearbeiten, was oft
  zu nachhaltigen und beeindruckenden Ergebnissen führt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, zu streng mit sich
  selbst und anderen zu sein. Ihr starker Wunsch nach Perfektion und ihr ausgeprägter Hang zur
  Selbstkritik können zu inneren Spannungen und Stress führen, insbesondere wenn sie das Gefühl
  haben, den hohen Standards nicht gerecht zu werden. Diese Neigung zur Überarbeit und die
  Angst vor Misserfolg können sie daran hindern, sich zu entspannen und das Leben in vollen
  Zügen zu genießen. Es ist wichtig für sie, ein Gleichgewicht zwischen ihrer disziplinierten,
  zielgerichteten Natur und der Fähigkeit, auch mal loszulassen und sich selbst gegenüber
  nachsichtig zu sein, zu finden, um ein harmonisches und erfülltes Leben zu führen. Indem sie
  lernen, ihre eigenen Stärken zu schätzen und sowohl ihre beruflichen als auch ihre persönlichen
  Bedürfnisse zu balancieren, können sie sowohl ihre eigenen Ziele erreichen als auch positive
  Beziehungen zu anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'aquarius') { %>
<h3 class="horo"> Jungfrau & Wassermann </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Jungfrau und Aszendent in
  Wassermann </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Jungfrau und Aszendent in Wassermann vereint die
  analytische, detailorientierte Natur der Jungfrau mit der innovativen und unkonventionellen
  Energie des Wassermanns. Menschen mit dieser Konstellation sind praktisch und methodisch,
  aber sie haben auch einen starken Drang nach Fortschritt und Originalität. Die Jungfrau-Sonne
  verleiht ihnen eine ausgeprägte Fähigkeit zur Analyse, Effizienz und den Wunsch, alles perfekt zu
  machen, während der Wassermann-Aszendent ihre äußere Erscheinung mit einem offenen Geist,
  Kreativität und einem starken Sinn für Individualität bereichert.
  Mit einem Wassermann-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die
  freundlich, aufgeschlossen und oft sehr originell ist. Sie haben die Fähigkeit, ihre analytischen
  Fähigkeiten und ihren scharfen Verstand mit einer innovativen und zukunftsorientierten
  Herangehensweise zu verbinden, was ihnen hilft, neue und unkonventionelle Lösungen für
  Probleme zu finden. Diese Kombination ermöglicht es ihnen, ihre präzise und methodische
  Jungfrau-Natur mit einem kreativen und unkonventionellen Ansatz zu kombinieren. Sie sind in der
  Lage, ihre Projekte und Aufgaben mit großer Sorgfalt und einem ausgeprägten Sinn für Innovation
  zu bearbeiten, was oft zu einzigartigen und effektiven Ergebnissen führt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, sich zwischen ihrem
  Bedürfnis nach Ordnung und Perfektion und ihrem Drang nach Freiheit und Unabhängigkeit hinund
  hergerissen zu fühlen. Ihr starker Wunsch nach Individualität und ihre Neigung zur Rebellion
  gegen Konventionen können zu inneren Spannungen führen, insbesondere wenn sie das Gefühl
  haben, in ihrer kreativen Freiheit eingeschränkt zu werden. Diese Dualität kann dazu führen, dass
  sie Schwierigkeiten haben, sich langfristig zu binden oder sich an traditionelle Strukturen zu
  halten. Es ist wichtig für sie, ein Gleichgewicht zwischen ihrer analytischen, detailorientierten
  Natur und ihrer Fähigkeit, kreativ und flexibel zu sein, zu finden, um ein harmonisches und
  erfülltes Leben zu führen. Indem sie lernen, ihre vielen Talente und Interessen mit Disziplin und
  Offenheit zu kombinieren, können sie sowohl ihre eigenen Ziele erreichen als auch positive und
  inspirierende Beziehungen zu anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'pisces') { %>
<h3 class="horo"> Jungfrau & Fische </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Jungfrau und Aszendent in Fische </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Jungfrau und Aszendent in Fische vereint die analytische,
  detailorientierte Natur der Jungfrau mit der sensiblen und intuitiven Energie der Fische. Menschen
  mit dieser Konstellation sind praktisch und methodisch, haben aber auch eine starke emotionale
  und spirituelle Seite. Die Jungfrau-Sonne verleiht ihnen eine ausgeprägte Fähigkeit zur Analyse,
  Effizienz und den Wunsch, alles perfekt zu machen, während der Fische-Aszendent ihre äußere
  Erscheinung mit Sanftheit, Empathie und einem tiefen Mitgefühl bereichert.
  Mit einem Fische-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die verträumt,
  freundlich und oft sehr künstlerisch ist. Sie haben die Fähigkeit, ihre analytischen Fähigkeiten und
  ihren scharfen Verstand mit einer intuitiven und gefühlsbetonten Herangehensweise zu verbinden,
  was ihnen hilft, tiefere Einblicke in zwischenmenschliche Beziehungen und emotionale Situationen
  zu gewinnen. Diese Kombination ermöglicht es ihnen, ihre präzise und methodische Jungfrau-
  Natur mit einer starken emotionalen Intelligenz und einer ausgeprägten Fähigkeit zur Empathie zu
  kombinieren. Sie sind in der Lage, ihre Projekte und Aufgaben mit großer Sorgfalt und
  Aufmerksamkeit zu bearbeiten, während sie gleichzeitig die emotionalen Bedürfnisse der
  Menschen um sie herum berücksichtigen.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, sich in ihren
  eigenen Träumen und Emotionen zu verlieren. Ihr starkes Bedürfnis nach Perfektion und ihre
  Sensibilität können zu inneren Spannungen führen, insbesondere wenn sie das Gefühl haben,
  dass ihre Bemühungen nicht gewürdigt werden oder wenn sie auf Unsicherheiten stoßen. Diese
  Neigung zur Überanalyse und ihre Empfindsamkeit können dazu führen, dass sie sich leicht
  überfordert fühlen oder Schwierigkeiten haben, klare Grenzen zu setzen. Es ist wichtig für sie, ein
  Gleichgewicht zwischen ihrer analytischen, detailorientierten Natur und ihrer Fähigkeit, auch mal
  loszulassen und Vertrauen zu haben, zu finden, um ein harmonisches und erfülltes Leben zu
  führen. Indem sie lernen, sowohl ihre eigenen Bedürfnisse zu erkennen und zu respektieren, als
  auch ihre Emotionen in gesunde Bahnen zu lenken, können sie sowohl ihre eigenen Ziele
  erreichen als auch positive und erfüllende Beziehungen zu anderen aufrechterhalten.
</p>
<% } %>