<% if (key2 === 'aries') { %>
<h3 class="horo"> Skorpion & Widder </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Skorpion und Aszendent im Widder </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Skorpion und Aszendent in Widder vereint die intensive,
  leidenschaftliche Natur des Skorpions mit der dynamischen und impulsiven Energie des Widders.
  Menschen mit dieser Konstellation sind tiefgründig und zielstrebig, haben aber auch eine
  entschlossene und durchsetzungsfähige Seite. Die Skorpion-Sonne verleiht ihnen eine starke
  emotionale Tiefe und ein Bedürfnis nach Transformation und Macht, während der Widder-
  Aszendent ihre äußere Erscheinung mit Mut, Initiative und einem ausgeprägten Sinn für Abenteuer
  bereichert.
  Mit einem Widder-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die
  selbstbewusst, energisch und oft sehr direkt ist. Sie haben die Fähigkeit, ihre intensiven Gefühle
  und ihren tiefen Sinn für Gerechtigkeit mit einer kämpferischen und entschlossenen
  Herangehensweise zu verbinden, was ihnen hilft, in sozialen und beruflichen Situationen
  erfolgreich zu sein. Diese Kombination ermöglicht es ihnen, ihre leidenschaftliche und
  transformative Skorpion-Natur mit einer dynamischen und zielgerichteten Haltung zu kombinieren.
  Sie sind in der Lage, ihre Projekte und Aufgaben mit großer Entschlossenheit und einem
  ausgeprägten Sinn für Unabhängigkeit zu verfolgen, was oft zu beeindruckenden und kraftvollen
  Ergebnissen führt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, zu impulsiv und
  konfrontativ zu sein. Ihr starkes Bedürfnis nach Kontrolle und ihre Neigung zur Intensität können
  im Widerspruch zu ihrer natürlichen Impulsivität und Direktheit stehen, was zu inneren
  Spannungen führen kann. Diese Dualität kann dazu führen, dass sie Schwierigkeiten haben,
  geduldig zu bleiben und langfristige Strategien zu entwickeln. Es ist wichtig für sie, ein
  Gleichgewicht zwischen ihrer leidenschaftlichen, tiefgründigen Natur und ihrer Fähigkeit, auch mal
  innezuhalten und strategisch zu denken, zu finden, um ein erfülltes und harmonisches Leben zu
  führen. Indem sie lernen, sowohl ihre eigenen Bedürfnisse zu erkennen als auch ihre Impulsivität
  in gesunde Bahnen zu lenken, können sie sowohl ihre eigenen Ziele erreichen als auch positive
  und erfüllende Beziehungen zu anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'taurus') { %>
<h3 class="horo"> Skorpion & Stier </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Skorpion und Aszendent im Stier </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Skorpion und Aszendent in Stier vereint die intensive,
  leidenschaftliche Natur des Skorpions mit der stabilen und sinnlichen Energie des Stiers.
  Menschen mit dieser Konstellation sind tiefgründig und zielstrebig, haben aber auch eine
  geduldige und beständige Seite. Die Skorpion-Sonne verleiht ihnen eine starke emotionale Tiefe
  und ein Bedürfnis nach Transformation und Macht, während der Stier-Aszendent ihre äußere
  Erscheinung mit Ruhe, Beständigkeit und einem ausgeprägten Sinn für Genuss bereichert.
  Mit einem Stier-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die gelassen,
  zuverlässig und oft sehr sinnlich ist. Sie haben die Fähigkeit, ihre intensiven Gefühle und ihren
  tiefen Sinn für Gerechtigkeit mit einer ruhigen und entschlossenen Herangehensweise zu
  verbinden, was ihnen hilft, in sozialen und beruflichen Situationen erfolgreich zu sein. Diese
  Kombination ermöglicht es ihnen, ihre leidenschaftliche und transformative Skorpion-Natur mit
  einer stabilen und genussorientierten Haltung zu kombinieren. Sie sind in der Lage, ihre Projekte
  und Aufgaben mit großer Entschlossenheit und einem ausgeprägten Sinn für Beharrlichkeit zu
  verfolgen, was oft zu beeindruckenden und nachhaltigen Ergebnissen führt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, zu stur und
  besitzergreifend zu sein. Ihr starkes Bedürfnis nach Kontrolle und ihre Neigung zur Intensität
  können im Widerspruch zu ihrer natürlichen Neigung zur Beständigkeit und Ruhe stehen, was zu
  inneren Spannungen führen kann. Diese Dualität kann dazu führen, dass sie Schwierigkeiten
  haben, flexibel zu bleiben und sich an Veränderungen anzupassen. Es ist wichtig für sie, ein
  Gleichgewicht zwischen ihrer leidenschaftlichen, tiefgründigen Natur und ihrer Fähigkeit, auch mal
  loszulassen und flexibel zu sein, zu finden, um ein erfülltes und harmonisches Leben zu führen.
  Indem sie lernen, sowohl ihre eigenen Bedürfnisse zu erkennen als auch ihre Starrheit in gesunde
  Bahnen zu lenken, können sie sowohl ihre eigenen Ziele erreichen als auch positive und erfüllende
  Beziehungen zu anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'gemini') { %>
<h3 class="horo"> Skorpion & Zwillinge </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Skorpion und Aszendent in Zwillinge </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Skorpion und Aszendent in Zwillinge vereint die intensive,
  leidenschaftliche Natur des Skorpions mit der neugierigen und kommunikativen Energie der
  Zwillinge. Menschen mit dieser Konstellation sind tiefgründig und zielstrebig, haben aber auch
  eine vielseitige und intellektuelle Seite. Die Skorpion-Sonne verleiht ihnen eine starke emotionale
  Tiefe und ein Bedürfnis nach Transformation und Macht, während der Zwillinge-Aszendent ihre
  äußere Erscheinung mit Flexibilität, Wortgewandtheit und einem ausgeprägten Sinn für soziale
  Interaktionen bereichert.
  Mit einem Zwillinge-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die
  kontaktfreudig, aufgeschlossen und oft sehr geistreich ist. Sie haben die Fähigkeit, ihre intensiven
  Gefühle und ihren tiefen Sinn für Gerechtigkeit mit einer schnellen und anpassungsfähigen
  Herangehensweise zu verbinden, was ihnen hilft, in sozialen und beruflichen Situationen
  erfolgreich zu sein. Diese Kombination ermöglicht es ihnen, ihre leidenschaftliche und
  transformative Skorpion-Natur mit einer neugierigen und kommunikativen Haltung zu
  kombinieren. Sie sind in der Lage, ihre Projekte und Aufgaben mit großer Entschlossenheit und
  einem ausgeprägten Sinn für Vielseitigkeit zu verfolgen, was oft zu innovativen und dynamischen
  Ergebnissen führt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, zu zerstreut und
  unruhig zu sein. Ihr starkes Bedürfnis nach Kontrolle und ihre Neigung zur Intensität können im
  Widerspruch zu ihrer natürlichen Neigung zur Leichtigkeit und Anpassungsfähigkeit stehen, was
  zu inneren Spannungen führen kann. Diese Dualität kann dazu führen, dass sie Schwierigkeiten
  haben, sich langfristig zu binden oder ihre Projekte zu Ende zu bringen, wenn sie ständig nach
  neuen Reizen und Herausforderungen suchen. Es ist wichtig für sie, ein Gleichgewicht zwischen
  ihrer leidenschaftlichen, tiefgründigen Natur und ihrer Fähigkeit, fokussiert und konsequent zu
  bleiben, zu finden, um ein erfülltes und harmonisches Leben zu führen. Indem sie lernen, sowohl
  ihre eigenen Bedürfnisse zu erkennen als auch ihre Zerstreutheit in gesunde Bahnen zu lenken,
  können sie sowohl ihre eigenen Ziele erreichen als auch positive und stabile Beziehungen zu
  anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'cancer') { %>
<h3 class="horo"> Skorpion & Krebs </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Skorpion und Aszendent in Krebs </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Skorpion und Aszendent in Krebs vereint die intensive,
  leidenschaftliche Natur des Skorpions mit der einfühlsamen und beschützenden Energie des
  Krebses. Menschen mit dieser Konstellation sind tiefgründig und zielstrebig, haben aber auch eine
  besonders emotionale und fürsorgliche Seite. Die Skorpion-Sonne verleiht ihnen eine starke
  emotionale Tiefe und ein Bedürfnis nach Transformation und Macht, während der Krebs-
  Aszendent ihre äußere Erscheinung mit Sensibilität, Intuition und einem ausgeprägten
  Familiensinn bereichert.
  Mit einem Krebs-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die mitfühlend,
  fürsorglich und oft sehr intuitiv ist. Sie haben die Fähigkeit, ihre intensiven Gefühle und ihren tiefen
  Sinn für Gerechtigkeit mit einer sanften und unterstützenden Herangehensweise zu verbinden,
  was ihnen hilft, in sozialen und beruflichen Situationen erfolgreich zu sein. Diese Kombination
  ermöglicht es ihnen, ihre leidenschaftliche und transformative Skorpion-Natur mit einer liebevollen
  und beschützenden Haltung zu kombinieren. Sie sind in der Lage, ihre Projekte und Aufgaben mit
  großer Entschlossenheit und einem ausgeprägten Sinn für Fürsorglichkeit zu verfolgen, was oft zu
  beeindruckenden und berührenden Ergebnissen führt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, zu besitzergreifend
  und emotional überwältigend zu sein. Ihr starkes Bedürfnis nach Kontrolle und ihre Neigung zur
  Intensität können im Widerspruch zu ihrer natürlichen Neigung zur Sensibilität und Fürsorglichkeit
  stehen, was zu inneren Spannungen führen kann. Diese Dualität kann dazu führen, dass sie
  Schwierigkeiten haben, loszulassen und anderen Freiraum zu gewähren. Es ist wichtig für sie, ein
  Gleichgewicht zwischen ihrer leidenschaftlichen, tiefgründigen Natur und ihrer Fähigkeit, auch mal
  loszulassen und Vertrauen zu haben, zu finden, um ein erfülltes und harmonisches Leben zu
  führen. Indem sie lernen, sowohl ihre eigenen Bedürfnisse zu erkennen als auch ihre
  Besitzergreifung in gesunde Bahnen zu lenken, können sie sowohl ihre eigenen Ziele erreichen als
  auch positive und erfüllende Beziehungen zu anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'leo') { %>
<h3 class="horo"> Skorpion & Löwe </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Skorpion und Aszendent in Löwe </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Skorpion und Aszendent in Löwe vereint die intensive,
  leidenschaftliche Natur des Skorpions mit der stolzen und selbstbewussten Energie des Löwen.
  Menschen mit dieser Konstellation sind tiefgründig und zielstrebig, haben aber auch eine
  charismatische und königliche Seite. Die Skorpion-Sonne verleiht ihnen eine starke emotionale
  Tiefe und ein Bedürfnis nach Transformation und Macht, während der Löwe-Aszendent ihre
  äußere Erscheinung mit einer kraftvollen Ausstrahlung, Selbstvertrauen und einem ausgeprägten
  Sinn für Drama bereichert.
  Mit einem Löwe-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die
  charismatisch, warmherzig und oft sehr kreativ ist. Sie haben die Fähigkeit, ihre intensiven
  Gefühle und ihren tiefen Sinn für Gerechtigkeit mit einer majestätischen und selbstbewussten
  Herangehensweise zu verbinden, was ihnen hilft, in sozialen und beruflichen Situationen
  erfolgreich zu sein. Diese Kombination ermöglicht es ihnen, ihre leidenschaftliche und
  transformative Skorpion-Natur mit einer großzügigen und strahlenden Haltung zu kombinieren. Sie
  sind in der Lage, ihre Projekte und Aufgaben mit großer Entschlossenheit und einem
  ausgeprägten Sinn für Theatralik zu verfolgen, was oft zu beeindruckenden und inspirierenden
  Ergebnissen führt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, zu dominant und
  starrsinnig zu sein. Ihr starkes Bedürfnis nach Kontrolle und ihre Neigung zur Intensität können im
  Widerspruch zu ihrer natürlichen Neigung zur Großzügigkeit und Selbstbewusstsein stehen, was
  zu inneren Spannungen führen kann. Diese Dualität kann dazu führen, dass sie Schwierigkeiten
  haben, flexibel zu bleiben und die Meinungen anderer zu berücksichtigen. Es ist wichtig für sie,
  ein Gleichgewicht zwischen ihrer leidenschaftlichen, tiefgründigen Natur und ihrer Fähigkeit, auch
  mal loszulassen und anderen Raum zu geben, zu finden, um ein erfülltes und harmonisches
  Leben zu führen. Indem sie lernen, sowohl ihre eigenen Bedürfnisse zu erkennen als auch ihre
  Dominanz in gesunde Bahnen zu lenken, können sie sowohl ihre eigenen Ziele erreichen als auch
  positive und erfüllende Beziehungen zu anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'virgo') { %>
<h3 class="horo"> Skorpion & Jungfrau </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Skorpion und Aszendent in Jungfrau </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Skorpion und Aszendent in Jungfrau vereint die intensive,
  leidenschaftliche Natur des Skorpions mit der analytischen und praktischen Energie der Jungfrau.
  Menschen mit dieser Konstellation sind tiefgründig und zielstrebig, haben aber auch eine
  besonders detailorientierte und methodische Seite. Die Skorpion-Sonne verleiht ihnen eine starke
  emotionale Tiefe und ein Bedürfnis nach Transformation und Macht, während der Jungfrau-
  Aszendent ihre äußere Erscheinung mit Präzision, Sorgfalt und einem ausgeprägten Sinn für
  Ordnung bereichert.
  Mit einem Jungfrau-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die
  bescheiden, praktisch und oft sehr effizient ist. Sie haben die Fähigkeit, ihre intensiven Gefühle
  und ihren tiefen Sinn für Gerechtigkeit mit einer rationalen und systematischen Herangehensweise
  zu verbinden, was ihnen hilft, in sozialen und beruflichen Situationen erfolgreich zu sein. Diese
  Kombination ermöglicht es ihnen, ihre leidenschaftliche und transformative Skorpion-Natur mit
  einer analytischen und sorgfältigen Haltung zu kombinieren. Sie sind in der Lage, ihre Projekte
  und Aufgaben mit großer Entschlossenheit und einem ausgeprägten Sinn für Detailgenauigkeit zu
  verfolgen, was oft zu beeindruckenden und gut durchdachten Ergebnissen führt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, zu kritisch und
  perfektionistisch zu sein. Ihr starkes Bedürfnis nach Kontrolle und ihre Neigung zur Intensität
  können im Widerspruch zu ihrer natürlichen Neigung zur Bescheidenheit und Ordnung stehen,
  was zu inneren Spannungen führen kann. Diese Dualität kann dazu führen, dass sie
  Schwierigkeiten haben, sich zu entspannen und die Dinge loszulassen, wenn sie nicht perfekt
  sind. Es ist wichtig für sie, ein Gleichgewicht zwischen ihrer leidenschaftlichen, tiefgründigen
  Natur und ihrer Fähigkeit, auch mal nachsichtiger mit sich selbst und anderen zu sein, zu finden,
  um ein erfülltes und harmonisches Leben zu führen. Indem sie lernen, sowohl ihre eigenen
  Bedürfnisse zu erkennen als auch ihre Kritikalität in gesunde Bahnen zu lenken, können sie
  sowohl ihre eigenen Ziele erreichen als auch positive und erfüllende Beziehungen zu anderen
  aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'libra') { %>
<h3 class="horo"> Skorpion & Waage </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Skorpion und Aszendent in Waage </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Skorpion und Aszendent in Waage vereint die intensive,
  leidenschaftliche Natur des Skorpions mit der harmoniesuchenden und charmanten Energie der
  Waage. Menschen mit dieser Konstellation sind tiefgründig und zielstrebig, haben aber auch eine
  diplomatische und ausgleichende Seite. Die Skorpion-Sonne verleiht ihnen eine starke emotionale
  Tiefe und ein Bedürfnis nach Transformation und Macht, während der Waage-Aszendent ihre
  äußere Erscheinung mit Anmut, Freundlichkeit und einem ausgeprägten Sinn für Gerechtigkeit
  bereichert.
  Mit einem Waage-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die charmant,
  kooperativ und oft sehr sozial ist. Sie haben die Fähigkeit, ihre intensiven Gefühle und ihren tiefen
  Sinn für Gerechtigkeit mit einer diplomatischen und ausgeglichenen Herangehensweise zu
  verbinden, was ihnen hilft, in sozialen und beruflichen Situationen erfolgreich zu sein. Diese
  Kombination ermöglicht es ihnen, ihre leidenschaftliche und transformative Skorpion-Natur mit
  einer harmonischen und vermittelnden Haltung zu kombinieren. Sie sind in der Lage, ihre Projekte
  und Aufgaben mit großer Entschlossenheit und einem ausgeprägten Sinn für Ästhetik und
  Fairness zu verfolgen, was oft zu beeindruckenden und gut ausgeglichenen Ergebnissen führt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, innerlich zerrissen
  und unentschlossen zu sein. Ihr starkes Bedürfnis nach Kontrolle und ihre Neigung zur Intensität
  können im Widerspruch zu ihrer natürlichen Neigung zur Harmonie und Diplomatie stehen, was zu
  inneren Spannungen führen kann. Diese Dualität kann dazu führen, dass sie Schwierigkeiten
  haben, klare Entscheidungen zu treffen oder sich in Konfliktsituationen durchzusetzen. Es ist
  wichtig für sie, ein Gleichgewicht zwischen ihrer leidenschaftlichen, tiefgründigen Natur und ihrer
  Fähigkeit, auch mal entschlossen und klar zu handeln, zu finden, um ein erfülltes und
  harmonisches Leben zu führen. Indem sie lernen, sowohl ihre eigenen Bedürfnisse zu erkennen
  als auch ihre Unentschlossenheit in gesunde Bahnen zu lenken, können sie sowohl ihre eigenen
  Ziele erreichen als auch positive und erfüllende Beziehungen zu anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'scorpio') { %>
<h3 class="horo"> Skorpion & Skorpion </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Skorpion und Aszendent in Skorpion </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Skorpion und Aszendent in Skorpion vereint eine doppelte
  Dosis der intensiven, leidenschaftlichen und geheimnisvollen Energie dieses Zeichens. Menschen
  mit dieser Konstellation sind tiefgründig und extrem zielstrebig, mit einer starken inneren Kraft und
  einem unerschütterlichen Willen. Die Skorpion-Sonne verleiht ihnen eine enorme emotionale Tiefe
  und ein starkes Bedürfnis nach Transformation und Macht, während der Skorpion-Aszendent ihre
  äußere Erscheinung mit einer magnetischen Anziehungskraft, Durchdringung und einer starken
  Präsenz bereichert.
  Mit einem Skorpion-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die
  entschlossen, geheimnisvoll und oft sehr intensiv ist. Sie haben die Fähigkeit, ihre tiefen Gefühle
  und ihren starken Sinn für Gerechtigkeit mit einer kraftvollen und direkten Herangehensweise zu
  verbinden, was ihnen hilft, in sozialen und beruflichen Situationen erfolgreich zu sein. Diese
  Kombination ermöglicht es ihnen, ihre leidenschaftliche und transformative Skorpion-Natur mit
  einer außergewöhnlichen inneren Stärke und einem unerschütterlichen Fokus zu kombinieren. Sie
  sind in der Lage, ihre Projekte und Aufgaben mit großer Entschlossenheit und einem
  ausgeprägten Sinn für Strategie zu verfolgen, was oft zu beeindruckenden und wirkungsvollen
  Ergebnissen führt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, zu intensiv und
  kontrollierend zu sein. Ihr starkes Bedürfnis nach Macht und ihre Neigung zur Intensität können im
  Widerspruch zu ihrer natürlichen Fähigkeit zur Selbstbeherrschung und Ruhe stehen, was zu
  inneren Spannungen führen kann. Diese Dualität kann dazu führen, dass sie Schwierigkeiten
  haben, Vertrauen zu anderen aufzubauen oder sich zu entspannen. Es ist wichtig für sie, ein
  Gleichgewicht zwischen ihrer leidenschaftlichen, tiefgründigen Natur und ihrer Fähigkeit, auch mal
  loszulassen und Vertrauen zu haben, zu finden, um ein erfülltes und harmonisches Leben zu
  führen. Indem sie lernen, sowohl ihre eigenen Bedürfnisse zu erkennen als auch ihre
  Kontrollbedürfnisse in gesunde Bahnen zu lenken, können sie sowohl ihre eigenen Ziele erreichen
  als auch positive und erfüllende Beziehungen zu anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'sagittarius') { %>
<h3 class="horo"> Skorpion & Schütze </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Skorpion und Aszendent in Schütze </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Skorpion und Aszendent in Schütze vereint die intensive,
  leidenschaftliche Natur des Skorpions mit der abenteuerlustigen und optimistischen Energie des
  Schützen. Menschen mit dieser Konstellation sind tiefgründig und zielstrebig, haben aber auch
  eine offene und weltoffene Seite. Die Skorpion-Sonne verleiht ihnen eine starke emotionale Tiefe
  und ein Bedürfnis nach Transformation und Macht, während der Schütze-Aszendent ihre äußere
  Erscheinung mit Enthusiasmus, Wissbegierde und einem ausgeprägten Sinn für Freiheit
  bereichert.
  Mit einem Schütze-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die
  optimistisch, abenteuerlustig und oft sehr inspirierend ist. Sie haben die Fähigkeit, ihre intensiven
  Gefühle und ihren tiefen Sinn für Gerechtigkeit mit einer freigeistigen und philosophischen
  Herangehensweise zu verbinden, was ihnen hilft, in sozialen und beruflichen Situationen
  erfolgreich zu sein. Diese Kombination ermöglicht es ihnen, ihre leidenschaftliche und
  transformative Skorpion-Natur mit einer expansiven und freudigen Haltung zu kombinieren. Sie
  sind in der Lage, ihre Projekte und Aufgaben mit großer Entschlossenheit und einem
  ausgeprägten Sinn für Abenteuer zu verfolgen, was oft zu beeindruckenden und
  horizonterweiternden Ergebnissen führt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, zu ruhelos und
  impulsiv zu sein. Ihr starkes Bedürfnis nach Kontrolle und ihre Neigung zur Intensität können im
  Widerspruch zu ihrer natürlichen Neigung zur Freiheit und Unabhängigkeit stehen, was zu inneren
  Spannungen führen kann. Diese Dualität kann dazu führen, dass sie Schwierigkeiten haben, sich
  auf langfristige Ziele zu konzentrieren oder beständig zu bleiben. Es ist wichtig für sie, ein
  Gleichgewicht zwischen ihrer leidenschaftlichen, tiefgründigen Natur und ihrer Fähigkeit, auch mal
  innezuhalten und strategisch zu denken, zu finden, um ein erfülltes und harmonisches Leben zu
  führen. Indem sie lernen, sowohl ihre eigenen Bedürfnisse zu erkennen als auch ihre Impulsivität
  in gesunde Bahnen zu lenken, können sie sowohl ihre eigenen Ziele erreichen als auch positive
  und erfüllende Beziehungen zu anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'capricorn') { %>
<h3 class="horo"> Skorpion & Steinbock </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Skorpion und Aszendent in Steinbock </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Skorpion und Aszendent in Steinbock vereint die
  intensive, leidenschaftliche Natur des Skorpions mit der disziplinierten und ambitionierten Energie
  des Steinbocks. Menschen mit dieser Konstellation sind tiefgründig und zielstrebig, haben aber
  auch eine besonders ehrgeizige und pragmatische Seite. Die Skorpion-Sonne verleiht ihnen eine
  starke emotionale Tiefe und ein Bedürfnis nach Transformation und Macht, während der
  Steinbock-Aszendent ihre äußere Erscheinung mit Entschlossenheit, Ausdauer und einem
  ausgeprägten Sinn für Verantwortung bereichert.
  Mit einem Steinbock-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die
  zielstrebig, verantwortungsbewusst und oft sehr ernsthaft ist. Sie haben die Fähigkeit, ihre
  intensiven Gefühle und ihren tiefen Sinn für Gerechtigkeit mit einer strukturierten und praktischen
  Herangehensweise zu verbinden, was ihnen hilft, in sozialen und beruflichen Situationen
  erfolgreich zu sein. Diese Kombination ermöglicht es ihnen, ihre leidenschaftliche und
  transformative Skorpion-Natur mit einer strategischen und zielgerichteten Haltung zu
  kombinieren. Sie sind in der Lage, ihre Projekte und Aufgaben mit großer Entschlossenheit und
  einem ausgeprägten Sinn für Planung und Organisation zu verfolgen, was oft zu beeindruckenden
  und nachhaltigen Ergebnissen führt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, zu kontrollierend
  und rigide zu sein. Ihr starkes Bedürfnis nach Macht und ihre Neigung zur Intensität können im
  Widerspruch zu ihrer natürlichen Neigung zur Strenge und Ernsthaftigkeit stehen, was zu inneren
  Spannungen führen kann. Diese Dualität kann dazu führen, dass sie Schwierigkeiten haben,
  flexibel zu bleiben und sich an veränderte Umstände anzupassen. Es ist wichtig für sie, ein
  Gleichgewicht zwischen ihrer leidenschaftlichen, tiefgründigen Natur und ihrer Fähigkeit, auch mal
  loszulassen und entspannter zu sein, zu finden, um ein erfülltes und harmonisches Leben zu
  führen. Indem sie lernen, sowohl ihre eigenen Bedürfnisse zu erkennen als auch ihre Strenge in
  gesunde Bahnen zu lenken, können sie sowohl ihre eigenen Ziele erreichen als auch positive und
  erfüllende Beziehungen zu anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'aquarius') { %>
<h3 class="horo"> Skorpion & Wassermann </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Skorpion und Aszendent in Wassermann </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Skorpion und Aszendent in Wassermann vereint die
  intensive, leidenschaftliche Natur des Skorpions mit der unkonventionellen und
  zukunftsorientierten Energie des Wassermanns. Menschen mit dieser Konstellation sind
  tiefgründig und zielstrebig, haben aber auch eine besonders innovative und unabhängige Seite.
  Die Skorpion-Sonne verleiht ihnen eine starke emotionale Tiefe und ein Bedürfnis nach
  Transformation und Macht, während der Wassermann-Aszendent ihre äußere Erscheinung mit
  Originalität, Rebellion und einem ausgeprägten Sinn für soziale Gerechtigkeit bereichert.
  Mit einem Wassermann-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die
  unkonventionell, fortschrittlich und oft sehr freiheitsliebend ist. Sie haben die Fähigkeit, ihre
  intensiven Gefühle und ihren tiefen Sinn für Gerechtigkeit mit einer innovativen und
  zukunftsorientierten Herangehensweise zu verbinden, was ihnen hilft, in sozialen und beruflichen
  Situationen erfolgreich zu sein. Diese Kombination ermöglicht es ihnen, ihre leidenschaftliche und
  transformative Skorpion-Natur mit einer kreativen und visionären Haltung zu kombinieren. Sie sind
  in der Lage, ihre Projekte und Aufgaben mit großer Entschlossenheit und einem ausgeprägten
  Sinn für Originalität zu verfolgen, was oft zu beeindruckenden und wegweisenden Ergebnissen
  führt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, zu rebellisch und
  distanziert zu sein. Ihr starkes Bedürfnis nach Macht und ihre Neigung zur Intensität können im
  Widerspruch zu ihrer natürlichen Neigung zur Unabhängigkeit und Nonkonformität stehen, was zu
  inneren Spannungen führen kann. Diese Dualität kann dazu führen, dass sie Schwierigkeiten
  haben, emotionale Bindungen einzugehen oder sich an konventionelle Strukturen zu halten. Es ist
  wichtig für sie, ein Gleichgewicht zwischen ihrer leidenschaftlichen, tiefgründigen Natur und ihrer
  Fähigkeit, auch mal kooperativer und zugänglicher zu sein, zu finden, um ein erfülltes und
  harmonisches Leben zu führen. Indem sie lernen, sowohl ihre eigenen Bedürfnisse zu erkennen
  als auch ihre rebellische Seite in gesunde Bahnen zu lenken, können sie sowohl ihre eigenen Ziele
  erreichen als auch positive und erfüllende Beziehungen zu anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'pisces') { %>
<h3 class="horo"> Skorpion & Fische </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Skorpion und Aszendent in Fische </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Skorpion und Aszendent in Fische vereint die intensive,
  leidenschaftliche Natur des Skorpions mit der sensiblen und einfühlsamen Energie der Fische.
  Menschen mit dieser Konstellation sind tiefgründig und zielstrebig, haben aber auch eine
  besonders intuitive und mitfühlende Seite. Die Skorpion-Sonne verleiht ihnen eine starke
  emotionale Tiefe und ein Bedürfnis nach Transformation und Macht, während der Fische-
  Aszendent ihre äußere Erscheinung mit Sanftheit, Kreativität und einem ausgeprägten Sinn für
  Empathie bereichert.
  Mit einem Fische-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die verträumt,
  einfühlsam und oft sehr kreativ ist. Sie haben die Fähigkeit, ihre intensiven Gefühle und ihren
  tiefen Sinn für Gerechtigkeit mit einer spirituellen und intuitiven Herangehensweise zu verbinden,
  was ihnen hilft, in sozialen und beruflichen Situationen erfolgreich zu sein. Diese Kombination
  ermöglicht es ihnen, ihre leidenschaftliche und transformative Skorpion-Natur mit einer sanften
  und anpassungsfähigen Haltung zu kombinieren. Sie sind in der Lage, ihre Projekte und Aufgaben
  mit großer Entschlossenheit und einem ausgeprägten Sinn für Mitgefühl und Fantasie zu
  verfolgen, was oft zu beeindruckenden und inspirierenden Ergebnissen führt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, zu empfindlich und
  unentschlossen zu sein. Ihr starkes Bedürfnis nach Kontrolle und ihre Neigung zur Intensität
  können im Widerspruch zu ihrer natürlichen Neigung zur Sanftheit und Anpassungsfähigkeit
  stehen, was zu inneren Spannungen führen kann. Diese Dualität kann dazu führen, dass sie
  Schwierigkeiten haben, sich abzugrenzen oder klare Entscheidungen zu treffen. Es ist wichtig für
  sie, ein Gleichgewicht zwischen ihrer leidenschaftlichen, tiefgründigen Natur und ihrer Fähigkeit,
  auch mal entschlossener und realistischer zu sein, zu finden, um ein erfülltes und harmonisches
  Leben zu führen. Indem sie lernen, sowohl ihre eigenen Bedürfnisse zu erkennen als auch ihre
  Empfindlichkeit in gesunde Bahnen zu lenken, können sie sowohl ihre eigenen Ziele erreichen als
  auch positive und erfüllende Beziehungen zu anderen aufrechterhalten.
</p>
<% } %>