<% if (key2 === 'aries') { %>
<h3 class="horo"> Zwillinge & Widder </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Zwillinge und Aszendent im Widder </h6>
<p class="horo card">
  Die Kombination aus Zwillinge-Sonne und Widder-Aszendent verbindet die vielseitige und
  kommunikative Natur der Zwillinge mit der energiegeladenen und impulsiven Persönlichkeit des
  Widders. Menschen mit diesem Aszendenten strahlen eine magnetische Energie aus, die von ihrer
  Neugierde, ihrem Enthusiasmus und ihrer Fähigkeit, schnell neue Ideen zu erfassen, geprägt ist.
  Die Zwillinge-Sonne verleiht diesen Personen einen scharfen Verstand, eine verspielte Natur und
  eine Liebe zur Vielfalt und Abwechslung.
  Der Widder-Aszendent fügt dieser Mischung eine zusätzliche Schicht von Entschlossenheit,
  Selbstvertrauen und Selbständigkeit hinzu. Diese Menschen sind mutig, initiativ und mögen
  Herausforderungen. Sie gehen gerne Risiken ein und sind entschlossen, ihre Ziele zu erreichen.
  Ihre leidenschaftliche Natur und ihre Fähigkeit, schnell Entscheidungen zu treffen, machen sie zu
  Anführern und Pionieren in verschiedenen Bereichen.
  Allerdings könnten Menschen mit dieser Kombination manchmal Schwierigkeiten haben, sich zu
  konzentrieren und Dinge abzuschließen, da sie dazu neigen, sich leicht von neuen Ideen und
  Projekten ablenken zu lassen. Ihre Impulsivität und Ungeduld könnten zu Konflikten führen,
  insbesondere wenn es darum geht, andere zu überzeugen oder zu koordinieren. Es ist wichtig für
  sie, sich bewusst zu machen, dass ihre Energie und Begeisterung für neue Herausforderungen
  auch zu Instabilität und Unbeständigkeit führen könnte, wenn sie nicht sorgfältig gelenkt wird.
</p>
<% } %>
<% if (key2 === 'taurus') { %>
<h3 class="horo"> Zwillinge & Stier </h3>
<h6 class="horo"> Kombiwirkung zwischen Sonne in Zwillinge und Aszendent im Stier </h6>
<p class="horo card">
  Die Kombination aus Zwillinge-Sonne und Stier-Aszendent vereint die kommunikativen und
  vielseitigen Eigenschaften der Zwillinge mit der praktischen und beharrlichen Natur des Stiers.
  Menschen mit diesem Aszendenten strahlen eine ruhige Beständigkeit und Erdverbundenheit aus,
  die ihr zwillinghaftes Bedürfnis nach geistiger Anregung ergänzt. Die Zwillinge-Sonne verleiht
  diesen Personen einen scharfen Verstand, Neugierde und Anpassungsfähigkeit, während der
  Stier-Aszendent eine gewisse Ruhe und Stabilität in ihr Leben bringt.
  Der Stier-Aszendent fügt dieser Kombination eine zusätzliche Schicht von Geduld, Ausdauer und
  Sinnlichkeit hinzu. Diese Menschen können ausgeglichener und bodenständiger sein als andere
  Zwillinge, und sie neigen dazu, ihre Ideen und Projekte mit einer beharrlichen Entschlossenheit zu
  verfolgen. Ihre kommunikativen Fähigkeiten kombiniert mit einem praktischen Sinn machen sie zu
  effektiven Vermittlern und Organisatoren in verschiedenen Bereichen.
  Allerdings könnten Menschen mit dieser Kombination manchmal zu stur und unflexibel sein,
  insbesondere wenn es darum geht, ihre Meinungen zu ändern oder neue Ideen zu akzeptieren.
  Ihre Neigung, sich an das Bekannte und Bewährte zu klammern, könnte dazu führen, dass sie
  sich neuen Erfahrungen und Möglichkeiten verschließen. Es ist wichtig für sie, offen für
  Veränderungen zu bleiben und ihre Starrheit zu überwinden, um das volle Potenzial ihrer
  vielseitigen und bodenständigen Persönlichkeit zu entfalten.
</p>
<% } %>
<% if (key2 === 'gemini') { %>
<h3 class="horo"> Zwillinge & Zwillinge </h3>
<h6 class="horo"> Kombiwirkung zwischen Sonne in Zwillinge und Aszendent in Zwillinge </h6>
<p class="horo card">
  Die Kombination aus Zwillinge-Sonne und Zwillinge-Aszendent verstärkt die Merkmale der
  Zwillinge, sowohl im Charakterkern als auch in der äußeren Persönlichkeit. Diese Menschen sind
  äußerst kommunikativ, vielseitig, und intellektuell neugierig. Ihre Zwillinge-Energie verleiht ihnen
  eine schnelle Auffassungsgabe, geistige Flexibilität und eine natürliche Begabung für
  Kommunikation und Sozialisierung.
  Mit einem Zwillinge-Aszendenten strahlen sie eine lebhafte, charmante und verspielte Aura aus,
  die andere anzieht und unterhält. Sie sind geschickt darin, sich anzupassen und in verschiedenen
  sozialen Situationen zu glänzen. Ihre Fähigkeit, sich leicht in andere hineinzuversetzen und sich an
  verschiedene Umgebungen anzupassen, macht sie zu beliebten Gesprächspartnern und
  geselligen Persönlichkeiten.
  Allerdings können Menschen mit dieser Kombination manchmal zu oberflächlich oder
  unbeständig sein. Ihre Neigung zu wechselnden Interessen und Meinungen könnte dazu führen,
  dass sie Schwierigkeiten haben, langfristige Verpflichtungen einzugehen oder tiefe emotionale
  Bindungen aufrechtzuerhalten. Es ist wichtig für sie, sich auf ihre Konzentrationsfähigkeit zu
  fokussieren und die Stärke zu entwickeln, auch in herausfordernden Situationen beständig und
  zuverlässig zu sein.
</p>
<% } %>
<% if (key2 === 'cancer') { %>
<h3 class="horo"> Zwillinge & Krebs </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Zwillinge und Aszendent in Krebs </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Zwillinge und Aszendenten in Krebs vereint die
  Vielseitigkeit und die kommunikativen Fähigkeiten der Zwillinge mit der Emotionalität und
  Fürsorglichkeit des Krebses. Die Zwillinge-Sonne verleiht einen scharfen Verstand, eine verspielte
  Natur und eine starke Neugier auf die Welt um sie herum. Menschen mit dieser Kombination sind
  ausgezeichnete Kommunikatoren, die sich leicht in verschiedene soziale Situationen integrieren
  können.
  Durch den Aszendenten in Krebs zeigen sie eine emotionale Tiefe und Empfindsamkeit, die ihre
  Zwillinge-Natur ergänzt. Sie können sehr einfühlsam und mitfühlend sein und haben eine
  natürliche Fähigkeit, die Bedürfnisse anderer zu erkennen und darauf einzugehen. Diese
  Kombination macht sie zu fürsorglichen Freunden und liebevollen Familienmitgliedern, die stark
  an ihren Bindungen und Beziehungen festhalten.
  Allerdings können Menschen mit dieser Kombination manchmal zu launisch oder unstetig sein.
  Ihre Zwillinge-Natur kann dazu führen, dass sie sich schnell langweilen oder ihre Meinung ändern,
  was zu Spannungen und Unsicherheiten in ihren Beziehungen führen kann. Es ist wichtig für sie,
  sich bewusst zu sein, wie sich ihre Stimmungen auf andere auswirken können, und sich um eine
  konsistente und stabile Kommunikation in ihren Beziehungen zu bemühen.
</p>
<% } %>
<% if (key2 === 'leo') { %>
<h3 class="horo"> Zwillinge & Löwe </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Zwillinge und Aszendent in Löwe </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Zwillinge und Aszendenten in Löwe vereint die geistige
  Wachheit und Kommunikationsfähigkeiten der Zwillinge mit der Selbstsicherheit und dem
  Charisma des Löwen. Menschen mit dieser Konstellation strahlen oft eine lebhafte und
  charismatische Präsenz aus, die sie zu beliebten Persönlichkeiten macht. Ihr Zwillinge-
  Sonnenzeichen verleiht ihnen eine schnelle Auffassungsgabe, Neugier und einen scharfen
  Verstand, während der Löwe-Aszendent eine großzügige und theatralische Note hinzufügt.
  Mit ihrem Aszendenten in Löwe sind sie oft selbstbewusst, mutig und haben ein starkes Bedürfnis
  nach Anerkennung und Bewunderung. Sie sind geborene Anführer, die gerne im Mittelpunkt
  stehen und andere inspirieren. Ihre Zwillinge-Natur macht sie zu vielseitigen und interessanten
  Gesprächspartnern, die gerne neue Ideen diskutieren und sich in verschiedenen sozialen Kreisen
  bewegen.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, oberflächlich oder
  egozentrisch zu sein. Ihr Verlangen nach Aufmerksamkeit und Bewunderung kann dazu führen,
  dass sie sich in den Vordergrund drängen und andere überschatten. Es ist wichtig für sie, sich
  bewusst zu machen, wie ihr Verhalten auf andere wirken kann, und sich um ein Gleichgewicht
  zwischen Selbstausdruck und Einfühlungsvermögen zu bemühen.
</p>
<% } %>
<% if (key2 === 'virgo') { %>
<h3 class="horo"> Zwillinge & Jungfrau </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Zwillinge und Aszendent in Jungfrau </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Zwillinge und Aszendenten in Jungfrau vereint die
  kommunikativen Fähigkeiten und die Vielseitigkeit der Zwillinge mit der praktischen und
  analytischen Natur der Jungfrau. Indem sie dem Zwillinge-Sonnenzeichen eine strukturierte und
  methodische Herangehensweise hinzufügen, verleihen sie ihrer äußeren Erscheinung eine gewisse
  Ernsthaftigkeit und Organisationsfähigkeit. Menschen mit dieser Konstellation sind oft klug,
  wissbegierig und haben ein Auge für Details.
  Ihr Aszendent in Jungfrau verleiht ihnen ein strebsames und fleißiges Wesen, das bestrebt ist,
  effizient und ordentlich zu arbeiten. Sie sind pragmatisch, bodenständig und können komplexe
  Probleme auf logische Weise angehen. Die Vielseitigkeit und Neugierde ihres Zwillinge-
  Sonnenzeichens sorgen dafür, dass sie sich für eine Vielzahl von Themen und Aktivitäten
  interessieren und sich leicht an neue Situationen anpassen können.
  Allerdings können Menschen mit dieser Kombination dazu neigen, sich in Details zu verlieren und
  zu kritisch mit sich selbst und anderen zu sein. Ihr Hang zur Perfektion kann dazu führen, dass sie
  zu anspruchsvoll sind und Schwierigkeiten haben, mit spontanen Veränderungen umzugehen. Es
  ist wichtig für sie, flexibel zu bleiben und zu lernen, die Dinge auch mal etwas lockerer zu sehen,
  um nicht in übermäßigem Stress und Selbstzweifel zu versinken.
</p>
<% } %>
<% if (key2 === 'libra') { %>
<h3 class="horo"> Zwillinge & Waage </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Zwillinge und Aszendent in Waage </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Zwillinge und Aszendent in Waage vereint die
  kommunikative, neugierige Natur der Zwillinge mit der charmanten, harmoniesuchenden Energie
  der Waage. Menschen mit dieser Konstellation sind oft sehr gesellig, anpassungsfähig und haben
  eine natürliche Begabung für zwischenmenschliche Beziehungen. Ihre Zwillinge-Sonne verleiht
  ihnen einen scharfen Verstand, eine starke Neugier und die Fähigkeit, sich schnell an neue
  Situationen anzupassen, während der Waage-Aszendent ihnen eine anmutige und diplomatische
  äußere Erscheinung verleiht.
  Mit einem Waage-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die freundlich,
  ausgeglichen und auf Harmonie bedacht ist. Sie haben ein ausgeprägtes ästhetisches Empfinden
  und schätzen Schönheit und Kunst in all ihren Formen. Ihre Fähigkeit, verschiedene Perspektiven
  zu berücksichtigen und Kompromisse zu finden, macht sie zu ausgezeichneten Vermittlern und
  beliebten Gesprächspartnern. Die Kombination aus Zwillinge und Waage bringt eine starke soziale
  Kompetenz und eine Liebe zur Kommunikation und zum Austausch von Ideen hervor.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, unentschlossen zu
  sein und Schwierigkeiten haben, klare Entscheidungen zu treffen. Ihr Bedürfnis nach Harmonie
  und Akzeptanz könnte dazu führen, dass sie es allen recht machen wollen, was ihre eigene
  Meinungsbildung und Selbstbehauptung beeinträchtigen kann. Es ist wichtig für sie, zu lernen,
  ihre eigenen Bedürfnisse und Wünsche klarer zu definieren und sich selbstbewusst zu äußern, um
  ein Gleichgewicht zwischen Anpassungsfähigkeit und Authentizität zu finden.
</p>
<% } %>
<% if (key2 === 'scorpio') { %>
<h3 class="horo"> Zwillinge & Skorpion </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Zwillinge und Aszendent in Skorpion </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Zwillinge und Aszendent in Skorpion verbindet die
  lebhafte, kommunikative Natur der Zwillinge mit der tiefgründigen, intensiven Energie des
  Skorpions. Menschen mit dieser Konstellation besitzen eine scharfe Intelligenz und die Fähigkeit,
  schnell zu denken und sich auszudrücken. Ihr Zwillinge-Sonnenzeichen verleiht ihnen Neugierde
  und Anpassungsfähigkeit, während ihr Skorpion-Aszendent Tiefe und Entschlossenheit hinzufügt.
  Ihr Aszendent in Skorpion verleiht ihnen eine magnetische Ausstrahlung und eine starke Präsenz,
  die andere fasziniert und anzieht. Sie sind leidenschaftlich und haben eine Vorliebe für tiefe
  emotionale Bindungen und intensive Erfahrungen. Die kombinierte Energie von Zwillinge und
  Skorpion macht sie zu herausfordernden Denkern, die gerne Rätsel lösen und die Wahrheit in
  jeder Situation aufdecken wollen.
  Allerdings können Menschen mit dieser Kombination dazu neigen, sich zwischen ihrem Bedürfnis
  nach Unabhängigkeit und ihrer Sehnsucht nach Tiefe und Intimität hin und her gerissen zu fühlen.
  Ihr Hang zur Analyse und zum Detektivspiel kann manchmal dazu führen, dass sie misstrauisch
  oder manipulativ werden, insbesondere wenn sie das Gefühl haben, dass ihnen etwas
  verheimlicht wird. Es ist wichtig für sie, die Balance zwischen ihrem Bedürfnis nach Freiheit und
  ihrem Verlangen nach Verbindung zu finden, um harmonische Beziehungen zu pflegen und ihr
  volles Potenzial zu entfalten.
</p>
<% } %>
<% if (key2 === 'sagittarius') { %>
<h3 class="horo"> Zwillinge & Schütze </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Zwillinge und Aszendent in Schütze </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Zwillinge und Aszendent in Schütze vereint die neugierige
  und vielseitige Natur der Zwillinge mit dem optimistischen und abenteuerlustigen Geist des
  Schützen. Menschen mit dieser Konstellation sind bekannt für ihre Wissbegierde und ihre Liebe
  zur Kommunikation. Ihre Zwillinge-Sonne verleiht ihnen einen scharfen Verstand,
  Anpassungsfähigkeit und die Fähigkeit, sich schnell an neue Informationen und Umgebungen
  anzupassen, während der Schütze-Aszendent ihnen eine begeisterte und weitsichtige
  Persönlichkeit verleiht.
  Mit einem Schütze-Aszendenten strahlen diese Menschen eine positive und offene Haltung aus,
  die andere inspiriert und anzieht. Sie sind abenteuerlustig und haben einen starken Drang, die
  Welt zu erkunden und neue Erfahrungen zu sammeln. Ihre Fähigkeit, große Zusammenhänge zu
  sehen und philosophisch zu denken, ergänzt die intellektuelle Neugierde der Zwillinge perfekt.
  Diese Kombination macht sie zu dynamischen und vielseitigen Individuen, die gerne lernen, lehren
  und ihre Erkenntnisse mit anderen teilen.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, ungeduldig und
  ruhelos zu sein. Ihre ständige Suche nach neuen Erfahrungen und Informationen kann dazu
  führen, dass sie sich schnell langweilen und Schwierigkeiten haben, bei einem Projekt oder einer
  Verpflichtung zu bleiben. Ihre Tendenz, sich auf die großen Ideen zu konzentrieren, kann
  manchmal dazu führen, dass sie Details übersehen oder unpraktisch handeln. Es ist wichtig für
  sie, einen Ausgleich zwischen ihrer Begeisterung für das Neue und ihrer Fähigkeit zu finden,
  beständig und fokussiert zu bleiben, um ihre Ziele erfolgreich zu erreichen.
</p>
<% } %>
<% if (key2 === 'capricorn') { %>
<h3 class="horo"> Zwillinge & Steinbock </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Zwillinge und Aszendent in Steinbock
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Zwillinge und Aszendent in Steinbock vereint die geistige
  Flexibilität und kommunikative Stärke der Zwillinge mit der Ernsthaftigkeit und Zielstrebigkeit des
  Steinbocks. Menschen mit dieser Konstellation sind bekannt für ihre intellektuelle Neugier und ihre
  Fähigkeit, sich an verschiedene Situationen anzupassen. Die Zwillinge-Sonne verleiht ihnen eine
  lebhafte, vielseitige Persönlichkeit und einen scharfen Verstand, während der Steinbock-
  Aszendent ihnen eine äußere Erscheinung von Disziplin und Verantwortungsbewusstsein gibt.
  Mit einem Steinbock-Aszendenten strahlen diese Menschen eine ernsthafte und zuverlässige
  Haltung aus. Sie haben einen starken inneren Antrieb, Erfolg zu haben und ihre Ziele konsequent
  zu verfolgen. Diese Kombination von Zwillinge und Steinbock führt dazu, dass sie in der Lage
  sind, ihre kreativen Ideen mit praktischer Umsetzungsfähigkeit zu verbinden. Sie sind gut darin,
  langfristige Pläne zu schmieden und diese systematisch zu verwirklichen, während sie gleichzeitig
  offen für neue Informationen und Anpassungen bleiben.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, ihre Freude am
  Leben zu vernachlässigen und zu ernst oder pessimistisch zu wirken. Der Aszendent in Steinbock
  könnte sie dazu bringen, sich mehr auf ihre Pflichten und Verantwortungen zu konzentrieren und
  weniger auf die spontanen und leichten Aspekte des Lebens, die die Zwillinge-Sonne schätzt. Es
  ist wichtig für sie, ein Gleichgewicht zwischen Arbeit und Spiel zu finden, um nicht in eine zu
  strenge Routine zu verfallen und die Leichtigkeit und Freude, die das Leben bietet, zu genießen.
</p>
<% } %>
<% if (key2 === 'aquarius') { %>
<h3 class="horo"> Zwillinge & Wassermann </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Zwillinge und Aszendent in
  Wassermann </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Zwillinge und Aszendent in Wassermann vereint die
  intellektuelle Neugier und kommunikative Natur der Zwillinge mit der innovativen und
  unkonventionellen Energie des Wassermanns. Menschen mit dieser Konstellation sind bekannt für
  ihre geistige Agilität und ihre Fähigkeit, schnell zu lernen und sich anzupassen. Die Zwillinge-
  Sonne verleiht ihnen eine lebhafte und vielseitige Persönlichkeit, während der Wassermann-
  Aszendent ihnen eine progressive und visionäre Außenwirkung gibt.
  Mit einem Wassermann-Aszendenten strahlen diese Menschen eine starke Individualität und
  Originalität aus. Sie haben einen natürlichen Drang, neue Ideen zu erkunden und sich für soziale
  Veränderungen einzusetzen. Ihre Fähigkeit, out-of-the-box zu denken, kombiniert mit ihrer
  Anpassungsfähigkeit, macht sie zu hervorragenden Problemlösern und Innovatoren. Die
  Kombination aus Zwillinge und Wassermann fördert eine offene und tolerante Haltung, die es
  ihnen ermöglicht, in vielfältigen sozialen Kreisen erfolgreich zu sein und inspiriert andere mit ihren
  visionären Gedanken.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, unbeständig und
  sprunghaft zu sein. Ihr ständiger Drang nach neuen Erfahrungen und Informationen kann dazu
  führen, dass sie sich schnell langweilen und Schwierigkeiten haben, langfristige Verpflichtungen
  einzugehen. Ihre Neigung zur Unabhängigkeit kann manchmal auch als Distanz oder mangelndes
  Engagement wahrgenommen werden, insbesondere in engen Beziehungen. Es ist wichtig für sie,
  ein Gleichgewicht zwischen ihrer Liebe zur Freiheit und ihrer Fähigkeit zu finden, tiefere und
  beständige Bindungen einzugehen, um ein erfülltes und stabiles Leben zu führen.
</p>
<% } %>
<% if (key2 === 'pisces') { %>
<h3 class="horo"> Zwillinge & Fische </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Zwillinge und Aszendent in Fische </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Zwillinge und Aszendent in Fische vereint die geistige
  Beweglichkeit und Kommunikationsfähigkeiten der Zwillinge mit der Sensibilität und Intuition der
  Fische. Menschen mit dieser Konstellation sind äußerst anpassungsfähig und haben ein starkes
  Bedürfnis nach geistiger Anregung und Austausch. Die Zwillinge-Sonne verleiht ihnen eine
  lebhafte und neugierige Natur, während der Fische-Aszendent ihnen eine sanfte und empathische
  Ausstrahlung gibt.
  Mit einem Fische-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die
  einfühlsam, kreativ und oft spirituell ist. Sie haben eine natürliche Fähigkeit, sich in andere
  hineinzuversetzen und auf einer tiefen emotionalen Ebene zu kommunizieren. Diese Kombination
  ermöglicht es ihnen, ihre intellektuelle Neugierde mit einem tiefen Verständnis für die Gefühlswelt
  anderer zu verbinden, was sie zu hervorragenden Kommunikatoren und Vermittlern macht. Ihre
  kreative Seite wird durch den Einfluss der Fische betont, was ihnen hilft, in künstlerischen und
  inspirierenden Bereichen erfolgreich zu sein.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, unentschlossen und
  verträumt zu sein. Ihre starke Empathie und Sensibilität können dazu führen, dass sie sich leicht
  von den Emotionen anderer beeinflussen lassen, was zu innerer Verwirrung führen kann. Es ist
  wichtig für sie, klare Grenzen zu setzen und sich selbst zu erden, um ihre geistige Klarheit zu
  bewahren und nicht in Unsicherheiten oder übermäßiger Anpassung zu verlieren. Ein
  Gleichgewicht zwischen ihrer intellektuellen und emotionalen Natur zu finden, hilft ihnen, ihre
  vielfältigen Talente und Fähigkeiten optimal zu nutzen.
</p>
<% } %>