<% if (key2 === 'aries') { %>
<h3 class="horo"> Fische & Widder </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Fische und Aszendent im Widder </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Fische und Aszendent in Widder vereint die einfühlsame,
  intuitive Natur der Fische mit der dynamischen, selbstbewussten Energie des Widders. Menschen
  mit dieser Konstellation strahlen eine faszinierende Mischung aus Sensibilität und
  Entschlossenheit aus. Der Fische-Sonnenzeichen verleiht ihnen eine tiefe Empathie, Kreativität
  und ein starkes Bedürfnis nach Harmonie und innerem Frieden. Diese Qualitäten werden durch
  den Widder-Aszendenten, der Mut, Durchsetzungsvermögen und ein hohes Maß an Energie mit
  sich bringt, auf besondere Weise ergänzt.
  Dank dieser Kombination sind sie oft in der Lage, ihre Träume und Visionen mit einer
  ungewöhnlichen Entschlossenheit zu verfolgen. Ihr Fische-Sonnenzeichen lässt sie tief in die Welt
  der Fantasie und Emotionen eintauchen, während der Widder-Aszendent ihnen die Kraft gibt, ihre
  Ideen aktiv zu verwirklichen. Diese Menschen können inspirierende Anführer sein, die mit
  Leidenschaft und Einfühlungsvermögen andere motivieren und leiten. Sie haben das Potenzial,
  innovative und kreative Projekte erfolgreich umzusetzen, da sie sowohl visionär als auch
  handlungsorientiert sind.
  Allerdings können sie auch vor Herausforderungen stehen. Die Kombination aus Fische und
  Widder kann zu inneren Konflikten führen, da der Fische-Sonnenzeichen oft nach Ruhe und
  Rückzug strebt, während der Widder-Aszendent nach Abenteuer und sofortiger Aktion verlangt.
  Dies kann dazu führen, dass sie sich manchmal zwischen dem Bedürfnis nach Introspektion und
  der Notwendigkeit, sich in die Welt zu stürzen, hin- und hergerissen fühlen. Zudem können sie
  Schwierigkeiten haben, ihre Sensibilität mit ihrer kämpferischen Natur in Einklang zu bringen. Es
  ist wichtig für sie, einen Ausgleich zu finden, indem sie sowohl ihre intuitive Seite pflegen als auch
  ihren Mut und ihre Entschlossenheit gezielt einsetzen.
</p>
<% } %>
<% if (key2 === 'taurus') { %>
<h3 class="horo"> Fische & Stier </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Fische und Aszendent im Stier </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Fische und Aszendent in Stier vereint die träumerische,
  sensible Natur der Fische mit der bodenständigen, stabilen Energie des Stiers. Menschen mit
  dieser Konstellation zeichnen sich durch eine tiefe Empathie und eine ausgeprägte Intuition aus,
  gepaart mit einem starken Bedürfnis nach Sicherheit und Komfort. Der Fische-Sonnenzeichen
  verleiht ihnen eine reiche innere Welt, voller Fantasie und Mitgefühl, während der Stier-Aszendent
  ihnen hilft, diese Träume in die Realität umzusetzen und dabei einen praktischen Ansatz zu
  bewahren.
  Dank dieser Kombination sind sie oft in der Lage, kreative Visionen mit einer beharrlichen und
  geduldigen Haltung zu verfolgen. Der Fische-Sonnenzeichen bringt künstlerische und spirituelle
  Neigungen mit sich, die durch die Ausdauer und Zielstrebigkeit des Stier-Aszendenten unterstützt
  werden. Diese Menschen können sehr liebevoll und fürsorglich sein, wobei ihre freundliche und
  harmonische Art oft andere anzieht. Ihre Fähigkeit, sich sowohl in kreative als auch in praktische
  Tätigkeiten zu vertiefen, kann zu beeindruckenden Ergebnissen führen, sei es in der Kunst, im
  sozialen Bereich oder in anderen Feldern, die Empathie und Ausdauer erfordern.
  Allerdings können sie auch vor Herausforderungen stehen. Die Kombination aus Fische und Stier
  kann zu inneren Konflikten führen, da der Fische-Sonnenzeichen nach Flexibilität und
  Veränderung strebt, während der Stier-Aszendent Stabilität und Routine bevorzugt. Dies kann
  dazu führen, dass sie sich manchmal zwischen dem Wunsch nach Stabilität und der
  Notwendigkeit, sich den fließenden Veränderungen des Lebens hinzugeben, hin- und hergerissen
  fühlen. Zudem können sie Schwierigkeiten haben, ihre Sensibilität mit ihrer Neigung zur Sturheit in
  Einklang zu bringen. Es ist wichtig für sie, einen Ausgleich zu finden, indem sie sowohl ihre
  intuitive Seite pflegen als auch ihre praktischen Fähigkeiten gezielt einsetzen, um ihre Ziele zu
  erreichen.
</p>
<% } %>
<% if (key2 === 'gemini') { %>
<h3 class="horo"> Fische & Zwillinge </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Fische und Aszendent in Zwillinge </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Fische und Aszendent in Zwillinge bringt eine
  faszinierende Mischung aus Sensibilität und Vielseitigkeit. Menschen mit dieser Konstellation
  besitzen eine tiefe Empathie und Intuition, die typisch für das Fische-Sonnenzeichen ist, gepaart
  mit einer lebhaften und kommunikativen Art, die der Zwillinge-Aszendent mit sich bringt. Diese
  Kombination macht sie zu charmanten und einfallsreichen Individuen, die leicht neue Ideen
  aufnehmen und sich in verschiedenen sozialen Situationen wohlfühlen.
  Dank dieser Verbindung können sie ihre kreative und spirituelle Seite mit einer neugierigen und
  offenen Haltung verbinden. Der Fische-Sonnenzeichen verleiht ihnen eine reiche innere Welt voller
  Fantasie und Mitgefühl, während der Zwillinge-Aszendent ihnen hilft, ihre Gedanken und Gefühle
  klar und eloquent auszudrücken. Diese Menschen sind oft in der Lage, ihre tiefen Emotionen in
  Worte zu fassen und ihre Einsichten mit anderen zu teilen, was sie zu inspirierenden
  Gesprächspartnern und einfühlsamen Freunden macht.
  Allerdings können sie auch vor Herausforderungen stehen. Die Kombination aus Fische und
  Zwillinge kann zu einer gewissen Unentschlossenheit und Sprunghaftigkeit führen. Während der
  Fische-Sonnenzeichen nach tiefer emotionaler Verbundenheit und Stabilität strebt, kann der
  Zwillinge-Aszendent eine Tendenz zur Oberflächlichkeit und zur Flucht vor festen Verpflichtungen
  mit sich bringen. Dies kann dazu führen, dass sie Schwierigkeiten haben, langfristige Ziele zu
  verfolgen und sich auf eine Sache zu konzentrieren. Es ist wichtig für sie, einen Weg zu finden,
  ihre Sensibilität und Vielseitigkeit in Einklang zu bringen, indem sie sich sowohl ihrer tiefen
  emotionalen Bedürfnisse bewusst werden als auch lernen, ihre geistige Agilität zu kanalisieren,
  um ihre Träume zu verwirklichen.
</p>
<% } %>
<% if (key2 === 'cancer') { %>
<h3 class="horo"> Fische & Krebs </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Fische und Aszendent in Krebs </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Fische und Aszendent in Krebs schafft eine besonders
  gefühlvolle und intuitive Persönlichkeit. Menschen mit dieser Konstellation sind oft äußerst
  empathisch und können sich leicht in die Emotionen anderer einfühlen. Das Fische-
  Sonnenzeichen verleiht ihnen eine tiefe Spiritualität und eine reiche innere Welt voller Fantasie,
  während der Krebs-Aszendent ihre fürsorgliche und schützende Natur hervorhebt. Diese
  Menschen sind oft sehr kreativ und haben ein ausgeprägtes Bedürfnis nach Harmonie und
  Geborgenheit in ihren Beziehungen.
  Dank dieser Verbindung strahlen sie eine warme und einladende Aura aus, die andere Menschen
  anzieht. Der Krebs-Aszendent verstärkt die Sensibilität und Mitgefühl des Fische-
  Sonnenzeichens, was sie zu wunderbaren Zuhörern und Unterstützern macht. Sie sind oft sehr
  familienorientiert und legen großen Wert auf ihr Zuhause und ihre Lieben. Ihre intuitive Natur
  ermöglicht es ihnen, emotionale Untertöne und Stimmungen in ihrem Umfeld schnell zu erkennen
  und darauf zu reagieren, was ihnen in sozialen Situationen und in der Pflege von
  zwischenmenschlichen Beziehungen sehr zugutekommt.
  Allerdings können sie auch vor Herausforderungen stehen. Die Kombination aus Fische und Krebs
  kann dazu führen, dass sie sich leicht von den Emotionen anderer überwältigt fühlen und
  Schwierigkeiten haben, ihre eigenen Grenzen zu setzen. Sie neigen dazu, sich zu sehr in die
  Probleme und Gefühle ihrer Mitmenschen hineinzuversetzen, was zu einer emotionalen
  Erschöpfung führen kann. Außerdem können sie manchmal dazu neigen, Konflikten aus dem Weg
  zu gehen und Probleme zu vermeiden, anstatt sich ihnen direkt zu stellen. Es ist wichtig für sie,
  Strategien zu entwickeln, um ihre Sensibilität zu schützen und gleichzeitig ihre fürsorgliche Natur
  zu bewahren.
</p>
<% } %>
<% if (key2 === 'leo') { %>
<h3 class="horo"> Fische & Löwe </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Fische und Aszendent in Löwe </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Fische und Aszendent in Löwe schafft eine faszinierende
  Persönlichkeit, die von einer Mischung aus Sensibilität und Strahlkraft geprägt ist. Menschen mit
  dieser Konstellation besitzen eine tiefe emotionale Intelligenz und eine starke Empathie, die durch
  das Fische-Sonnenzeichen hervorgerufen wird. Diese Sensibilität wird jedoch durch den
  selbstbewussten und dynamischen Löwe-Aszendenten nach außen getragen, was ihnen hilft, ihre
  kreativen und künstlerischen Talente mit großem Selbstvertrauen zu präsentieren.
  Diese Kombination ermöglicht es, dass ihre innere Welt voller Fantasie und Träume durch die
  charismatische und führungsstarke Art des Löwen in die Realität umgesetzt wird. Der Löwe-
  Aszendent verleiht ihnen eine magnetische Ausstrahlung und eine natürliche Anziehungskraft, die
  andere Menschen beeindruckt und inspiriert. Sie sind oft in der Lage, ihre visionären Ideen und
  ihre intuitiven Einsichten mit Überzeugung und Leidenschaft zu teilen, was ihnen in kreativen und
  sozialen Umfeldern großen Erfolg bringen kann.
  Allerdings können auch Herausforderungen auftreten. Der Kontrast zwischen der sanften, oft
  zurückhaltenden Natur des Fische-Sonnenzeichens und dem extrovertierten, manchmal
  dominanten Löwe-Aszendenten kann innere Konflikte erzeugen. Es kann ihnen schwerfallen, eine
  Balance zwischen dem Bedürfnis nach Anerkennung und dem Wunsch nach Rückzug zu finden.
  Außerdem können sie dazu neigen, sich emotional überfordert zu fühlen, wenn sie versuchen,
  stets im Rampenlicht zu stehen und den Erwartungen anderer gerecht zu werden. Es ist wichtig,
  dass sie lernen, ihre sensiblen Seiten zu schützen und gleichzeitig ihre starke äußere Präsenz zu
  nutzen, um ihre Träume zu verwirklichen.
</p>
<% } %>
<% if (key2 === 'virgo') { %>
<h3 class="horo"> Fische & Jungfrau </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Fische und Aszendent in Jungfrau </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Fische und Aszendent in Jungfrau vereint die intuitive,
  empathische Natur der Fische mit der praktischen, analytischen Herangehensweise der Jungfrau.
  Menschen mit dieser Konstellation besitzen eine tiefe emotionale Weisheit und ein starkes
  Mitgefühl, die ihnen helfen, sich in die Gefühle und Bedürfnisse anderer hineinzuversetzen. Diese
  Sensibilität wird durch den Jungfrau-Aszendenten geerdet, was ihnen ermöglicht, ihre Träume und
  Visionen in die Realität umzusetzen. Die Jungfrau verleiht ihnen eine methodische Art, Probleme
  zu lösen und sich auf Details zu konzentrieren, wodurch sie ihre kreativen Talente und ihre
  empathischen Fähigkeiten effektiv nutzen können.
  Durch diese Kombination können sie in sozialen und beruflichen Situationen besonders
  erfolgreich sein, da sie sowohl emotionales Verständnis als auch organisatorisches Geschick
  besitzen. Der Jungfrau-Aszendent hilft ihnen, eine klare Struktur in ihre oft fließenden und
  intuitiven Gedankenprozesse zu bringen. Sie sind in der Lage, ihre Ideen mit Präzision und
  Sorgfalt zu kommunizieren, was ihnen in vielen Bereichen Vorteile verschafft. Ihr Bedürfnis,
  anderen zu helfen und sich um ihre Mitmenschen zu kümmern, wird durch die pragmatische Natur
  der Jungfrau unterstützt, die dafür sorgt, dass ihre Hilfe wirklich nützlich und effektiv ist.
  Allerdings können auch Herausforderungen auftreten. Die Fische-Sonne und der Jungfrau-
  Aszendent stehen in einem natürlichen Gegensatz zueinander, was innere Spannungen
  verursachen kann. Die intuitive und manchmal chaotische Art der Fische kann im Widerspruch zur
  geordneten und perfektionistischen Natur der Jungfrau stehen. Dies kann zu inneren Konflikten
  führen, wenn sie versuchen, ihre kreativen und emotionalen Bedürfnisse mit ihrem Wunsch nach
  Struktur und Perfektion in Einklang zu bringen. Sie können sich manchmal überkritisch gegenüber
  sich selbst und anderen zeigen und Schwierigkeiten haben, ihre emotionale Sensibilität zu
  schützen. Es ist wichtig, dass sie lernen, eine Balance zwischen ihrer sensiblen und ihrer
  analytischen Seite zu finden, um ihr volles Potenzial auszuschöpfen.
</p>
<% } %>
<% if (key2 === 'libra') { %>
<h3 class="horo"> Fische & Waage </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Fische und Aszendent in Waage </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Fische und Aszendent in Waage bringt eine faszinierende
  Mischung aus emotionaler Tiefe und sozialer Anmut hervor. Menschen mit dieser Konstellation
  sind oft äußerst einfühlsam und haben eine natürliche Begabung, die Gefühle und Bedürfnisse
  anderer zu erspüren. Die Fische-Sonne verleiht ihnen eine intuitive und kreative Natur, die durch
  den Waage-Aszendenten wunderbar ergänzt wird. Dieser Aszendent verleiht ihnen Charme,
  diplomatisches Geschick und eine starke Sehnsucht nach Harmonie und Ausgeglichenheit in
  ihren Beziehungen. Sie sind oft sehr künstlerisch veranlagt und wissen, wie sie ihre Umgebung
  ästhetisch ansprechend gestalten können.
  Durch diese Kombination sind sie in der Lage, ihre empathischen Fähigkeiten in sozialen
  Situationen geschickt einzusetzen. Der Waage-Aszendent gibt ihnen die Fähigkeit, Konflikte zu
  vermeiden und eine angenehme Atmosphäre zu schaffen, in der sich andere wohlfühlen. Sie
  neigen dazu, sich gut in Teams zu integrieren und sind geschätzte Freunde und Partner, die viel
  Wert auf Ausgeglichenheit und Fairness legen. Ihre kreative Seite wird durch die Fische-Sonne
  unterstützt, wodurch sie in der Lage sind, innovative Lösungen zu finden und ihre künstlerischen
  Talente zum Ausdruck zu bringen.
  Allerdings können auch einige Herausforderungen auftreten. Menschen mit dieser Kombination
  könnten dazu neigen, sich zu sehr an die Bedürfnisse und Erwartungen anderer anzupassen, was
  dazu führen kann, dass sie ihre eigenen Bedürfnisse und Wünsche vernachlässigen. Die Neigung
  der Fische, in Tagträumen zu verweilen, kann im Widerspruch zur Entscheidungsschwäche der
  Waage stehen, was zu Unentschlossenheit führen kann. Es besteht die Gefahr, dass sie sich in
  ihrem Wunsch nach Harmonie und Akzeptanz verlieren und Schwierigkeiten haben, klare Grenzen
  zu setzen. Es ist wichtig, dass sie lernen, sowohl ihre eigenen Bedürfnisse zu erkennen und
  durchzusetzen als auch ihre Neigung zur Flucht in Fantasien in produktive Bahnen zu lenken.
</p>
<% } %>
<% if (key2 === 'scorpio') { %>
<h3 class="horo"> Fische & Skorpion </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Fische und Aszendent in Skorpion </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Fische und Aszendent in Skorpion ist eine kraftvolle
  Mischung aus emotionaler Tiefe und intensiver Präsenz. Menschen mit dieser Konstellation
  besitzen eine außergewöhnliche intuitive Fähigkeit und eine tiefe emotionale Intelligenz. Die
  Fische-Sonne bringt eine empathische und mitfühlende Natur hervor, die dazu neigt, sich in die
  Gefühlswelten anderer hineinzuversetzen. Diese Fähigkeit wird durch den Skorpion-Aszendenten
  intensiviert, der ihnen eine starke Präsenz und magnetische Ausstrahlung verleiht. Sie sind oft
  sehr geheimnisvoll und können andere mit ihrer tiefgründigen Art und ihrer Fähigkeit, verborgenes
  Wissen zu erlangen, faszinieren.
  Menschen mit dieser Kombination sind oft leidenschaftlich und zielgerichtet. Der Skorpion-
  Aszendent verleiht ihnen eine unerschütterliche Entschlossenheit und die Fähigkeit, sich intensiv
  auf ihre Ziele zu konzentrieren. Diese Entschlossenheit kombiniert mit der kreativen und
  einfühlsamen Natur der Fische-Sonne ermöglicht es ihnen, ihre Träume mit Nachdruck zu
  verfolgen und dabei auch die emotionale Unterstützung anderer zu gewinnen. Ihre innere Stärke
  und emotionale Tiefe machen sie zu kraftvollen und inspirierenden Persönlichkeiten, die oft als
  Führungspersönlichkeiten anerkannt werden.
  Allerdings können auch Herausforderungen auftreten. Die tiefe emotionale Natur der Fische kann
  in Kombination mit der Intensität des Skorpions zu inneren Konflikten führen. Sie könnten dazu
  neigen, ihre Gefühle zu verbergen und Schwierigkeiten haben, sich anderen gegenüber zu öffnen,
  was zu Missverständnissen führen kann. Die Neigung des Skorpions zu Misstrauen und Eifersucht
  kann auch die sanfte und verträumte Natur der Fische belasten, was zu emotionalen Spannungen
  führen kann. Es ist wichtig, dass sie lernen, ihre intensiven Gefühle auf gesunde Weise
  auszudrücken und eine Balance zwischen emotionaler Tiefe und Offenheit zu finden, um
  harmonische Beziehungen zu pflegen.
</p>
<% } %>
<% if (key2 === 'sagittarius') { %>
<h3 class="horo"> Fische & Schütze </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Fische und Aszendent in Schütze </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Fische und Aszendent in Schütze vereint eine tief
  emotionale und intuitive Natur mit einer optimistischen und abenteuerlustigen Persönlichkeit.
  Menschen mit dieser Konstellation besitzen eine bemerkenswerte Fähigkeit, sich in die Gefühle
  anderer hineinzuversetzen, und sind oft sehr einfühlsam und mitfühlend. Die Fische-Sonne verleiht
  ihnen eine kreative und träumerische Ader, die sie dazu inspiriert, nach Schönheit und Harmonie
  im Leben zu suchen. Der Schütze-Aszendent ergänzt diese Eigenschaften mit einer offenen und
  abenteuerlichen Haltung, die sie dazu bringt, neue Horizonte zu erkunden und stets nach neuen
  Erfahrungen zu suchen.
  Die optimistische und freie Natur des Schütze-Aszendenten kann die eher introspektive und
  verträumte Seite der Fische ausgleichen, wodurch eine dynamische Persönlichkeit entsteht, die
  sowohl tiefgründig als auch lebendig ist. Diese Menschen sind oft sehr anpassungsfähig und
  können sich leicht an neue Situationen anpassen, was sie zu hervorragenden Abenteurern und
  Entdeckern macht. Sie haben eine natürliche Gabe, andere zu inspirieren und zu motivieren,
  indem sie ihre optimistische Sichtweise und ihren Enthusiasmus teilen. Ihr starker Glaube an das
  Gute im Leben und ihre Bereitschaft, Risiken einzugehen, kann ihnen helfen, große Erfolge zu
  erzielen und ihre Träume zu verwirklichen.
  Allerdings können auch Herausforderungen auftreten. Die idealistische und träumerische Natur
  der Fische kann manchmal in Konflikt mit dem ungeduldigen und manchmal taktlosen Charakter
  des Schütze-Aszendenten geraten. Diese Kombination kann dazu führen, dass sie
  Schwierigkeiten haben, sich auf langfristige Ziele zu konzentrieren und sich leicht ablenken
  lassen. Zudem könnten sie dazu neigen, ihre Gefühle zu vernachlässigen oder zu unterdrücken,
  um ihrem Drang nach Freiheit und Abenteuer nachzugehen. Es ist wichtig, dass sie lernen, eine
  Balance zwischen ihren emotionalen Bedürfnissen und ihrem Wunsch nach Unabhängigkeit zu
  finden, um ein erfülltes und harmonisches Leben zu führen.
</p>
<% } %>
<% if (key2 === 'capricorn') { %>
<h3 class="horo"> Fische & Steinbock </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Fische und Aszendent in Steinbock </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Fische und Aszendent in Steinbock vereint eine tiefe
  Sensibilität und Intuition mit einer starken praktischen und disziplinierten Natur. Menschen mit
  dieser Konstellation besitzen eine bemerkenswerte Fähigkeit, ihre Träume und Visionen in die
  Realität umzusetzen. Die Fische-Sonne verleiht ihnen eine kreative und einfühlsame
  Persönlichkeit, die oft von einer starken inneren Welt geprägt ist. Der Steinbock-Aszendent bringt
  Struktur und Ernsthaftigkeit in ihre äußere Erscheinung, was ihnen hilft, ihre emotionalen und
  künstlerischen Bestrebungen mit praktischen Mitteln zu verwirklichen.
  Diese Kombination führt dazu, dass solche Menschen eine starke Arbeitsmoral und
  Entschlossenheit besitzen, die von einer tiefen Empathie und einem ausgeprägten Mitgefühl
  unterstützt wird. Sie sind oft in der Lage, ihre intuitiven Einsichten in konkrete Pläne und
  Strategien zu übersetzen, was ihnen sowohl im beruflichen als auch im persönlichen Leben
  zugutekommt. Ihre Fähigkeit, Verantwortung zu übernehmen und zielgerichtet zu arbeiten,
  ermöglicht es ihnen, ihre Träume zu verfolgen und gleichzeitig eine stabile und sichere Basis für
  sich selbst und andere zu schaffen. Diese Menschen können sich gut in Führungspositionen oder
  kreativen Berufen behaupten, in denen sowohl organisatorische Fähigkeiten als auch kreative
  Visionen gefragt sind.
  Allerdings können auch Herausforderungen auftreten. Die sensible und oft verträumte Natur der
  Fische kann manchmal in Konflikt mit der pragmatischen und manchmal strengen Haltung des
  Steinbock-Aszendenten geraten. Diese Kombination kann dazu führen, dass sie Schwierigkeiten
  haben, ihre Emotionen auszudrücken oder sich zu sehr auf praktische Belange zu konzentrieren,
  wodurch ihre kreative und intuitive Seite vernachlässigt wird. Zudem könnten sie dazu neigen, ihre
  Gefühle zu unterdrücken, um den Anforderungen des Alltags gerecht zu werden. Es ist wichtig,
  dass sie lernen, eine Balance zwischen ihren emotionalen Bedürfnissen und ihren praktischen
  Verpflichtungen zu finden, um ein erfülltes und harmonisches Leben zu führen.
</p>
<% } %>
<% if (key2 === 'aquarius') { %>
<h3 class="horo"> Fische & Wassermann </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Fische und Aszendent in Wassermann
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Fische und Aszendent in Wassermann verbindet eine tief
  empfundene Sensibilität und Intuition mit einem unkonventionellen und zukunftsorientierten
  Ansatz. Menschen mit dieser Konstellation sind oft sehr kreativ und visionär, geprägt von einer
  starken inneren Welt und einem ausgeprägten Bedürfnis nach Individualität. Die Fische-Sonne
  bringt Mitgefühl, Einfühlungsvermögen und eine künstlerische Ader in ihre Persönlichkeit,
  während der Wassermann-Aszendent ihnen eine innovative und fortschrittliche äußere
  Erscheinung verleiht. Sie sind oft von einem Drang getrieben, die Welt um sich herum zu
  verbessern und neue, unkonventionelle Wege zu beschreiten.
  Diese Menschen besitzen eine einzigartige Fähigkeit, tiefgreifende, emotionale Einsichten mit
  originellen Ideen und Lösungen zu verbinden. Sie sind in der Lage, sich in andere Menschen
  hineinzuversetzen und deren Bedürfnisse und Gefühle zu verstehen, während sie gleichzeitig nach
  Möglichkeiten suchen, bestehende Systeme und Strukturen zu hinterfragen und zu erneuern.
  Diese Kombination ermöglicht es ihnen, sowohl im künstlerischen Bereich als auch in sozialen
  oder humanitären Projekten erfolgreich zu sein. Ihre offene und freigeistige Natur zieht oft
  Menschen an, die ihre Originalität und ihren unkonventionellen Denkansatz schätzen.
  Allerdings können auch Herausforderungen auftreten. Die verträumte und oft sensible Natur der
  Fische kann manchmal im Widerspruch zu dem rationalen und manchmal distanzierten Ansatz
  des Wassermann-Aszendenten stehen. Diese Menschen könnten Schwierigkeiten haben, eine
  Balance zwischen ihren tiefen emotionalen Bedürfnissen und ihrem Wunsch nach Freiheit und
  Unabhängigkeit zu finden. Zudem können sie dazu neigen, sich in ihren eigenen Gedanken und
  Visionen zu verlieren, was zu einer gewissen Unbeständigkeit oder mangelnder Bodenhaftung
  führen kann. Es ist wichtig, dass sie lernen, ihre intuitiven und mitfühlenden Eigenschaften mit
  einem strukturierten und geerdeten Ansatz zu verbinden, um ihre Ziele zu erreichen und ein
  erfülltes Leben zu führen.
</p>
<% } %>
<% if (key2 === 'pisces') { %>
<h3 class="horo"> Fische & Fische </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Fische und Aszendent in Fische </h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Fische und Aszendent in Fische verstärkt die typischen
  Eigenschaften dieses Wasserzeichens auf eindrucksvolle Weise. Menschen mit dieser doppelten
  Fische-Kombination sind in der Regel äußerst sensibel, intuitiv und mitfühlend. Sie haben eine
  bemerkenswerte Fähigkeit, die Gefühle und Bedürfnisse anderer Menschen wahrzunehmen und
  sich in ihre Lage zu versetzen. Diese starke emotionale Intelligenz macht sie zu hervorragenden
  Zuhörern und Unterstützern, die immer bereit sind, anderen zu helfen. Ihre kreative und
  künstlerische Ader ermöglicht es ihnen, ihre tiefen Empfindungen und Träume in inspirierende
  Kunstwerke, Musik oder Literatur umzusetzen.
  Diese doppelte Fische-Kombination bringt eine starke spirituelle und mystische Komponente in
  ihre Persönlichkeit. Menschen mit dieser Konstellation haben oft ein tiefes Interesse an spirituellen
  oder metaphysischen Themen und fühlen sich von der Suche nach dem höheren Sinn des Lebens
  angezogen. Sie können sehr einfühlsam und mit einer natürlichen Anziehungskraft für das
  Übernatürliche und das Unsichtbare ausgestattet sein. Ihr Verständnis und ihre Akzeptanz der
  verborgenen Aspekte des Lebens ermöglichen es ihnen, auf einer tieferen Ebene mit anderen in
  Verbindung zu treten und Weisheit und Trost zu spenden.
  Allerdings können diese Menschen auch mit einigen Herausforderungen konfrontiert sein. Die
  starke Sensibilität und Empfindsamkeit der doppelten Fische kann dazu führen, dass sie sich
  leicht überfordert oder verletzt fühlen. Sie können Schwierigkeiten haben, sich abzugrenzen und
  ihre eigenen Bedürfnisse zu erkennen und zu schützen. Diese Neigung zur Flucht in Fantasien und
  Träume kann sie manchmal von der Realität ablenken und zu einem Gefühl der Unsicherheit oder
  Desorientierung führen. Es ist wichtig für sie, Wege zu finden, um geerdet zu bleiben und ihre
  Sensibilität in positive Bahnen zu lenken, um ein ausgewogenes und erfülltes Leben zu führen.
</p>
<% } %>