<% if (key2 === 'aries') { %>
<h3 class="horo"> Waage & Widder </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Waage und Aszendent im Widder </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Waage und Aszendent in Widder vereint die
  harmoniesuchende, diplomatische Natur der Waage mit der dynamischen und energischen
  Energie des Widders. Menschen mit dieser Konstellation sind charmant und diplomatisch, haben
  aber auch eine entschlossene und durchsetzungsfähige Seite. Die Waage-Sonne verleiht ihnen
  ein starkes Bedürfnis nach Balance, Ästhetik und Gerechtigkeit, während der Widder-Aszendent
  ihre äußere Erscheinung mit Mut, Direktheit und einem starken Antrieb bereichert.
  Mit einem Widder-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die
  selbstbewusst, initiativ und oft sehr energisch ist. Sie haben die Fähigkeit, ihre diplomatischen
  Fähigkeiten und ihren Sinn für Gerechtigkeit mit einer proaktiven und zielgerichteten
  Herangehensweise zu verbinden, was ihnen hilft, sowohl in sozialen als auch in beruflichen
  Situationen erfolgreich zu sein. Diese Kombination ermöglicht es ihnen, ihre harmonische und
  ausgewogene Waage-Natur mit einer mutigen und entschlossenen Haltung zu kombinieren. Sie
  sind in der Lage, ihre Projekte und Aufgaben mit großer Leidenschaft und einem ausgeprägten
  Sinn für Fairness zu verfolgen, was oft zu beeindruckenden und ausgewogenen Ergebnissen
  führt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, sich zwischen ihrem
  Bedürfnis nach Harmonie und ihrem Drang nach Durchsetzung hin- und hergerissen zu fühlen. Ihr
  starker Wunsch nach Balance und ihr Drang, Konflikte zu vermeiden, können im Widerspruch zu
  ihrer natürlichen Neigung zur Direktheit und Entschlossenheit stehen, was zu inneren Spannungen
  führen kann. Diese Dualität kann dazu führen, dass sie Schwierigkeiten haben, klare
  Entscheidungen zu treffen oder sich in Konfliktsituationen zu behaupten. Es ist wichtig für sie, ein
  Gleichgewicht zwischen ihrer diplomatischen, harmoniesuchenden Natur und ihrer Fähigkeit, auch
  mal klar und entschlossen aufzutreten, zu finden, um ein erfülltes und harmonisches Leben zu
  führen. Indem sie lernen, sowohl ihre eigenen Bedürfnisse zu erkennen als auch ihre
  Durchsetzungskraft in einer fairen und respektvollen Weise zu nutzen, können sie sowohl ihre
  eigenen Ziele erreichen als auch positive und ausgewogene Beziehungen zu anderen
  aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'taurus') { %>
<h3 class="horo"> Waage & Stier </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Waage und Aszendent im Stier </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Waage und Aszendent in Stier vereint die
  harmoniesuchende, diplomatische Natur der Waage mit der stabilen und sinnlichen Energie des
  Stiers. Menschen mit dieser Konstellation sind charmant und ausgleichend, haben aber auch eine
  starke, bodenständige Seite. Die Waage-Sonne verleiht ihnen ein starkes Bedürfnis nach Balance,
  Schönheit und Gerechtigkeit, während der Stier-Aszendent ihre äußere Erscheinung mit
  Beständigkeit, Geduld und einem ausgeprägten Sinn für materielle und sinnliche Genüsse
  bereichert.
  Mit einem Stier-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die zuverlässig,
  praktisch und oft sehr genussfreudig ist. Sie haben die Fähigkeit, ihre diplomatischen Fähigkeiten
  und ihren Sinn für Ästhetik mit einer beständigen und geduldigen Herangehensweise zu
  verbinden, was ihnen hilft, in sozialen und beruflichen Situationen erfolgreich zu sein. Diese
  Kombination ermöglicht es ihnen, ihre harmonische und ausgewogene Waage-Natur mit einer
  soliden und pragmatischen Haltung zu kombinieren. Sie sind in der Lage, ihre Projekte und
  Aufgaben mit großer Sorgfalt und einem ausgeprägten Sinn für Qualität zu verfolgen, was oft zu
  stabilen und ästhetisch ansprechenden Ergebnissen führt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, stur und unflexibel
  zu sein. Ihr starkes Bedürfnis nach Stabilität und ihre Neigung zur Bequemlichkeit können im
  Widerspruch zu ihrem Wunsch nach Harmonie und Anpassung stehen, was zu inneren
  Spannungen führen kann. Diese Dualität kann dazu führen, dass sie Schwierigkeiten haben, sich
  an Veränderungen anzupassen oder Kompromisse einzugehen. Es ist wichtig für sie, ein
  Gleichgewicht zwischen ihrer stabilen, praktischen Natur und ihrer Fähigkeit, flexibel und offen für
  neue Erfahrungen zu sein, zu finden, um ein erfülltes und harmonisches Leben zu führen. Indem
  sie lernen, sowohl ihre eigenen Bedürfnisse zu erkennen als auch offen und anpassungsfähig zu
  bleiben, können sie sowohl ihre eigenen Ziele erreichen als auch positive und stabile Beziehungen
  zu anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'gemini') { %>
<h3 class="horo"> Waage & Zwillinge </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Waage und Aszendent in Zwillinge </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Waage und Aszendent in Zwillinge vereint die
  harmoniesuchende, diplomatische Natur der Waage mit der lebhaften und kommunikativen
  Energie der Zwillinge. Menschen mit dieser Konstellation sind charmant und ausgleichend, haben
  aber auch eine neugierige und vielseitige Seite. Die Waage-Sonne verleiht ihnen ein starkes
  Bedürfnis nach Balance, Schönheit und Gerechtigkeit, während der Zwillinge-Aszendent ihre
  äußere Erscheinung mit Lebendigkeit, Flexibilität und einem schnellen Verstand bereichert.
  Mit einem Zwillinge-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die
  kontaktfreudig, anpassungsfähig und oft sehr gesprächig ist. Sie haben die Fähigkeit, ihre
  diplomatischen Fähigkeiten und ihren Sinn für Ästhetik mit einer kommunikativen und kreativen
  Herangehensweise zu verbinden, was ihnen hilft, in sozialen und beruflichen Situationen
  erfolgreich zu sein. Diese Kombination ermöglicht es ihnen, ihre harmonische und ausgewogene
  Waage-Natur mit einer offenen und neugierigen Haltung zu kombinieren. Sie sind in der Lage, ihre
  Projekte und Aufgaben mit großer Sorgfalt und einem ausgeprägten Sinn für Innovation zu
  verfolgen, was oft zu vielseitigen und inspirierenden Ergebnissen führt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, oberflächlich und
  unentschlossen zu sein. Ihr starker Wunsch nach Harmonie und Anpassung kann im Widerspruch
  zu ihrer Neigung zur Zerstreutheit und ihrem Bedürfnis nach ständiger Abwechslung stehen, was
  zu inneren Spannungen führen kann. Diese Dualität kann dazu führen, dass sie Schwierigkeiten
  haben, langfristige Verpflichtungen einzugehen oder sich auf eine Sache zu konzentrieren. Es ist
  wichtig für sie, ein Gleichgewicht zwischen ihrer harmoniesuchenden, diplomatischen Natur und
  ihrer Fähigkeit, fokussiert und konsequent zu bleiben, zu finden, um ein erfülltes und
  harmonisches Leben zu führen. Indem sie lernen, sowohl ihre eigenen Bedürfnisse zu erkennen
  als auch klare Prioritäten zu setzen, können sie sowohl ihre eigenen Ziele erreichen als auch
  positive und beständige Beziehungen zu anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'cancer') { %>
<h3 class="horo"> Waage & Krebs </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Waage und Aszendent in Krebs </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Waage und Aszendent in Krebs vereint die
  harmoniesuchende, diplomatische Natur der Waage mit der sensiblen und fürsorglichen Energie
  des Krebses. Menschen mit dieser Konstellation sind charmant und ausgleichend, haben aber
  auch eine tief emotionale und schützende Seite. Die Waage-Sonne verleiht ihnen ein starkes
  Bedürfnis nach Balance, Schönheit und Gerechtigkeit, während der Krebs-Aszendent ihre äußere
  Erscheinung mit Empathie, Fürsorglichkeit und einem starken Bedürfnis nach emotionaler
  Sicherheit bereichert.
  Mit einem Krebs-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die
  warmherzig, einfühlsam und oft sehr familienorientiert ist. Sie haben die Fähigkeit, ihre
  diplomatischen Fähigkeiten und ihren Sinn für Ästhetik mit einer tiefen emotionalen Intelligenz und
  einem ausgeprägten Gespür für die Bedürfnisse anderer zu verbinden, was ihnen hilft, in sozialen
  und beruflichen Situationen erfolgreich zu sein. Diese Kombination ermöglicht es ihnen, ihre
  harmonische und ausgewogene Waage-Natur mit einer liebevollen und beschützenden Haltung zu
  kombinieren. Sie sind in der Lage, ihre Projekte und Aufgaben mit großer Sorgfalt und
  Aufmerksamkeit zu bearbeiten, während sie gleichzeitig die emotionalen Bedürfnisse der
  Menschen um sie herum berücksichtigen.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, sich zu sehr um
  andere zu sorgen und ihre eigenen Bedürfnisse zu vernachlässigen. Ihr starkes Bedürfnis nach
  Harmonie und emotionaler Sicherheit kann im Widerspruch zu ihrem Wunsch, es allen recht zu
  machen, stehen, was zu inneren Spannungen führen kann. Diese Neigung zur Selbstaufopferung
  und ihre Sensibilität können dazu führen, dass sie sich leicht überfordert fühlen oder
  Schwierigkeiten haben, klare Grenzen zu setzen. Es ist wichtig für sie, ein Gleichgewicht zwischen
  ihrer harmoniesuchenden, fürsorglichen Natur und der Fähigkeit, auch für sich selbst zu sorgen,
  zu finden, um ein harmonisches und erfülltes Leben zu führen. Indem sie lernen, sowohl ihre
  eigenen Bedürfnisse zu erkennen und zu respektieren, als auch ihre Emotionen in gesunde
  Bahnen zu lenken, können sie sowohl ihre eigenen Ziele erreichen als auch positive und erfüllende
  Beziehungen zu anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'leo') { %>
<h3 class="horo"> Waage & Löwe </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Waage und Aszendent in Löwe </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Waage und Aszendent in Löwe vereint die
  harmoniesuchende, diplomatische Natur der Waage mit der selbstbewussten und strahlenden
  Energie des Löwen. Menschen mit dieser Konstellation sind charmant und ausgleichend, haben
  aber auch eine starke, präsente Seite. Die Waage-Sonne verleiht ihnen ein starkes Bedürfnis nach
  Balance, Schönheit und Gerechtigkeit, während der Löwe-Aszendent ihre äußere Erscheinung mit
  Mut, Kreativität und einem natürlichen Hang zur Führung bereichert.
  Mit einem Löwe-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die warmherzig,
  großzügig und oft sehr charismatisch ist. Sie haben die Fähigkeit, ihre diplomatischen Fähigkeiten
  und ihren Sinn für Ästhetik mit einer lebhaften und ausdrucksstarken Herangehensweise zu
  verbinden, was ihnen hilft, in sozialen und beruflichen Situationen erfolgreich zu sein. Diese
  Kombination ermöglicht es ihnen, ihre harmonische und ausgewogene Waage-Natur mit einer
  dynamischen und kraftvollen Haltung zu kombinieren. Sie sind in der Lage, ihre Projekte und
  Aufgaben mit großer Leidenschaft und einem ausgeprägten Sinn für Fairness zu verfolgen, was
  oft zu beeindruckenden und inspirierenden Ergebnissen führt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, zu sehr auf
  Anerkennung und Bewunderung angewiesen zu sein. Ihr starkes Bedürfnis nach Harmonie und
  ihre Neigung, im Mittelpunkt zu stehen, können im Widerspruch zu ihrem Wunsch, es allen recht
  zu machen, stehen, was zu inneren Spannungen führen kann. Diese Dualität kann dazu führen,
  dass sie Schwierigkeiten haben, authentisch zu bleiben und ihre eigenen Bedürfnisse klar zu
  kommunizieren. Es ist wichtig für sie, ein Gleichgewicht zwischen ihrer harmoniesuchenden,
  diplomatischen Natur und ihrer Fähigkeit, selbstbewusst und standhaft zu sein, zu finden, um ein
  erfülltes und authentisches Leben zu führen. Indem sie lernen, sowohl ihre eigenen Bedürfnisse zu
  erkennen als auch sich selbst treu zu bleiben, können sie sowohl ihre eigenen Ziele erreichen als
  auch positive und inspirierende Beziehungen zu anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'virgo') { %>
<h3 class="horo"> Waage & Jungfrau </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Waage und Aszendent in Jungfrau </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Waage und Aszendent in Jungfrau vereint die
  harmoniesuchende, diplomatische Natur der Waage mit der analytischen und detailorientierten
  Energie der Jungfrau. Menschen mit dieser Konstellation sind charmant und ausgleichend, haben
  aber auch eine präzise und methodische Seite. Die Waage-Sonne verleiht ihnen ein starkes
  Bedürfnis nach Balance, Schönheit und Gerechtigkeit, während der Jungfrau-Aszendent ihre
  äußere Erscheinung mit Effizienz, Zuverlässigkeit und einem ausgeprägten Sinn für Ordnung
  bereichert.
  Mit einem Jungfrau-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die
  gewissenhaft, hilfsbereit und oft sehr analytisch ist. Sie haben die Fähigkeit, ihre diplomatischen
  Fähigkeiten und ihren Sinn für Ästhetik mit einer praktischen und methodischen
  Herangehensweise zu verbinden, was ihnen hilft, in sozialen und beruflichen Situationen
  erfolgreich zu sein. Diese Kombination ermöglicht es ihnen, ihre harmonische und ausgewogene
  Waage-Natur mit einer gründlichen und strukturierten Haltung zu kombinieren. Sie sind in der
  Lage, ihre Projekte und Aufgaben mit großer Sorgfalt und Aufmerksamkeit zum Detail zu
  verfolgen, was oft zu qualitativ hochwertigen und gut durchdachten Ergebnissen führt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, überkritisch und
  perfektionistisch zu sein. Ihr starkes Bedürfnis nach Harmonie und ihr Drang zur Analyse können
  im Widerspruch zu ihrer natürlichen Neigung zur Diplomatie und Anpassungsfähigkeit stehen, was
  zu inneren Spannungen führen kann. Diese Dualität kann dazu führen, dass sie Schwierigkeiten
  haben, sich zu entspannen und die Dinge so zu akzeptieren, wie sie sind. Es ist wichtig für sie, ein
  Gleichgewicht zwischen ihrer harmoniesuchenden, diplomatischen Natur und ihrer Fähigkeit, auch
  mal loszulassen und weniger kritisch zu sein, zu finden, um ein erfülltes und harmonisches Leben
  zu führen. Indem sie lernen, sowohl ihre eigenen Bedürfnisse zu erkennen als auch eine
  ausgewogene Perspektive zu bewahren, können sie sowohl ihre eigenen Ziele erreichen als auch
  positive und konstruktive Beziehungen zu anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'libra') { %>
<h3 class="horo"> Waage & Waage </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Waage und Aszendent in Waage </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Waage und Aszendent in Waage verstärkt die
  harmoniesuchende, diplomatische Natur der Waage mit doppelter Intensität. Menschen mit dieser
  Konstellation sind besonders charmant, ausgleichend und haben ein ausgeprägtes Bedürfnis
  nach Balance und Gerechtigkeit in allen Lebensbereichen. Die Waage-Sonne verleiht ihnen ein
  starkes ästhetisches Empfinden und den Wunsch, harmonische Beziehungen zu pflegen, während
  der Waage-Aszendent ihre äußere Erscheinung mit einer natürlichen Anmut und einem feinen
  Gespür für zwischenmenschliche Dynamiken bereichert.
  Mit einem Waage-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die freundlich,
  zugänglich und oft sehr diplomatisch ist. Sie haben die Fähigkeit, ihre zwischenmenschlichen
  Fähigkeiten und ihren Sinn für Ästhetik mit einer friedensstiftenden und ausgleichenden
  Herangehensweise zu verbinden, was ihnen hilft, in sozialen und beruflichen Situationen sehr
  erfolgreich zu sein. Diese Kombination ermöglicht es ihnen, ihre harmonische und ausgewogene
  Waage-Natur voll zur Geltung zu bringen, indem sie Schönheit und Gleichgewicht in ihr Umfeld
  bringen. Sie sind oft talentierte Vermittler, die es verstehen, Konflikte zu lösen und eine
  angenehme Atmosphäre zu schaffen.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, sich zu sehr um das
  Wohl anderer zu sorgen und ihre eigenen Bedürfnisse zu vernachlässigen. Ihr starkes Bedürfnis
  nach Harmonie und ihr Drang, es allen recht zu machen, können im Widerspruch zu ihrer eigenen
  Authentizität und ihrem persönlichen Wohlbefinden stehen, was zu inneren Spannungen führen
  kann. Diese Neigung zur Selbstaufopferung und ihre Angst vor Konflikten können dazu führen,
  dass sie Schwierigkeiten haben, klare Entscheidungen zu treffen oder ihre eigenen Interessen
  durchzusetzen. Es ist wichtig für sie, ein Gleichgewicht zwischen ihrer harmoniesuchenden,
  diplomatischen Natur und der Fähigkeit, auch mal für sich selbst einzustehen und klare Grenzen
  zu setzen, zu finden, um ein erfülltes und harmonisches Leben zu führen. Indem sie lernen,
  sowohl ihre eigenen Bedürfnisse zu erkennen als auch authentisch zu bleiben, können sie sowohl
  ihre eigenen Ziele erreichen als auch positive und ausgewogene Beziehungen zu anderen
  aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'scorpio') { %>
<h3 class="horo"> Waage & Skorpion </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Waage und Aszendent in Skorpion </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Waage und Aszendent in Skorpion vereint die
  harmoniesuchende, diplomatische Natur der Waage mit der intensiven und tiefgründigen Energie
  des Skorpions. Menschen mit dieser Konstellation sind charmant und ausgleichend, haben aber
  auch eine leidenschaftliche und durchdringende Seite. Die Waage-Sonne verleiht ihnen ein
  starkes Bedürfnis nach Balance, Schönheit und Gerechtigkeit, während der Skorpion-Aszendent
  ihre äußere Erscheinung mit Intensität, Tiefe und einer magnetischen Ausstrahlung bereichert.
  Mit einem Skorpion-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die
  entschlossen, geheimnisvoll und oft sehr zielstrebig ist. Sie haben die Fähigkeit, ihre
  diplomatischen Fähigkeiten und ihren Sinn für Ästhetik mit einer kraftvollen und fokussierten
  Herangehensweise zu verbinden, was ihnen hilft, in sozialen und beruflichen Situationen
  erfolgreich zu sein. Diese Kombination ermöglicht es ihnen, ihre harmonische und ausgewogene
  Waage-Natur mit einer starken inneren Kraft und Entschlossenheit zu kombinieren. Sie sind in der
  Lage, ihre Projekte und Aufgaben mit großer Leidenschaft und einem ausgeprägten Sinn für
  Fairness zu verfolgen, was oft zu beeindruckenden und tiefgehenden Ergebnissen führt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, zu kontrollierend
  und manipulierend zu sein. Ihr starkes Bedürfnis nach Harmonie und ihr Drang zur Intensität
  können im Widerspruch zu ihrer natürlichen Neigung zur Diplomatie und Anpassungsfähigkeit
  stehen, was zu inneren Spannungen führen kann. Diese Dualität kann dazu führen, dass sie
  Schwierigkeiten haben, loszulassen und anderen zu vertrauen. Es ist wichtig für sie, ein
  Gleichgewicht zwischen ihrer harmoniesuchenden, diplomatischen Natur und ihrer Fähigkeit, auch
  mal Kontrolle abzugeben und Vertrauen zu haben, zu finden, um ein erfülltes und harmonisches
  Leben zu führen. Indem sie lernen, sowohl ihre eigenen Bedürfnisse zu erkennen als auch ihre
  Intensität in gesunde Bahnen zu lenken, können sie sowohl ihre eigenen Ziele erreichen als auch
  positive und erfüllende Beziehungen zu anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'sagittarius') { %>
<h3 class="horo"> Waage & Schütze </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Waage und Aszendent in Schütze </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Waage und Aszendent in Schütze vereint die
  harmoniesuchende, diplomatische Natur der Waage mit der abenteuerlichen und optimistischen
  Energie des Schützen. Menschen mit dieser Konstellation sind charmant und ausgleichend,
  haben aber auch eine fröhliche und freigeistige Seite. Die Waage-Sonne verleiht ihnen ein starkes
  Bedürfnis nach Balance, Schönheit und Gerechtigkeit, während der Schütze-Aszendent ihre
  äußere Erscheinung mit Enthusiasmus, Offenheit und einem starken Sinn für Freiheit bereichert.
  Mit einem Schütze-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die fröhlich,
  idealistisch und oft sehr kontaktfreudig ist. Sie haben die Fähigkeit, ihre diplomatischen
  Fähigkeiten und ihren Sinn für Ästhetik mit einer optimistischen und explorativen
  Herangehensweise zu verbinden, was ihnen hilft, in sozialen und beruflichen Situationen
  erfolgreich zu sein. Diese Kombination ermöglicht es ihnen, ihre harmonische und ausgewogene
  Waage-Natur mit einer abenteuerlichen und weitblickenden Haltung zu kombinieren. Sie sind in
  der Lage, ihre Projekte und Aufgaben mit großer Leidenschaft und einem ausgeprägten Sinn für
  Gerechtigkeit zu verfolgen, was oft zu inspirierenden und visionären Ergebnissen führt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, unentschlossen und
  übermäßig idealistisch zu sein. Ihr starkes Bedürfnis nach Harmonie und ihre Neigung zur
  Optimierung und Exploration können im Widerspruch zu ihrem Wunsch nach Beständigkeit und
  Detailgenauigkeit stehen, was zu inneren Spannungen führen kann. Diese Dualität kann dazu
  führen, dass sie Schwierigkeiten haben, sich langfristig zu binden oder ihre Projekte zu Ende zu
  bringen, wenn sie ständig nach neuen Abenteuern und Möglichkeiten streben. Es ist wichtig für
  sie, ein Gleichgewicht zwischen ihrer harmoniesuchenden, diplomatischen Natur und ihrer
  Fähigkeit, fokussiert und konsequent zu bleiben, zu finden, um ein erfülltes und harmonisches
  Leben zu führen. Indem sie lernen, sowohl ihre eigenen Bedürfnisse zu erkennen als auch klare
  Prioritäten zu setzen, können sie sowohl ihre eigenen Ziele erreichen als auch positive und stabile
  Beziehungen zu anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'capricorn') { %>
<h3 class="horo"> Waage & Steinbock </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Waage und Aszendent in Steinbock </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Waage und Aszendent in Steinbock vereint die
  harmoniesuchende, diplomatische Natur der Waage mit der disziplinierten und zielstrebigen
  Energie des Steinbocks. Menschen mit dieser Konstellation sind charmant und ausgleichend,
  haben aber auch eine starke, verantwortungsbewusste Seite. Die Waage-Sonne verleiht ihnen ein
  starkes Bedürfnis nach Balance, Schönheit und Gerechtigkeit, während der Steinbock-Aszendent
  ihre äußere Erscheinung mit Ernsthaftigkeit, Ausdauer und einem ausgeprägten Sinn für Struktur
  bereichert.
  Mit einem Steinbock-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die
  zuverlässig, organisiert und oft sehr ambitioniert ist. Sie haben die Fähigkeit, ihre diplomatischen
  Fähigkeiten und ihren Sinn für Ästhetik mit einer strukturierten und methodischen
  Herangehensweise zu verbinden, was ihnen hilft, in sozialen und beruflichen Situationen
  erfolgreich zu sein. Diese Kombination ermöglicht es ihnen, ihre harmonische und ausgewogene
  Waage-Natur mit einer praktischen und strategischen Haltung zu kombinieren. Sie sind in der
  Lage, ihre Projekte und Aufgaben mit großer Sorgfalt und einem ausgeprägten Sinn für
  Verantwortung zu verfolgen, was oft zu stabilen und beeindruckenden Ergebnissen führt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, zu streng mit sich
  selbst und anderen zu sein. Ihr starkes Bedürfnis nach Harmonie und ihr Drang zur Disziplin
  können im Widerspruch zu ihrer natürlichen Neigung zur Diplomatie und Anpassungsfähigkeit
  stehen, was zu inneren Spannungen führen kann. Diese Dualität kann dazu führen, dass sie
  Schwierigkeiten haben, sich zu entspannen und das Leben in vollen Zügen zu genießen. Es ist
  wichtig für sie, ein Gleichgewicht zwischen ihrer harmoniesuchenden, diplomatischen Natur und
  ihrer Fähigkeit, auch mal loszulassen und flexibel zu sein, zu finden, um ein erfülltes und
  harmonisches Leben zu führen. Indem sie lernen, sowohl ihre eigenen Bedürfnisse zu erkennen
  als auch sich selbst und anderen gegenüber nachsichtig zu sein, können sie sowohl ihre eigenen
  Ziele erreichen als auch positive und stabile Beziehungen zu anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'aquarius') { %>
<h3 class="horo"> Waage & Wassermann </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Waage und Aszendent in Wassermann
</h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Waage und Aszendent in Wassermann vereint die
  harmoniesuchende, diplomatische Natur der Waage mit der innovativen und unkonventionellen
  Energie des Wassermanns. Menschen mit dieser Konstellation sind charmant und ausgleichend,
  haben aber auch eine visionäre und progressive Seite. Die Waage-Sonne verleiht ihnen ein starkes
  Bedürfnis nach Balance, Schönheit und Gerechtigkeit, während der Wassermann-Aszendent ihre
  äußere Erscheinung mit Originalität, Offenheit und einem starken Sinn für Individualität bereichert.
  Mit einem Wassermann-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die
  freundlich, aufgeschlossen und oft sehr originell ist. Sie haben die Fähigkeit, ihre diplomatischen
  Fähigkeiten und ihren Sinn für Ästhetik mit einer innovativen und zukunftsorientierten
  Herangehensweise zu verbinden, was ihnen hilft, in sozialen und beruflichen Situationen
  erfolgreich zu sein. Diese Kombination ermöglicht es ihnen, ihre harmonische und ausgewogene
  Waage-Natur mit einer kreativen und freiheitsliebenden Haltung zu kombinieren. Sie sind in der
  Lage, ihre Projekte und Aufgaben mit großer Sorgfalt und einem ausgeprägten Sinn für Innovation
  zu verfolgen, was oft zu einzigartigen und inspirierenden Ergebnissen führt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, unentschlossen und
  abgelenkt zu sein. Ihr starkes Bedürfnis nach Harmonie und ihre Neigung zur Originalität können
  im Widerspruch zu ihrer natürlichen Neigung zur Diplomatie und Anpassungsfähigkeit stehen, was
  zu inneren Spannungen führen kann. Diese Dualität kann dazu führen, dass sie Schwierigkeiten
  haben, sich langfristig zu binden oder ihre Projekte zu Ende zu bringen, wenn sie ständig nach
  neuen Abenteuern und Möglichkeiten streben. Es ist wichtig für sie, ein Gleichgewicht zwischen
  ihrer harmoniesuchenden, diplomatischen Natur und ihrer Fähigkeit, fokussiert und konsequent zu
  bleiben, zu finden, um ein erfülltes und harmonisches Leben zu führen. Indem sie lernen, sowohl
  ihre eigenen Bedürfnisse zu erkennen als auch klare Prioritäten zu setzen, können sie sowohl ihre
  eigenen Ziele erreichen als auch positive und stabile Beziehungen zu anderen aufrechterhalten.
</p>
<% } %>
<% if (key2 === 'pisces') { %>
<h3 class="horo"> Waage & Fische </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Waage und Aszendent in Fische </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Waage und Aszendent in Fische vereint die
  harmoniesuchende, diplomatische Natur der Waage mit der einfühlsamen und intuitiven Energie
  der Fische. Menschen mit dieser Konstellation sind charmant und ausgleichend, haben aber auch
  eine besonders empfindsame und fantasievolle Seite. Die Waage-Sonne verleiht ihnen ein starkes
  Bedürfnis nach Balance, Schönheit und Gerechtigkeit, während der Fische-Aszendent ihre äußere
  Erscheinung mit Empathie, Kreativität und einer tiefen emotionalen Sensibilität bereichert.
  Mit einem Fische-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die sanft,
  mitfühlend und oft sehr künstlerisch ist. Sie haben die Fähigkeit, ihre diplomatischen Fähigkeiten
  und ihren Sinn für Ästhetik mit einer tiefen emotionalen Intelligenz und einem ausgeprägten
  Gespür für die Bedürfnisse anderer zu verbinden, was ihnen hilft, in sozialen und beruflichen
  Situationen erfolgreich zu sein. Diese Kombination ermöglicht es ihnen, ihre harmonische und
  ausgewogene Waage-Natur mit einer fantasievollen und einfühlsamen Haltung zu kombinieren.
  Sie sind in der Lage, ihre Projekte und Aufgaben mit großer Sorgfalt und einem ausgeprägten Sinn
  für Kreativität zu verfolgen, was oft zu inspirierenden und berührenden Ergebnissen führt.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, zu träumerisch und
  unentschlossen zu sein. Ihr starkes Bedürfnis nach Harmonie und ihre Neigung zur Empathie und
  Fantasie können im Widerspruch zu ihrer natürlichen Neigung zur Diplomatie und
  Anpassungsfähigkeit stehen, was zu inneren Spannungen führen kann. Diese Dualität kann dazu
  führen, dass sie Schwierigkeiten haben, klare Grenzen zu setzen oder sich auf konkrete Ziele zu
  fokussieren. Es ist wichtig für sie, ein Gleichgewicht zwischen ihrer harmoniesuchenden,
  diplomatischen Natur und ihrer Fähigkeit, auch mal realistisch und entschlossen zu handeln, zu
  finden, um ein erfülltes und harmonisches Leben zu führen. Indem sie lernen, sowohl ihre eigenen
  Bedürfnisse zu erkennen als auch ihre Träume in praktische Bahnen zu lenken, können sie sowohl
  ihre eigenen Ziele erreichen als auch positive und erfüllende Beziehungen zu anderen
  aufrechterhalten.
</p>
<% } %>