<% if (key2 === 'aries') { %>
<h3 class="horo"> Wassermann & Widder </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Wassermann und Aszendent im Widder
</h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Wassermann und Aszendent in Widder vereint die
  innovative, unkonventionelle Natur des Wassermanns mit der dynamischen, entschlossenen
  Energie des Widders. Menschen mit dieser Konstellation sind oft visionäre Denker, die keine
  Angst davor haben, neue Wege zu gehen und die Grenzen des Möglichen zu erweitern. Der
  Wassermann verleiht ihnen eine starke intellektuelle Neugier und ein Bedürfnis nach Freiheit und
  Individualität. Der Aszendent in Widder verstärkt diese Eigenschaften durch Mut, Tatkraft und eine
  Vorwärtsdrang, der es ihnen ermöglicht, ihre Ideen energisch in die Tat umzusetzen.
  Diese Menschen zeichnen sich durch ihre Fähigkeit aus, schnell und entschlossen zu handeln,
  wenn es darum geht, ihre unkonventionellen Ideen zu realisieren. Sie haben einen natürlichen
  Antrieb, Dinge zu verändern und verbessern, sei es in ihrem persönlichen Umfeld oder in
  größerem gesellschaftlichen Kontext. Ihre Originalität und ihr Pioniergeist machen sie oft zu
  inspirierenden Führungspersönlichkeiten, die andere mit ihrer Begeisterung und ihrem
  Enthusiasmus anstecken können. Sie sind unabhängig und schätzen ihre Freiheit, was sie dazu
  befähigt, einzigartige Lösungen für komplexe Probleme zu finden.
  Allerdings können Menschen mit dieser Kombination auch auf Herausforderungen stoßen. Ihre
  impulsive Natur kann manchmal dazu führen, dass sie ohne ausreichende Planung handeln, was
  zu unvorhergesehenen Schwierigkeiten führen kann. Der Wunsch nach ständiger Veränderung
  und Innovation kann es ihnen schwer machen, bei einem Projekt oder einer Aufgabe zu bleiben,
  bis es vollständig abgeschlossen ist. Zudem kann ihre Tendenz, sich von Konventionen und
  Regeln zu distanzieren, zu Konflikten mit anderen führen, die mehr Stabilität und Vorhersehbarkeit
  schätzen. Es ist wichtig, dass sie lernen, ihre energiegeladene und innovative Natur mit einer
  gewissen Portion Geduld und Ausdauer zu verbinden, um ihre Ziele effektiv und nachhaltig zu
  erreichen.
</p>
<% } %>
<% if (key2 === 'taurus') { %>
<h3 class="horo"> Wassermann & Stier </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Wassermann und Aszendent im Stier </ h6>
  <p class="horo">
    Die Kombination von Sonnenzeichen in Wassermann und Aszendent in Stier vereint den
    innovativen, freiheitsliebenden Charakter des Wassermanns mit der ruhigen, beständigen Natur
    des Stiers. Menschen mit dieser Konstellation sind oft visionäre Denker, die sich gleichzeitig eine
    starke Verbindung zur materiellen Welt bewahren. Der Wassermann bringt einen starken Drang
    nach Individualität, Originalität und intellektueller Freiheit mit sich. Der Aszendent in Stier ergänzt
    diese Eigenschaften durch eine Erdung und Stabilität, die es diesen Menschen ermöglicht, ihre
    fortschrittlichen Ideen in realisierbare Pläne und Projekte zu verwandeln.
    Diese Menschen zeichnen sich durch ihre Fähigkeit aus, langfristig an ihren Zielen festzuhalten.
    Die Ausdauer und Beständigkeit des Stiers hilft dem Wassermann, seine oft unkonventionellen
    Ideen geduldig und gründlich zu verfolgen. Sie kombinieren die Kreativität und den Weitblick des
    Wassermanns mit der praktischen, bodenständigen Herangehensweise des Stiers, was ihnen
    ermöglicht, innovative Konzepte auf solide Weise umzusetzen. Ihre Fähigkeit, ausdauernd an einer
    Sache zu arbeiten und gleichzeitig offen für neue Ideen zu bleiben, macht sie zu effektiven und
    inspirierenden Persönlichkeiten.
    Allerdings können Menschen mit dieser Kombination auch auf Herausforderungen stoßen. Die fixe
    Natur beider Zeichen kann zu einer gewissen Starrheit führen, was es ihnen schwer macht, sich
    an Veränderungen anzupassen. Während der Wassermann nach ständiger Erneuerung und
    Freiheit strebt, kann der Stier eine Vorliebe für Stabilität und Routine haben, was zu inneren
    Konflikten führen kann. Ihre innovative Natur kann manchmal mit der Tendenz des Stiers
    kollidieren, an Bewährtem festzuhalten. Es ist wichtig, dass sie lernen, ein Gleichgewicht
    zwischen ihrer Sehnsucht nach Fortschritt und ihrer Notwendigkeit für Stabilität zu finden, um
    sowohl ihre kreativen als auch praktischen Ziele zu erreichen.
  </p>
  <% } %>
  <% if (key2 === 'gemini') { %>
  <h3 class="horo"> Wassermann & Zwillinge </h3>
  <h6 class="horo"> Wechselwirkung zwischen Sonne in Wassermann und Aszendent in
    Zwillinge </h6>
  <p class="horo">
    Die Kombination von Sonnenzeichen in Wassermann und Aszendent in Zwillinge vereint zwei
    luftige Zeichen, die für ihre intellektuelle Neugier, Kommunikation und Liebe zur Freiheit bekannt
    sind. Menschen mit dieser Kombination sind oft sehr kontaktfreudig, gesellig und haben eine
    unerschöpfliche Neugierde für die Welt um sie herum. Der Wassermann bringt eine visionäre,
    zukunftsorientierte Denkweise mit, die oft von unkonventionellen und progressiven Ideen geprägt
    ist. Der Aszendent in Zwillinge verstärkt diese Eigenschaften, indem er eine natürliche Fähigkeit
    zur Kommunikation und Anpassung hinzufügt.
    Diese Menschen zeichnen sich durch ihre brillante Kommunikationsfähigkeit und ihren scharfen
    Intellekt aus. Sie sind in der Lage, komplexe Ideen klar und überzeugend zu vermitteln und haben
    oft ein Talent dafür, Menschen durch ihre Worte zu inspirieren und zu motivieren. Der Zwillinge-
    Aszendent verleiht ihnen eine charmante und vielseitige Persönlichkeit, die es ihnen ermöglicht, in
    sozialen Situationen leicht Kontakte zu knüpfen und Netzwerke zu bilden. Ihre Fähigkeit, schnell
    zu denken und sich an verschiedene Umgebungen anzupassen, macht sie zu hervorragenden
    Problemlösern und Innovatoren.
    Allerdings können Menschen mit dieser Kombination auch auf Herausforderungen stoßen. Ihre
    starke mentale Energie und Neugierde können manchmal dazu führen, dass sie sich
    überanstrengen oder sich in zu viele Projekte gleichzeitig verwickeln. Die flüchtige Natur des
    Zwillings kann in Konflikt mit der tiefen, aber oft unruhigen Energie des Wassermanns geraten,
    was zu einer Tendenz führt, sich schnell zu langweilen und von einer Idee zur nächsten zu
    springen. Es ist wichtig, dass sie lernen, ihre Energie zu fokussieren und Prioritäten zu setzen, um
    ihre vielen Interessen und Projekte erfolgreich zu managen und ihre innovativen Ideen in die Tat
    umzusetzen.
  </p>
  <% } %>
  <% if (key2 === 'cancer') { %>
  <h3 class="horo"> Wassermann & Krebs </h3>
  <h6 class="horo"> Wechselwirkung zwischen Sonne in Wassermann und Aszendent in Krebs
  </h6>
  <p class="horo">
    Die Kombination von Sonnenzeichen in Wassermann und Aszendent in Krebs vereint die
    fortschrittliche, zukunftsorientierte Natur des Wassermanns mit der gefühlvollen und schützenden
    Energie des Krebses. Menschen mit dieser Kombination sind oft visionär und einfühlsam zugleich.
    Der Wassermann bringt eine starke Unabhängigkeit und den Wunsch nach sozialen Reformen mit,
    während der Krebs-Aszendent diese Eigenschaften mit einem tiefen Sinn für Fürsorglichkeit und
    Empathie ergänzt.
    Diese Menschen sind häufig in der Lage, innovative Ideen zu entwickeln, die nicht nur intellektuell
    ansprechend, sondern auch emotional bedeutungsvoll sind. Der Krebs-Aszendent verleiht ihnen
    eine warme und zugängliche Persönlichkeit, die andere Menschen anzieht und ihnen das Gefühl
    gibt, verstanden und geschätzt zu werden. Diese Kombination ermöglicht es ihnen, ihre visionären
    Projekte mit einer fürsorglichen Haltung zu verfolgen, was besonders in sozialen und
    gemeinschaftsorientierten Bereichen nützlich sein kann. Ihre Fähigkeit, auf die Bedürfnisse
    anderer einzugehen und gleichzeitig große Ideen zu entwickeln, macht sie zu natürlichen
    Anführern und Beratern.
    Allerdings können diese Menschen auch auf innere Konflikte stoßen. Während der Wassermann
    nach Freiheit und Unabhängigkeit strebt, kann der Krebs-Aszendent ein starkes Bedürfnis nach
    Sicherheit und emotionaler Bindung haben. Dies kann zu Spannungen führen, wenn sie sich
    zwischen dem Wunsch nach persönlicher Freiheit und dem Bedürfnis, sich um andere zu
    kümmern, hin- und hergerissen fühlen. Diese Widersprüche können manchmal zu Unsicherheit
    und emotionaler Überlastung führen. Es ist wichtig, dass sie lernen, ein Gleichgewicht zwischen
    ihrer Unabhängigkeit und ihren emotionalen Bedürfnissen zu finden, um inneren Frieden und
    Erfüllung zu erreichen.
  </p>
  <% } %>
  <% if (key2 === 'leo') { %>
  <h3 class="horo"> Wassermann & Löwe </h3>
  <h6 class="horo"> Wechselwirkung zwischen Sonne in Wassermann und Aszendent in Löwe </h6>
  <p class="horo">
    Die Kombination von Sonnenzeichen in Wassermann und Aszendent in Löwe vereint die visionäre,
    zukunftsorientierte Natur des Wassermanns mit der strahlenden, selbstbewussten Energie des
    Löwen. Menschen mit dieser Konstellation haben eine charismatische Ausstrahlung und eine
    natürliche Fähigkeit, andere zu inspirieren. Der Wassermann bringt innovative Ideen und einen
    starken Sinn für Individualität mit, während der Löwe-Aszendent diese Eigenschaften mit einem
    kraftvollen, selbstsicheren Auftreten ergänzt.
    Diese Menschen sind oft in der Lage, ihre unkonventionellen Gedanken und Ideale überzeugend
    und enthusiastisch zu präsentieren. Der Löwe-Aszendent verleiht ihnen eine magnetische
    Präsenz, die es ihnen ermöglicht, in sozialen Situationen zu glänzen und Aufmerksamkeit auf sich
    zu ziehen. Diese Kombination macht sie zu geborenen Anführern, die nicht nur durch ihre Ideen,
    sondern auch durch ihre Fähigkeit, andere zu motivieren und zu begeistern, hervorstechen. Sie
    haben oft eine starke kreative Ader und ein Talent dafür, ihre einzigartigen Visionen in die Tat
    umzusetzen.
    Allerdings können diese Menschen auch auf einige Herausforderungen stoßen. Während der
    Wassermann nach Freiheit und Unabhängigkeit strebt, kann der Löwe-Aszendent ein starkes
    Bedürfnis nach Anerkennung und Bewunderung haben. Dies kann zu inneren Konflikten führen,
    wenn sie sich zwischen dem Wunsch nach individueller Autonomie und dem Bedürfnis nach
    sozialer Bestätigung hin- und hergerissen fühlen. Außerdem kann die starke Persönlichkeit des
    Löwe-Aszendenten manchmal zu einem Hang zur Selbstverliebtheit oder Dominanz führen. Es ist
    wichtig, dass sie lernen, ein Gleichgewicht zwischen ihrer Unabhängigkeit und ihrer Suche nach
    Anerkennung zu finden, um sowohl persönlich als auch in ihren Beziehungen zufrieden und
    erfolgreich zu sein.
  </p>
  <% } %>
  <% if (key2 === 'virgo') { %>
  <h3 class="horo"> Wassermann & Jungfrau </h3>
  <h6 class="horo"> Wechselwirkung zwischen Sonne in Wassermann und Aszendent in Jungfrau </h6>
  <p class="horo">
    Die Kombination von Sonnenzeichen in Wassermann und Aszendent in Jungfrau vereint die
    intellektuelle, zukunftsorientierte Natur des Wassermanns mit der praktischen, analytischen
    Herangehensweise der Jungfrau. Menschen mit dieser Konstellation zeichnen sich durch ihren
    scharfsinnigen Verstand und ihre Fähigkeit aus, innovative Ideen in die Praxis umzusetzen. Der
    Wassermann bringt kreative, unkonventionelle Denkweisen und einen starken Drang nach
    Veränderung und Fortschritt mit, während der Jungfrau-Aszendent diese Visionen durch
    Detailgenauigkeit und methodisches Vorgehen unterstützt.
    Diese Menschen haben eine besondere Gabe, komplexe Probleme zu analysieren und effiziente
    Lösungen zu finden. Sie sind nicht nur visionär, sondern auch in der Lage, ihre Ideen realistisch
    und strukturiert zu verwirklichen. Ihre kommunikative Fähigkeit und ihr Sinn für Präzision machen
    sie zu ausgezeichneten Beratern und Planern. Der Jungfrau-Aszendent verleiht ihnen eine
    bescheidene und hilfsbereite Art, die ihre Wassermann-typische Exzentrik ausgleicht und sie
    zugänglicher für andere macht.
    Allerdings können diese Menschen auch auf Herausforderungen stoßen. Der Wunsch des
    Wassermanns nach Freiheit und Unabhängigkeit kann mit der Neigung der Jungfrau, alles bis ins
    Detail zu planen und zu kontrollieren, kollidieren. Dies kann zu inneren Spannungen führen, wenn
    sie sich zwischen ihrem Bedürfnis nach spontaner Kreativität und der Notwendigkeit von Ordnung
    und Routine hin- und hergerissen fühlen. Außerdem können sie manchmal dazu neigen, sich in
    Kleinigkeiten zu verlieren oder übermäßig kritisch zu sein, sowohl gegenüber sich selbst als auch
    anderen. Es ist wichtig, dass sie lernen, ein Gleichgewicht zwischen ihrer kreativen Freiheit und
    ihrer methodischen Herangehensweise zu finden, um sowohl innovativ als auch effizient zu sein.
  </p>
  <% } %>
  <% if (key2 === 'libra') { %>
  <h3 class="horo"> Wassermann & Waage </h3>
  <h6 class="horo"> Wechselwirkung zwischen Sonne in Wassermann und Aszendent in Waage
  </h6>
  <p class="horo">
    Die Kombination von Sonnenzeichen in Wassermann und Aszendent in Waage vereint den
    innovativen und zukunftsorientierten Charakter des Wassermanns mit der charmanten und
    harmoniesuchenden Natur der Waage. Menschen mit dieser Konstellation zeichnen sich durch
    ihre ausgeprägte soziale Intelligenz und ihre Fähigkeit aus, sich mühelos in verschiedenen
    sozialen Kreisen zu bewegen. Der Wassermann bringt eine starke Neigung zur Originalität und
    Unabhängigkeit mit, während der Waage-Aszendent diese Eigenschaften durch Diplomatie und
    einen ausgeprägten Sinn für Ästhetik ergänzt.
    Diese Menschen sind oft sehr kommunikativ und können ihre originellen Ideen und visionären
    Pläne auf eine Weise präsentieren, die andere begeistert und überzeugt. Sie haben eine natürliche
    Anziehungskraft und wissen, wie sie ihre Umgebung für sich gewinnen können. Ihre Kombination
    aus intellektueller Brillanz und sozialem Feingefühl ermöglicht es ihnen, sowohl in kreativen als
    auch in kooperativen Projekten erfolgreich zu sein. Der Waage-Aszendent verleiht ihnen eine
    zusätzliche Schicht von Anmut und Ausgewogenheit, die ihre Wassermann-typische Exzentrik
    charmant erscheinen lässt.
    Allerdings können diese Menschen auch auf Herausforderungen stoßen. Der Wunsch des
    Wassermanns nach Unabhängigkeit und Rebellion kann mit dem Bedürfnis der Waage nach
    Harmonie und Akzeptanz in Konflikt geraten. Dies kann dazu führen, dass sie sich manchmal
    unsicher fühlen, ob sie ihren eigenen Weg gehen oder sich anpassen sollen, um die Zustimmung
    anderer zu gewinnen. Außerdem können sie dazu neigen, Entscheidungen zu lange
    hinauszuzögern, da sie alle Perspektiven abwägen möchten, was sie manchmal unentschlossen
    wirken lässt. Es ist wichtig, dass sie lernen, ein Gleichgewicht zwischen ihrer kreativen Freiheit
    und ihrem Bedürfnis nach sozialer Harmonie zu finden, um sowohl innovativ als auch verbindlich
    zu sein.
  </p>
  <% } %>
  <% if (key2 === 'scorpio') { %>
  <h3 class="horo"> Wassermann & Skorpion </h3>
  <h6 class="horo"> Wechselwirkung zwischen Sonne in Wassermann und Aszendent in
    Skorpion </h6>
  <p class="horo">
    Die Kombination von Sonnenzeichen in Wassermann und Aszendent in Skorpion bringt eine
    faszinierende Mischung aus Intellekt, Originalität und emotionaler Intensität hervor. Menschen mit
    dieser Konstellation sind tiefgründig und durchdringend in ihrem Denken und Handeln. Der
    Wassermann verleiht ihnen eine starke Neigung zu Innovation und Unabhängigkeit, während der
    Skorpion-Aszendent ihnen eine magnetische Ausstrahlung und eine entschlossene Natur verleiht.
    Diese Menschen sind oft visionär und haben die Fähigkeit, ungewöhnliche Ideen zu entwickeln
    und ihre tiefsten Überzeugungen leidenschaftlich zu verfolgen.
    Die Verbindung dieser beiden Zeichen macht sie zu kraftvollen und charismatischen Individuen.
    Sie sind in der Lage, ihre intellektuellen Fähigkeiten mit einer intensiven Emotionalität zu
    kombinieren, was ihnen eine tiefe Einsicht in menschliche Motive und Verhaltensweisen
    ermöglicht. Ihr Skorpion-Aszendent verleiht ihnen die Fähigkeit, unter die Oberfläche zu blicken
    und verborgene Wahrheiten aufzudecken, während der Wassermann ihnen die Originalität und
    den Mut gibt, neue Wege zu gehen und konventionelle Grenzen zu überschreiten. Sie sind oft in
    der Lage, Veränderungen herbeizuführen und andere mit ihrer visionären Kraft zu inspirieren.
    Allerdings können diese Menschen auch Herausforderungen begegnen. Die Intensität des
    Skorpions kann manchmal in Konflikt mit der Distanz und dem Freiheitsdrang des Wassermanns
    geraten. Dies kann zu inneren Spannungen führen, da sie einerseits tief in emotionale
    Verbindungen eintauchen möchten, andererseits aber auch ihre Unabhängigkeit und Freiheit
    bewahren wollen. Zudem können sie gelegentlich als unnahbar oder unberechenbar
    wahrgenommen werden, da sie ihre wahren Gefühle und Absichten oft hinter einer Fassade von
    Coolness und Selbstbeherrschung verbergen. Es ist wichtig für sie, ein Gleichgewicht zwischen
    ihrer emotionalen Tiefe und ihrem Bedürfnis nach Freiheit zu finden, um sowohl authentisch als
    auch verbindlich zu sein.
  </p>
  <% } %>
  <% if (key2 === 'sagittarius') { %>
  <h3 class="horo"> Wassermann & Schütze </h3>
  <h6 class="horo"> Wechselwirkung zwischen Sonne in Wassermann und Aszendent in Schütze
  </h6>
  <p class="horo">
    Die Kombination von Sonnenzeichen in Wassermann und Aszendent in Schütze schafft eine
    faszinierende Mischung aus Intellekt, Freiheit und Abenteuerlust. Menschen mit dieser
    Konstellation sind visionäre Denker, die stets danach streben, die Welt um sich herum zu
    verändern und zu verbessern. Der Wassermann verleiht ihnen Originalität und einen starken Drang
    nach Unabhängigkeit, während der Schütze-Aszendent ihnen Optimismus, Abenteuerlust und
    eine philosophische Denkweise schenkt. Diese Menschen sind oft idealistisch und haben eine
    natürliche Gabe, andere zu inspirieren und mit ihrer Begeisterung anzustecken.
    Die Verbindung dieser beiden Zeichen macht sie zu charismatischen und überzeugenden
    Individuen. Sie sind in der Lage, ihre innovativen Ideen auf eine Weise zu kommunizieren, die
    andere begeistert und überzeugt. Ihr Schütze-Aszendent verleiht ihnen eine ansteckende
    Lebensfreude und einen unerschütterlichen Glauben an das Gute im Leben, während der
    Wassermann ihnen die Fähigkeit gibt, unkonventionelle Lösungen für komplexe Probleme zu
    finden. Sie sind oft in der Lage, über den Tellerrand zu blicken und neue Wege zu beschreiten,
    was sie zu natürlichen Führungspersönlichkeiten macht.
    Allerdings können sie auch vor Herausforderungen stehen. Die Freiheit und Unabhängigkeit, die
    sowohl der Wassermann als auch der Schütze schätzen, können dazu führen, dass sie
    Schwierigkeiten haben, sich festzulegen oder tiefe, langfristige Verpflichtungen einzugehen. Dies
    kann sich in ihren zwischenmenschlichen Beziehungen als problematisch erweisen, da sie
    möglicherweise als flüchtig oder unverbindlich wahrgenommen werden. Zudem können sie
    manchmal zu idealistisch und übermäßig optimistisch sein, was zu Enttäuschungen führen kann,
    wenn die Realität ihren hohen Erwartungen nicht gerecht wird. Es ist wichtig für sie, ein
    Gleichgewicht zwischen ihren hohen Idealen und der praktischen Umsetzung zu finden, um
    sowohl ihre Visionen zu verwirklichen als auch stabile und erfüllende Beziehungen zu pflegen.
  </p>
  <% } %>
  <% if (key2 === 'capricorn') { %>
  <h3 class="horo"> Wassermann & Steinbock </h3>
  <h6 class="horo"> Wechselwirkung zwischen Sonne in Wassermann und Aszendent in
    Steinbock </h6>
  <p class="horo">
    Die Kombination von Sonnenzeichen in Wassermann und Aszendent in Steinbock vereint
    visionäres Denken mit pragmatischer Umsetzungsfähigkeit. Menschen mit dieser Konstellation
    besitzen einen innovativen Geist, der durch den Wassermann geprägt ist, und die Zielstrebigkeit
    und Disziplin des Steinbock-Aszendenten. Diese Mischung ermöglicht es ihnen, großartige Ideen
    nicht nur zu entwickeln, sondern auch erfolgreich in die Tat umzusetzen. Der Wassermann verleiht
    ihnen Kreativität und den Wunsch nach Fortschritt, während der Steinbock ihnen die notwendige
    Struktur und Ausdauer gibt, um ihre Pläne zu verwirklichen.
    Diese Menschen sind oft sehr ehrgeizig und setzen sich hohe Ziele. Der Wassermann sorgt dafür,
    dass sie stets auf der Suche nach neuen, unkonventionellen Wegen sind, um ihre Ziele zu
    erreichen. Gleichzeitig hilft der Steinbock-Aszendent dabei, diese Wege methodisch und geduldig
    zu beschreiten. Sie sind in der Lage, ihre innovativen Ideen in eine solide und realisierbare Form
    zu bringen. Diese Kombination von Kreativität und Disziplin macht sie zu ausgezeichneten Führern
    und Visionären, die nicht nur träumen, sondern auch handeln.
    Allerdings können sie auch vor Herausforderungen stehen. Der starke Drang des Wassermanns
    nach Freiheit und Unabhängigkeit kann manchmal mit der eher konservativen und vorsichtigen
    Natur des Steinbocks kollidieren. Dies kann zu inneren Konflikten führen, insbesondere wenn es
    darum geht, Risiken einzugehen oder sich an strikte Pläne zu halten. Zudem können sie aufgrund
    ihrer hohen Ansprüche an sich selbst und andere gelegentlich als distanziert oder unnahbar
    wirken. Es ist wichtig für sie, ein Gleichgewicht zwischen ihrer Vision und der praktischen
    Umsetzung zu finden, um nicht nur erfolgreich zu sein, sondern auch erfüllende und harmonische
    Beziehungen zu pflegen.
  </p>
  <% } %>
  <% if (key2 === 'aquarius') { %>
  <h3 class="horo"> Wassermann & Wassermann </h3>
  <h6 class="horo"> Wechselwirkung zwischen Sonne in Wassermann und Aszendent in
    Wassermann </h6>
  <p class="horo">
    Die Kombination von Sonnenzeichen in Wassermann und Aszendent in Wassermann erzeugt eine
    starke Betonung auf Unabhängigkeit, Originalität und Fortschritt. Menschen mit dieser
    Konstellation sind oft visionär und zukunftsorientiert, mit einem ausgeprägten Drang, die Welt zu
    verändern und ihre einzigartigen Ideen in die Realität umzusetzen. Ihre Persönlichkeit ist von einer
    tiefen Neugier und einem Wunsch nach intellektueller und sozialer Freiheit geprägt. Sie haben eine
    natürliche Fähigkeit, über den Tellerrand hinauszuschauen und innovative Lösungen für komplexe
    Probleme zu finden.
    Diese Menschen sind nicht nur kreativ und originell, sondern auch ausgesprochen sozial. Sie
    fühlen sich oft in Gruppen wohl und haben eine starke Affinität zu Freundschaften und
    Gemeinschaften, die ihre Werte und Interessen teilen. Der doppelte Einfluss des Wassermanns
    verstärkt ihre Fähigkeit, Verbindungen zu knüpfen und Netzwerke zu bilden, die auf gemeinsamen
    Idealen und Zielen basieren. Ihre Kommunikationsfähigkeiten und ihr offenes Wesen machen sie
    zu inspirierenden und motivierenden Persönlichkeiten, die andere dazu anregen, ihre Horizonte zu
    erweitern.
    Allerdings können diese Menschen auch vor Herausforderungen stehen. Der starke Drang nach
    Unabhängigkeit kann manchmal zu Schwierigkeiten in engen, persönlichen Beziehungen führen,
    da sie dazu neigen, ihre Freiheit über alles zu stellen. Außerdem kann ihre Neigung zur
    Exzentrizität und Nonkonformität sie in Konflikt mit traditionellen Strukturen und Autoritäten
    bringen. Diese Kombination kann auch dazu führen, dass sie sich gelegentlich übermäßig
    rebellisch oder distanziert verhalten, was es ihnen schwer machen kann, in konservativeren oder
    strukturierteren Umgebungen zurechtzukommen. Es ist wichtig für sie, ein Gleichgewicht
    zwischen ihrer Unabhängigkeit und dem Bedürfnis nach stabilen, unterstützenden Beziehungen
    zu finden.
  </p>
  <% } %>
  <% if (key2 === 'pisces') { %>
  <h3 class="horo"> Wassermann & Fische </h3>
  <h6 class="horo"> Wechselwirkung zwischen Sonne in Wassermann und Aszendent in Fische
  </h6>
  <p class="horo">
    Die Kombination von Sonnenzeichen in Wassermann und Aszendent in Fische schafft eine
    faszinierende Mischung aus intellektueller Schärfe und emotionaler Tiefe. Menschen mit dieser
    Konstellation sind oft visionär und einfühlsam zugleich. Der Wassermann bringt eine starke
    Vorliebe für Originalität, Freiheit und innovative Ideen mit sich. Diese Eigenschaften werden durch
    den Fische-Aszendenten, der tiefes Mitgefühl, Sensibilität und eine intuitive Natur einbringt, auf
    besondere Weise ergänzt. Diese Menschen sind in der Lage, weitreichende, fortschrittliche
    Gedanken mit einem tiefen Verständnis für die menschliche Natur und Emotionen zu verbinden.
    Dank dieser Kombination können sie kreative und einfühlsame Problemlöser sein, die in der Lage
    sind, innovative Lösungen zu finden, die auch die emotionalen und psychologischen Bedürfnisse
    anderer berücksichtigen. Ihr Wassermann-Sonnenzeichen verleiht ihnen einen starken Drang, die
    Gesellschaft zu verbessern und revolutionäre Veränderungen anzustoßen, während der Fische-
    Aszendent ihnen die Fähigkeit gibt, diese Ideen mit Mitgefühl und einem tiefen Sinn für
    Spiritualität und Verbundenheit zu verfolgen. Diese Menschen haben oft ein starkes Bedürfnis,
    anderen zu helfen und können in künstlerischen oder sozialen Berufen erfolgreich sein.
    Allerdings können sie auch vor Herausforderungen stehen. Die Kombination aus Wassermann und
    Fische kann zu einer gewissen inneren Zerrissenheit führen. Während der Wassermann rational
    und manchmal distanziert ist, neigt der Fische-Aszendent dazu, sich von Gefühlen und intuitiven
    Eindrücken leiten zu lassen. Dies kann zu inneren Konflikten führen, insbesondere wenn es darum
    geht, Entscheidungen zu treffen oder einen klaren Weg zu verfolgen. Zudem können sie
    manchmal Schwierigkeiten haben, ihre eigenen Bedürfnisse zu priorisieren, da sie oft sehr stark
    auf die Bedürfnisse anderer eingehen. Es ist wichtig für sie, ein Gleichgewicht zwischen ihren
    intellektuellen Bestrebungen und ihrem emotionalen Wohlbefinden zu finden.
  </p>
  <% } %>