<% if (key2 === 'aries') { %>
<h3 class="horo"> Krebs & Widder </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Krebs und Aszendent im Widder </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Krebs und Aszendent in Widder vereint die emotionale
  Tiefe und Fürsorglichkeit des Krebses mit der Energie und Entschlossenheit des Widders.
  Menschen mit dieser Konstellation sind sensibel und empathisch, haben jedoch auch einen
  starken Drang, ihre Ziele zu verfolgen und sich durchzusetzen. Die Krebs-Sonne verleiht ihnen
  eine starke Verbindung zu ihren Gefühlen und ein ausgeprägtes Bedürfnis nach Sicherheit und
  Geborgenheit, während der Widder-Aszendent ihnen Mut und Tatkraft schenkt.
  Mit einem Widder-Aszendenten zeigen diese Menschen eine dynamische und entschlossene
  Persönlichkeit, die gerne die Initiative ergreift und Herausforderungen annimmt. Sie kombinieren
  die fürsorgliche Natur des Krebses mit der Durchsetzungsfähigkeit des Widders, was sie zu
  engagierten und aktiven Beschützern ihrer Liebsten macht. Diese Mischung aus Sensibilität und
  Tatkraft ermöglicht es ihnen, sowohl emotional tiefgründig als auch zielstrebig zu sein, wodurch
  sie in der Lage sind, ihre Vorhaben mit Leidenschaft und Energie zu verfolgen.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, impulsiv und
  ungeduldig zu sein. Ihre emotionale Sensibilität des Krebses könnte durch die direkte und
  manchmal aggressive Herangehensweise des Widders herausgefordert werden, was zu inneren
  Konflikten führen kann. Es ist wichtig für sie, Wege zu finden, ihre emotionale Seite mit ihrer
  energischen Natur in Einklang zu bringen, um nicht in übermäßige Reaktivität oder emotionale
  Unausgeglichenheit zu verfallen. Indem sie lernen, ihre Impulsivität zu zügeln und gleichzeitig ihre
  emotionale Tiefe zu schätzen, können sie ein harmonisches und erfülltes Leben führen.
</p>
<% } %>
<% if (key2 === 'taurus') { %>
<h3 class="horo"> Krebs & Stier </h3>
<h6 class="horo"> Kombiwirkung zwischen Sonne in Krebs und Aszendent im Stier </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Krebs und Aszendent in Stier vereint die emotionale
  Sensibilität und Fürsorglichkeit des Krebses mit der Beständigkeit und Erdverbundenheit des
  Stiers. Menschen mit dieser Konstellation strahlen eine warme und einladende Energie aus, die
  von einem starken Bedürfnis nach Sicherheit und Geborgenheit geprägt ist. Die Krebs-Sonne
  verleiht ihnen eine tiefe emotionale Verbindung zu ihren Liebsten und ein ausgeprägtes Bedürfnis,
  für andere zu sorgen, während der Stier-Aszendent ihre Persönlichkeit mit Stabilität und Geduld
  untermauert.
  Mit einem Stier-Aszendenten zeigen diese Menschen eine äußere Erscheinung von Zuverlässigkeit
  und Ruhe. Sie sind oft geduldig, praktisch veranlagt und haben eine starke Verbindung zur Natur
  und zu materiellen Werten. Diese Kombination macht sie zu treuen und unterstützenden Freunden
  und Partnern, die in der Lage sind, langfristige Beziehungen und Projekte mit Hingabe und
  Ausdauer zu pflegen. Ihre Fähigkeit, emotional tief zu empfinden, wird durch den praktischen und
  bodenständigen Ansatz des Stiers ergänzt, was ihnen hilft, ihre Ziele methodisch und zuverlässig
  zu verfolgen.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, stur und
  besitzergreifend zu sein. Ihre starke Bindung an Sicherheit und Beständigkeit könnte dazu führen,
  dass sie Schwierigkeiten haben, Veränderungen zu akzeptieren oder sich von alten Gewohnheiten
  zu lösen. Diese Neigung zur Sturheit und die Angst vor dem Unbekannten können sie manchmal
  daran hindern, neue Möglichkeiten zu erkennen und zu nutzen. Es ist wichtig für sie, eine Balance
  zwischen ihrer Liebe zur Stabilität und der Offenheit für Veränderungen zu finden, um ein erfülltes
  und dynamisches Leben zu führen.
</p>
<% } %>
<% if (key2 === 'gemini') { %>
<h3 class="horo"> Krebs & Zwillinge </h3>
<h6 class="horo"> Kombiwirkung zwischen Sonne in Krebs und Aszendent in Zwillinge </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Krebs und Aszendent in Zwillinge vereint die emotionale
  Tiefe und Fürsorglichkeit des Krebses mit der Kommunikationsfreude und Anpassungsfähigkeit
  der Zwillinge. Menschen mit dieser Konstellation sind sensibel und einfühlsam, besitzen aber
  auch eine lebhafte und neugierige Seite, die sie sozial und gesellig macht. Die Krebs-Sonne
  verleiht ihnen eine starke emotionale Bindung zu ihren Mitmenschen und ein ausgeprägtes
  Bedürfnis, für andere zu sorgen, während der Zwillinge-Aszendent ihnen eine vielseitige und
  anpassungsfähige Persönlichkeit verleiht.
  Mit einem Zwillinge-Aszendenten strahlen diese Menschen eine aufgeschlossene und
  kontaktfreudige Haltung aus, die es ihnen leicht macht, sich in verschiedenen sozialen Kreisen zu
  bewegen und neue Freundschaften zu schließen. Sie sind kommunikativ und haben die Fähigkeit,
  ihre Gefühle und Gedanken klar und effektiv auszudrücken. Diese Kombination aus emotionaler
  Sensibilität und geistiger Beweglichkeit ermöglicht es ihnen, empathisch und zugleich intellektuell
  anregend zu sein, was sie zu ausgezeichneten Zuhörern und Gesprächspartnern macht.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, innerlich zerrissen
  zu sein zwischen ihrem Bedürfnis nach emotionaler Sicherheit und ihrer Suche nach geistiger
  Stimulation und Abwechslung. Diese Dualität kann zu Unruhe und einer gewissen
  Oberflächlichkeit führen, da sie sich möglicherweise schwer tun, tiefere emotionale Bindungen
  einzugehen oder sich auf langfristige Verpflichtungen einzulassen. Es ist wichtig für sie, ein
  Gleichgewicht zwischen ihrer emotionalen Tiefe und ihrer intellektuellen Neugier zu finden, um ein
  erfülltes und stabiles Leben zu führen.
</p>
<% } %>
<% if (key2 === 'cancer') { %>
<h3 class="horo"> Krebs & Krebs </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Krebs und Aszendent in Krebs </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Krebs und Aszendent in Krebs verstärkt die Eigenschaften
  des Krebses und verleiht diesen Menschen eine besonders starke emotionale Tiefe und
  Sensibilität. Menschen mit dieser Konstellation sind extrem einfühlsam, fürsorglich und haben ein
  ausgeprägtes Bedürfnis nach Geborgenheit und Sicherheit. Die Krebs-Sonne verleiht ihnen eine
  starke Verbindung zu ihren Gefühlen und eine tiefe Fürsorglichkeit gegenüber ihren Mitmenschen,
  während der Krebs-Aszendent diese Eigenschaften in ihrer äußeren Persönlichkeit noch weiter
  betont.
  Mit einem Krebs-Aszendenten strahlen diese Menschen eine sanfte und einladende Energie aus,
  die andere anzieht und ihnen das Gefühl von Wärme und Geborgenheit gibt. Sie sind in der Lage,
  sich tief in die Gefühle anderer hineinzuversetzen und reagieren auf die Bedürfnisse ihrer
  Mitmenschen mit großer Empathie und Verständnis. Diese doppelte Krebs-Energie macht sie zu
  ausgezeichneten Unterstützern und Vertrauten, die in der Lage sind, starke emotionale Bindungen
  zu knüpfen und aufrechtzuerhalten.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, sich zu sehr in ihren
  eigenen und den Emotionen anderer zu verlieren. Ihre starke Bindung an Sicherheit und
  Geborgenheit könnte dazu führen, dass sie Schwierigkeiten haben, sich Veränderungen
  anzupassen oder sich von negativen Emotionen zu lösen. Diese Neigung zur Überempfindlichkeit
  und die Angst vor dem Unbekannten können sie manchmal daran hindern, neue Möglichkeiten zu
  erkennen und zu nutzen. Es ist wichtig für sie, ein Gleichgewicht zwischen ihrer emotionalen Tiefe
  und der Fähigkeit, flexibel und offen für Veränderungen zu sein, zu finden, um ein erfülltes und
  dynamisches Leben zu führen.
</p>
<% } %>
<% if (key2 === 'leo') { %>
<h3 class="horo"> Krebs & Löwe </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Krebs und Aszendent in Löwe </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Krebs und Aszendent in Löwe vereint die emotionale Tiefe
  und Fürsorglichkeit des Krebses mit der lebhaften und selbstbewussten Energie des Löwen.
  Menschen mit dieser Konstellation haben eine warme, einfühlsame Natur und sind gleichzeitig
  von einer strahlenden Präsenz und einem natürlichen Führungstalent geprägt. Die Krebs-Sonne
  verleiht ihnen ein starkes Bedürfnis nach emotionaler Geborgenheit und Verbindung, während der
  Löwe-Aszendent ihnen Selbstvertrauen und den Wunsch nach Anerkennung und Bewunderung
  verleiht.
  Mit einem Löwe-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die
  charismatisch, großzügig und leidenschaftlich ist. Sie strahlen Wärme und Herzlichkeit aus und
  haben die Fähigkeit, andere zu inspirieren und zu motivieren. Ihre Kombination aus Krebs und
  Löwe ermöglicht es ihnen, ihre fürsorgliche Natur mit einer natürlichen Autorität zu verbinden, was
  sie zu effektiven und mitfühlenden Anführern macht. Sie sind in der Lage, starke, unterstützende
  Beziehungen zu pflegen und gleichzeitig eine beeindruckende Präsenz zu zeigen.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, ihre emotionalen
  Bedürfnisse und ihr Bedürfnis nach Anerkennung in Konflikt zu bringen. Ihre Sensibilität und ihr
  Wunsch nach Geborgenheit können von der stolzen und manchmal dominanten Natur des Löwen
  überlagert werden. Dies kann zu inneren Spannungen führen, insbesondere wenn sie das Gefühl
  haben, dass ihre Bemühungen nicht ausreichend gewürdigt werden. Es ist wichtig für sie, ein
  Gleichgewicht zwischen ihrem Bedürfnis nach emotionaler Tiefe und ihrer äußeren Strahlkraft zu
  finden, um ein harmonisches und erfülltes Leben zu führen.
</p>
<% } %>
<% if (key2 === 'virgo') { %>
<h3 class="horo"> Krebs & Jungfrau </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Krebs und Aszendent in Jungfrau </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Krebs und Aszendent in Jungfrau vereint die emotionale
  Tiefe und Fürsorglichkeit des Krebses mit der analytischen und praktischen Natur der Jungfrau.
  Menschen mit dieser Konstellation sind sensibel und einfühlsam, aber auch sehr methodisch und
  detailorientiert in ihrer Herangehensweise an das Leben. Die Krebs-Sonne verleiht ihnen eine
  starke Verbindung zu ihren Gefühlen und ein ausgeprägtes Bedürfnis, für ihre Liebsten zu sorgen,
  während der Jungfrau-Aszendent ihnen eine äußere Erscheinung von Zurückhaltung und
  Präzision gibt.
  Mit einem Jungfrau-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die
  gründlich, zuverlässig und hilfsbereit ist. Sie sind praktisch veranlagt und haben einen scharfen
  Blick für Details, was ihnen hilft, in ihrer Umgebung Ordnung und Effizienz zu schaffen. Diese
  Kombination aus Krebs und Jungfrau ermöglicht es ihnen, ihre emotionale Sensibilität mit einem
  praktischen Ansatz zu verbinden, was sie zu hervorragenden Problemlösern und fürsorglichen
  Unterstützern macht. Sie sind oft die Menschen, die im Hintergrund arbeiten, um sicherzustellen,
  dass alles reibungslos läuft und dass die Bedürfnisse ihrer Mitmenschen erfüllt werden.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, übermäßig kritisch
  und perfektionistisch zu sein. Ihre ständige Suche nach Sicherheit und Perfektion kann sie dazu
  führen, sich zu sehr auf Details zu konzentrieren und das größere Bild aus den Augen zu verlieren.
  Diese Neigung zur Überanalysierung und Selbstkritik kann zu innerer Anspannung und einem
  Gefühl der Unzulänglichkeit führen. Es ist wichtig für sie, zu lernen, sich selbst und anderen
  gegenüber nachsichtiger zu sein und sich auf ihre Stärken zu konzentrieren, um ein
  ausgewogenes und erfülltes Leben zu führen.
</p>
<% } %>
<% if (key2 === 'libra') { %>
<h3 class="horo"> Krebs & Waage </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Krebs und Aszendent in Waage </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Krebs und Aszendent in Waage vereint die emotionale
  Tiefe und Fürsorglichkeit des Krebses mit der harmoniesuchenden und charmanten Natur der
  Waage. Menschen mit dieser Konstellation besitzen eine sanfte, einfühlsame Persönlichkeit, die
  sowohl emotionale Intelligenz als auch einen ausgeprägten Sinn für Ästhetik und soziale
  Harmonie aufweist. Die Krebs-Sonne verleiht ihnen eine starke Verbindung zu ihren Gefühlen und
  ein Bedürfnis nach Geborgenheit, während der Waage-Aszendent ihre äußere Erscheinung mit
  Anmut und Diplomatie schmückt.
  Mit einem Waage-Aszendenten strahlen diese Menschen eine freundliche und ausgeglichene
  Energie aus, die sie zu natürlichen Vermittlern und beliebten Gesellschaftspartnern macht. Sie
  sind charmant, taktvoll und haben die Fähigkeit, soziale Situationen mit Leichtigkeit zu navigieren.
  Diese Kombination aus Krebs und Waage ermöglicht es ihnen, empathisch und fürsorglich zu
  sein, während sie gleichzeitig bestrebt sind, Frieden und Harmonie in ihren Beziehungen und ihrer
  Umgebung zu schaffen. Sie legen großen Wert auf ihre zwischenmenschlichen Verbindungen und
  arbeiten kontinuierlich daran, ein harmonisches und liebevolles Umfeld zu pflegen.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, ihre eigenen
  Bedürfnisse und Gefühle zugunsten anderer zu vernachlässigen. Ihr starker Wunsch nach
  Harmonie und Akzeptanz kann sie dazu bringen, Konflikte zu vermeiden und Kompromisse
  einzugehen, die nicht immer zu ihrem eigenen Wohl sind. Diese Neigung zur Selbstaufopferung
  und die Angst vor Disharmonie können zu inneren Spannungen und einem Gefühl der
  Unzufriedenheit führen. Es ist wichtig für sie, ein Gleichgewicht zwischen der Pflege ihrer
  Beziehungen und der Wahrung ihrer eigenen emotionalen Bedürfnisse zu finden, um ein erfülltes
  und authentisches Leben zu führen.
</p>
<% } %>
<% if (key2 === 'scorpio') { %>
<h3 class="horo"> Krebs & Skorpion </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Krebs und Aszendent in Skorpion </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Krebs und Aszendent in Skorpion vereint die emotionale
  Tiefe und Fürsorglichkeit des Krebses mit der Intensität und Entschlossenheit des Skorpions.
  Menschen mit dieser Konstellation sind äußerst sensibel und einfühlsam, haben aber auch eine
  starke innere Stärke und Leidenschaft. Die Krebs-Sonne verleiht ihnen ein starkes Bedürfnis nach
  Geborgenheit und emotionaler Verbindung, während der Skorpion-Aszendent ihre Persönlichkeit
  mit einer geheimnisvollen und magnetischen Ausstrahlung verstärkt.
  Mit einem Skorpion-Aszendenten strahlen diese Menschen eine intensive und tiefgründige
  Energie aus, die andere anzieht und fasziniert. Sie haben die Fähigkeit, tief in die Gefühle und
  Motivationen anderer einzutauchen und sind oft sehr intuitiv. Diese Kombination aus Krebs und
  Skorpion ermöglicht es ihnen, ihre fürsorgliche Natur mit einer starken Entschlossenheit und
  Zielstrebigkeit zu verbinden. Sie sind loyale und beschützende Freunde und Partner, die in der
  Lage sind, ihre Liebsten vor allen Herausforderungen zu schützen und zu unterstützen.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, besitzergreifend und
  misstrauisch zu sein. Ihre starke emotionale Intensität und ihr Bedürfnis nach Kontrolle können zu
  Eifersucht und einem übermäßigen Bedürfnis nach Sicherheit führen. Diese Neigung zur
  Überempfindlichkeit und die Angst vor Verrat oder Verlust können zu inneren Spannungen und
  Konflikten in ihren Beziehungen führen. Es ist wichtig für sie, ein Gleichgewicht zwischen ihrer
  intensiven emotionalen Natur und der Fähigkeit, Vertrauen zu schenken und loszulassen, zu
  finden, um harmonische und erfüllende Beziehungen zu pflegen.
</p>
<% } %>
<% if (key2 === 'sagittarius') { %>
<h3 class="horo"> Krebs & Schütze </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Krebs und Aszendent in Schütze </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Krebs und Aszendent in Schütze vereint die emotionale
  Tiefe und Fürsorglichkeit des Krebses mit der optimistischen und abenteuerlustigen Natur des
  Schützen. Menschen mit dieser Konstellation sind einfühlsam und empathisch, aber auch sehr
  offen und neugierig auf die Welt um sie herum. Die Krebs-Sonne verleiht ihnen eine starke
  Verbindung zu ihren Gefühlen und ein tiefes Bedürfnis nach emotionaler Geborgenheit, während
  der Schütze-Aszendent ihnen eine äußere Erscheinung von Lebendigkeit und Enthusiasmus
  verleiht.
  Mit einem Schütze-Aszendenten zeigen diese Menschen eine offene und freundliche Haltung, die
  andere anzieht und inspiriert. Sie sind oft sehr gesellig und genießen es, neue Menschen und
  Kulturen kennenzulernen. Diese Kombination ermöglicht es ihnen, ihre fürsorgliche Natur mit einer
  Abenteuerlust und einem Sinn für Freiheit zu verbinden. Sie sind in der Lage, ihre emotionalen
  Bedürfnisse mit ihrer Liebe zum Entdecken und Lernen auszubalancieren, was ihnen hilft, ein
  erfülltes und abwechslungsreiches Leben zu führen.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, innerlich zerrissen
  zu sein zwischen ihrem Bedürfnis nach Sicherheit und ihrer Sehnsucht nach Freiheit und
  Abenteuer. Diese Dualität kann zu Unruhe und einer gewissen Unentschlossenheit führen, da sie
  sich möglicherweise schwer tun, tiefere emotionale Bindungen einzugehen oder sich auf
  langfristige Verpflichtungen einzulassen. Es ist wichtig für sie, ein Gleichgewicht zwischen ihrer
  emotionalen Tiefe und ihrer Begeisterung für das Neue zu finden, um ein harmonisches und
  erfülltes Leben zu führen.
</p>
<% } %>
<% if (key2 === 'capricorn') { %>
<h3 class="horo"> Krebs & Steinbock </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Krebs und Aszendent in Steinbock </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Krebs und Aszendent in Steinbock vereint die emotionale
  Tiefe und Fürsorglichkeit des Krebses mit der Disziplin und Ernsthaftigkeit des Steinbocks.
  Menschen mit dieser Konstellation haben ein starkes Bedürfnis nach Sicherheit und emotionaler
  Geborgenheit, aber auch eine pragmatische Herangehensweise an das Leben. Die Krebs-Sonne
  verleiht ihnen eine sanfte und einfühlsame Natur, während der Steinbock-Aszendent ihnen eine
  äußere Erscheinung von Zielstrebigkeit und Verantwortungsbewusstsein verleiht.
  Mit einem Steinbock-Aszendenten zeigen diese Menschen eine ernsthafte und zuverlässige
  Haltung, die andere als stabil und vertrauenswürdig wahrnehmen. Sie sind oft sehr organisiert und
  streben nach beruflichem und persönlichem Erfolg. Diese Kombination ermöglicht es ihnen, ihre
  emotionalen Bedürfnisse mit einem praktischen und strukturierten Lebensansatz zu verbinden.
  Sie sind in der Lage, langfristige Ziele zu setzen und diese beharrlich zu verfolgen, während sie
  gleichzeitig darauf achten, dass ihre emotionalen Bindungen und Beziehungen gepflegt werden.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, ihre Emotionen zu
  unterdrücken oder ihre Gefühle hinter einer Fassade von Stärke und Unabhängigkeit zu
  verbergen. Ihr starkes Bedürfnis nach Kontrolle und Struktur kann dazu führen, dass sie
  Schwierigkeiten haben, ihre verletzliche Seite zu zeigen oder Unterstützung von anderen
  anzunehmen. Es ist wichtig für sie, ein Gleichgewicht zwischen ihrer emotionalen Sensibilität und
  ihrer pragmatischen Natur zu finden, um ein erfülltes und ausgeglichenes Leben zu führen. Indem
  sie lernen, ihre Gefühle offener auszudrücken und gleichzeitig ihre Ziele zu verfolgen, können sie
  eine tiefere und authentischere Verbindung zu sich selbst und anderen aufbauen.
</p>
<% } %>
<% if (key2 === 'aquarius') { %>
<h3 class="horo"> Krebs & Wassermann </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Krebs und Aszendent in Wassermann
</h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Krebs und Aszendent in Wassermann vereint die
  emotionale Tiefe und Fürsorglichkeit des Krebses mit der unabhängigen und innovativen Energie
  des Wassermanns. Menschen mit dieser Konstellation sind einfühlsam und empathisch, aber
  auch freiheitsliebend und offen für neue Ideen. Die Krebs-Sonne verleiht ihnen eine starke
  emotionale Bindung zu ihren Mitmenschen und ein tiefes Bedürfnis nach Geborgenheit, während
  der Wassermann-Aszendent ihnen eine äußere Erscheinung von Individualität und Originalität
  verleiht.
  Mit einem Wassermann-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die
  freundlich, unkonventionell und oft visionär ist. Sie sind sozial engagiert und haben ein starkes
  Bedürfnis, sich für das Gemeinwohl einzusetzen. Diese Kombination ermöglicht es ihnen, ihre
  emotionale Sensibilität mit einem fortschrittlichen Denken zu verbinden, was sie zu inspirierenden
  Persönlichkeiten macht, die in der Lage sind, emotionale Wärme und innovative Ideen
  zusammenzubringen. Sie sind oft sehr kommunikativ und haben die Fähigkeit, Menschen mit ihrer
  visionären und mitfühlenden Natur zu begeistern.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, sich innerlich
  zerrissen zu fühlen zwischen ihrem Bedürfnis nach emotionaler Sicherheit und ihrer Sehnsucht
  nach Unabhängigkeit und Freiheit. Diese Dualität kann zu innerer Unruhe und einer gewissen
  Distanz in ihren Beziehungen führen, da sie sich möglicherweise schwer tun, tiefe emotionale
  Bindungen einzugehen oder aufrechtzuerhalten. Es ist wichtig für sie, ein Gleichgewicht zwischen
  ihrer emotionalen Tiefe und ihrem Bedürfnis nach Freiheit zu finden, um harmonische und erfüllte
  Beziehungen zu pflegen und gleichzeitig ihre individuellen Ideale und Visionen zu verfolgen.
</p>
<% } %>
<% if (key2 === 'pisces') { %>
<h3 class="horo"> Krebs & Fische </h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Krebs und Aszendent in Fische </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Krebs und Aszendent in Fische vereint die emotionale
  Tiefe und Fürsorglichkeit des Krebses mit der Sensibilität und spirituellen Natur der Fische.
  Menschen mit dieser Konstellation sind besonders einfühlsam und mitfühlend, haben ein starkes
  Bedürfnis nach emotionaler Verbindung und Geborgenheit. Die Krebs-Sonne verleiht ihnen eine
  tiefe Verbundenheit zu Familie und Freunden sowie ein ausgeprägtes Bedürfnis, für andere zu
  sorgen, während der Fische-Aszendent ihnen eine äußere Erscheinung von Sanftheit und intuitiver
  Weisheit verleiht.
  Mit einem Fische-Aszendenten zeigen diese Menschen eine äußere Persönlichkeit, die kreativ,
  verträumt und oft sehr spirituell ist. Sie haben die Fähigkeit, sich auf einer tiefen emotionalen
  Ebene mit anderen zu verbinden und ihre Umgebung auf subtile Weise zu beeinflussen. Diese
  Kombination aus Krebs und Fische ermöglicht es ihnen, ihre fürsorgliche Natur mit einem
  intuitiven und oft künstlerischen Ansatz zu verbinden, was sie zu sehr inspirierenden und
  einfühlsamen Individuen macht. Ihre Empathie und ihr Mitgefühl machen sie zu ausgezeichneten
  Zuhörern und Helfern, die immer bereit sind, Unterstützung zu bieten.
  Allerdings können Menschen mit dieser Kombination manchmal dazu neigen, sich zu sehr in ihren
  eigenen und den Emotionen anderer zu verlieren. Ihre starke Empfindsamkeit und das Bedürfnis,
  anderen zu helfen, können dazu führen, dass sie sich selbst vernachlässigen oder sich überfordert
  fühlen. Diese Neigung zur Überempfindlichkeit und das Fehlen klarer Grenzen können zu inneren
  Konflikten und Erschöpfung führen. Es ist wichtig für sie, ein Gleichgewicht zwischen ihrer
  emotionalen Tiefe und ihrer Fähigkeit, sich abzugrenzen und für sich selbst zu sorgen, zu finden,
  um ein erfülltes und ausgeglichenes Leben zu führen.
</p>
<% } %>