<% if (key2 === 'aries') { %>
<h3 class="horo">Widder & Widder</h3>
<h6 class="horo">
	Wechselwirkung zwischen Sonne im Widder und Mond ebenfalls im Widder
</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Widder und Mondzeichen in Widder schafft
	eine Persönlichkeit, die durch und durch von dynamischer Energie, Mut und
	Entschlossenheit geprägt ist. Menschen mit dieser doppelten Widder-Kombination
	haben einen starken Antrieb und sind oft Pioniere, die bereit sind, neue Wege
	zu beschreiten und Herausforderungen direkt anzugehen. Ihre innere und äußere
	Natur ist von einem unermüdlichen Tatendrang und einer Vorliebe für
	Unabhängigkeit und Freiheit bestimmt. Diese Menschen sind oft sehr
	selbstbewusst, energisch und haben keine Angst davor, Risiken einzugehen, um
	ihre Ziele zu erreichen. In emotionaler Hinsicht bringt das Mondzeichen in
	Widder eine direkte und leidenschaftliche Ausdrucksweise mit sich. Menschen
	mit dieser Kombination erleben ihre Gefühle intensiv und unmittelbar und
	neigen dazu, diese ohne Umschweife zu zeigen. Sie sind ehrlich und offen in
	ihren Beziehungen und erwarten das Gleiche von ihren Mitmenschen. Diese
	direkte Art, Emotionen zu zeigen, kann sehr erfrischend und inspirierend sein,
	da sie keine Angst haben, ihre Bedürfnisse und Wünsche klar zu kommunizieren.
	Ihre emotionale Natur ist geprägt von Enthusiasmus und Spontaneität, was sie
	zu aufregenden und dynamischen Partnern und Freunden macht. Allerdings können
	diese Menschen auch mit einigen Herausforderungen konfrontiert sein. Die
	starke Widder-Energie kann zu Impulsivität und Ungeduld führen, sowohl in
	ihrem Verhalten als auch in ihren emotionalen Reaktionen. Sie können manchmal
	zu schnell handeln, ohne die Konsequenzen vollständig zu bedenken, was zu
	Konflikten und Missverständnissen führen kann. Ihre direkte und manchmal
	konfrontative Art kann von anderen als aggressiv oder rücksichtslos
	wahrgenommen werden. Es ist wichtig für sie, einen Weg zu finden, ihre starke
	Energie und Entschlossenheit in positive Bahnen zu lenken und gleichzeitig
	Geduld und Rücksichtnahme zu entwickeln, um harmonischere Beziehungen und ein
	ausgeglicheneres Leben zu führen.
</p>
<% } %> <% if (key2 === 'taurus') { %>
<h3 class="horo">Widder & Stier</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne im Widder und Mond im Stier</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Widder und Mondzeichen in Stier bringt
	eine faszinierende Mischung aus dynamischer Energie und stabiler Gelassenheit
	hervor. Menschen mit dieser Kombination haben einen starken Antrieb und sind
	bereit, Herausforderungen direkt anzugehen, während sie gleichzeitig eine
	beruhigende, beständige innere Natur besitzen. Der Widder verleiht ihnen Mut,
	Entschlossenheit und einen Pioniergeist, während der Stier-Mond für Geduld,
	Beständigkeit und ein tiefes Bedürfnis nach Sicherheit sorgt. Diese Menschen
	sind oft zielstrebig und bereit, hart zu arbeiten, um ihre Träume zu
	verwirklichen, ohne sich von Hindernissen leicht abschrecken zu lassen. In der
	emotionalen Welt bringt der Mond in Stier eine ruhige, verlässliche und
	sinnliche Seite in diese Kombination. Menschen mit dieser Konstellation haben
	ein tiefes Bedürfnis nach Stabilität und Sicherheit in ihren emotionalen
	Beziehungen und schätzen Beständigkeit und Loyalität. Sie sind in der Lage,
	eine tiefe und beständige Liebe zu geben und zu empfangen, und suchen oft nach
	langfristigen und festen Bindungen. Ihre Gefühlswelt ist geprägt von einer
	natürlichen Sinnlichkeit und einer Vorliebe für die schönen Dinge im Leben,
	was ihnen eine besondere Anziehungskraft verleiht. Allerdings können diese
	Menschen auch mit einigen Herausforderungen konfrontiert sein. Die Kombination
	aus der feurigen, impulsiven Natur des Widders und der ruhigen, manchmal
	starrsinnigen Natur des Stiers kann zu inneren Konflikten führen. Sie könnten
	Schwierigkeiten haben, ihre impulsiven Entscheidungen mit ihrem Bedürfnis nach
	Sicherheit und Stabilität in Einklang zu bringen. Diese Menschen können
	manchmal ungeduldig sein und frustriert reagieren, wenn Dinge nicht schnell
	genug vorangehen, wie es der Widder wünscht, während der Stier- Mond sie dazu
	neigt, an einmal gefassten Plänen festzuhalten. Es ist wichtig für sie, einen
	Ausgleich zu finden und ihre dynamische Energie mit Geduld und Beständigkeit
	zu balancieren, um sowohl ihre Ziele zu erreichen als auch emotionale
	Zufriedenheit zu finden.
</p>
<% } %> <% if (key2 === 'gemini') { %>
<h3 class="horo">Widder & Zwillinge</h3>
<h6 class="horo">
	Wechselwirkung zwischen Sonne im Widder und Mond in Zwillinge
</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Widder und Mondzeichen in Zwillinge
	erzeugt eine lebendige, dynamische und vielseitige Persönlichkeit. Menschen
	mit dieser Kombination sind von Natur aus abenteuerlustig und haben einen
	unstillbaren Drang nach neuen Erfahrungen und Herausforderungen. Der Widder
	verleiht ihnen Mut, Entschlossenheit und eine unerschütterliche Bereitschaft,
	sich in neue Unternehmungen zu stürzen. Der Zwillinge-Mond bringt eine
	spielerische, neugierige und intellektuell anregende Seite hinzu, die es
	diesen Menschen ermöglicht, schnell zu denken und sich leicht an
	unterschiedliche Situationen anzupassen. Auf der Gefühlsebene sorgt der Mond
	in Zwillinge dafür, dass diese Menschen ihre Emotionen auf eine leicht
	zugängliche und kommunikative Weise ausdrücken. Sie haben ein starkes
	Bedürfnis nach geistiger Stimulation und schätzen den Austausch von Ideen und
	Gedanken mit anderen. Diese Kombination fördert eine kommunikative und soziale
	Natur, die es ihnen ermöglicht, sich leicht mit anderen zu verbinden und
	vielfältige Beziehungen zu pflegen. Ihre Fähigkeit, flexibel und vielseitig zu
	sein, macht sie zu interessanten und anregenden Gesprächspartnern, die immer
	für eine Überraschung gut sind. Allerdings können diese Menschen auch mit
	einigen Herausforderungen konfrontiert sein. Die Kombination aus der
	impulsiven, direkten Natur des Widders und der wechselhaften, manchmal
	flüchtigen Emotionalität des Zwillinge-Monds kann zu inneren Konflikten
	führen. Sie könnten Schwierigkeiten haben, sich auf ein Ziel oder eine
	Beziehung festzulegen, da ihre Aufmerksamkeit leicht abgelenkt werden kann.
	Diese Menschen neigen dazu, schnell das Interesse zu verlieren und nach neuen
	Reizen zu suchen, was zu einem Gefühl der Unruhe und Unbeständigkeit führen
	kann. Es ist wichtig für sie, einen Weg zu finden, ihre Energie und
	Vielseitigkeit zu kanalisieren, um sowohl ihre Ziele zu erreichen als auch
	emotionale Stabilität zu finden.
</p>
<% } %> <% if (key2 === 'cancer') { %>
<h3 class="horo">Widder & Krebs</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne im Widder und Mond in Krebs</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Widder und Mondzeichen in Krebs erzeugt
	eine faszinierende Mischung aus Dynamik und Sensibilität. Menschen mit dieser
	Kombination sind von Natur aus mutig, entschlossen und haben eine starke
	innere Kraft, die sie dazu antreibt, ihre Ziele zu verfolgen und neue
	Herausforderungen zu meistern. Der Widder verleiht ihnen eine kämpferische und
	energische Natur, die sie dazu befähigt, schnell Entscheidungen zu treffen und
	initiativ zu sein. Der Mond in Krebs hingegen bringt eine sanftere, emotional
	tiefere Seite in ihre Persönlichkeit ein, die sie intuitiv und fürsorglich
	macht. Auf der Gefühlsebene sorgt der Mond in Krebs dafür, dass diese Menschen
	tief mit ihren Emotionen verbunden sind und eine starke Empathie für andere
	entwickeln. Sie haben ein ausgeprägtes Bedürfnis nach emotionaler Sicherheit
	und Geborgenheit, was sie in Beziehungen besonders aufmerksam und liebevoll
	macht. Diese Kombination fördert eine Balance zwischen der widderischen
	Unabhängigkeit und der krebsischen Hingabe, was dazu führt, dass sie sowohl
	selbstständig als auch fürsorglich sein können. Ihre Fähigkeit, ihre eigene
	Stärke mit Mitgefühl zu verbinden, macht sie zu einfühlsamen und verlässlichen
	Partnern und Freunden. Allerdings können diese Menschen auch mit einigen
	inneren Konflikten konfrontiert sein. Die impulsive und manchmal aggressive
	Natur des Widders kann im Widerspruch zu der empfindsamen und verletzlichen
	Seite des Krebs-Monds stehen. Diese Gegensätze können dazu führen, dass sie
	sich hin- und hergerissen fühlen zwischen dem Wunsch, mutig voranzuschreiten,
	und dem Bedürfnis nach emotionalem Rückzug und Schutz. Es kann eine
	Herausforderung für sie sein, ihre temperamentvolle Art mit ihrer empfindsamen
	Seite in Einklang zu bringen. Sie könnten dazu neigen, ihre Gefühle zu
	unterdrücken oder zu schnell auf emotionale Situationen zu reagieren. Es ist
	wichtig für sie, Wege zu finden, um ihre Emotionen auszudrücken und
	gleichzeitig ihre natürliche Entschlossenheit und Stärke zu bewahren.
</p>
<% } %> <% if (key2 === 'leo') { %>
<h3 class="horo">Widder & Löwe</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne im Widder und Mond in Löwe</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Widder und Mondzeichen in Löwe ist eine
	kraftvolle und feurige Mischung, die von Leidenschaft, Mut und einem starken
	Bedürfnis nach Anerkennung geprägt ist. Menschen mit dieser Kombination
	strahlen Selbstbewusstsein und Entschlossenheit aus, da beide Zeichen von der
	feurigen Energie durchdrungen sind. Der Widder bringt eine dynamische und
	abenteuerlustige Natur mit sich, die immer bereit ist, neue Herausforderungen
	zu meistern und sich mutig in unbekannte Gebiete zu wagen. Der Löwe-Mond
	verstärkt diese Eigenschaften durch eine emotionale Tiefe, die von einem
	starken Stolz und einem Bedürfnis nach Bewunderung und Wertschätzung geprägt
	ist. Auf der Gefühlsebene sorgt der Löwe-Mond dafür, dass diese Menschen ihre
	Emotionen mit Leidenschaft und Großzügigkeit ausdrücken. Sie haben ein großes
	Herz und sind oft sehr loyal und schützend gegenüber ihren Liebsten. Diese
	Kombination fördert eine starke, charismatische Präsenz, die andere anzieht
	und inspiriert. Die Energie des Widders, gepaart mit der Wärme und
	Großzügigkeit des Löwen, macht diese Menschen zu natürlichen Anführern und
	motivierenden Persönlichkeiten, die in der Lage sind, ihre Visionen mit
	Enthusiasmus und Überzeugung zu verfolgen. Ihre Fähigkeit, sowohl mutig als
	auch herzlich zu sein, lässt sie in sozialen und beruflichen Situationen
	glänzen. Allerdings können diese Menschen auch mit einigen Herausforderungen
	konfrontiert sein. Die starke Selbstbezogenheit und das Bedürfnis nach
	Anerkennung, das sowohl der Widder als auch der Löwe mit sich bringen, können
	zu Konflikten führen, insbesondere wenn sie sich nicht ausreichend
	wertgeschätzt oder bewundert fühlen. Diese Kombination kann auch zu einer
	gewissen Dominanz und Ungeduld führen, da beide Zeichen dazu neigen, im
	Mittelpunkt stehen zu wollen und ihre Meinungen und Wünsche durchzusetzen. Es
	ist wichtig für sie, Wege zu finden, um ihre starken Persönlichkeiten mit
	Rücksichtnahme und Empathie für andere zu balancieren, um harmonische und
	erfüllende Beziehungen zu pflegen.
</p>
<% } %> <% if (key2 === 'virgo') { %>
<h3 class="horo">Widder & Jungfrau</h3>
<h6 class="horo">
	Wechselwirkung zwischen Sonne im Widder und Mond in Jungfrau
</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Widder und Mondzeichen in Jungfrau
	vereint die dynamische, energische Natur des Widders mit der analytischen,
	detailorientierten Emotionalität der Jungfrau. Menschen mit dieser Kombination
	besitzen eine starke Entschlossenheit und den Drang, Dinge zu bewegen und
	voranzutreiben, sind aber gleichzeitig in der Lage, sorgfältig und methodisch
	zu arbeiten. Der Widder verleiht ihnen eine natürliche Führungskraft und den
	Mut, neue Projekte anzustoßen, während die Jungfrau-Aspekte sicherstellen,
	dass sie dabei strukturiert und organisiert vorgehen. Diese Kombination
	ermöglicht es ihnen, ambitionierte Ziele zu verfolgen und dennoch auf die
	Details zu achten, was sie in vielen Bereichen besonders effektiv macht. In
	Beziehungen und emotionalen Situationen zeigen sich Menschen mit dieser
	Konstellation als engagierte und zuverlässige Partner. Der Widder bringt
	Leidenschaft und Initiative in die Beziehung, was bedeutet, dass sie bereit
	sind, aktiv zu investieren und Verantwortung zu übernehmen. Gleichzeitig sorgt
	der Einfluss der Jungfrau dafür, dass sie aufmerksam und fürsorglich sind,
	stets bestrebt, das Wohl ihres Partners im Auge zu behalten. Sie sind
	praktisch veranlagt und neigen dazu, emotionale Unterstützung auf sehr
	konkrete Weise zu bieten, indem sie Probleme lösen und sich um die
	alltäglichen Bedürfnisse kümmern. Diese Kombination schafft eine Balance
	zwischen Leidenschaft und Vernunft, was zu stabilen und erfüllenden
	Beziehungen führen kann. Allerdings können auch problematische Aspekte
	auftreten. Die durchsetzungsfähige Natur des Widders kann manchmal mit der
	kritischen und perfektionistischen Haltung der Jungfrau kollidieren. Dies kann
	zu inneren Spannungen führen, da sie einerseits impulsiv handeln wollen,
	andererseits aber von einem inneren Bedürfnis nach Perfektion und Ordnung
	zurückgehalten werden. Menschen mit dieser Kombination können auch dazu
	neigen, zu kritisch zu sich selbst und anderen zu sein, was zu Konflikten und
	Unzufriedenheit führen kann. Es ist wichtig, dass sie lernen, ihre hohen
	Ansprüche zu balancieren und sich selbst und anderen gegenüber nachsichtiger
	zu sein. Wenn sie es schaffen, ihre impulsive Energie des Widders mit der
	sorgfältigen Planung der Jungfrau zu verbinden, können sie ihre Ziele auf
	nachhaltige und harmonische Weise erreichen.
</p>
<% } %> <% if (key2 === 'libra') { %>
<h3 class="horo">Widder & Waage</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne im Widder und Mond in Waage</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Widder und Mondzeichen in Waage vereint
	die feurige Entschlossenheit des Widders mit der harmoniesuchenden und
	diplomatischen Natur der Waage. Menschen mit dieser Kombination besitzen eine
	dynamische und energiegeladene Persönlichkeit, die durch einen ausgeprägten
	Sinn für Fairness und Ausgeglichenheit ergänzt wird. Der Widder bringt eine
	natürliche Begeisterung und einen Drang zur Führung mit sich, während die
	Waage- Mond-Eigenschaften ihnen helfen, in sozialen Situationen charmant und
	anpassungsfähig zu sein. Diese Kombination ermöglicht es ihnen, sowohl in
	Führungsrollen als auch in zwischenmenschlichen Beziehungen erfolgreich zu
	sein, da sie ihren Tatendrang mit einem Verständnis für die Bedürfnisse und
	Gefühle anderer verbinden. Auf der Gefühlsebene sorgt der Waage-Mond dafür,
	dass diese Menschen ihre Emotionen auf eine ausgeglichene und harmonische
	Weise ausdrücken. Sie streben nach Frieden und Harmonie in ihren Beziehungen
	und sind oft bereit, Kompromisse einzugehen, um Konflikte zu vermeiden. Diese
	Menschen sind ausgezeichnete Vermittler und können durch ihre Fähigkeit,
	verschiedene Perspektiven zu sehen, zur Lösung von Konflikten beitragen. Die
	Waage-Mond-Eigenschaften verleihen ihrer widderischen Direktheit eine sanftere
	und diplomatischere Note, was ihnen hilft, in sozialen und beruflichen
	Umfeldern geschätzt zu werden. Allerdings können diese Menschen auch mit
	einigen inneren Konflikten konfrontiert sein. Der Drang des Widders, direkt
	und manchmal impulsiv zu handeln, kann mit dem Bedürfnis der Waage nach
	Ausgewogenheit und Harmonie kollidieren. Sie könnten sich manchmal zwischen
	ihrem Wunsch nach sofortiger Aktion und der Notwendigkeit, die Auswirkungen
	ihrer Handlungen auf andere abzuwägen, hin- und hergerissen fühlen. Dies kann
	zu inneren Spannungen und Entscheidungsproblemen führen. Außerdem kann die
	Tendenz der Waage, Konflikte zu vermeiden und nach äußerer Bestätigung zu
	suchen, die durchsetzungsstarke Natur des Widders untergraben. Es ist wichtig,
	dass sie lernen, ein Gleichgewicht zwischen ihrem Bedürfnis nach Harmonie und
	ihrem Drang zur Selbstbehauptung zu finden, um ein erfülltes und ausgewogenes
	Leben zu führen.
</p>
<% } %> <% if (key2 === 'scorpio') { %>
<h3 class="horo">Widder & Skorpion</h3>
<h6 class="horo">
	Wechselwirkung zwischen Sonne im Widder und Mond in Skorpion
</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Widder und Mondzeichen in Skorpion
	vereint die energiegeladene und durchsetzungsstarke Natur des Widders mit der
	tiefgründigen und emotional intensiven Natur des Skorpions. Menschen mit
	dieser Kombination haben eine starke und leidenschaftliche Persönlichkeit, die
	von einem unermüdlichen Tatendrang und einer ausgeprägten Willenskraft geprägt
	ist. Der Widder bringt eine natürliche Begeisterung und Mut mit sich, während
	der Skorpion-Mond ihnen eine tiefere emotionale Tiefe und Entschlossenheit
	verleiht. Diese Mischung ermöglicht es ihnen, ihre Ziele mit unerbittlicher
	Entschlossenheit und einem intensiven Fokus zu verfolgen. Auf der Gefühlsebene
	sorgt der Skorpion-Mond dafür, dass diese Menschen ihre Emotionen mit einer
	außergewöhnlichen Tiefe und Intensität erleben. Sie haben eine starke
	Intuition und sind in der Lage, die verborgenen Motive und Gefühle anderer zu
	erkennen. Ihre emotionale Natur ist geprägt von Loyalität und einer tiefen
	Verbundenheit zu den Menschen, die ihnen wichtig sind. Der Skorpion-Mond
	verleiht ihrer widderischen Direktheit und Offenheit eine geheimnisvolle und
	magnetische Anziehungskraft. Diese Kombination macht sie zu kraftvollen und
	überzeugenden Persönlichkeiten, die andere mit ihrer Leidenschaft und ihrem
	Charisma beeindrucken können. Allerdings können Menschen mit dieser
	Kombination auch mit einigen inneren Herausforderungen konfrontiert sein. Der
	impulsive und manchmal ungeduldige Drang des Widders kann mit der tiefen, oft
	zurückhaltenden emotionalen Natur des Skorpions in Konflikt geraten. Sie
	könnten sich hin- und hergerissen fühlen zwischen dem Wunsch nach sofortiger
	Handlung und der Notwendigkeit, ihre tiefen Gefühle zu verarbeiten. Diese
	innere Spannung kann zu emotionalen Ausbrüchen und intensiven Konflikten
	führen, wenn sie nicht in der Lage sind, ein Gleichgewicht zwischen ihrem
	Tatendrang und ihren emotionalen Bedürfnissen zu finden. Zudem kann die
	Neigung des Skorpion-Mondes zu Eifersucht und Besitzdenken ihre Beziehungen
	belasten, besonders wenn ihre widderische Unabhängigkeit und Freiheit
	eingeschränkt werden. Es ist wichtig, dass sie lernen, ihre Leidenschaft und
	Intensität auf konstruktive Weise zu kanalisieren, um ein harmonisches und
	erfülltes Leben zu führen.
</p>
<% } %> <% if (key2 === 'sagittarius') { %>
<h3 class="horo">Widder & Schütze</h3>
<h6 class="horo">
	Wechselwirkung zwischen Sonne im Widder und Mond in Schütze
</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Widder und Mondzeichen in Schütze vereint
	zwei Feuerzeichen, was zu einer äußerst dynamischen und abenteuerlustigen
	Persönlichkeit führt. Menschen mit dieser Kombination sind energisch,
	optimistisch und immer bereit, neue Herausforderungen anzunehmen. Der Widder
	bringt eine natürliche Führungskraft, Mut und Entschlossenheit mit sich,
	während der Schütze-Mond eine tiefe Sehnsucht nach Freiheit, Wissen und
	persönlicher Weiterentwicklung verleiht. Diese Menschen sind oft sehr
	idealistisch und haben eine unerschütterliche Begeisterung für das Leben, die
	sie dazu antreibt, ihre Träume und Ziele ohne Zögern zu verfolgen. Auf der
	emotionalen Ebene sorgt der Schütze-Mond dafür, dass diese Menschen ihre
	Gefühle offen und ehrlich ausdrücken. Sie haben eine positive Einstellung und
	neigen dazu, das Beste in jeder Situation zu sehen. Ihre emotionale Natur ist
	geprägt von einem starken Bedürfnis nach Unabhängigkeit und Freiheit. Sie sind
	abenteuerlustig und neugierig, was sie dazu bringt, immer wieder neue
	Erfahrungen zu suchen und ihre Horizonte zu erweitern. Diese Kombination macht
	sie zu inspirierenden und motivierenden Persönlichkeiten, die andere mit ihrer
	ungebremsten Lebensfreude anstecken können. Allerdings können Menschen mit
	dieser Kombination auch mit einigen Herausforderungen konfrontiert sein. Die
	impulsive und manchmal ungeduldige Natur des Widders kann mit der rastlosen
	und manchmal leichtsinnigen Art des Schütze-Mondes in Konflikt geraten. Sie
	könnten dazu neigen, sich zu schnell in neue Projekte oder Beziehungen zu
	stürzen, ohne die möglichen Konsequenzen vollständig zu bedenken. Diese
	Tendenz zur Impulsivität kann zu Fehlern und Missverständnissen führen. Zudem
	kann ihr starkes Bedürfnis nach Freiheit und Unabhängigkeit dazu führen, dass
	sie Schwierigkeiten haben, sich langfristig zu binden oder Verantwortung zu
	übernehmen. Es ist wichtig, dass sie lernen, ihre Energie und Begeisterung zu
	kanalisieren, um ein ausgewogenes und erfülltes Leben zu führen.
</p>
<% } %> <% if (key2 === 'capricorn') { %>
<h3 class="horo">Widder & Steinbock</h3>
<h6 class="horo">
	Wechselwirkung zwischen Sonne im Widder und Mond in Steinbock
</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Widder und Mondzeichen in Steinbock
	schafft eine faszinierende Mischung aus feuriger Energie und ernster
	Zielstrebigkeit. Menschen mit dieser Kombination zeichnen sich durch ihre
	enorme Tatkraft und ihre Fähigkeit, Hindernisse zu überwinden, aus. Der Widder
	verleiht ihnen eine unerschütterliche Entschlossenheit und einen natürlichen
	Drang, Führungsrollen zu übernehmen und neue Herausforderungen anzunehmen.
	Diese Eigenschaft wird durch den Steinbock-Mond verstärkt, der eine starke
	innere Disziplin und das Bedürfnis nach strukturiertem, langfristigem Erfolg
	hinzufügt. Diese Menschen sind oft äußerst ehrgeizig und haben ein klares
	Verständnis davon, was sie im Leben erreichen wollen. Emotional gesehen bringt
	der Steinbock-Mond eine gewisse Ernsthaftigkeit und Stabilität in die oft
	impulsive Natur des Widders. Diese Kombination bedeutet, dass sie ihre
	Emotionen gut kontrollieren können und selten von ihren Gefühlen überwältigt
	werden. Sie sind in der Lage, in stressigen Situationen ruhig und besonnen zu
	bleiben, was ihnen hilft, ihre Ziele systematisch zu verfolgen. Ihre
	emotionale Natur ist von einem tiefen Bedürfnis nach Sicherheit und
	Beständigkeit geprägt, was sie oft dazu bringt, sorgfältig geplante Schritte
	zu unternehmen, um ihre Ambitionen zu verwirklichen. Diese Balance zwischen
	dem feurigen Antrieb des Widders und der stabilen Ernsthaftigkeit des
	Steinbocks macht sie zu effektiven und entschlossenen Individuen. Allerdings
	können Menschen mit dieser Kombination auch mit einigen Herausforderungen
	konfrontiert sein. Die impulsive Natur des Widders kann manchmal im
	Widerspruch zur vorsichtigen und manchmal zögerlichen Natur des
	Steinbock-Mondes stehen. Sie könnten sich hin- und hergerissen fühlen zwischen
	dem Wunsch, sofortige Ergebnisse zu erzielen, und dem Bedürfnis, alles
	gründlich zu planen und abzusichern. Diese innere Spannung kann zu Frustration
	und Unzufriedenheit führen, besonders wenn sie das Gefühl haben, dass ihre
	Fortschritte zu langsam sind. Zudem kann die starke Selbstdisziplin des
	Steinbock-Mondes dazu führen, dass sie ihre Gefühle unterdrücken, was
	langfristig zu emotionalen Belastungen führen kann. Es ist wichtig, dass sie
	lernen, ihre impulsiven und vorsichtigen Seiten in Einklang zu bringen, um ein
	erfülltes und erfolgreiches Leben zu führen.
</p>
<% } %> <% if (key2 === 'aquarius') { %>
<h3 class="horo">Widder & Wassermann</h3>
<h6 class="horo">
	Wechselwirkung zwischen Sonne im Widder und Mond in Wassermann
</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Widder und Mondzeichen in Wassermann
	bringt eine spannende Mischung aus leidenschaftlicher Entschlossenheit und
	innovativer Unabhängigkeit hervor. Menschen mit dieser Konstellation haben
	einen starken Drang, ihre eigenen Wege zu gehen und sich von der Masse
	abzuheben. Der Widder verleiht ihnen einen unerschütterlichen Willen und den
	Mut, neue Projekte in Angriff zu nehmen, während der Wassermann-Mond ihnen die
	Fähigkeit gibt, außerhalb der üblichen Denkweisen zu agieren und kreative
	Lösungen zu finden. Diese Menschen sind oft Pioniere in ihren Bereichen, die
	bereit sind, Risiken einzugehen, um ihre einzigartigen Visionen zu
	verwirklichen. Emotionale Unabhängigkeit ist ein markantes Merkmal dieser
	Kombination. Der Wassermann- Mond sorgt dafür, dass diese Menschen ihre
	Gefühle auf eine rationale und objektive Weise handhaben können. Sie neigen
	dazu, ihre Emotionen zu analysieren und verstehen oft intuitiv, was andere
	Menschen brauchen. Diese Fähigkeit, Emotionen mit Intellekt zu verbinden,
	ermöglicht es ihnen, in zwischenmenschlichen Beziehungen diplomatisch und
	einfühlsam zu agieren, während sie dennoch ihre eigenen Bedürfnisse und
	Freiheiten wahren. Der Widder-Sonne verleiht ihnen zudem die Fähigkeit,
	entschlossen und zielgerichtet zu handeln, was durch die zukunftsorientierte
	Denkweise des Wassermanns unterstützt wird. Allerdings können diese Menschen
	auch vor Herausforderungen stehen. Die starke Unabhängigkeit des
	Wassermann-Mondes kann manchmal im Widerspruch zu der impulsiven und direkten
	Natur des Widders stehen. Diese innere Spannung kann dazu führen, dass sie
	sich ungeduldig oder frustriert fühlen, wenn ihre Ideen nicht sofort in die
	Tat umgesetzt werden können. Zudem kann ihre Tendenz, emotional distanziert zu
	sein, zu Missverständnissen in ihren Beziehungen führen, da sie manchmal als
	kalt oder unnahbar wahrgenommen werden könnten. Es ist wichtig, dass sie
	lernen, ihre impulsiven Handlungen mit bedachtem, langfristigem Denken in
	Einklang zu bringen und ihre emotionale Seite nicht zu vernachlässigen, um ein
	ausgeglichenes und erfülltes Leben zu führen.
</p>
<% } %> <% if (key2 === 'pisces') { %>
<h3 class="horo">Widder & Fische</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne im Widder und Mond in Fische</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Widder und Mondzeichen in Fische vereint
	die entschlossene, mutige Natur des Widders mit der tiefen Empathie und
	Sensibilität der Fische. Menschen mit dieser Konstellation sind oft dynamische
	Persönlichkeiten, die entschlossen ihre Ziele verfolgen und gleichzeitig eine
	starke intuitive Seite haben. Der Widder verleiht ihnen den Antrieb und die
	Energie, Herausforderungen anzunehmen und Neues zu initiieren, während der
	Fische-Mond ihnen die Fähigkeit gibt, sich in andere hineinzuversetzen und
	Situationen mit Mitgefühl zu betrachten. Diese Menschen haben oft eine
	inspirierende Ausstrahlung und können andere durch ihre leidenschaftliche
	Hingabe und ihre verständnisvolle Natur beeinflussen. Auf emotionaler Ebene
	sorgt der Fische-Mond dafür, dass diese Menschen tief empfinden und eine
	starke Verbindung zu ihren inneren Gefühlen haben. Sie sind oft künstlerisch
	veranlagt und haben ein reiches inneres Leben, das von Träumen und Visionen
	geprägt ist. Der Widder-Sonne gibt ihnen den Mut, diese Träume in die Realität
	umzusetzen und sich nicht von Ängsten oder Zweifeln zurückhalten zu lassen.
	Ihre emotionale Sensibilität kombiniert mit der Tatkraft des Widders macht sie
	zu einfühlsamen und dennoch durchsetzungsfähigen Individuen, die ihre Ziele
	erreichen, ohne dabei die Bedürfnisse anderer aus den Augen zu verlieren.
	Allerdings können auch Herausforderungen auftreten. Die Impulsivität und das
	Bedürfnis nach sofortiger Aktion des Widders können manchmal im Konflikt mit
	der empfindsamen und zurückhaltenden Natur der Fische stehen. Diese innere
	Spannung kann dazu führen, dass sie sich hin- und hergerissen fühlen zwischen
	dem Drang, sofort zu handeln, und dem Bedürfnis, sich zurückzuziehen und
	nachzudenken. Zudem kann ihre hohe Sensibilität sie anfällig für emotionale
	Überlastung machen, insbesondere wenn sie sich in stressigen oder
	konfliktreichen Situationen befinden. Es ist wichtig, dass sie lernen, ein
	Gleichgewicht zwischen ihrer energiegeladenen, aktiven Seite und ihrer
	ruhigen, introspektiven Natur zu finden, um ihre Stärken voll auszuschöpfen
	und inneren Frieden zu bewahren.
</p>
<% } %>
