<% if (key2 === 'aries') { %>
<h3 class="horo">Jungfrau & Widder</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Jungfrau und Mond im Widder
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Jungfrau und Mondzeichen in Widder
  vereint die analytische, detailverliebte Natur der Jungfrau mit der
  impulsiven, dynamischen Energie des Widders. Diese Konstellation verleiht den
  Menschen eine bemerkenswerte Fähigkeit, pragmatisch zu denken und gleichzeitig
  entschlossen und unabhängig zu handeln. Die Jungfrau-Sonne bringt ein starkes
  Bedürfnis nach Ordnung, Effizienz und Genauigkeit in das Leben dieser
  Personen, während der Mond in Widder ihnen einen ungestümen Drang nach
  Selbstverwirklichung und neuen Erfahrungen verleiht. Zusammen ergibt sich ein
  Charakter, der sowohl auf Details achtet als auch keine Angst hat, neue Wege
  zu gehen und Herausforderungen direkt anzugehen. In Beziehungen und
  emotionalen Situationen zeigen sich Menschen mit dieser Kombination als
  leidenschaftlich und direkt. Sie haben eine klare Vorstellung davon, was sie
  wollen, und zögern nicht, ihre Bedürfnisse und Wünsche offen zu kommunizieren.
  Ihre Jungfrau-Sonne verleiht ihnen eine gewisse Vorsicht und Fürsorge, während
  der Mond in Widder ihnen die Fähigkeit gibt, spontan und impulsiv zu handeln.
  Diese Mischung führt dazu, dass sie in Partnerschaften oft als energisch,
  entschlossen und manchmal auch etwas fordernd wahrgenommen werden. Sie sind
  bereit, für das zu kämpfen, was ihnen wichtig ist, und setzen sich
  leidenschaftlich für ihre Liebsten ein. Gleichzeitig schätzen sie Ehrlichkeit
  und Direktheit, sowohl in sich selbst als auch in ihren Beziehungen.
  Allerdings können Menschen mit Sonne in Jungfrau und Mond in Widder auch mit
  einigen Herausforderungen konfrontiert sein. Ihre Neigung zur Perfektionismus
  und zur kritischen Analyse kann in Kombination mit der impulsiven Natur des
  Widders zu Spannungen führen. Sie könnten Schwierigkeiten haben, ihre
  impulsiven Impulse zu kontrollieren, was zu überstürzten Entscheidungen und
  unüberlegten Handlungen führen kann. Zudem kann ihre Tendenz, sich auf Details
  zu fixieren, in stressigen Situationen dazu führen, dass sie sich übermäßig
  Sorgen machen oder überreagieren. Diese Kombination kann auch zu Konflikten
  führen, wenn sie ihre Bedürfnisse nicht im Gleichgewicht halten können, wobei
  ihre direkte Art möglicherweise als taktlos oder verletzend empfunden wird. Es
  ist wichtig, dass sie lernen, ihre Impulse zu zähmen und ihre kritische Natur
  mit einem Hauch von Geduld und Nachsicht zu verbinden.
</p>
<% } %> <% if (key2 === 'taurus') { %>
<h3 class="horo">Jungfrau & Stier</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Jungfrau und Mond im Stier
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Jungfrau und Mondzeichen in Stier vereint
  zwei Erdzeichen, was zu einer Persönlichkeit führt, die sowohl pragmatisch als
  auch stabil ist. Die Jungfrau-Sonne bringt eine analytische, detailorientierte
  und sorgfältige Herangehensweise an das Leben mit sich. Diese Personen sind
  oft sehr organisiert, methodisch und haben einen ausgeprägten Sinn für
  Perfektion. Der Mond im Stier fügt eine zusätzliche Schicht von Beständigkeit
  und Genuss hinzu. Menschen mit dieser Konstellation haben eine starke
  Verbindung zur materiellen Welt und schätzen Komfort, Sicherheit und
  Sinnlichkeit. Diese Kombination ermöglicht es ihnen, ihre praktischen
  Fähigkeiten mit einer tiefen Wertschätzung für die schönen Dinge des Lebens zu
  verbinden. In Beziehungen und emotionalen Situationen zeigt sich diese
  Kombination als besonders loyal und zuverlässig. Personen mit dieser
  astrologischen Mischung sind in der Regel sehr beständig und bieten ihren
  Partnern eine stabile und sichere Umgebung. Die Jungfrau-Sonne sorgt dafür,
  dass sie aufmerksam und fürsorglich sind, während der Mond im Stier ihnen eine
  liebevolle und sinnliche Natur verleiht. Sie neigen dazu, ihre Liebe und
  Zuneigung auf praktische Weise auszudrücken, indem sie sich um die Bedürfnisse
  ihrer Partner kümmern und für eine komfortable und angenehme Umgebung sorgen.
  Sie sind treue Partner, die viel Wert auf Beständigkeit und langfristige
  Verbindungen legen. Allerdings können Menschen mit Sonne in Jungfrau und Mond
  in Stier auch mit einigen Herausforderungen konfrontiert sein. Ihre starke
  Erdenergie kann manchmal zu Sturheit und einer übermäßigen Fixierung auf
  Sicherheit und Routine führen. Sie könnten Schwierigkeiten haben, sich
  Veränderungen anzupassen oder spontane Entscheidungen zu treffen. Ihre Neigung
  zur Perfektion und ihr Bedürfnis nach Kontrolle können dazu führen, dass sie
  sich zu sehr auf Details konzentrieren und das größere Bild aus den Augen
  verlieren. Diese Personen müssen lernen, flexibel zu sein und offen für neue
  Erfahrungen und Perspektiven, um ein ausgeglichenes Leben zu führen. Es ist
  wichtig, dass sie ihre Tendenz zur Überkritik und ihre Besessenheit von
  materieller Sicherheit im Zaum halten, um harmonische und erfüllende
  Beziehungen zu pflegen.
</p>
<% } %> <% if (key2 === 'gemini') { %>
<h3 class="horo">Jungfrau & Zwillinge</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Jungfrau und Mond in Zwillinge
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Jungfrau und Mondzeichen in Zwillinge
  vereint die praktischen, analytischen Fähigkeiten der Jungfrau mit der
  neugierigen, vielseitigen Natur der Zwillinge. Menschen mit dieser Kombination
  sind äußerst intelligent und kommunikativ. Die Jungfrau-Sonne sorgt dafür,
  dass sie detailorientiert und methodisch vorgehen, während der Mond in den
  Zwillingen ihnen eine schnelle Auffassungsgabe und eine Liebe zum Lernen
  verleiht. Diese Personen sind oft sehr flexibel und anpassungsfähig, was ihnen
  hilft, in verschiedenen Situationen und Umgebungen erfolgreich zu sein. Sie
  haben eine natürliche Fähigkeit, komplexe Informationen aufzunehmen und zu
  verarbeiten, was sie in vielen Bereichen des Lebens zu kompetenten
  Problemlösern macht. In Beziehungen und emotionalen Situationen zeigt sich
  diese Kombination als sehr kommunikativ und sozial. Menschen mit dieser
  astrologischen Mischung schätzen intellektuelle Stimulation und genießen es,
  sich mit anderen auszutauschen. Sie sind oft gesellig und können sich leicht
  in verschiedenen sozialen Kreisen bewegen. Die Jungfrau-Sonne bringt eine
  fürsorgliche und hilfsbereite Natur mit sich, während der Mond in den
  Zwillingen eine spielerische und neugierige Seite hinzufügt. In Beziehungen
  suchen sie oft nach einem Partner, der sowohl intellektuell anregend als auch
  emotional verständnisvoll ist. Ihre Fähigkeit, gut zu kommunizieren, hilft
  ihnen, Missverständnisse zu vermeiden und harmonische Beziehungen zu pflegen.
  Allerdings können Menschen mit Sonne in Jungfrau und Mond in Zwillinge auch
  einige Herausforderungen haben. Ihre Neigung zur Überanalyse und zur
  Besessenheit von Details kann sie manchmal daran hindern, das größere Bild zu
  sehen. Sie könnten dazu neigen, sich in Kleinigkeiten zu verlieren und
  übermäßig kritisch zu sein. Ihre wechselhafte Natur, die vom Mond in den
  Zwillingen herrührt, kann zu Unentschlossenheit und einem Mangel an
  Beständigkeit führen. Dies kann sich in Beziehungen als Problem darstellen, da
  sie möglicherweise Schwierigkeiten haben, langfristige Verpflichtungen
  einzugehen. Es ist wichtig, dass sie lernen, ihre Tendenz zur Zerstreuung zu
  zügeln und sich auf ihre Ziele zu konzentrieren, um ein ausgeglichenes und
  erfülltes Leben zu führen.
</p>
<% } %> <% if (key2 === 'cancer') { %>
<h3 class="horo">Jungfrau & Krebs</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Jungfrau und Mond in Krebs
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Jungfrau und Mondzeichen in Krebs vereint
  die analytische, praktische Natur der Jungfrau mit der empfindsamen,
  fürsorglichen Energie des Krebses. Menschen mit dieser astrologischen Mischung
  sind oft sehr aufmerksam und detailorientiert, während sie gleichzeitig ein
  tiefes emotionales Verständnis und Mitgefühl für andere zeigen. Die
  Jungfrau-Sonne sorgt dafür, dass sie methodisch und präzise vorgehen, während
  der Mond in Krebs ihnen eine sanfte und unterstützende Art verleiht. Diese
  Personen haben eine starke Intuition und sind oft sehr gut darin, die
  Bedürfnisse und Gefühle anderer zu erkennen, was sie zu ausgezeichneten
  Freunden und Partnern macht. In Beziehungen und emotionalen Situationen zeigt
  sich diese Kombination als besonders liebevoll und hingebungsvoll. Menschen
  mit dieser Konstellation sind sehr loyal und setzen alles daran, ihre Liebsten
  zu schützen und zu unterstützen. Die Jungfrau-Sonne bringt eine gewisse
  Rationalität und eine praktische Herangehensweise in Beziehungen ein, während
  der Mond in Krebs ihnen eine tiefe emotionale Bindung und ein starkes
  Bedürfnis nach Geborgenheit und Nähe verleiht. Sie suchen oft nach Stabilität
  und Sicherheit in ihren Beziehungen und sind bereit, viel zu investieren, um
  diese zu gewährleisten. Ihre Fähigkeit, aufmerksam zuzuhören und sich um die
  emotionalen Bedürfnisse ihres Partners zu kümmern, macht sie zu einfühlsamen
  und verständnisvollen Partnern. Allerdings können Menschen mit Sonne in
  Jungfrau und Mond in Krebs auch einige Herausforderungen haben. Ihre Neigung
  zur Überanalyse, gepaart mit einer tiefen emotionalen Sensibilität, kann dazu
  führen, dass sie sich manchmal übermäßig sorgen und sich leicht verletzt
  fühlen. Sie könnten dazu neigen, sich zu sehr auf die Bedürfnisse anderer zu
  konzentrieren und dabei ihre eigenen Bedürfnisse zu vernachlässigen. Ihre
  starke emotionale Bindung und ihr Bedürfnis nach Sicherheit können sie auch
  dazu bringen, sich schwer von alten Beziehungen und Erfahrungen zu lösen. Es
  ist wichtig, dass sie lernen, ein Gleichgewicht zwischen ihren praktischen und
  emotionalen Seiten zu finden und sich selbst genauso viel Fürsorge und
  Aufmerksamkeit zu schenken wie anderen.
</p>
<% } %> <% if (key2 === 'leo') { %>
<h3 class="horo">Jungfrau & Löwe</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Jungfrau und Mond in Löwe</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Jungfrau und Mondzeichen in Löwe vereint
  die analytische und praktische Natur der Jungfrau mit der leidenschaftlichen
  und selbstbewussten Energie des Löwen. Menschen mit dieser astrologischen
  Mischung sind oft sehr organisiert und detailorientiert, während sie
  gleichzeitig eine charismatische Ausstrahlung und eine starke Präsenz
  besitzen. Die Jungfrau-Sonne sorgt dafür, dass sie methodisch und präzise
  vorgehen, während der Mond in Löwe ihnen eine warme, großzügige und kreative
  Art verleiht. Diese Personen haben ein ausgeprägtes Bedürfnis, sich nützlich
  zu machen und Anerkennung für ihre Leistungen zu erhalten, was sie zu
  engagierten und verantwortungsbewussten Individuen macht. In Beziehungen und
  emotionalen Situationen zeigt sich diese Kombination als besonders liebevoll
  und beschützend. Menschen mit dieser Konstellation sind sehr loyal und setzen
  alles daran, ihre Liebsten zu unterstützen und zu ermutigen. Die
  Jungfrau-Sonne bringt eine praktische Herangehensweise und ein Bedürfnis nach
  Ordnung in ihre Beziehungen ein, während der Mond in Löwe ihnen die Fähigkeit
  verleiht, ihre Zuneigung auf großartige und großzügige Weise auszudrücken. Sie
  suchen oft nach Stabilität und möchten gleichzeitig bewundert und geschätzt
  werden. Ihre starke emotionale Bindung und ihr Wunsch, anderen zu helfen,
  machen sie zu zuverlässigen und warmherzigen Partnern. Allerdings können
  Menschen mit Sonne in Jungfrau und Mond in Löwe auch einige Herausforderungen
  haben. Ihre Neigung zur Überanalyse, gepaart mit einem starken Bedürfnis nach
  Anerkennung, kann dazu führen, dass sie sich manchmal übermäßig sorgen und
  unsicher fühlen. Sie könnten dazu neigen, Kritik sehr persönlich zu nehmen und
  sich leicht verletzt zu fühlen, wenn sie nicht die gewünschte Aufmerksamkeit
  erhalten. Ihre starke emotionale Bindung und ihr Bedürfnis nach Bestätigung
  können sie auch dazu bringen, sich schwer von alten Beziehungen und
  Erfahrungen zu lösen. Es ist wichtig, dass sie lernen, ein Gleichgewicht
  zwischen ihren praktischen und emotionalen Seiten zu finden und sich selbst
  genauso viel Fürsorge und Aufmerksamkeit zu schenken wie anderen.
</p>
<% } %> <% if (key2 === 'virgo') { %>
<h3 class="horo">Jungfrau & Jungfrau</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Jungfrau und Mond ebenfalls in Jungfrau
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Jungfrau und Mondzeichen in Jungfrau
  verstärkt die typischen Eigenschaften dieses Erdzeichens, wodurch eine Person
  entsteht, die außergewöhnlich analytisch, detailorientiert und praktisch
  veranlagt ist. Menschen mit dieser doppelten Jungfrau- Kombination sind oft
  sehr gewissenhaft und sorgfältig in allem, was sie tun. Sie streben nach
  Perfektion und haben hohe Standards, sowohl für sich selbst als auch für
  andere. Ihre Fähigkeit, Probleme methodisch zu lösen und strukturiert zu
  arbeiten, macht sie zu verlässlichen und kompetenten Individuen, die in vielen
  Lebensbereichen erfolgreich sein können. Ihr Sinn für Ordnung und Sauberkeit
  erstreckt sich oft auch auf ihr persönliches Umfeld, wo sie einen großen Wert
  auf Harmonie und Effizienz legen. In Beziehungen und emotionalen Situationen
  sind diese Personen oft sehr umsichtig und einfühlsam. Sie zeigen ihre Liebe
  und Zuneigung durch praktische Gesten und durch das Kümmern um die Bedürfnisse
  ihrer Liebsten. Ihre Fähigkeit, Details zu bemerken und sich an kleine, aber
  bedeutende Dinge zu erinnern, macht sie zu aufmerksamen und fürsorglichen
  Partnern. Sie sind zuverlässig und treu, und ihre emotionale Sicherheit kommt
  oft aus der Stabilität und dem Vertrauen, das sie in ihren Beziehungen
  aufbauen. Allerdings kann ihre Tendenz zur Selbstkritik dazu führen, dass sie
  sich schwer damit tun, sich selbst und anderen gegenüber weniger perfekt zu
  sein, was manchmal zu Spannungen führen kann. Allerdings können Menschen mit
  Sonne und Mond in Jungfrau auch einige Herausforderungen erleben. Ihre Neigung
  zur Überanalyse und zur Selbstkritik kann dazu führen, dass sie sich oft
  gestresst und überfordert fühlen. Ihre hohen Standards können manchmal
  unrealistisch sein, was zu Enttäuschungen und Frustrationen führen kann. Sie
  haben die Tendenz, sich übermäßig Sorgen zu machen und sich in Details zu
  verlieren, was sie daran hindern kann, das große Ganze zu sehen. Ihre
  Kritikalität kann auch in ihren Beziehungen problematisch sein, da sie
  möglicherweise Schwierigkeiten haben, Fehler und Unvollkommenheiten bei sich
  selbst und anderen zu akzeptieren. Es ist wichtig für sie, zu lernen,
  loszulassen und sich selbst sowie anderen gegenüber nachsichtiger zu sein, um
  ein ausgeglichenes und zufriedenes Leben zu führen.
</p>
<% } %> <% if (key2 === 'libra') { %>
<h3 class="horo">Jungfrau & Waage</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Jungfrau und Mond in Waage
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Jungfrau und Mondzeichen in Waage vereint
  analytische Präzision mit einem ausgeprägten Sinn für Harmonie und Ästhetik.
  Menschen mit dieser Konstellation zeichnen sich durch ihre Fähigkeit aus,
  praktisch und effizient zu sein, während sie gleichzeitig einen starken Wunsch
  nach Schönheit und Ausgewogenheit in ihrem Umfeld haben. Sie sind
  detailorientiert und methodisch in ihrer Herangehensweise, was ihnen hilft,
  ihre Aufgaben mit großer Sorgfalt und Genauigkeit zu erledigen. Gleichzeitig
  bringt der Waage-Mond eine soziale Anmut und ein diplomatisches Geschick mit
  sich, das ihnen hilft, in sozialen Situationen gut zurechtzukommen und
  Konflikte zu vermeiden. In Beziehungen und emotionalen Situationen sind
  Menschen mit Sonne in Jungfrau und Mond in Waage äußerst bemüht, ein
  Gleichgewicht zu finden und Harmonie zu bewahren. Sie neigen dazu, sehr
  rücksichtsvoll und verständnisvoll zu sein, wobei sie stets darauf achten, die
  Gefühle und Bedürfnisse ihrer Partner zu respektieren. Ihre Fähigkeit,
  analytisch zu denken, hilft ihnen, Probleme in Beziehungen objektiv anzugehen
  und Lösungen zu finden, die für beide Seiten zufriedenstellend sind. Der
  Waage-Mond verleiht ihnen einen natürlichen Charme und eine warme
  Ausstrahlung, die sie in sozialen Kreisen beliebt macht. Sie schätzen
  Schönheit und Ästhetik, was sich oft in einem gepflegten und stilvollen
  Zuhause sowie in ihrer persönlichen Erscheinung widerspiegelt. Allerdings
  können Menschen mit dieser Kombination auch auf einige Herausforderungen
  stoßen. Ihre ständige Suche nach Perfektion und Ausgewogenheit kann dazu
  führen, dass sie sich schwer tun, Entscheidungen zu treffen, aus Angst, Fehler
  zu machen oder jemanden zu verletzen. Diese Neigung zur Unentschlossenheit
  kann in Stresssituationen zu inneren Konflikten und Unzufriedenheit führen.
  Zudem kann ihre kritische Natur, gepaart mit dem Bedürfnis, es allen recht
  machen zu wollen, dazu führen, dass sie sich selbst und andere zu sehr unter
  Druck setzen. Es ist wichtig für sie, zu lernen, dass Perfektion unerreichbar
  ist und dass es manchmal besser ist, einfach im Moment zu leben und
  Kompromisse zu akzeptieren, um ihr Wohlbefinden zu fördern.
</p>
<% } %> <% if (key2 === 'scorpio') { %>
<h3 class="horo">Jungfrau & Skorpion</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Jungfrau und Mond in Skorpion
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Jungfrau und Mondzeichen in Skorpion
  vereint analytische Präzision mit emotionaler Tiefe und Intensität. Menschen
  mit dieser Konstellation sind detailorientiert, methodisch und äußerst
  fokussiert. Die Jungfrau-Sonne bringt eine praktische und vernunftorientierte
  Herangehensweise an das Leben mit sich, während der Skorpion-Mond eine
  tiefgründige und leidenschaftliche emotionale Natur hinzufügt. Diese Personen
  haben die Fähigkeit, komplexe Probleme gründlich zu analysieren und Lösungen
  zu finden, die sowohl effizient als auch gründlich sind. Ihre innere
  Entschlossenheit und ihr Drang nach Perfektion machen sie zu verlässlichen und
  kompetenten Individuen. In Beziehungen und emotionalen Situationen zeigen
  Menschen mit dieser Kombination eine faszinierende Mischung aus Zurückhaltung
  und Intensität. Sie sind loyal und äußerst engagiert in ihren Beziehungen,
  wobei sie tiefe emotionale Bindungen eingehen. Der Skorpion-Mond verleiht
  ihnen eine starke Intuition und die Fähigkeit, die emotionalen Bedürfnisse
  ihrer Partner zu erkennen und darauf einzugehen. Sie neigen dazu, sehr
  beschützend zu sein und erwarten das gleiche Maß an Hingabe und Ehrlichkeit
  von ihren Partnern. Ihre emotionale Tiefe und ihr Bedürfnis nach Sicherheit
  und Beständigkeit machen sie zu äußerst loyalen Partnern, die in der Lage
  sind, durch dick und dünn zu gehen. Allerdings können Menschen mit dieser
  Kombination auch auf einige Herausforderungen stoßen. Die ständige Suche nach
  Perfektion, kombiniert mit der intensiven emotionalen Natur des
  Skorpion-Monds, kann zu einem hohen Maß an Selbstkritik und innerer Anspannung
  führen. Sie neigen dazu, misstrauisch zu sein und können Schwierigkeiten
  haben, anderen zu vertrauen, was zu Missverständnissen und Konflikten in ihren
  Beziehungen führen kann. Ihr Hang zur Analyse kann manchmal in Überanalysieren
  übergehen, was sie daran hindern kann, das Leben entspannt zu genießen. Es ist
  wichtig für sie, zu lernen, loszulassen und sich selbst sowie anderen zu
  vertrauen, um ein ausgewogenes und erfülltes Leben zu führen.
</p>
<% } %> <% if (key2 === 'sagittarius') { %>
<h3 class="horo">Jungfrau & Schütze</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Jungfrau und Mond in Schütze
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Jungfrau und Mondzeichen in Schütze
  vereint analytische Präzision und praktischen Verstand mit einem freien,
  abenteuerlustigen und optimistischen Geist. Menschen mit dieser Konstellation
  sind vielseitig, anpassungsfähig und neugierig. Die Jungfrau- Sonne verleiht
  ihnen eine sorgfältige, detailorientierte und methodische Herangehensweise an
  Aufgaben und Projekte, während der Schütze-Mond ihre Emotionen und inneren
  Wünsche auf Freiheit, Abenteuer und Wahrheitssuche ausrichtet. Diese Menschen
  sind bestrebt, ihre analytischen Fähigkeiten und ihr praktisches Wissen auf
  eine Weise einzusetzen, die ihnen ermöglicht, neue Horizonte zu erkunden und
  ihre Horizonte ständig zu erweitern. In Beziehungen und emotionalen
  Situationen zeigen Menschen mit dieser Kombination eine interessante Mischung
  aus Zurückhaltung und Abenteuerlust. Sie sind loyal und zuverlässig, neigen
  jedoch dazu, ihren eigenen Raum und ihre Unabhängigkeit zu schätzen. Der
  Schütze- Mond bringt eine Begeisterung und einen Optimismus in ihr emotionales
  Leben, der sie offen und ehrlich macht, oft mit einem Hang zur Philosophie und
  einer tiefen Suche nach Sinn und Bedeutung in ihren Beziehungen. Diese
  Menschen sind oft inspirierend für ihre Partner und bringen eine frische,
  optimistische Perspektive in ihre Beziehungen. Sie sind offen für neue
  Erfahrungen und schätzen Partner, die ihre Neugier und ihren Wunsch nach
  Wachstum teilen. Allerdings können Menschen mit dieser Kombination auch auf
  einige Herausforderungen stoßen. Der praktische, methodische Ansatz der
  Jungfrau kann manchmal im Widerspruch zu den spontanen und manchmal impulsiven
  emotionalen Bedürfnissen des Schütze-Mondes stehen. Diese innere Spannung kann
  zu Unruhe und Unzufriedenheit führen, insbesondere wenn sie das Gefühl haben,
  dass ihre Freiheit oder ihr Streben nach neuen Erfahrungen eingeschränkt wird.
  Sie können Schwierigkeiten haben, sich auf langfristige Projekte zu
  konzentrieren oder Verpflichtungen einzuhalten, wenn sie sich durch Routine
  oder Alltäglichkeit eingeschränkt fühlen. Es ist wichtig für sie, ein
  Gleichgewicht zwischen ihren praktischen und abenteuerlustigen Seiten zu
  finden und Wege zu entdecken, wie sie ihre Liebe zur Detailarbeit mit ihrem
  Drang nach Freiheit und Erkundung vereinen können.
</p>
<% } %> <% if (key2 === 'capricorn') { %>
<h3 class="horo">Jungfrau & Steinbock</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Jungfrau und Mond in Steinbock
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Jungfrau und Mondzeichen in Steinbock
  vereint analytische Fähigkeiten und praktischen Verstand mit einer tiefen
  Entschlossenheit und einem starken Verantwortungsbewusstsein. Menschen mit
  dieser Konstellation zeichnen sich durch ihre Zuverlässigkeit, Disziplin und
  einen methodischen Ansatz in allem aus, was sie tun. Die Jungfrau- Sonne
  verleiht ihnen eine detailorientierte und präzise Natur, die es ihnen
  ermöglicht, ihre Aufgaben mit Sorgfalt und Genauigkeit zu erledigen. Der
  Steinbock-Mond bringt zusätzlich eine ernsthafte und pragmatische
  Herangehensweise an das Leben, die ihnen hilft, langfristige Ziele mit Geduld
  und Ausdauer zu verfolgen. In Beziehungen und emotionalen Situationen sind
  diese Menschen äußerst zuverlässig und loyal. Sie neigen dazu, ihre Gefühle
  kontrolliert und zurückhaltend auszudrücken, was ihnen hilft, in stressigen
  oder herausfordernden Situationen ruhig und gesammelt zu bleiben. Der
  Steinbock- Mond gibt ihnen eine tiefe emotionale Stabilität, die in
  Kombination mit der analytischen Natur der Jungfrau eine starke Basis für ihre
  Beziehungen bildet. Sie suchen nach Partnern, die ebenso stabil und
  verlässlich sind, und bevorzugen langfristige, ernsthafte Verbindungen über
  flüchtige Affären. Ihre Liebe zeigt sich oft durch Taten und beständiges
  Engagement, weniger durch dramatische emotionale Ausbrüche. Allerdings können
  Menschen mit dieser Kombination auch auf einige Herausforderungen stoßen. Ihre
  Neigung zur Perfektion und hohe Ansprüche an sich selbst und andere können
  manchmal zu übermäßiger Kritik und Unzufriedenheit führen. Sie können
  Schwierigkeiten haben, emotionale Wärme und Spontaneität in ihre Beziehungen
  zu bringen, was sie manchmal kalt oder distanziert erscheinen lässt. Ihre
  starke Fokussierung auf Arbeit und Verantwortung kann dazu führen, dass sie
  ihre eigenen emotionalen Bedürfnisse und die ihrer Partner vernachlässigen. Es
  ist wichtig, dass sie lernen, sich selbst und anderen gegenüber mitfühlender
  und nachsichtiger zu sein und einen Ausgleich zwischen ihren praktischen und
  emotionalen Bedürfnissen zu finden.
</p>
<% } %> <% if (key2 === 'aquarius') { %>
<h3 class="horo">Jungfrau & Wassermann</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Jungfrau und Mond in Wassermann
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Jungfrau und Mondzeichen in Wassermann
  verbindet die analytische und detailorientierte Natur der Jungfrau mit der
  innovativen und unkonventionellen Art des Wassermanns. Menschen mit dieser
  Konstellation sind oft intelligent, praktisch und gleichzeitig visionär. Sie
  besitzen die Fähigkeit, präzise zu denken und zu planen, während sie auch
  offen für neue Ideen und Konzepte sind. Diese Mischung macht sie zu
  großartigen Problemlösern, die sowohl kreative als auch praktische Lösungen
  finden können. Ihre Fähigkeit, über den Tellerrand hinauszuschauen, gepaart
  mit einer methodischen Herangehensweise, macht sie zu wertvollen
  Teammitgliedern und Führungskräften. In Beziehungen und emotionalen
  Situationen zeigen sich diese Menschen oft als unabhängige und dennoch
  unterstützende Partner. Sie schätzen Freiheit und Autonomie, sowohl für sich
  selbst als auch für ihre Partner. Ihre emotionale Natur, beeinflusst vom
  Wassermann, neigt dazu, distanziert und rational zu sein, was ihnen hilft,
  Konflikte objektiv zu betrachten und pragmatische Lösungen zu finden.
  Gleichzeitig sorgt die Jungfrau-Sonne dafür, dass sie fürsorglich und
  aufmerksam gegenüber den Bedürfnissen ihrer Liebsten sind. Sie suchen nach
  Beziehungen, die auf intellektueller Kompatibilität und gegenseitigem Respekt
  basieren, und fühlen sich von Partnern angezogen, die ihre Unabhängigkeit und
  ihren freien Geist schätzen. Allerdings können Menschen mit dieser Kombination
  auch auf Herausforderungen stoßen. Ihre Tendenz, Gefühle rational zu
  analysieren und ihre emotionale Distanz zu bewahren, kann manchmal als Kälte
  oder Unnahbarkeit interpretiert werden. Sie neigen dazu, sich in ihren
  Gedanken und Ideen zu verlieren, was dazu führen kann, dass sie ihre
  emotionale Verbindung zu anderen vernachlässigen. Außerdem kann ihre kritische
  Natur, verstärkt durch die Jungfrau- Sonne, dazu führen, dass sie manchmal zu
  anspruchsvoll oder perfektionistisch gegenüber sich selbst und anderen sind.
  Es ist wichtig für sie, ein Gleichgewicht zwischen ihrer intellektuellen und
  emotionalen Seite zu finden und zu lernen, ihre Gefühle auf eine offene und
  herzliche Weise auszudrücken.
</p>
<% } %> <% if (key2 === 'pisces') { %>
<h3 class="horo">Jungfrau & Fische</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Jungfrau und Mond in Fische
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Jungfrau und Mondzeichen in Fische
  vereint die pragmatische und analytische Natur der Jungfrau mit der sensiblen
  und intuitiven Seite der Fische. Menschen mit dieser Konstellation besitzen
  eine einzigartige Fähigkeit, praktische Effizienz mit emotionaler Tiefe zu
  verbinden. Sie sind in der Lage, sowohl in der realen Welt methodisch und
  organisiert zu handeln als auch tief in die emotionale und spirituelle Ebene
  einzutauchen. Diese Kombination macht sie zu einfühlsamen und hilfsbereiten
  Individuen, die immer darauf bedacht sind, das Beste für sich und ihre
  Umgebung zu erreichen. In Beziehungen und emotionalen Situationen zeigen sich
  Menschen mit dieser Kombination als fürsorgliche und verständnisvolle Partner.
  Sie haben ein großes Herz und eine starke Fähigkeit, die Gefühle und
  Bedürfnisse ihrer Liebsten zu erkennen und darauf einzugehen. Ihre
  Jungfrau-Sonne sorgt dafür, dass sie praktisch und zuverlässig sind, während
  der Fische-Mond ihnen ermöglicht, tiefe emotionale Verbindungen aufzubauen und
  Mitgefühl zu zeigen. Sie streben nach harmonischen und erfüllenden
  Beziehungen, in denen sie sowohl Sicherheit als auch emotionale Tiefe finden.
  Ihre Bereitschaft, sich um andere zu kümmern und ihre eigenen Bedürfnisse
  zurückzustellen, macht sie zu wertvollen Partnern und Freunden. Allerdings
  können Menschen mit dieser Kombination auch auf Herausforderungen stoßen. Die
  pragmatische und oft kritische Natur der Jungfrau kann manchmal im Widerspruch
  zu der träumerischen und sensiblen Seite der Fische stehen. Diese innere
  Spannung kann zu Selbstzweifeln und Unsicherheiten führen, besonders wenn sie
  das Gefühl haben, den hohen Erwartungen, die sie an sich selbst stellen, nicht
  gerecht zu werden. Zudem kann ihre Tendenz, sich zu sehr auf die Bedürfnisse
  anderer zu konzentrieren, dazu führen, dass sie ihre eigenen Bedürfnisse
  vernachlässigen. Es ist wichtig für sie, ein Gleichgewicht zwischen
  Pragmatismus und Emotionen zu finden und sich selbst genauso viel Fürsorge und
  Verständnis zu schenken wie ihren Mitmenschen.
</p>
<% } %>