<% if (key2 === 'aries') { %>
<h3 class="horo">Wassermann & Widder</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Wassermann und Mond im Widder
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Wassermann und Mondzeichen in Widder
  vereint die innovative, unkonventionelle Natur des Wassermanns mit der
  dynamischen, impulsiven Energie des Widders. Menschen mit dieser Kombination
  sind oft visionäre Denker, die neue Ideen und Perspektiven mit einer
  beeindruckenden Entschlossenheit und Tatkraft verfolgen. Ihre Fähigkeit,
  außerhalb der traditionellen Denkweisen zu operieren, gepaart mit einem
  starken Antrieb und Mut, führt dazu, dass sie oft als Pioniere in ihren
  Bereichen angesehen werden. Sie scheuen sich nicht davor, Risiken einzugehen,
  um ihre einzigartigen Visionen zu verwirklichen, und besitzen eine natürliche
  Führungsqualität, die andere inspiriert und motiviert. In Beziehungen und
  emotionalen Situationen zeigen diese Individuen eine leidenschaftliche und
  unabhängige Seite. Sie suchen nach Partnern, die ihre Freiheit und
  Individualität respektieren und sie in ihren Abenteuern und Bestrebungen
  unterstützen. Ihre Emotionen sind oft intensiv und direkt, und sie zögern
  nicht, ihre Bedürfnisse und Wünsche klar zu kommunizieren. Diese Klarheit und
  Ehrlichkeit können ihre Beziehungen stärken, da sie keine Angst davor haben,
  Konflikte anzusprechen und Lösungen zu finden. Gleichzeitig bringen sie eine
  spielerische und abenteuerlustige Energie in ihre Beziehungen, was für eine
  aufregende und dynamische Partnerschaft sorgt. Allerdings können auch
  problematische Aspekte bei dieser Kombination auftreten. Die starke Betonung
  auf Unabhängigkeit und Freiheit kann manchmal zu Konflikten führen, besonders
  wenn ihre Partner eine stabilere und beständigere Beziehung erwarten. Ihre
  impulsive Natur kann dazu führen, dass sie Entscheidungen treffen, ohne die
  langfristigen Konsequenzen vollständig zu bedenken, was zu Spannungen und
  Missverständnissen führen kann. Zudem könnte ihre Tendenz, sich auf ihre
  eigenen Ziele und Interessen zu konzentrieren, als egoistisch wahrgenommen
  werden, wenn sie nicht darauf achten, die Bedürfnisse ihrer Partner
  ausreichend zu berücksichtigen. Es ist wichtig, dass sie lernen, ein
  Gleichgewicht zwischen ihrer Unabhängigkeit und der Fürsorge für ihre
  Beziehungen zu finden, um langfristig harmonische und erfüllende Verbindungen
  zu schaffen.
</p>
<% } %> <% if (key2 === 'taurus') { %>
<h3 class="horo">Wassermann & Stier</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Wassermann und Mond im Stier
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Wassermann und Mondzeichen in Stier
  vereint den innovativen, unkonventionellen Geist des Wassermanns mit der
  bodenständigen, stabilen Energie des Stiers. Menschen mit dieser
  astrologischen Kombination sind oft kreative Denker, die ihre Visionen mit
  einer praktischen und geduldigen Herangehensweise umsetzen. Sie neigen dazu,
  neue Ideen und Konzepte zu entwickeln, aber sie tun dies mit einer
  Beharrlichkeit und Ausdauer, die ihnen ermöglicht, ihre Projekte zu Ende zu
  bringen. Diese Verbindung verleiht ihnen eine besondere Fähigkeit, Innovation
  mit Realitätssinn zu verbinden, wodurch sie oft in der Lage sind,
  langfristige, nachhaltige Veränderungen zu bewirken. In Beziehungen und
  emotionalen Situationen zeigt sich diese Kombination als ein Mix aus
  Unabhängigkeit und Beständigkeit. Menschen mit dieser Kombination suchen nach
  stabilen und sicheren Beziehungen, in denen sie gleichzeitig ihre Freiheit
  bewahren können. Sie sind loyale und zuverlässige Partner, die viel Wert auf
  Vertrauen und Kontinuität legen. Emotionen werden eher ruhig und überlegt
  ausgedrückt, und sie schätzen eine harmonische und friedliche Atmosphäre. Ihre
  Partner können sich darauf verlassen, dass sie in schwierigen Zeiten standhaft
  bleiben und Lösungen mit einem kühlen Kopf finden. Diese Mischung aus
  Beständigkeit und Offenheit für Neues kann sehr anziehend sein, da sie eine
  ausgewogene und stabile Beziehung ermöglicht. Allerdings können auch
  problematische Aspekte auftreten. Die starke Betonung auf Beständigkeit und
  Sicherheit des Mondzeichens in Stier kann manchmal im Widerspruch zu dem
  Bedürfnis des Wassermanns nach Freiheit und Veränderung stehen. Diese Spannung
  kann zu inneren Konflikten führen, wenn der Wunsch nach Stabilität mit dem
  Drang nach Unabhängigkeit kollidiert. Zudem kann die Sturheit des Stiers dazu
  führen, dass sie sich gegen notwendige Veränderungen sträuben, was wiederum
  den fortschrittlichen Geist des Wassermanns frustrieren könnte. Es ist
  wichtig, dass sie lernen, ein Gleichgewicht zwischen ihrer Stabilität und
  ihrer Offenheit für neue Ideen zu finden, um ihre persönlichen und beruflichen
  Ziele erfolgreich zu erreichen, ohne dabei ihre inneren Bedürfnisse zu
  vernachlässigen.
</p>
<% } %> <% if (key2 === 'gemini') { %>
<h3 class="horo">Wassermann & Zwillinge</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Wassermann und Mond in Zwillinge
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Wassermann und Mondzeichen in Zwillinge
  vereint die innovativen, zukunftsorientierten Eigenschaften des Wassermanns
  mit der neugierigen, kommunikativen Natur der Zwillinge. Menschen mit dieser
  astrologischen Kombination sind oft intellektuell begabt, vielseitig
  interessiert und äußerst sozial. Sie haben ein starkes Bedürfnis nach
  geistiger Anregung und sind ständig auf der Suche nach neuen Informationen und
  Ideen. Ihre Fähigkeit, schnell zu denken und sich anzupassen, ermöglicht es
  ihnen, sich in verschiedenen sozialen und beruflichen Umgebungen mühelos
  zurechtzufinden. Diese Kombination verleiht ihnen eine ausgeprägte
  Originalität und den Wunsch, konventionelle Grenzen zu überschreiten und neue
  Wege zu erkunden. In Beziehungen und emotionalen Situationen zeichnen sich
  Menschen mit dieser Kombination durch ihre gesellige und kommunikative Art
  aus. Sie lieben es, sich mit anderen auszutauschen und schätzen tiefgründige
  Gespräche ebenso wie humorvolle, leichte Interaktionen. Ihre Beziehungen sind
  oft geprägt von einer lebendigen Dynamik, da sie stets bestrebt sind, neue
  Erfahrungen und Perspektiven zu teilen. Sie sind in der Lage, eine angenehme
  Balance zwischen Nähe und Freiheit zu finden, da beide Zeichen eine gewisse
  Unabhängigkeit schätzen. Ihre Partner können sich auf ihre Loyalität und ihren
  Einfallsreichtum verlassen, was dazu beiträgt, eine abwechslungsreiche und
  stabile Partnerschaft zu führen. Allerdings können auch problematische Aspekte
  auftreten. Die ständige Suche nach neuen Erfahrungen und Informationen kann
  dazu führen, dass sie sich leicht ablenken lassen und Schwierigkeiten haben,
  sich langfristig auf eine Sache zu konzentrieren. Diese Rastlosigkeit kann in
  ihren Beziehungen als Unzuverlässigkeit oder mangelndes Engagement empfunden
  werden. Zudem kann die Kombination aus intellektuellem Wassermann und
  emotional distanzierten Zwillingen manchmal zu einer gewissen
  Oberflächlichkeit führen, bei der tiefere emotionale Bedürfnisse übersehen
  werden. Es ist wichtig, dass sie lernen, ihre geistige Neugierde mit einer
  tieferen emotionalen Bindung zu verbinden, um eine ausgewogene und erfüllende
  Lebensweise zu erreichen.
</p>
<% } %> <% if (key2 === 'cancer') { %>
<h3 class="horo">Wassermann & Krebs</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Wassermann und Mond in Krebs
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Wassermann und Mondzeichen in Krebs
  vereint die unkonventionelle, zukunftsorientierte Natur des Wassermanns mit
  der fürsorglichen, emotionalen Tiefe des Krebses. Menschen mit dieser
  astrologischen Kombination sind oft innovativ und visionär, aber gleichzeitig
  sensibel und intuitiv. Sie haben die Fähigkeit, originelle Ideen und Konzepte
  zu entwickeln und gleichzeitig die emotionalen Bedürfnisse und Gefühle anderer
  zu verstehen. Diese Mischung macht sie zu einfühlsamen Idealisten, die
  bestrebt sind, die Welt um sich herum zu verbessern, während sie gleichzeitig
  eine tiefe Verbindung zu ihren Mitmenschen aufrechterhalten. In Beziehungen
  und emotionalen Situationen sind sie besonders einfühlsam und unterstützend.
  Der Mond im Krebs verleiht ihnen eine starke Fähigkeit zur Empathie und ein
  tiefes Bedürfnis nach emotionaler Nähe und Sicherheit. Sie sind in der Lage,
  ihren Partnern viel Verständnis und Zuneigung zu schenken, und legen großen
  Wert auf ein harmonisches und liebevolles Umfeld. Ihr Wassermann-Sonnenzeichen
  bringt eine zusätzliche Dimension von Freiheit und Unabhängigkeit in ihre
  Beziehungen, was bedeutet, dass sie ihren Partnern sowohl emotionale Tiefe als
  auch Raum für individuelle Entwicklung bieten können. Diese Balance zwischen
  Nähe und Freiheit kann ihre Beziehungen besonders stabil und erfüllend machen.
  Allerdings können auch problematische Aspekte auftreten. Die rationalen und
  oft distanzierten Qualitäten des Wassermanns können manchmal im Widerspruch zu
  den emotionalen und häuslichen Bedürfnissen des Krebs-Mondes stehen. Diese
  innere Spannung kann zu Konflikten führen, bei denen sie sich zwischen dem
  Wunsch nach persönlicher Freiheit und der Sehnsucht nach emotionaler
  Geborgenheit hin- und hergerissen fühlen. Außerdem können sie in stressigen
  Situationen dazu neigen, sich emotional zurückzuziehen oder ihre Gefühle zu
  rationalisieren, anstatt sie offen auszudrücken. Es ist wichtig, dass sie
  lernen, ihre emotionalen Bedürfnisse zu akzeptieren und auszudrücken, um ein
  ausgewogenes und erfüllendes Leben zu führen.
</p>
<% } %> <% if (key2 === 'leo') { %>
<h3 class="horo">Wassermann & Löwe</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Wassermann und Mond in Löwe
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Wassermann und Mondzeichen in Löwe
  vereint die innovative, unabhängige Natur des Wassermanns mit der
  leidenschaftlichen, selbstbewussten Energie des Löwen. Menschen mit dieser
  astrologischen Kombination sind oft charismatisch und kreativ, mit einem
  starken Drang, ihre einzigartigen Ideen und Visionen zum Ausdruck zu bringen.
  Sie haben eine natürliche Fähigkeit, Menschen zu inspirieren und anzuführen,
  wobei sie ihre progressive Denkweise mit einer beeindruckenden Präsenz und
  Überzeugungskraft verbinden. Diese Mischung macht sie zu charismatischen
  Visionären, die in der Lage sind, ihre kreativen Impulse in innovative
  Projekte und Initiativen umzusetzen. In Beziehungen und emotionalen
  Situationen sind sie besonders leidenschaftlich und großzügig. Der Mond im
  Löwen verleiht ihnen eine warme, großzügige und herzliche Art, die in
  Kombination mit der Unabhängigkeit des Wassermanns zu einer dynamischen und
  aufregenden Partnerschaft führen kann. Sie haben ein starkes Bedürfnis nach
  Anerkennung und Bewunderung und geben im Gegenzug viel Liebe und
  Unterstützung. Ihre Beziehungen sind oft von intensiver Leidenschaft und einem
  tiefen Bedürfnis nach emotionaler und intellektueller Verbindung geprägt. Sie
  ziehen Partner an, die ihre Kreativität und Individualität schätzen und
  fördern. Allerdings können auch problematische Aspekte auftreten. Die Tendenz
  des Wassermanns zur Unabhängigkeit und Distanz kann manchmal im Widerspruch zu
  den Bedürfnissen des Löwen nach Aufmerksamkeit und Bestätigung stehen. Diese
  innere Spannung kann zu Konflikten führen, bei denen sie sich zwischen dem
  Wunsch nach Freiheit und dem Bedürfnis nach Anerkennung hin- und hergerissen
  fühlen. Zudem können sie in stressigen Situationen dazu neigen, entweder zu
  distanziert und unemotional (Wassermann) oder zu dominant und egozentrisch
  (Löwe) zu reagieren. Es ist wichtig, dass sie lernen, diese gegensätzlichen
  Bedürfnisse zu balancieren und ihre Kommunikationsfähigkeiten zu stärken, um
  ein harmonisches und erfüllendes Leben zu führen.
</p>
<% } %> <% if (key2 === 'virgo') { %>
<h3 class="horo">Wassermann & Jungfrau</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Wassermann und Mond in Jungfrau
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Wassermann und Mondzeichen in Jungfrau
  verbindet die innovative, freiheitsliebende Natur des Wassermanns mit der
  praktischen, analytischen Seite der Jungfrau. Menschen mit dieser
  astrologischen Kombination sind oft intellektuell und detailorientiert, wobei
  sie ihre unkonventionellen Ideen und Visionen mit einer sorgfältigen,
  methodischen Herangehensweise umsetzen. Sie sind sowohl kreativ als auch
  praktisch veranlagt, was sie zu effektiven Problemlösern macht, die in der
  Lage sind, innovative Lösungen für komplexe Herausforderungen zu finden. Ihre
  Fähigkeit, das große Ganze zu sehen und gleichzeitig auf Details zu achten,
  macht sie besonders vielseitig und anpassungsfähig. In Beziehungen und
  emotionalen Situationen zeigen sie eine Mischung aus Unabhängigkeit und
  Fürsorglichkeit. Der Wassermann verleiht ihnen eine offene, freundliche Art,
  während die Jungfrau-Mondzeichen sie dazu bringt, auf die Bedürfnisse ihrer
  Partner einzugehen und praktische Unterstützung zu bieten. Sie sind loyale und
  zuverlässige Partner, die Wert auf Ehrlichkeit und Klarheit in ihren
  Beziehungen legen. Emotional sind sie vielleicht etwas reserviert, neigen
  dazu, ihre Gefühle durch rationale Analysen zu verarbeiten und zeigen ihre
  Zuneigung oft durch Taten anstatt durch Worte. Ihre Partner schätzen ihre
  Zuverlässigkeit und die Art und Weise, wie sie ihre Visionen in die Realität
  umsetzen können. Allerdings können auch problematische Aspekte auftreten. Der
  Wassermann kann manchmal als distanziert und emotional unnahbar wahrgenommen
  werden, was in Kombination mit der kritischen Natur der Jungfrau zu Spannungen
  führen kann. Sie können dazu neigen, übermäßig analytisch und kritisch zu
  sein, sowohl sich selbst als auch ihren Partnern gegenüber, was zu Konflikten
  und Missverständnissen führen kann. Zudem kann der innere Drang des
  Wassermanns nach Freiheit und Unabhängigkeit mit dem Bedürfnis der Jungfrau
  nach Stabilität und Sicherheit kollidieren. Es ist wichtig, dass sie lernen,
  ein Gleichgewicht zwischen diesen gegensätzlichen Bedürfnissen zu finden und
  ihre emotionale Kommunikation zu verbessern, um harmonische und erfüllende
  Beziehungen zu führen.
</p>
<% } %> <% if (key2 === 'libra') { %>
<h3 class="horo">Wassermann & Waage</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Wassermann und Mond in Waage
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Wassermann und Mondzeichen in Waage
  vereint den visionären, unkonventionellen Charakter des Wassermanns mit der
  harmonischen, diplomatischen Natur der Waage. Menschen mit dieser
  astrologischen Kombination sind oft sozial versiert und haben ein natürliches
  Talent dafür, Gruppen zusammenzubringen und Gemeinschaften zu fördern. Der
  Wassermann verleiht ihnen Originalität und eine starke Vorliebe für innovative
  Ideen, während die Waage ihren Sinn für Ästhetik und Harmonie verstärkt. Sie
  sind intellektuell neugierig und suchen ständig nach neuen Erkenntnissen,
  wobei sie gleichzeitig Wert auf ausgewogene und gerechte Lösungen legen. In
  Beziehungen und emotionalen Situationen sind diese Menschen charmant und
  einfühlsam. Der Wassermann sorgt dafür, dass sie offen und freundlich auf
  andere zugehen, während die Waage- Mondzeichen ihnen hilft, ein starkes
  Bedürfnis nach Harmonie und Kooperation zu entwickeln. Sie streben nach fairen
  und ausgewogenen Partnerschaften und sind oft bereit, Kompromisse einzugehen,
  um Konflikte zu vermeiden. Ihre Fähigkeit, sowohl intellektuell als auch
  emotional in einer Beziehung präsent zu sein, macht sie zu verständnisvollen
  und unterstützenden Partnern. Sie legen großen Wert auf offene Kommunikation
  und schätzen es, wenn ihre Beziehungen von gegenseitigem Respekt und Fairness
  geprägt sind. Allerdings können auch problematische Aspekte auftreten. Die
  starke Betonung auf Harmonie und Vermeidung von Konflikten, die durch das
  Waage-Mondzeichen kommt, kann dazu führen, dass sie Schwierigkeiten haben,
  sich mit schwierigen Themen auseinanderzusetzen oder klare Grenzen zu setzen.
  Der Wassermann kann zudem als emotional distanziert wahrgenommen werden, was
  in Kombination mit der manchmal unentschlossenen Natur der Waage zu
  Unsicherheiten in der Beziehung führen kann. Ihre Neigung, Konflikte zu
  vermeiden, könnte auch dazu führen, dass sie notwendige Konfrontationen
  hinauszögern oder vermeiden, was langfristig zu größeren Problemen führen
  kann. Es ist wichtig, dass sie lernen, ihre Bedürfnisse und Gefühle klar zu
  kommunizieren und sich nicht davor scheuen, schwierige Gespräche zu führen, um
  ein ausgewogenes und erfülltes Leben zu führen.
</p>
<% } %> <% if (key2 === 'scorpio') { %>
<h3 class="horo">Wassermann & Skorpion</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Wassermann und Mond in Skorpion
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Wassermann und Mondzeichen in Skorpion
  vereint den intellektuellen, zukunftsorientierten Wassermann mit dem
  tiefgründigen, leidenschaftlichen Skorpion. Menschen mit dieser astrologischen
  Konstellation sind oft faszinierende Persönlichkeiten, die sowohl eine starke
  analytische Fähigkeit als auch eine intensive emotionale Tiefe besitzen. Der
  Wassermann verleiht ihnen eine innovative Denkweise und den Drang,
  gesellschaftliche Normen zu hinterfragen und zu verändern, während der
  Skorpion ihre innere Entschlossenheit und ihr Bedürfnis nach emotionaler
  Authentizität verstärkt. Diese Kombination ermöglicht es ihnen, sich intensiv
  mit den Geheimnissen des Lebens auseinanderzusetzen und tiefgreifende
  Veränderungen in ihrem Umfeld zu bewirken. In Beziehungen und emotionalen
  Situationen zeigen sie eine einzigartige Mischung aus Unabhängigkeit und
  Intensität. Der Wassermann sorgt dafür, dass sie freiheitsliebend und oft
  unkonventionell in ihrer Annäherung an Beziehungen sind, während der Skorpion
  ihnen die Fähigkeit gibt, tief zu lieben und starke emotionale Bindungen
  einzugehen. Sie sind loyale Partner, die ihre Beziehungen mit großer
  Leidenschaft und Hingabe pflegen. Gleichzeitig schätzen sie ihre
  Unabhängigkeit und benötigen einen Partner, der ihre Freiheit respektiert und
  ihre intellektuellen und emotionalen Bedürfnisse versteht. Ihre Fähigkeit,
  sowohl rational als auch emotional zu agieren, macht sie zu verständnisvollen
  und einfühlsamen Partnern, die jedoch auch eine gewisse emotionale Tiefe und
  Intensität in ihren Beziehungen erwarten. Allerdings können auch
  problematische Aspekte auftreten. Die intensive Natur des Skorpions kann
  manchmal im Widerspruch zu der eher distanzierten und unpersönlichen Art des
  Wassermanns stehen, was zu inneren Konflikten und Unsicherheiten führen kann.
  Der Wassermann kann Schwierigkeiten haben, die tiefe emotionale Bindung und
  Kontrolle, die der Skorpion verlangt, zu akzeptieren, während der Skorpion die
  emotionale Distanz und das Bedürfnis nach Unabhängigkeit des Wassermanns als
  abweisend empfinden könnte. Diese Spannungen können zu Missverständnissen und
  emotionalen Turbulenzen in ihren Beziehungen führen. Es ist wichtig, dass sie
  lernen, ein Gleichgewicht zwischen emotionaler Intensität und persönlicher
  Freiheit zu finden, um eine harmonische und erfüllende Beziehung zu
  gewährleisten.
</p>
<% } %> <% if (key2 === 'sagittarius') { %>
<h3 class="horo">Wassermann & Schütze</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Wassermann und Mond in Schütze
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Wassermann und Mondzeichen in Schütze
  bringt zwei abenteuerlustige und freiheitsliebende Energien zusammen. Menschen
  mit dieser Konstellation sind oft visionär und zukunftsorientiert, immer auf
  der Suche nach neuen Ideen und Möglichkeiten. Der Wassermann verleiht ihnen
  einen scharfen Intellekt und einen starken Drang nach Unabhängigkeit, während
  der Schütze-Mond ihre emotionale Natur mit Optimismus und einem
  unerschütterlichen Glauben an das Gute im Leben bereichert. Sie sind sehr
  offen für neue Erfahrungen und lieben es, ihren Horizont zu erweitern, sei es
  durch Reisen, Lernen oder den Austausch mit anderen Kulturen. In Beziehungen
  und emotionalen Situationen sind diese Individuen warmherzig und inspirierend.
  Sie bringen eine positive und enthusiastische Energie in ihre Partnerschaften
  ein, was sie zu aufregenden und engagierten Partnern macht. Der Schütze-Mond
  sorgt dafür, dass sie ihre Gefühle offen und ehrlich ausdrücken, während der
  Wassermann-Sonne ihnen hilft, ihre emotionale Unabhängigkeit zu bewahren. Sie
  schätzen Freiheit und Unabhängigkeit sowohl für sich selbst als auch für ihre
  Partner und fühlen sich in Beziehungen wohl, die Raum für persönliche
  Entwicklung und Abenteuer bieten. Ihre Fähigkeit, über den Tellerrand
  hinauszuschauen, macht sie zu großartigen Unterstützern und inspirierenden
  Freunden. Allerdings können auch problematische Aspekte auftreten. Die starke
  Unabhängigkeit und der Wunsch nach Freiheit können manchmal als
  Unzuverlässigkeit oder emotionale Distanz wahrgenommen werden. Der Wassermann
  kann sich schnell gelangweilt fühlen, wenn er das Gefühl hat, dass seine
  Freiheit eingeschränkt wird, während der Schütze-Mond manchmal zu impulsiven
  Entscheidungen neigt, die nicht immer gut durchdacht sind. Diese Kombination
  kann zu einem gewissen Mangel an Stabilität führen, insbesondere wenn es um
  langfristige Verpflichtungen geht. Es ist wichtig, dass sie lernen, ein
  Gleichgewicht zwischen ihrer Freiheit und den emotionalen Bedürfnissen ihrer
  Partner zu finden, um harmonische und erfüllende Beziehungen zu führen.
</p>
<% } %> <% if (key2 === 'capricorn') { %>
<h3 class="horo">Wassermann & Steinbock</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Wassermann und Mond in Steinbock
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Wassermann und Mondzeichen in Steinbock
  verbindet den visionären, unkonventionellen Geist des Wassermanns mit der
  disziplinierten, zielstrebigen Natur des Steinbocks. Menschen mit dieser
  astrologischen Konstellation sind oft sehr ehrgeizig und haben eine klare
  Vorstellung davon, wie sie ihre innovativen Ideen in die Realität umsetzen
  können. Der Wassermann verleiht ihnen Kreativität und die Fähigkeit, über den
  Tellerrand hinauszuschauen, während der Steinbock ihnen die nötige Ausdauer
  und Struktur gibt, um ihre Ziele systematisch zu verfolgen. Diese Kombination
  macht sie zu außergewöhnlichen Problemlösern, die in der Lage sind, sowohl
  langfristige Visionen zu entwickeln als auch praktische Schritte zu deren
  Verwirklichung zu unternehmen. In Beziehungen und emotionalen Situationen
  zeigen sie eine interessante Mischung aus emotionaler Zurückhaltung und tiefem
  Verantwortungsbewusstsein. Der Steinbock-Mond sorgt dafür, dass sie ihre
  Gefühle nicht leichtfertig zeigen und oft als sehr kontrolliert und reserviert
  erscheinen. Gleichzeitig gibt der Wassermann ihnen eine gewisse Unabhängigkeit
  und das Bedürfnis nach Freiheit und Raum in ihren Beziehungen. Sie sind loyale
  und zuverlässige Partner, die sich ernsthaft um das Wohl ihrer Liebsten
  kümmern, aber sie benötigen auch Partner, die ihre Unabhängigkeit und ihre
  manchmal distanzierte Art respektieren. Ihre Beziehungen sind oft geprägt von
  Stabilität und Verlässlichkeit, wobei sie bestrebt sind, eine Balance zwischen
  Nähe und individueller Freiheit zu finden. Allerdings können auch
  problematische Aspekte auftreten. Die rational-logische Natur des Steinbocks
  kann manchmal im Widerspruch zur freigeistigen und oft unkonventionellen
  Denkweise des Wassermanns stehen. Dies kann zu inneren Spannungen führen, wenn
  der Wunsch nach Sicherheit und Struktur des Steinbocks nicht mit dem Bedürfnis
  nach Innovation und Veränderung des Wassermanns übereinstimmt. Der Wassermann
  kann die emotionale Zurückhaltung und die oft konservative Herangehensweise
  des Steinbocks als einschränkend empfinden, während der Steinbock die spontane
  und manchmal unvorhersehbare Natur des Wassermanns als destabilisiert
  empfindet. Es ist wichtig, dass sie lernen, diese unterschiedlichen
  Bedürfnisse zu harmonisieren, um sowohl persönliche Freiheit als auch
  emotionale Stabilität in ihren Beziehungen zu gewährleisten.
</p>
<% } %> <% if (key2 === 'aquarius') { %>
<h3 class="horo">Wassermann & Wassermann</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Wassermann und Mond ebenfalls in Wassermann
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Wassermann und Mondzeichen in Wassermann
  führt zu einer Persönlichkeit, die stark von Unabhängigkeit, Originalität und
  Innovation geprägt ist. Diese Menschen haben einen ausgeprägten Intellekt und
  sind oft visionär, mit einem starken Drang, die Welt zu verbessern und soziale
  Normen zu hinterfragen. Sie sind kreativ und lieben es, neue Ideen und
  Konzepte zu entwickeln, die oft ihrer Zeit voraus sind. Diese doppelte
  Wassermann-Energie verstärkt ihre Fähigkeit, unkonventionell zu denken und aus
  der Masse herauszustechen. In Beziehungen und emotionalen Situationen agieren
  Menschen mit dieser Kombination auf eine sehr freie und offene Art. Sie
  schätzen ihre Unabhängigkeit und erwarten dasselbe von ihren Partnern.
  Emotional können sie distanziert wirken, da sie ihre Gefühle eher
  intellektuell als sentimental ausdrücken. Sie bevorzugen Beziehungen, die auf
  gegenseitigem Respekt und Freiheit basieren und in denen beide Partner ihre
  individuellen Interessen und Freiheiten wahren können. Ihr Bedürfnis nach
  sozialer Gerechtigkeit und menschlicher Verbundenheit zeigt sich auch in ihren
  Beziehungen, da sie oft nach Partnern suchen, die ihre Ideale und Visionen
  teilen. Allerdings können auch problematische Aspekte auftreten. Die starke
  Betonung der Unabhängigkeit und des intellektuellen Ansatzes kann dazu führen,
  dass sie emotional distanziert wirken und Schwierigkeiten haben, tiefe
  emotionale Bindungen einzugehen. Ihre Tendenz, sich von Konventionen zu lösen
  und ständig nach neuen Erfahrungen zu streben, kann zu Instabilität in ihren
  Beziehungen führen. Sie müssen darauf achten, ein Gleichgewicht zwischen ihrer
  Freiheit und den emotionalen Bedürfnissen ihrer Partner zu finden, um
  langfristige und erfüllende Beziehungen zu führen. Zudem besteht die Gefahr,
  dass sie sich isolieren, wenn sie das Gefühl haben, dass niemand ihre Visionen
  und Ideen wirklich versteht.
</p>
<% } %> <% if (key2 === 'pisces') { %>
<h3 class="horo">Wassermann & Fische</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Wassermann und Mond in Fische
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Wassermann und Mondzeichen in Fische
  führt zu einer Persönlichkeit, die sowohl visionär als auch zutiefst intuitiv
  ist. Der Wassermann bringt eine innovative und zukunftsorientierte Einstellung
  mit sich, während die Fische-Energie Sensibilität und ein starkes
  Einfühlungsvermögen einbringt. Menschen mit dieser Kombination sind oft sehr
  kreativ und haben eine einzigartige Art, die Welt zu sehen. Sie sind
  inspiriert von neuen Ideen und sind motiviert, Veränderungen zu bewirken, die
  das Leben für alle verbessern. Ihre intuitive Natur ermöglicht es ihnen,
  tiefer in menschliche Emotionen und spirituelle Aspekte des Lebens
  einzutauchen. In Beziehungen und emotionalen Situationen verhalten sich
  Menschen mit dieser Kombination äußerst einfühlsam und verständnisvoll. Sie
  haben eine angeborene Fähigkeit, die Gefühle und Bedürfnisse anderer zu
  erkennen und darauf einzugehen. Diese Personen neigen dazu, sehr romantisch
  und träumerisch zu sein und schätzen tiefe emotionale Verbindungen. Sie
  bringen oft eine starke imaginative und kreative Energie in ihre Beziehungen
  ein, was ihre Partnerschaften bereichern kann. Ihr Bedürfnis nach Freiheit und
  Individualität bleibt jedoch bestehen, was sie dazu veranlasst, Beziehungen zu
  suchen, die Raum für persönliche Entfaltung und Unabhängigkeit bieten.
  Allerdings können auch problematische Aspekte auftreten. Die Kombination von
  Wassermann und Fische kann manchmal zu inneren Konflikten führen, da der
  intellektuelle Wassermann und der emotionale Fisch unterschiedliche
  Bedürfnisse haben. Diese Menschen könnten Schwierigkeiten haben, ihre eigene
  Identität zu definieren und klare Grenzen zu setzen, was zu Verwirrung und
  Unsicherheit führen kann. Ihre starke Sensibilität kann sie auch anfällig für
  emotionale Überforderung machen, besonders wenn sie zu viel von den Gefühlen
  anderer aufnehmen. Es ist wichtig, dass sie lernen, ein Gleichgewicht zwischen
  ihrem Bedürfnis nach intellektueller Freiheit und emotionaler Tiefe zu finden,
  um stabile und erfüllende Beziehungen zu führen.
</p>
<% } %>