<% if (key === 'aries') { %>
<h6 class="horo"> Dein Mond steht im Tierkreiszeichen Widder </h6>
<p class="horo card">
  Der Mond im Widder kann eine emotionale Natur verleihen, die von Entschlossenheit,
  Leidenschaft und Spontanität geprägt ist. Diese Menschen fühlen stark, handeln impulsiv und
  suchen ständig nach neuen Herausforderungen. Ihr emotionales Wesen wird durch den feurigen
  und kämpferischen Charakter der Widdernatur geprägt, was sie zu energiegeladenen und
  handlungsorientierten Individuen macht.
  Sie neigen dazu, ihre Gefühle offen und unverblümt auszudrücken, ohne sich zurückzuhalten. Der
  Mond im Widder verleiht eine starke emotionale Unabhängigkeit und einen starken Wunsch nach
  Selbstbehauptung. Menschen mit diesem Mondzeichen können sich schnell gelangweilt fühlen
  und benötigen ständige Stimulation und Abwechslung, um sich emotional erfüllt zu fühlen.
  Allerdings können sie auch eine gewisse Impulsivität und Ungeduld zeigen, wenn ihre Bedürfnisse
  nicht sofort erfüllt werden. Es ist wichtig für sie, zu lernen, geduldiger zu sein und sich bewusst zu
  machen, wie ihre impulsiven Handlungen ihre zwischenmenschlichen Beziehungen beeinflussen
  können.
</p>
<% } %>
<% if (key === 'taurus') { %>
<h6 class="horo"> Dein Mond steht im Tierkreiszeichen Stier </h6>
<p class="horo card">
  Das Mondzeichen Stier verleiht ein starkes, stabiles und sinnliches emotionalen Wesen.
  Menschen mit diesem Mondzeichen suchen nach Sicherheit und Beständigkeit in ihren Gefühlen
  und Beziehungen. Der Mond im Stier verleiht eine tiefe Verbindung zur Natur und zur physischen
  Welt, wodurch häufig eine besondere Wertschätzung für Komfort, Luxus und Sinnlichkeit entsteht.
  Menschen mit dem Mond im Stier sind oft geduldig, treu und zuverlässig, und sie haben ein
  starkes Bedürfnis nach Sicherheit und materieller Stabilität. Sie sind auch bekannt für ihre
  Ausdauer und ihre Fähigkeit, Hindernisse zu überwinden, wenn es um die Verwirklichung ihrer
  Ziele und Wünsche geht. Allerdings können sie manchmal auch stur und besitzergreifend sein,
  insbesondere wenn es darum geht, ihre Sicherheit und ihre materiellen Besitztümer zu
  verteidigen.</p>
<% } %>
<% if (key === 'gemini') { %>
<h6 class="horo"> Dein Mond steht im Tierkreiszeichen Zwillinge </h6>
<p class="horo card">
  Das Mondzeichen Zwillinge verleiht eine emotionale Natur, die von Vielseitigkeit, Neugier und
  Kommunikationsfähigkeit geprägt ist. Menschen mit dem Mond in Zwillinge haben ein starkes
  Bedürfnis nach intellektueller Stimulation und Abwechslung in ihren emotionalen Erfahrungen. Sie
  neigen dazu, sich leicht anzupassen und sind offen für neue Ideen und Perspektiven.
  Ihre emotionalen Reaktionen können oft durch ihre intellektuelle Herangehensweise an Gefühle
  und Situationen geprägt sein. Sie sind ausgezeichnete Kommunikatoren und können ihre
  Emotionen leicht durch Worte und Ausdrucksmittel ausdrücken. Allerdings können sie auch zu
  Oberflächlichkeit und Unbeständigkeit neigen, da sie manchmal Schwierigkeiten haben, tiefe
  emotionale Bindungen einzugehen und sich festzulegen.
</p>
<% } %>
<% if (key === 'cancer') { %>
<h6 class="horo"> Dein Mond steht im Tierkreiszeichen Krebs </h6>
<p class="horo card">
  Das Mondzeichen Krebs verleiht eine emotionale Natur, die von Sensibilität, Fürsorge und einer
  starken Bindung an Familie und Heimat geprägt ist. Menschen mit dem Mond in Krebs haben ein
  starkes Bedürfnis nach Sicherheit und emotionaler Geborgenheit. Sie sind sehr empfänglich für
  die Stimmungen und Bedürfnisse anderer und neigen dazu, sich stark mit ihren Liebsten zu
  identifizieren.
  Ihre emotionalen Reaktionen sind oft stark von ihrer Intuition und ihren instinktiven Gefühlen
  geleitet. Sie können sehr fürsorglich und mitfühlend sein, und haben eine tiefe Verbindung zu ihrer
  Vergangenheit und ihren Wurzeln. Allerdings können sie auch zu Stimmungsschwankungen und
  einer gewissen Scheuheit gegenüber Veränderungen neigen, da sie oft dazu tendieren, sich
  emotional zurückzuziehen, wenn sie sich unsicher oder bedroht fühlen.
</p>
<% } %>
<% if (key === 'leo') { %>
<h6 class="horo"> Dein Mond steht im Tierkreiszeichen Löwe </h6>
<p class="horo card">
  Das Mondzeichen Löwe verleiht eine emotionale Natur, die von Stolz, Großzügigkeit und einem
  starken Bedürfnis nach Anerkennung und Bestätigung geprägt ist. Menschen mit dem Mond in
  Löwe haben ein ausgeprägtes Bedürfnis nach Selbstausdruck und Authentizität in ihren
  emotionalen Ausdrucksformen. Sie streben nach Wertschätzung und Aufmerksamkeit, und ihre
  Gefühle können oft durch den Wunsch nach Bewunderung und Lob beeinflusst werden.
  Ihre emotionalen Reaktionen sind oft leidenschaftlich und dramatisch, und sie können eine starke
  Führungspersönlichkeit sein, wenn es darum geht, Gefühle und Bedürfnisse auszudrücken. Sie
  haben darüber hinaus eine natürliche Neigung, das Leben mit Enthusiasmus und Kreativität zu
  betrachten, und tendieren dazu, in ihren Beziehungen großzügig und großherzig zu sein.
  Allerdings können sie auch zu einem gewissen Maß an Stolz und Egozentrik neigen, und sie
  können empfindlich auf Kritik reagieren, da ihr Selbstwertgefühl oft eng mit der Bestätigung von
  außen verbunden ist.
</p>
<% } %>
<% if (key === 'virgo') { %>
<h6 class="horo"> Dein Mond steht im Tierkreiszeichen Jungfrau </h6>
<p class="horo card">
  Das Mondzeichen Jungfrau verleiht eine emotionale Natur, die von Präzision, Organisation und
  einer starken Neigung zur Selbstverbesserung geprägt ist. Menschen mit dem Mond in Jungfrau
  haben ein ausgeprägtes Bedürfnis nach Ordnung und Effizienz in ihren emotionalen
  Ausdrucksformen. Sie sind oft sehr praktisch und analytisch in der Herangehensweise an ihre
  Gefühle und neigen dazu, rational und logisch zu denken, auch wenn es um ihre Emotionen geht.
  Ihre emotionalen Reaktionen sind oft zurückhaltend und reserviert, da sie dazu neigen, ihre
  Gefühle zu internalisieren und rational zu verarbeiten. Sie streben nach Perfektion und können
  sehr selbstkritisch sein, was dazu führen kann, dass sie sich ständig bemühen, sich selbst und
  ihre Umgebung zu verbessern. Menschen mit dem Mond in Jungfrau haben eine tiefe Verbindung
  zur Natur und können ein starkes Bedürfnis nach Gesundheit und Wohlbefinden haben. Allerdings
  können sie auch zu einem gewissen Maß an Kritik und Verurteilung neigen, sowohl sich selbst als
  auch anderen gegenüber, da sie oft hohe Standards anlegen, die schwer zu erfüllen sind.
</p>
<% } %>
<% if (key === 'libra') { %>
<h6 class="horo"> Dein Mond steht im Tierkreiszeichen Waage </h6>
<p class="horo card">
  Das Mondzeichen Waage verleiht eine emotionale Natur, die von Harmonie, Diplomatie und einem
  starken Sinn für Gerechtigkeit geprägt ist. Menschen mit dem Mond in Waage streben nach
  Ausgewogenheit und Frieden in ihren emotionalen Beziehungen und neigen dazu, Konflikte zu
  vermeiden. Sie sind oft charmant und liebenswürdig, und sie legen großen Wert auf
  zwischenmenschliche Beziehungen und soziale Verbindungen.
  Ihre emotionalen Reaktionen sind oft durch ihre Fähigkeit zur Empathie und zur Betrachtung
  verschiedener Perspektiven geprägt. Sie sind ausgezeichnete Vermittler und versuchen,
  Kompromisse zu finden, um Konflikte zu lösen und ein harmonisches Umfeld zu schaffen.
  Menschen mit dem Mond in Waage können jedoch auch dazu neigen, sich in Entscheidungen zu
  verzetteln und Schwierigkeiten haben, klare Grenzen zu setzen, da sie oft versuchen, es allen
  recht zu machen. Ihre Suche nach Harmonie kann dazu führen, dass sie sich in ihren eigenen
  Bedürfnissen vernachlässigen, während sie versuchen, die Bedürfnisse anderer zu erfüllen.
</p>
<% } %>
<% if (key === 'scorpio') { %>
<h6 class="horo"> Dein Mond steht im Tierkreiszeichen Skorpion </h6>
<p class="horo card">
  Das Mondzeichen Skorpion verleiht eine emotionale Natur, die von Tiefe, Leidenschaft und Stärke
  geprägt ist. Menschen mit dem Mond in Skorpion erleben ihre Gefühle oft auf einer intensiven
  Ebene und sind bekannt für ihre Fähigkeit, tiefe emotionale Verbindungen einzugehen. Sie haben
  eine starke Intuition und eine ausgeprägte Fähigkeit, die verborgenen Motive anderer zu
  erkennen.
  Ihre emotionalen Reaktionen können oft von einer starken Entschlossenheit und einem
  unbeugsamen Willen geprägt sein. Sie sind oft sehr loyal und engagiert in ihren Beziehungen, und
  sie können sich leidenschaftlich für das einsetzen, was ihnen wichtig ist. Menschen mit dem
  Mond in Skorpion können jedoch auch dazu neigen, sich zurückzuhalten und ihre Gefühle zu
  verbergen, wenn sie sich verletzlich fühlen oder Angst vor Kontrollverlust haben. Ihre emotionale
  Intensität kann zu extremen Höhen und Tiefen führen, die eine gewisse Herausforderung
  darstellen können, aber auch eine unglaubliche Tiefe und Kraft verleihen.
</p>
<% } %>
<% if (key === 'sagittarius') { %>
<h6 class="horo"> Dein Mond steht im Tierkreiszeichen Schütze </h6>
<p class="horo card">
  Das Mondzeichen Schütze verleiht eine emotionale Natur, die von Abenteuerlust, Optimismus und
  Freiheitsdrang geprägt ist. Menschen mit dem Mond in Schütze haben ein tief verwurzeltes
  Bedürfnis nach persönlicher Freiheit und Expansion. Sie suchen ständig nach neuen Erfahrungen
  und Wissen, um ihre geistigen Horizonte zu erweitern.
  Ihre emotionalen Reaktionen können oft von Enthusiasmus und einem starken Glauben an das
  Gute im Leben geprägt sein. Sie sind optimistisch und sehen das Leben als eine Serie von
  Abenteuern, die darauf warten, erlebt zu werden. Menschen mit dem Mond in Schütze sind
  großzügig und offenherzig, und sie schätzen es, neue Menschen und Kulturen kennenzulernen.
  Allerdings können sie auch dazu neigen, impulsiv zu handeln und sich übermäßig optimistisch zu
  fühlen, was zu unrealistischen Erwartungen und Enttäuschungen führen kann. Ihre emotionale
  Natur ist von einem tiefen Glauben an das Leben und die Welt um sie herum geprägt, was ihnen
  eine optimistische und lebensbejahende Perspektive verleiht.
</p>
<% } %>
<% if (key === 'capricorn') { %>
<h6 class="horo"> Dein Mond steht im Tierkreiszeichen Steinbock </h6>
<p class="horo card">
  Das Mondzeichen Steinbock verleiht eine emotionale Natur, die von Disziplin,
  Verantwortungsbewusstsein und Beharrlichkeit geprägt ist. Menschen mit dem Mond in
  Steinbock haben ein starkes Bedürfnis nach Struktur und Ordnung in ihrem emotionalen Leben.
  Sie sind zielorientiert und streben nach Erfolg, indem sie hart arbeiten und ihre Ziele konsequent
  verfolgen.
  Ihre emotionalen Reaktionen können oft von Zurückhaltung und Selbstbeherrschung geprägt sein.
  Sie neigen dazu, ihre Gefühle tief zu verbergen und zeigen selten ihre verletzliche Seite nach
  außen. Menschen mit dem Mond in Steinbock sind praktisch veranlagt und suchen nach
  Sicherheit und Stabilität in ihren Beziehungen und ihrem Umfeld. Sie sind zuverlässig und
  verantwortungsbewusst, aber auch manchmal zu ernst und streng in ihrer emotionalen
  Ausdrucksweise. Ihre emotionale Natur ist von einem starken Sinn für Pflicht und Selbstdisziplin
  geprägt, was ihnen eine solide Basis für persönlichen Erfolg und Wachstum bietet.
</p>
<% } %>
<% if (key === 'aquarius') { %>
<h6 class="horo"> Dein Mond steht im Tierkreiszeichen Wassermann </h6>
<p class="horo card">
  Das Mondzeichen Wassermann verleiht eine emotionale Natur, die von Unabhängigkeit,
  Originalität und Humanität geprägt ist. Menschen mit dem Mond in Wassermann haben ein
  starkes Bedürfnis nach Freiheit und Individualität in ihren emotionalen Erfahrungen. Sie schätzen
  ihre Unabhängigkeit und neigen dazu, ihre Gefühle auf unkonventionelle Weise auszudrücken.
  Ihre emotionalen Reaktionen können oft durch Rationalität und stetige Veränderung geprägt sein.
  Sie sind einfallsreich und einfühlsam und neigen dazu, sich für humanitäre Anliegen und soziale
  Gerechtigkeit einzusetzen. Menschen mit dem Mond in Wassermann suchen nach Gemeinschaft
  und Gleichgesinnten, mit denen sie ihre Ideen und Visionen teilen können. Sie können jedoch
  auch zu emotionaler Distanziertheit neigen und Schwierigkeiten haben, ihre persönlichen Gefühle
  auszudrücken oder sich emotional zu binden. Ihre emotionale Natur ist von einem starken Sinn für
  Idealismus und Fortschritt geprägt, was sie zu Visionären und Veränderern in ihrer Umgebung
  machen kann.
</p>
<% } %>
<% if (key === 'pisces') { %>
<h6 class="horo"> Dein Mond steht im Tierkreiszeichen Fische </h6>
<p class="horo card">
  Das Mondzeichen Fische verleiht eine emotionale Natur, die von Sensibilität, Empathie und
  spiritueller Tiefe geprägt ist. Menschen mit dem Mond in Fische haben ein starkes
  Einfühlungsvermögen und sind oft sehr empfänglich für die Stimmungen und Bedürfnisse anderer.
  Sie neigen dazu, sich stark mit den Emotionen und Energien ihrer Umgebung zu verbinden und
  können eine ausgeprägte kreative und intuitive Ader haben.
  Ihre emotionalen Reaktionen können von einer tiefen Sehnsucht nach Verbundenheit und
  spirituellem Wachstum geprägt sein. Sie sind oft träumerisch und fantasievoll und haben eine
  reiche innere Welt. Menschen mit dem Mond in Fische sind oft sehr mitfühlend und neigen dazu,
  sich selbstlos für das Wohl anderer einzusetzen. Allerdings können sie auch zu
  Stimmungsschwankungen und einem Mangel an Grenzen neigen, da sie manchmal
  Schwierigkeiten haben, zwischen ihren eigenen Emotionen und denen anderer zu unterscheiden.
</p>
<% } %>