<% if (key2 === 'aries') { %>
<h3 class="horo">Löwe & Widder</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Löwe und Mond im Widder</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Löwe und Mondzeichen in Widder vereint
  zwei feurige Zeichen, die für ihre Energie, Leidenschaft und Tatkraft bekannt
  sind. Menschen mit dieser astrologischen Kombination besitzen einen starken
  Willen, Selbstbewusstsein und eine natürliche Führungsqualität. Der
  Löwe-Sonne-Anteil verleiht ihnen Charisma, Kreativität und den Drang, im
  Mittelpunkt zu stehen, während der Widder-Mond ihnen eine dynamische und
  abenteuerlustige Seite gibt. Diese Personen sind oft unerschrocken und bereit,
  neue Herausforderungen anzunehmen, und sie haben eine angeborene Fähigkeit,
  Menschen mit ihrer Begeisterung und ihrem Enthusiasmus mitzureißen. In
  Beziehungen und emotionalen Situationen sind Menschen mit dieser Kombination
  intensiv und leidenschaftlich. Sie lieben es, ihre Partner zu verwöhnen und
  ihnen das Gefühl zu geben, etwas Besonderes zu sein, und erwarten im Gegenzug
  dieselbe Aufmerksamkeit und Hingabe. Der Löwe sorgt für Großzügigkeit und
  Warmherzigkeit, während der Widder-Mond dafür sorgt, dass sie spontan und
  aufregend in ihren romantischen Gesten sind. Sie neigen dazu, sehr direkt und
  offen in ihren Gefühlen zu sein, und sie schätzen Ehrlichkeit und
  Authentizität in ihren Beziehungen. Ihre emotionale Intensität kann dazu
  führen, dass sie sehr beschützend und manchmal sogar besitzergreifend
  gegenüber ihren Liebsten sind. Allerdings können diese feurigen Kombinationen
  auch Herausforderungen mit sich bringen. Die starke Persönlichkeit und der
  Wunsch nach Anerkennung können manchmal zu Konflikten und Konkurrenz in
  Beziehungen führen. Menschen mit dieser Kombination können ungeduldig und
  manchmal impulsiv sein, was zu Missverständnissen und Auseinandersetzungen
  führen kann. Ihr Bedürfnis, die Kontrolle zu haben und im Mittelpunkt zu
  stehen, kann gelegentlich als dominierend oder egozentrisch wahrgenommen
  werden. Um harmonische Beziehungen zu führen, müssen sie lernen, ihre
  Impulsivität zu zügeln und Kompromisse einzugehen, ohne ihre eigene Identität
  und Leidenschaft zu verlieren.
</p>
<% } %> <% if (key2 === 'taurus') { %>
<h3 class="horo">Löwe & Stier</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Löwe und Mond im Stier</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Löwe und Mondzeichen in Stier vereint die
  kraftvolle und charismatische Natur des Löwen mit der beständigen und
  sinnlichen Energie des Stiers. Menschen mit dieser astrologischen Kombination
  besitzen eine beeindruckende Präsenz und einen natürlichen Sinn für Luxus und
  Schönheit. Der Löwe-Anteil verleiht ihnen Kreativität, Großzügigkeit und den
  Drang, im Mittelpunkt zu stehen, während der Stier-Mond ihnen Geduld,
  Beständigkeit und einen ausgeprägten Sinn für Komfort und Genuss gibt. Diese
  Personen sind oft sehr loyal und haben eine starke innere Stärke, die es ihnen
  ermöglicht, ihre Ziele konsequent zu verfolgen und gleichzeitig das Leben in
  vollen Zügen zu genießen. In Beziehungen und emotionalen Situationen zeigen
  Menschen mit dieser Kombination eine warme und stabile Art der Liebe. Sie sind
  äußerst loyal und beschützend gegenüber ihren Partnern und legen großen Wert
  auf Sicherheit und Beständigkeit in ihren Beziehungen. Der Löwe sorgt dafür,
  dass sie großzügig und liebevoll sind, während der Stier-Mond ihnen eine
  sinnliche und geduldige Natur verleiht. Sie sind bestrebt, ein komfortables
  und harmonisches Umfeld für ihre Liebsten zu schaffen und sind oft die Felsen
  in stürmischen Zeiten. Ihre Fähigkeit, sowohl romantisch als auch praktisch zu
  sein, macht sie zu zuverlässigen und liebevollen Partnern. Allerdings können
  diese Qualitäten auch zu gewissen Herausforderungen führen. Die starke
  Kombination aus Löwe und Stier kann manchmal zu Sturheit und einem Hang zur
  Dominanz führen. Menschen mit dieser Kombination können sehr eigensinnig sein
  und Schwierigkeiten haben, Kompromisse einzugehen, was zu Konflikten in ihren
  Beziehungen führen kann. Ihr Bedürfnis nach Anerkennung und Luxus kann
  manchmal als oberflächlich oder materialistisch wahrgenommen werden. Um
  harmonische Beziehungen zu führen, müssen sie lernen, flexibel zu sein und die
  Bedürfnisse ihrer Partner zu berücksichtigen, ohne ihre eigenen Wünsche und
  Werte zu vernachlässigen.
</p>
<% } %> <% if (key2 === 'gemini') { %>
<h3 class="horo">Löwe & Zwillinge</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Löwe und Mond in Zwillinge
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Löwe und Mondzeichen in Zwillinge vereint
  die selbstbewusste und kreative Energie des Löwen mit der neugierigen und
  vielseitigen Natur des Zwillings. Menschen mit dieser astrologischen
  Kombination sind oft charismatisch und kommunikationsstark. Der Löwe verleiht
  ihnen eine natürliche Autorität und eine magnetische Ausstrahlung, während der
  Zwilling-Mond sie geistig wach und flexibel macht. Diese Personen sind oft
  sehr gesellig und lieben es, im Mittelpunkt zu stehen, sei es durch
  öffentliche Auftritte oder durch lebhafte Gespräche. Ihre Kreativität und ihr
  Wunsch, andere zu inspirieren, gepaart mit ihrem Wissensdurst und ihrer
  Anpassungsfähigkeit, machen sie zu dynamischen und einfallsreichen Individuen.
  In Beziehungen und emotionalen Situationen sind diese Menschen lebhaft und
  kommunikativ. Sie schätzen intellektuelle Stimulation und brauchen einen
  Partner, der sie sowohl emotional als auch geistig anregt. Der Löwe sorgt
  dafür, dass sie leidenschaftlich und großzügig in der Liebe sind, während der
  Zwilling-Mond sie dazu bringt, stets nach neuen Erfahrungen und Abenteuern zu
  suchen. Sie lieben es, gemeinsam mit ihrem Partner zu lernen und zu wachsen,
  und legen großen Wert auf Offenheit und Ehrlichkeit in ihren Beziehungen. Ihre
  Fähigkeit, sich anzupassen und ihre Flexibilität tragen dazu bei, dass sie
  leicht mit verschiedenen Persönlichkeiten und Situationen umgehen können.
  Allerdings können diese Qualitäten auch zu einigen Herausforderungen führen.
  Die Kombination aus Löwe und Zwilling kann dazu führen, dass sie manchmal als
  oberflächlich oder sprunghaft wahrgenommen werden. Ihr Bedürfnis nach
  Aufmerksamkeit und Anerkennung kann zu Eitelkeit und Selbstüberschätzung
  führen. Zudem kann ihre wechselhafte Natur und der Drang nach ständigem Wandel
  in Beziehungen zu Unruhe und Instabilität führen. Es ist wichtig für sie,
  einen Weg zu finden, ihre kreativen und kommunikativen Energien zu
  kanalisieren, ohne ihre Loyalität und Beständigkeit in ihren Beziehungen zu
  opfern. Lernen, sich auf langfristige Ziele zu konzentrieren und tiefere
  emotionale Bindungen aufzubauen, kann ihnen helfen, die Balance zwischen ihrem
  Bedürfnis nach Freiheit und ihrer Verpflichtung zu den Menschen, die ihnen
  wichtig sind, zu finden.
</p>
<% } %> <% if (key2 === 'cancer') { %>
<h3 class="horo">Löwe & Krebs</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Löwe und Mond in Krebs</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Löwe und Mondzeichen in Krebs vereint die
  leidenschaftliche und selbstbewusste Natur des Löwen mit der sensiblen und
  fürsorglichen Energie des Krebses. Menschen mit dieser astrologischen
  Kombination strahlen oft eine warme und einladende Präsenz aus, die andere
  anzieht. Der Löwe verleiht ihnen eine natürliche Autorität und ein starkes
  Bedürfnis nach Anerkennung, während der Krebs-Mond ihnen eine tiefe emotionale
  Tiefe und Intuition verleiht. Diese Personen sind in der Lage, ihre kreative
  Energie und ihr Bedürfnis, im Mittelpunkt zu stehen, mit einem echten
  Mitgefühl und Verständnis für die Gefühle anderer zu verbinden. In Beziehungen
  und emotionalen Situationen zeigen Menschen mit dieser Kombination eine
  interessante Mischung aus Leidenschaft und Fürsorglichkeit. Der Löwe sorgt
  dafür, dass sie in der Liebe großzügig, loyal und beschützend sind, während
  der Krebs-Mond ihnen eine tiefe emotionale Bindung und ein Bedürfnis nach
  Sicherheit und Geborgenheit verleiht. Sie neigen dazu, sehr aufmerksam und
  unterstützend gegenüber ihren Partnern zu sein und schaffen es, eine warme und
  liebevolle Atmosphäre zu schaffen. Ihre starke Intuition hilft ihnen, die
  Bedürfnisse und Gefühle ihrer Liebsten zu erkennen und darauf einzugehen, was
  sie zu verständnisvollen und einfühlsamen Partnern macht. Allerdings können
  diese Qualitäten auch zu einigen Herausforderungen führen. Die Kombination aus
  Löwe und Krebs kann dazu führen, dass sie manchmal zwischen ihrem Bedürfnis
  nach Anerkennung und ihrem Wunsch nach emotionaler Sicherheit hin- und
  hergerissen sind. Der Löwe kann dazu führen, dass sie manchmal zu stolz oder
  dominant wirken, während der Krebs-Mond sie übermäßig sensibel oder launisch
  machen kann. Diese Wechselhaftigkeit kann in Beziehungen zu Missverständnissen
  und Konflikten führen, insbesondere wenn sie das Gefühl haben, nicht genügend
  Aufmerksamkeit oder Wertschätzung zu erhalten. Es ist wichtig für sie, einen
  Weg zu finden, ihre starken Emotionen zu balancieren und sowohl ihre
  Bedürfnisse nach Anerkennung als auch nach emotionaler Geborgenheit in
  Einklang zu bringen, um harmonische und erfüllende Beziehungen zu führen.
</p>
<% } %> <% if (key2 === 'leo') { %>
<h3 class="horo">Löwe & Löwe</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Löwe und Mond ebenfalls in Löwe
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Löwe und Mondzeichen in Löwe vereint die
  doppelte Energie dieses stolzen und leidenschaftlichen Zeichens, was eine
  Person von außergewöhnlicher Strahlkraft und Entschlossenheit hervorbringt.
  Menschen mit dieser astrologischen Kombination haben eine starke
  Persönlichkeit, die durch ihre unerschütterliche Zuversicht und ihr
  beeindruckendes Charisma geprägt ist. Sie sind natürliche Anführer, die gerne
  im Mittelpunkt stehen und die Bewunderung anderer suchen. Ihr Enthusiasmus und
  ihre kreative Energie sind ansteckend, und sie haben eine angeborene
  Fähigkeit, andere zu inspirieren und zu motivieren. Diese Menschen sind oft
  großzügig und haben ein großes Herz, was sie zu beliebten und respektierten
  Individuen in ihrem sozialen Umfeld macht. In Beziehungen und emotionalen
  Situationen sind Menschen mit Sonne und Mond im Löwen leidenschaftlich, loyal
  und unglaublich beschützend gegenüber ihren Liebsten. Sie legen großen Wert
  auf Romantik und Dramatik in ihren Beziehungen und neigen dazu, ihre Gefühle
  offen und ausdrucksstark zu zeigen. Ihre Partner können sich auf ihre
  Unterstützung und Hingabe verlassen, denn sie geben in der Liebe genauso viel,
  wie sie erwarten. Ihre emotionale Natur verlangt nach Anerkennung und
  Bewunderung, und sie fühlen sich am glücklichsten, wenn sie das Gefühl haben,
  dass sie geschätzt und geliebt werden. Ihre Wärme und Großzügigkeit machen sie
  zu wunderbaren Partnern, die stets bemüht sind, das Beste aus ihren
  Beziehungen herauszuholen. Allerdings können die intensiven Löwe-Qualitäten
  auch zu einigen Herausforderungen führen. Menschen mit dieser doppelten
  Löwe-Kombination können manchmal zu stolz oder stur sein, was zu Konflikten
  führen kann, besonders wenn sie das Gefühl haben, nicht genügend
  Aufmerksamkeit oder Respekt zu erhalten. Ihr starkes Bedürfnis nach
  Bewunderung kann sie in egozentrisches Verhalten drängen, und sie könnten
  Schwierigkeiten haben, Kritik oder Ablehnung zu akzeptieren. Diese Personen
  müssen lernen, ihre dominanten Tendenzen zu zügeln und auf die Bedürfnisse und
  Gefühle ihrer Partner einzugehen, um harmonische und ausgewogene Beziehungen
  zu führen. Indem sie ihre natürliche Großzügigkeit und ihr Mitgefühl betonen,
  können sie ihre Beziehungen bereichern und vertiefen, während sie gleichzeitig
  ihre eigenen emotionalen Bedürfnisse erfüllen.
</p>
<% } %> <% if (key2 === 'virgo') { %>
<h3 class="horo">Löwe & Jungfrau</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Löwe und Mond in Jungfrau</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Löwe und Mondzeichen in Jungfrau bringt
  eine interessante Mischung aus selbstbewusstem Ausdruck und analytischer
  Sensibilität hervor. Menschen mit dieser astrologischen Kombination besitzen
  die natürliche Strahlkraft und Kreativität des Löwen, gepaart mit der
  praktischen und detailorientierten Natur der Jungfrau. Sie sind oft sehr
  ehrgeizig und zielstrebig, nutzen ihre organisatorischen Fähigkeiten, um ihre
  Visionen und Projekte erfolgreich umzusetzen. Diese Personen zeichnen sich
  durch ihre Fähigkeit aus, sowohl das große Ganze im Auge zu behalten als auch
  die kleinen Details nicht zu übersehen, was sie in vielen Bereichen des Lebens
  erfolgreich macht. In Beziehungen und emotionalen Situationen verhalten sich
  Menschen mit Sonne im Löwen und Mond in der Jungfrau loyal und aufmerksam. Sie
  haben ein starkes Bedürfnis nach Anerkennung und Bewunderung, legen aber
  gleichzeitig großen Wert auf die praktischen Aspekte ihrer Beziehungen. Sie
  zeigen ihre Zuneigung durch konkrete Taten und Fürsorge, was ihre Partner sehr
  zu schätzen wissen. Ihre emotionale Natur ist weniger impulsiv als bei anderen
  Löwe- Kombinationen, da die Jungfrau ihnen hilft, ihre Gefühle zu analysieren
  und zu verstehen. In der Partnerschaft sind sie sowohl romantisch als auch
  zuverlässig, und sie streben nach einer stabilen und harmonischen Beziehung,
  in der beide Partner sich gegenseitig unterstützen und ergänzen. Allerdings
  können die unterschiedlichen Bedürfnisse und Herangehensweisen dieser beiden
  Zeichen auch zu Herausforderungen führen. Die stolze und expressive Natur des
  Löwen kann manchmal im Widerspruch zur zurückhaltenden und kritischen Seite
  der Jungfrau stehen. Menschen mit dieser Kombination könnten Schwierigkeiten
  haben, ihre eigenen hohen Ansprüche zu erfüllen, was zu Frustration und
  Selbstkritik führen kann. Ihr Bedürfnis nach Perfektion kann sie auch in
  Beziehungen zu übermäßig kritischen Partnern machen, was Spannungen
  verursachen kann. Es ist wichtig für diese Personen, einen Mittelweg zu
  finden, indem sie ihre Stärken nutzen, um Balance und Harmonie zu schaffen,
  und gleichzeitig Geduld und Toleranz für sich selbst und andere entwickeln.
</p>
<% } %> <% if (key2 === 'libra') { %>
<h3 class="horo">Löwe & Waage</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Löwe und Mond in Waage</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Löwe und Mondzeichen in Waage bringt eine
  besonders charmante und charismatische Persönlichkeit hervor. Menschen mit
  dieser astrologischen Kombination haben das selbstbewusste, kraftvolle Wesen
  des Löwen, das durch die diplomatische und ausgleichende Natur der Waage
  ergänzt wird. Diese Individuen strahlen natürliche Autorität aus, sind jedoch
  gleichzeitig bemüht, Harmonie und Ästhetik in ihr Umfeld zu bringen. Ihre
  Kreativität und ihr Sinn für Stil sind ausgeprägt, was sie oft in
  künstlerischen oder führenden Positionen erfolgreich macht. Sie besitzen eine
  warme Ausstrahlung und eine einnehmende Persönlichkeit, die es ihnen leicht
  macht, soziale Kontakte zu knüpfen und in Gesellschaft geschätzt zu werden. In
  Beziehungen und emotionalen Situationen zeigen sich Menschen mit dieser
  Kombination als äußerst liebevoll und aufgeschlossen. Sie streben nach
  harmonischen und ausgeglichenen Partnerschaften, in denen beide Partner sich
  gegenseitig unterstützen und wertschätzen. Die Löwe-Sonne verleiht ihnen eine
  große Loyalität und Großzügigkeit gegenüber ihren Lieben, während der
  Waage-Mond ihre Fähigkeit zur Empathie und Fairness stärkt. Sie sind
  hervorragende Kommunikatoren und verstehen es, Konflikte diplomatisch zu
  lösen. In der Partnerschaft sind sie oft romantisch und zuvorkommend, immer
  bemüht, die Bedürfnisse des Partners zu berücksichtigen und eine schöne,
  harmonische Atmosphäre zu schaffen. Allerdings können auch Herausforderungen
  bei dieser Kombination auftreten. Menschen mit Sonne im Löwen und Mond in der
  Waage können manchmal Schwierigkeiten haben, ihre eigenen Bedürfnisse klar zu
  artikulieren, da sie ständig bemüht sind, es allen recht zu machen. Ihr
  Bedürfnis nach Anerkennung und Bewunderung kann dazu führen, dass sie sich zu
  sehr auf das äußere Erscheinungsbild und die Meinung anderer konzentrieren,
  anstatt authentisch zu bleiben. Zudem könnten sie dazu neigen, Konfrontationen
  zu vermeiden und Probleme zu beschönigen, was auf lange Sicht zu ungelösten
  Konflikten führen kann. Es ist wichtig für diese Personen, ein Gleichgewicht
  zu finden zwischen ihrem Wunsch nach Harmonie und der Notwendigkeit, ihre
  eigenen Grenzen und Wünsche zu respektieren.
</p>
<% } %> <% if (key2 === 'scorpio') { %>
<h3 class="horo">Löwe & Skorpion</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Löwe und Mond in Skorpion</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Löwe und Mondzeichen in Skorpion erzeugt
  eine äußerst kraftvolle und magnetische Persönlichkeit. Menschen mit dieser
  Kombination verfügen über die natürliche Autorität und den Charme des Löwen,
  ergänzt durch die tiefgehende Intensität und Leidenschaft des Skorpions. Sie
  sind von Natur aus geborene Anführer, die nicht nur durch ihre Ausstrahlung,
  sondern auch durch ihre Entschlossenheit und ihren Willen beeindrucken. Diese
  Individuen haben ein starkes Bedürfnis nach Kontrolle und Einfluss und sind
  oft in der Lage, andere durch ihre beeindruckende Präsenz und ihren
  scharfsinnigen Verstand zu inspirieren und zu führen. Ihre tiefe emotionale
  Intelligenz ermöglicht es ihnen, komplexe Situationen schnell zu durchschauen
  und entsprechend zu handeln. In Beziehungen und emotionalen Situationen zeigen
  sich Menschen mit dieser Kombination als intensiv und leidenschaftlich. Ihre
  Loyalität ist unerschütterlich, und sie erwarten dasselbe von ihren Partnern.
  Die Löwe-Sonne verleiht ihnen eine großzügige und liebevolle Natur, während
  der Skorpion-Mond ihre Emotionen vertieft und sie zu sehr engagierten und oft
  besitzergreifenden Partnern macht. Sie schätzen Ehrlichkeit und Tiefe in ihren
  Beziehungen und sind stets bereit, für diejenigen, die sie lieben, alles zu
  tun. Diese Menschen sind nicht nur sehr beschützerisch, sondern auch
  ausgesprochen treu, und sie verlangen von ihren Partnern dieselbe Hingabe und
  Intensität. Ihre emotionalen Bindungen sind stark und tief verwurzelt, und sie
  können sehr eifersüchtig sein, wenn sie das Gefühl haben, dass ihre Loyalität
  infrage gestellt wird. Allerdings können auch Herausforderungen bei dieser
  Kombination auftreten. Menschen mit Sonne im Löwen und Mond im Skorpion können
  dazu neigen, extrem dominant und kontrollierend zu sein, was in
  zwischenmenschlichen Beziehungen zu Spannungen führen kann. Ihre starke
  emotionale Intensität kann manchmal überwältigend sein, sowohl für sie selbst
  als auch für ihre Partner. Sie haben hohe Erwartungen an sich und andere, was
  gelegentlich zu Enttäuschungen und Konflikten führen kann, wenn diese
  Erwartungen nicht erfüllt werden. Zudem kann ihr Bedürfnis nach Kontrolle und
  ihr Misstrauen gegenüber anderen sie dazu bringen, geheimnisvoll und
  verschlossen zu sein, was das Vertrauen in ihren Beziehungen beeinträchtigen
  kann. Es ist wichtig für diese Personen, einen Weg zu finden, ihre intensiven
  Emotionen zu managen und ein Gleichgewicht zwischen ihrer starken
  Persönlichkeit und der Notwendigkeit, andere zu respektieren und loszulassen,
  zu finden.
</p>
<% } %> <% if (key2 === 'sagittarius') { %>
<h3 class="horo">Löwe & Schütze</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Löwe und Mond in Schütze</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Löwe und Mondzeichen in Schütze vereint
  zwei feurige und dynamische Energien, die eine lebendige und optimistische
  Persönlichkeit schaffen. Menschen mit dieser astrologischen Kombination
  strahlen natürliche Anziehungskraft und Charisma aus, gepaart mit einem
  unstillbaren Durst nach Abenteuer und Wissen. Der Löwe verleiht ihnen eine
  starke Präsenz und den Wunsch, im Rampenlicht zu stehen, während der
  Schütze-Mond ihnen eine weltoffene, philosophische Sichtweise und einen
  unerschütterlichen Optimismus schenkt. Diese Individuen sind oft lebenslustig,
  inspirierend und voller Enthusiasmus, was sie zu natürlichen Anführern und
  geschätzten Freunden macht. In Beziehungen und emotionalen Situationen zeigen
  sich Menschen mit dieser Kombination als äußerst leidenschaftlich und
  großzügig. Sie lieben es, ihre Begeisterung und ihre Ziele mit ihren Partnern
  zu teilen und suchen nach Beziehungen, die sowohl inspirierend als auch
  wachstumsorientiert sind. Ihre emotionale Natur ist von einer tiefen,
  unerschütterlichen Ehrlichkeit geprägt, und sie schätzen Offenheit und
  Vertrauen. Der Schütze-Mond bringt eine unstillbare Neugier und den Drang nach
  Freiheit in ihre emotionale Landschaft, was sie zu Partnern macht, die
  Abenteuer und neue Erfahrungen schätzen. Sie ziehen es vor, Beziehungen zu
  haben, die ihnen sowohl Freiheit als auch eine starke emotionale Verbindung
  bieten. Allerdings können auch Herausforderungen bei dieser Kombination
  auftreten. Menschen mit Sonne im Löwen und Mond im Schützen können dazu
  neigen, ungeduldig und manchmal übermäßig optimistisch zu sein, was zu
  unrealistischen Erwartungen führen kann. Ihre starke Persönlichkeit und ihr
  Bedürfnis nach Freiheit und Abenteuer können sie manchmal als unzuverlässig
  oder ruhelos erscheinen lassen. Sie haben hohe Erwartungen an ihre Partner und
  können enttäuscht sein, wenn diese Erwartungen nicht erfüllt werden. Zudem
  kann ihre Tendenz, immer nach dem nächsten großen Abenteuer oder der nächsten
  Herausforderung zu suchen, dazu führen, dass sie Schwierigkeiten haben, sich
  langfristig zu verpflichten oder tiefere emotionale Bindungen einzugehen. Es
  ist wichtig für diese Menschen, ein Gleichgewicht zwischen ihrem Bedürfnis
  nach Freiheit und ihrer Fähigkeit, stabile und vertrauensvolle Beziehungen zu
  pflegen, zu finden.
</p>
<% } %> <% if (key2 === 'capricorn') { %>
<h3 class="horo">Löwe & Steinbock</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Löwe und Mond in Steinbock
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Löwe und Mondzeichen in Steinbock vereint
  die leidenschaftliche, stolze Natur des Löwen mit der disziplinierten und
  zielorientierten Energie des Steinbocks. Menschen mit dieser astrologischen
  Kombination sind oft ambitioniert, selbstbewusst und streben nach Erfolg. Der
  Löwe verleiht ihnen eine natürliche Anziehungskraft und den Wunsch, im
  Rampenlicht zu stehen, während der Steinbock-Mond ihnen eine starke
  Arbeitsmoral und Ausdauer schenkt. Diese Individuen sind in der Regel sehr
  zielgerichtet und wissen, wie sie ihre Fähigkeiten und Talente nutzen können,
  um ihre Ziele zu erreichen. Sie strahlen Autorität und Zuverlässigkeit aus,
  was sie in Führungspositionen sehr effektiv macht. In Beziehungen und
  emotionalen Situationen zeigen sich Menschen mit dieser Kombination als
  verantwortungsbewusst und loyal. Sie nehmen ihre Verpflichtungen sehr ernst
  und sind bestrebt, Stabilität und Sicherheit für ihre Partner zu schaffen.
  Ihre emotionale Natur, geprägt vom Steinbock-Mond, kann manchmal reserviert
  erscheinen, da sie dazu neigen, ihre Gefühle zu kontrollieren und nicht leicht
  zu zeigen. Dennoch sind sie tief in ihren Beziehungen verwurzelt und legen
  großen Wert auf Beständigkeit und Zuverlässigkeit. Sie suchen nach Partnern,
  die ebenso ernsthaft und engagiert sind wie sie selbst, und schätzen eine
  solide Grundlage in ihren Beziehungen. Trotz ihrer manchmal kühlen Fassade
  haben sie ein großes Herz und sind bereit, viel zu investieren, um ihre
  Liebsten zu unterstützen und zu schützen. Allerdings können auch
  Herausforderungen bei dieser Kombination auftreten. Menschen mit Sonne im
  Löwen und Mond im Steinbock können manchmal stur und autoritär wirken, da sie
  stark an ihren Meinungen und Vorstellungen festhalten. Ihr Bedürfnis nach
  Kontrolle und Perfektion kann zu Spannungen in Beziehungen führen, besonders
  wenn sie das Gefühl haben, dass ihre Erwartungen nicht erfüllt werden. Sie
  neigen dazu, ihre Emotionen zu unterdrücken, was sie distanziert und unnahbar
  erscheinen lassen kann. Diese Tendenz, Gefühle zurückzuhalten, kann es ihnen
  schwer machen, sich vollständig zu öffnen und tiefe emotionale Verbindungen zu
  ihren Partnern aufzubauen. Es ist wichtig für diese Menschen, ein
  Gleichgewicht zu finden zwischen ihrem Bedürfnis nach Kontrolle und der
  Fähigkeit, ihre emotionale Seite zuzulassen und auszudrücken.
</p>
<% } %> <% if (key2 === 'aquarius') { %>
<h3 class="horo">Löwe & Wassermann</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Löwe und Mond in Wassermann
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Löwe und Mondzeichen in Wassermann
  vereint die leidenschaftliche, charismatische Natur des Löwen mit der
  unabhängigen, unkonventionellen Energie des Wassermanns. Menschen mit dieser
  astrologischen Kombination strahlen Selbstbewusstsein und Kreativität aus. Sie
  haben eine starke Präsenz und neigen dazu, im Mittelpunkt der Aufmerksamkeit
  zu stehen, dank des Löwen-Sonnenzeichens. Gleichzeitig bringt der Mond im
  Wassermann eine originelle und zukunftsorientierte Denkweise mit sich. Diese
  Menschen sind oft visionär und haben innovative Ideen, die sie
  leidenschaftlich verfolgen. Sie sind bekannt für ihre Fähigkeit,
  unkonventionelle Lösungen zu finden und sich gegen den Strom zu stellen, was
  sie in vielen Bereichen zu Vorreitern macht. In Beziehungen und emotionalen
  Situationen zeigen sich Menschen mit dieser Kombination als freiheitsliebend
  und aufgeschlossen. Sie schätzen ihre Unabhängigkeit und benötigen Partner,
  die ihnen Raum zur Entfaltung lassen. Trotz ihres starken Bedürfnis nach
  Freiheit sind sie loyal und engagiert in ihren Beziehungen, solange sie nicht
  eingeengt werden. Ihre emotionale Natur ist oft rational und distanziert, da
  der Mond im Wassermann ihre Gefühle mit einer gewissen Kühle und Objektivität
  behandelt. Sie neigen dazu, eher intellektuell als emotional auf
  Herausforderungen in Beziehungen zu reagieren. Diese Menschen suchen nach
  Partnern, die ihre intellektuellen Interessen teilen und bereit sind, mit
  ihnen auf unkonventionellen Wegen zu gehen. Ihre Fähigkeit, über den
  Tellerrand hinauszuschauen, macht sie zu inspirierenden und anregenden
  Partnern. Allerdings können auch Herausforderungen bei dieser Kombination
  auftreten. Menschen mit Sonne im Löwen und Mond im Wassermann können manchmal
  als eigensinnig und distanziert wahrgenommen werden. Ihr starkes Bedürfnis
  nach Unabhängigkeit und ihre unkonventionelle Art können es schwierig machen,
  sich in traditionellen Beziehungsstrukturen wohlzufühlen. Sie neigen dazu,
  sich emotional zurückzuhalten und könnten als emotional unnahbar empfunden
  werden. Diese Tendenz kann zu Missverständnissen und Spannungen in engen
  Beziehungen führen, besonders wenn ihre Partner ein tieferes emotionales
  Engagement erwarten. Es ist wichtig für diese Menschen, ein Gleichgewicht zu
  finden zwischen ihrem Bedürfnis nach Freiheit und der Fähigkeit, emotionale
  Nähe und Verbindlichkeit zuzulassen.
</p>
<% } %> <% if (key2 === 'pisces') { %>
<h3 class="horo">Löwe & Fische</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Löwe und Mond in Fische</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Löwe und Mondzeichen in Fische verbindet
  die starke, selbstbewusste Natur des Löwen mit der sensiblen und intuitiven
  Energie der Fische. Menschen mit dieser astrologischen Konstellation strahlen
  eine besondere Wärme und Großzügigkeit aus, die von einem tiefen Mitgefühl für
  andere geprägt ist. Die Sonne im Löwen verleiht ihnen eine natürliche
  Anziehungskraft und Führungsqualitäten, während der Mond in Fische ihnen eine
  sanfte, empathische Seite gibt, die sie sehr verständnisvoll und fürsorglich
  macht. Diese Kombination ermöglicht es ihnen, sowohl eine starke Präsenz zu
  haben als auch einfühlsam auf die Bedürfnisse und Gefühle ihrer Mitmenschen
  einzugehen. In Beziehungen und emotionalen Situationen zeigen sich Menschen
  mit dieser Kombination als äußerst liebevoll und romantisch. Sie haben ein
  großes Herz und neigen dazu, ihre Partner mit Aufmerksamkeit und Zuneigung zu
  überschütten. Ihr Löwe-Sonnenzeichen verleiht ihnen eine leidenschaftliche und
  beschützende Art, während der Mond in Fische ihnen hilft, auf einer tiefen
  emotionalen Ebene mit ihren Partnern in Verbindung zu treten. Sie sind oft
  bereit, große Opfer für das Wohl ihrer Liebsten zu bringen und legen großen
  Wert auf Harmonie und gegenseitigen Respekt in ihren Beziehungen. Ihre
  Fähigkeit, tief zu fühlen und sich in die Gefühle anderer hineinzuversetzen,
  macht sie zu einfühlsamen und unterstützenden Partnern. Allerdings können auch
  problematische Aspekte bei dieser Kombination auftreten. Menschen mit Sonne im
  Löwen und Mond in Fische können manchmal Schwierigkeiten haben, ihre starken
  Emotionen zu kontrollieren, was zu inneren Konflikten führen kann. Ihre
  sensible Natur kann sie anfällig für Überempfindlichkeit und Unsicherheiten
  machen, insbesondere wenn sie das Gefühl haben, nicht genügend Anerkennung
  oder Zuneigung zu erhalten. Dies kann zu Stimmungsschwankungen und einer
  Neigung zu dramatischen Reaktionen führen. Zudem könnten sie es schwer finden,
  klare Grenzen zu setzen, was dazu führen kann, dass sie sich emotional
  ausgelaugt fühlen. Es ist wichtig, dass diese Menschen lernen, ihre eigenen
  Bedürfnisse zu erkennen und zu respektieren, um ein gesundes Gleichgewicht
  zwischen ihren leidenschaftlichen und einfühlsamen Seiten zu finden.
</p>
<% } %>