<% if (key2 === 'aries') { %>
<h3 class="horo">Steinbock & Widder</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Steinbock und Mond im Widder
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Steinbock und Mondzeichen in Widder
  vereint die zielgerichtete, disziplinierte Natur des Steinbocks mit der
  dynamischen, impulsiven Emotionalität des Widders. Menschen mit dieser
  Kombination sind äußerst ehrgeizig und entschlossen, ihre Ziele zu erreichen,
  während sie gleichzeitig eine innere Leidenschaft und Dringlichkeit verspüren,
  sofort zu handeln. Der Steinbock verleiht ihnen eine starke Arbeitsmoral und
  eine langfristige Perspektive, während der Mond in Widder ihre Fähigkeit
  verstärkt, schnell Entscheidungen zu treffen und mutig neue Herausforderungen
  anzugehen. Diese Personen sind oft unermüdliche Pioniere, die sich nicht
  scheuen, Risiken einzugehen, um ihre Ambitionen zu verwirklichen. In
  Beziehungen und emotionalen Situationen verhalten sich Menschen mit dieser
  Kombination energisch und direkt. Sie neigen dazu, ihre Gefühle
  leidenschaftlich und ohne Zurückhaltung auszudrücken, was ihnen eine offene
  und ehrliche Kommunikation ermöglicht. Der Steinbock- Aspekt bringt Stabilität
  und Zuverlässigkeit in ihre Beziehungen, während der Widder-Aspekt für
  Spannung und Abenteuer sorgt. Diese Menschen sind oft die treibende Kraft in
  ihren Beziehungen, ermutigen ihre Partner zu wachsen und neue Erfahrungen zu
  machen. Sie schätzen Unabhängigkeit und erwarten von ihren Partnern, dass sie
  ebenfalls stark und selbstständig sind, während sie gleichzeitig bereit sind,
  bedingungslose Unterstützung und Schutz zu bieten. Allerdings können auch
  problematische Aspekte dieser Kombination auftreten. Die Tendenz des Widders,
  impulsiv und manchmal ungeduldig zu handeln, kann mit der vorsichtigen und
  berechnenden Natur des Steinbocks kollidieren. Diese innere Spannung kann zu
  innerem Konflikt und manchmal zu unbedachten Entscheidungen führen. Zudem kann
  der Steinbock-Aspekt manchmal als zu streng oder unflexibel wahrgenommen
  werden, was in Beziehungen zu Reibungen führen kann. Menschen mit dieser
  Kombination müssen lernen, ein Gleichgewicht zwischen ihrem Bedürfnis nach
  Stabilität und ihrer Leidenschaft für unmittelbare Aktion zu finden, um sowohl
  in ihrem beruflichen als auch in ihrem persönlichen Leben erfolgreich und
  zufrieden zu sein.
</p>
<% } %> <% if (key2 === 'taurus') { %>
<h3 class="horo">Steinbock & Stier</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Steinbock und Mond im Stier
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Steinbock und Mondzeichen in Stier
  verbindet zwei erdige Energien, die zusammen eine äußerst stabile und
  praktische Persönlichkeit formen. Menschen mit dieser Kombination zeichnen
  sich durch ihre außergewöhnliche Entschlossenheit und ihr Durchhaltevermögen
  aus. Der Steinbock verleiht ihnen eine klare Zielorientierung und eine starke
  Arbeitsmoral, während der Mond im Stier ihnen eine geduldige und beharrliche
  Herangehensweise an ihre Aufgaben und Projekte verleiht. Diese Menschen haben
  die Fähigkeit, langfristige Pläne zu schmieden und sie methodisch zu
  verfolgen, ohne sich von Rückschlägen entmutigen zu lassen. Sie schätzen
  materielle Sicherheit und sind oft sehr erfolgreich darin, ein solides
  Fundament für ihre Zukunft zu legen. In Beziehungen und emotionalen
  Situationen sind Menschen mit dieser Kombination loyale und zuverlässige
  Partner. Sie legen großen Wert auf Beständigkeit und Stabilität in ihren
  Beziehungen und sind bereit, hart daran zu arbeiten, um diese zu
  gewährleisten. Der Steinbock-Aspekt bringt eine ernsthafte und
  verantwortungsbewusste Haltung mit sich, während der Stier-Aspekt für eine
  warme und sinnliche Emotionalität sorgt. Diese Menschen zeigen ihre Zuneigung
  durch Taten und praktische Unterstützung, anstatt durch große Worte oder
  dramatische Gesten. Sie sind in der Lage, eine tiefe emotionale Bindung zu
  ihren Partnern aufzubauen und bieten eine feste und verlässliche Basis, auf
  der eine Beziehung wachsen kann. Allerdings können auch problematische Aspekte
  dieser Kombination auftreten. Die starke Betonung auf Sicherheit und
  Beständigkeit kann manchmal zu Sturheit und Unflexibilität führen. Menschen
  mit dieser Kombination neigen dazu, an bewährten Methoden und Routinen
  festzuhalten, selbst wenn Veränderungen notwendig wären. Diese Tendenz kann in
  persönlichen und beruflichen Beziehungen zu Konflikten führen, insbesondere
  wenn Anpassungen und Kompromisse erforderlich sind. Außerdem kann die ernste
  und manchmal strenge Natur des Steinbocks in Verbindung mit der Beharrlichkeit
  des Stiers dazu führen, dass diese Menschen Schwierigkeiten haben, sich zu
  entspannen und das Leben zu genießen. Sie müssen lernen, sich gelegentlich von
  ihrer strengen Disziplin zu lösen und Momente der Freude und Spontaneität
  zuzulassen, um ein ausgewogenes und erfülltes Leben zu führen.
</p>
<% } %> <% if (key2 === 'gemini') { %>
<h3 class="horo">Steinbock & Zwillinge</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Steinbock und Mond in Zwillinge
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Steinbock und Mondzeichen in Zwillinge
  verbindet die bodenständige Ernsthaftigkeit des Steinbocks mit der geistigen
  Lebhaftigkeit und Anpassungsfähigkeit der Zwillinge. Menschen mit dieser
  Kombination sind in der Lage, ihre ambitionierten Ziele mit einer flexiblen
  und vielseitigen Herangehensweise zu verfolgen. Der Steinbock verleiht ihnen
  eine starke Arbeitsmoral, Disziplin und die Fähigkeit, langfristige Pläne zu
  schmieden und durchzuführen. Gleichzeitig bringt der Mond in Zwillinge eine
  neugierige und kommunikative Natur, die es ihnen ermöglicht, schnell zu lernen
  und sich an neue Situationen anzupassen. Diese Kombination macht sie zu
  strategischen Denkern, die sowohl Stabilität als auch Anpassungsfähigkeit in
  ihrem Vorgehen schätzen. In Beziehungen und emotionalen Situationen zeigen
  Menschen mit dieser Kombination eine interessante Mischung aus Ernsthaftigkeit
  und Leichtigkeit. Der Steinbock-Aspekt sorgt dafür, dass sie in Beziehungen
  verlässlich und verantwortungsbewusst sind, während der Mond in Zwillinge ihre
  Fähigkeit zur Kommunikation und zum Ausdruck ihrer Gefühle stärkt. Sie können
  sowohl tiefgehende Gespräche führen als auch den Partner mit ihrem Humor und
  ihrer Vielseitigkeit unterhalten. Diese Menschen sind in der Lage, ihren
  Partner intellektuell zu stimulieren und gleichzeitig ein stabiles und
  sicheres Umfeld zu bieten. Ihre emotionale Flexibilität ermöglicht es ihnen,
  auf die Bedürfnisse ihres Partners einzugehen und Kompromisse zu finden, ohne
  dabei ihre eigenen Prinzipien zu vernachlässigen. Allerdings können auch
  problematische Aspekte dieser Kombination auftreten. Die Ernsthaftigkeit und
  der Ehrgeiz des Steinbocks können manchmal im Widerspruch zur leichtfüßigen
  und manchmal unentschlossenen Natur der Zwillinge stehen. Diese innere
  Spannung kann dazu führen, dass sie sich hin- und hergerissen fühlen zwischen
  dem Bedürfnis nach Stabilität und der Sehnsucht nach Abwechslung und neuen
  Erfahrungen. In Beziehungen könnte dies zu Missverständnissen führen, wenn ihr
  Partner die wechselnden Stimmungen und Prioritäten nicht versteht. Außerdem
  besteht die Gefahr, dass sie sich überfordern, indem sie versuchen, sowohl
  ihren hohen Ansprüchen als auch der Notwendigkeit, flexibel und
  anpassungsfähig zu sein, gerecht zu werden. Sie müssen lernen, ein
  Gleichgewicht zwischen Disziplin und Freiheit zu finden, um ihre vielseitigen
  Talente optimal nutzen zu können, ohne sich selbst zu überfordern.
</p>
<% } %> <% if (key2 === 'cancer') { %>
<h3 class="horo">Steinbock & Krebs</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Steinbock und Mond in Krebs
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Steinbock und Mondzeichen in Krebs
  verbindet die bodenständige und zielstrebige Natur des Steinbocks mit der
  emotionalen und fürsorglichen Seite des Krebses. Menschen mit dieser
  Kombination zeichnen sich durch ihre Fähigkeit aus, sowohl ihre beruflichen
  als auch ihre privaten Verpflichtungen effektiv zu managen. Der Steinbock
  verleiht ihnen eine starke Arbeitsmoral, Disziplin und den Drang, materielle
  Sicherheit zu erreichen. Dies wird durch die empathische und intuitive Natur
  des Krebses ergänzt, die ihnen ermöglicht, ihre Ziele auf eine sensible und
  mitfühlende Weise zu verfolgen. Diese Mischung aus Erd- und Wasserzeichen
  macht sie zu pragmatischen, aber auch sehr einfühlsamen Individuen, die in der
  Lage sind, ihre Umgebung mit einem ausgeprägten Sinn für Verantwortung und
  Fürsorge zu beeinflussen. In Beziehungen und emotionalen Situationen zeigt
  sich diese Kombination besonders stark. Menschen mit Steinbock-Sonne und
  Krebs-Mond sind in der Lage, eine tiefe emotionale Bindung zu ihren Partnern
  aufzubauen und gleichzeitig ein stabiles Fundament für die Beziehung zu
  bieten. Sie neigen dazu, sehr loyal und schützend zu sein, was ihre
  Beziehungen oft sehr stabil und dauerhaft macht. Die Krebsseite sorgt dafür,
  dass sie die Bedürfnisse ihrer Partner intuitiv erkennen und darauf eingehen
  können, während die Steinbock-Seite ihnen hilft, praktische Lösungen für
  gemeinsame Herausforderungen zu finden. Sie sind oft die Felsen in der
  Brandung für ihre Liebsten, bieten sowohl emotionale Unterstützung als auch
  materielle Sicherheit. Diese Menschen legen großen Wert auf Familie und
  häusliches Glück und sind bereit, hart zu arbeiten, um ein harmonisches
  Zuhause zu schaffen. Allerdings können auch problematische Aspekte dieser
  Kombination auftreten. Die Tendenz des Steinbocks, sich stark auf Karriere und
  materielle Ziele zu konzentrieren, kann manchmal im Widerspruch zur
  emotionalen und häuslichen Natur des Krebses stehen. Dies kann zu inneren
  Konflikten führen, wenn sie versuchen, beiden Seiten gleichermaßen gerecht zu
  werden. In Beziehungen kann es dazu kommen, dass sie sich zwischen dem
  Bedürfnis nach emotionaler Nähe und der Notwendigkeit, ihre beruflichen
  Ambitionen zu verfolgen, zerrissen fühlen. Die Krebsseite kann manchmal zu
  empfindlich oder überfürsorglich sein, was zu Missverständnissen und
  Spannungen führen kann, wenn der Partner diese Emotionen nicht erwidert oder
  versteht. Es ist wichtig, dass sie lernen, ein Gleichgewicht zwischen ihren
  beruflichen Zielen und ihren emotionalen Bedürfnissen zu finden, um ein
  erfülltes und harmonisches Leben zu führen.
</p>
<% } %> <% if (key2 === 'leo') { %>
<h3 class="horo">Steinbock & Löwe</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Steinbock und Mond in Löwe
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Steinbock und Mondzeichen in Löwe
  verbindet die Disziplin und den Ehrgeiz des Steinbocks mit dem
  Selbstbewusstsein und der Leidenschaft des Löwen. Menschen mit dieser
  Kombination haben eine starke Arbeitsmoral und sind zielorientiert, wobei sie
  gleichzeitig eine charismatische und kreative Seite besitzen. Der Steinbock
  verleiht ihnen Ausdauer und den Wunsch nach langfristigem Erfolg, während der
  Löwe ihnen hilft, ihre Projekte mit Enthusiasmus und einer gewissen Theatralik
  zu präsentieren. Diese Kombination macht sie zu natürlichen
  Führungspersönlichkeiten, die nicht nur durch ihre Kompetenz, sondern auch
  durch ihre Ausstrahlung und ihr Selbstvertrauen beeindrucken. In Beziehungen
  und emotionalen Situationen zeigt sich diese Kombination durch eine starke
  Loyalität und Großzügigkeit. Menschen mit Steinbock-Sonne und Löwe-Mond sind
  oft sehr schützend gegenüber ihren Liebsten und zeigen ihre Zuneigung auf
  großartige und oft beeindruckende Weise. Sie lieben es, ihre Partner zu
  verwöhnen und zu beeindrucken, während sie gleichzeitig ein stabiles und
  sicheres Umfeld schaffen. Ihre Beziehungen profitieren von der Balance
  zwischen der Sicherheit und Struktur des Steinbocks und der Wärme und
  Großzügigkeit des Löwen. Sie haben das Bedürfnis, bewundert und respektiert zu
  werden, und sie tun viel dafür, dass ihre Partner sich wertgeschätzt fühlen.
  Diese Menschen sind oft die treibende Kraft in ihren Beziehungen und sorgen
  dafür, dass sowohl romantische als auch praktische Aspekte berücksichtigt
  werden. Allerdings können auch problematische Aspekte dieser Kombination
  auftreten. Die Tendenz des Steinbocks zur Zurückhaltung und Ernsthaftigkeit
  kann manchmal im Konflikt mit dem Bedürfnis des Löwen nach Anerkennung und
  Aufmerksamkeit stehen. Diese innere Spannung kann dazu führen, dass sie sich
  manchmal zwischen der Notwendigkeit, seriös und diszipliniert zu wirken, und
  dem Wunsch, im Rampenlicht zu stehen und Anerkennung zu erhalten, hin- und
  hergerissen fühlen. In Beziehungen kann dies zu Schwierigkeiten führen, wenn
  ihre Partner ihre gelegentlichen Bedürfnisse nach Bewunderung und Drama nicht
  nachvollziehen oder unterstützen. Zudem kann die Kombination aus
  Steinbock-Perfektionismus und Löwe-Stolz dazu führen, dass sie Schwierigkeiten
  haben, Fehler einzugestehen oder Kritik anzunehmen, was zu Spannungen und
  Missverständnissen führen kann. Es ist wichtig, dass sie lernen, diese beiden
  Seiten in Einklang zu bringen, um sowohl ihre beruflichen als auch
  persönlichen Ziele harmonisch zu erreichen.
</p>
<% } %> <% if (key2 === 'virgo') { %>
<h3 class="horo">Steinbock & Jungfrau</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Steinbock und Mond in Jungfrau
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Steinbock und Mondzeichen in Jungfrau
  vereint die praktischen, disziplinierten und ehrgeizigen Eigenschaften des
  Steinbocks mit der analytischen, detailorientierten und pflichtbewussten Natur
  der Jungfrau. Menschen mit dieser Kombination zeichnen sich durch ihre hohe
  Arbeitsmoral, Zuverlässigkeit und eine bemerkenswerte Fähigkeit zur
  Organisation und Planung aus. Sie streben nach Perfektion in allem, was sie
  tun, und legen großen Wert darauf, ihre Ziele mit Präzision und Ausdauer zu
  verfolgen. Ihre methodische und systematische Herangehensweise an
  Herausforderungen macht sie zu effizienten und effektiven Problemlösern, die
  in der Lage sind, komplexe Aufgaben zu bewältigen und gleichzeitig einen
  klaren Überblick zu behalten. In Beziehungen und emotionalen Situationen
  zeigen sich Menschen mit dieser Kombination als loyale, unterstützende und
  verlässliche Partner. Sie sind oft sehr aufmerksam gegenüber den Bedürfnissen
  und Wünschen ihrer Liebsten und zeigen ihre Zuneigung durch praktische
  Handlungen und Hilfsbereitschaft. Ihre Fähigkeit, sich um die kleinsten
  Details zu kümmern und für ihre Partner da zu sein, schafft eine stabile und
  vertrauensvolle Basis in ihren Beziehungen. Sie neigen dazu, aufrichtig und
  direkt in ihrer Kommunikation zu sein, was Missverständnisse minimiert und
  eine offene und ehrliche Atmosphäre fördert. Obwohl sie ihre Emotionen nicht
  immer offen zeigen, ist ihre Liebe und Hingabe tief verwurzelt und beständig.
  Allerdings können auch problematische Aspekte dieser Kombination auftreten.
  Die Neigung beider Zeichen zur Perfektion und Kritik kann dazu führen, dass
  sie sich selbst und ihre Partner manchmal zu sehr unter Druck setzen. Ihre
  hohe Erwartungshaltung kann zu Frustration und Stress führen, wenn Dinge nicht
  so laufen, wie sie es sich vorgestellt haben. Zudem kann ihre zurückhaltende
  und reservierte Natur manchmal als emotional distanziert oder kühl
  wahrgenommen werden, was zu Missverständnissen in ihren Beziehungen führen
  kann. Es ist wichtig, dass sie lernen, ihre Emotionen offener zu zeigen und
  flexibler mit den Unvollkommenheiten des Lebens umzugehen, um sowohl in
  beruflichen als auch in persönlichen Bereichen eine ausgewogene und erfüllende
  Balance zu finden.
</p>
<% } %> <% if (key2 === 'libra') { %>
<h3 class="horo">Steinbock & Waage</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Steinbock und Mond in Waage
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Steinbock und Mondzeichen in Waage
  vereint die strukturierten, ehrgeizigen und zielstrebigen Eigenschaften des
  Steinbocks mit der harmonischen, diplomatischen und sozialen Natur der Waage.
  Menschen mit dieser Kombination sind oft äußerst diszipliniert und fokussiert
  auf ihre Ziele, gleichzeitig jedoch sehr geschickt im Umgang mit anderen. Sie
  streben danach, ihre Ambitionen auf eine Weise zu erreichen, die sowohl
  effektiv als auch fair ist. Diese Personen haben ein starkes Bedürfnis nach
  Ordnung und Gleichgewicht in ihrem Leben und sind bestrebt, in allen Bereichen
  ihres Lebens eine harmonische Balance zu wahren. Ihre natürliche
  Anziehungskraft und ihr diplomatisches Geschick helfen ihnen dabei,
  Unterstützung und Kooperation von anderen zu gewinnen. In Beziehungen und
  emotionalen Situationen zeigen sich Menschen mit dieser Kombination als
  charmante und ausgewogene Partner. Sie legen großen Wert auf Harmonie und sind
  bereit, Kompromisse einzugehen, um Konflikte zu vermeiden. Ihre Fähigkeit,
  unterschiedliche Perspektiven zu verstehen und auszugleichen, macht sie zu
  einfühlsamen und verständnisvollen Partnern. Sie sind in der Lage, sowohl ihre
  eigenen Bedürfnisse als auch die ihrer Partner in Einklang zu bringen, was zu
  stabilen und erfüllenden Beziehungen führt. Ihre Tendenz zur Fairness und
  Gerechtigkeit sorgt dafür, dass sie stets bestrebt sind, eine
  Win-Win-Situation zu schaffen. Obwohl sie in der Regel zurückhaltend sind,
  wenn es um die Ausdruck ihrer Emotionen geht, sind ihre Beziehungen durch eine
  tiefe Loyalität und Verpflichtung gekennzeichnet. Allerdings können auch
  problematische Aspekte dieser Kombination auftreten. Die Tendenz des
  Steinbocks zur Kontrolle und der Drang der Waage, allen zu gefallen, können zu
  inneren Konflikten führen. Menschen mit dieser Kombination können sich
  manchmal hin- und hergerissen fühlen zwischen ihrem Bedürfnis nach Struktur
  und Kontrolle und ihrem Wunsch nach sozialer Akzeptanz und Harmonie. Diese
  Ambivalenz kann zu Entscheidungsproblemen und einem Gefühl der Unsicherheit
  führen. Zudem besteht die Gefahr, dass sie sich zu sehr anpassen und ihre
  eigenen Bedürfnisse vernachlässigen, um Konflikte zu vermeiden. Es ist
  wichtig, dass sie lernen, ihre eigenen Grenzen zu setzen und sich selbst treu
  zu bleiben, um ein ausgewogenes und erfülltes Leben zu führen.
</p>
<% } %> <% if (key2 === 'scorpio') { %>
<h3 class="horo">Steinbock & Skorpion</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Steinbock und Mond in Skorpion
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Steinbock und Mondzeichen in Skorpion
  vereint die ehrgeizige, disziplinierte und praktische Natur des Steinbocks mit
  der intensiven, leidenschaftlichen und tiefgründigen emotionalen Natur des
  Skorpions. Menschen mit dieser Kombination sind oft sehr zielstrebig und
  entschlossen, ihre Ziele zu erreichen, und haben dabei eine ausgeprägte
  Fähigkeit, tiefere Zusammenhänge und Motivationen zu verstehen. Sie sind
  strategisch in ihrem Ansatz und besitzen eine starke Willenskraft, die ihnen
  hilft, Hindernisse zu überwinden und langfristige Erfolge zu erzielen. Diese
  Kombination verleiht ihnen auch eine gewisse magnetische Anziehungskraft, die
  ihnen in vielen Lebensbereichen zugutekommt. In Beziehungen und emotionalen
  Situationen zeigen sich Menschen mit dieser Kombination als sehr loyal und
  engagiert. Sie sind in der Lage, tiefere emotionale Verbindungen herzustellen
  und schätzen die Intensität und Tiefe ihrer Beziehungen. Diese Personen sind
  oft sehr beschützend gegenüber ihren Liebsten und zeigen eine große emotionale
  Tiefe und Leidenschaft. Sie haben hohe Erwartungen an sich selbst und ihre
  Partner, und sind bereit, intensiv in ihre Beziehungen zu investieren. Ihre
  Fähigkeit, tiefere emotionale Bedürfnisse zu erkennen und darauf zu reagieren,
  macht sie zu einfühlsamen und verständnisvollen Partnern. Sie neigen dazu, in
  Beziehungen sehr loyal und zuverlässig zu sein, erwarten jedoch auch eine
  gewisse Tiefe und Ernsthaftigkeit von ihrem Gegenüber. Allerdings können auch
  problematische Aspekte dieser Kombination auftreten. Die starke
  Entschlossenheit und Kontrolle des Steinbocks, gepaart mit der intensiven und
  manchmal eifersüchtigen Natur des Skorpions, kann zu Konflikten führen.
  Menschen mit dieser Kombination können dazu neigen, sehr anspruchsvoll und
  kontrollierend zu sein, sowohl gegenüber sich selbst als auch gegenüber
  anderen. Ihre tiefen emotionalen Bedürfnisse und der Wunsch nach Kontrolle
  können zu Eifersucht und Misstrauen führen. Zudem kann ihre intensive Natur
  manchmal als überwältigend empfunden werden, was zu Spannungen in Beziehungen
  führen kann. Es ist wichtig, dass sie lernen, Vertrauen zu entwickeln und
  loszulassen, um ein gesundes Gleichgewicht in ihren Beziehungen zu finden und
  ihre emotionalen Bedürfnisse auf konstruktive Weise zu erfüllen.
</p>
<% } %> <% if (key2 === 'sagittarius') { %>
<h3 class="horo">Steinbock & Schütze</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Steinbock und Mond in Schütze
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Steinbock und Mondzeichen in Schütze
  vereint die pragmatische, disziplinierte und zielstrebige Natur des Steinbocks
  mit der optimistischen, abenteuerlustigen und freiheitsliebenden Natur des
  Schützen. Menschen mit dieser Kombination besitzen einen starken Antrieb, ihre
  Ziele zu erreichen und setzen dabei auf eine strukturierte Herangehensweise,
  während sie gleichzeitig offen für neue Erfahrungen und Horizonte bleiben. Die
  bodenständige und planvolle Art des Steinbocks wird durch die philosophische
  und weltoffene Einstellung des Schützen ergänzt, was dazu führt, dass diese
  Personen oft weitsichtig und visionär sind. Sie haben die Fähigkeit, große
  Pläne zu schmieden und diese auch durch konsequente Schritte zu verwirklichen.
  In Beziehungen und emotionalen Situationen zeigen sich Menschen mit dieser
  Kombination als engagierte, aber auch unabhängige Partner. Sie streben nach
  tiefen und bedeutungsvollen Verbindungen, schätzen jedoch gleichzeitig ihre
  persönliche Freiheit und Raum für eigene Interessen. Ihre emotionale Natur ist
  geprägt von einem Wunsch nach Wachstum und Entdeckung, sowohl innerhalb der
  Beziehung als auch individuell. Sie können sehr unterstützend und inspirierend
  sein, indem sie ihre Partner ermutigen, ebenfalls nach Höherem zu streben und
  ihre Träume zu verfolgen. Diese Personen sind oft sehr loyal und zuverlässig,
  jedoch erwarten sie auch eine gewisse Offenheit und Abenteuerlust von ihren
  Partnern, um die Beziehung lebendig und interessant zu halten. Allerdings
  können auch problematische Aspekte dieser Kombination auftreten. Der starke
  Wunsch nach Sicherheit und Stabilität des Steinbocks kann manchmal im
  Widerspruch zur Freiheitsliebe und Ungebundenheit des Schützen stehen. Dies
  kann zu inneren Konflikten und Spannungen führen, insbesondere wenn es darum
  geht, Verpflichtungen und persönliche Freiheiten in Einklang zu bringen.
  Menschen mit dieser Kombination könnten Schwierigkeiten haben, eine Balance
  zwischen Verantwortung und Abenteuer zu finden, was sich in ihren Beziehungen
  als Herausforderung erweisen kann. Zudem kann die optimistische Natur des
  Schützen manchmal die eher pessimistische und vorsichtige Haltung des
  Steinbocks irritieren, was zu Missverständnissen führen kann. Es ist wichtig,
  dass sie lernen, diese unterschiedlichen Seiten in Einklang zu bringen und
  sowohl Struktur als auch Flexibilität in ihr Leben zu integrieren.
</p>
<% } %> <% if (key2 === 'capricorn') { %>
<h3 class="horo">Steinbock & Steinbock</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Steinbock und Mond ebenfalls in Steinbock
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Steinbock und Mondzeichen in Steinbock
  vereint die Essenz der Steinbock-Energie auf eine intensive Weise. Menschen
  mit dieser doppelten Steinbock-Kombination sind ausgesprochen ehrgeizig,
  diszipliniert und fokussiert. Sie besitzen eine natürliche Autorität und ein
  starkes Verantwortungsbewusstsein, das sich in allen Bereichen ihres Lebens
  zeigt. Diese Individuen sind bekannt für ihre Ausdauer und ihre Fähigkeit,
  langfristige Ziele konsequent zu verfolgen. Ihre pragmatische und realistische
  Sichtweise ermöglicht es ihnen, fundierte Entscheidungen zu treffen und
  strategische Pläne zu entwickeln, die auf Erfolg ausgerichtet sind. Der
  doppelte Steinbock verleiht ihnen zudem eine immense innere Stärke und
  Resilienz, was sie zu äußerst zuverlässigen und beständigen Persönlichkeiten
  macht. In Beziehungen und emotionalen Situationen zeigt sich die
  Steinbock-Natur ebenfalls stark. Menschen mit dieser Kombination sind oft
  zurückhaltend, wenn es darum geht, ihre Gefühle offen zu zeigen. Sie legen
  großen Wert auf Stabilität und Sicherheit in ihren Beziehungen und neigen
  dazu, partnerschaftliche Verbindungen mit derselben Ernsthaftigkeit und
  Hingabe zu behandeln wie ihre beruflichen Ziele. Diese Personen bevorzugen es,
  ihre Emotionen kontrolliert und bedacht auszudrücken, was ihnen hilft, Krisen
  und Konflikte auf eine nüchterne und sachliche Weise zu bewältigen. In
  emotionalen Situationen agieren sie mit einer ruhigen und besonnenen Haltung,
  die ihnen und ihren Partnern ein Gefühl der Sicherheit und Verlässlichkeit
  vermittelt. Ihr treuer und engagierter Charakter macht sie zu verlässlichen
  Partnern, die stets bemüht sind, ein solides Fundament für ihre Beziehungen zu
  schaffen. Allerdings können auch problematische Aspekte bei dieser doppelten
  Steinbock-Kombination auftreten. Die starke Betonung auf Disziplin und
  Kontrolle kann dazu führen, dass diese Personen Schwierigkeiten haben, sich zu
  entspannen und spontane, unbeschwerte Momente zu genießen. Ihre Tendenz,
  Gefühle zurückzuhalten und ihre Emotionen unter Verschluss zu halten, kann in
  Beziehungen zu Missverständnissen und einem Gefühl der Distanz führen. Zudem
  neigen sie dazu, sich stark auf ihre beruflichen und materiellen Ziele zu
  konzentrieren, was manchmal zulasten ihrer persönlichen Beziehungen gehen
  kann. Es besteht die Gefahr, dass sie ihre eigenen Bedürfnisse und die ihrer
  Partner vernachlässigen, indem sie zu sehr in ihre Arbeit und Pflichten
  vertieft sind. Es ist wichtig, dass sie lernen, eine Balance zwischen Arbeit
  und persönlichem Leben zu finden und Raum für emotionale Intimität und
  Entspannung zu schaffen.
</p>
<% } %> <% if (key2 === 'aquarius') { %>
<h3 class="horo">Steinbock & Wassermann</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Steinbock und Mond in Wassermann
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Steinbock und Mondzeichen in Wassermann
  vereint die strukturierte und zielgerichtete Natur des Steinbocks mit der
  unkonventionellen und freiheitsliebenden Energie des Wassermanns. Menschen mit
  dieser Kombination sind oft sehr ehrgeizig und verfügen über eine klare Vision
  für ihre Zukunft, während sie gleichzeitig innovative und fortschrittliche
  Ideen schätzen. Sie haben die Fähigkeit, ihre Ziele mit einer strategischen
  Herangehensweise zu verfolgen und gleichzeitig offen für neue und
  unkonventionelle Wege zu sein. Diese Kombination ermöglicht es ihnen,
  traditionelle Werte mit einem modernen und zukunftsorientierten Ansatz zu
  verbinden, was ihnen hilft, sowohl beruflich als auch persönlich erfolgreich
  zu sein. In Beziehungen und emotionalen Situationen zeigen sich diese Menschen
  als interessante und vielschichtige Partner. Der Steinbock-Anteil bringt
  Stabilität und Verlässlichkeit in ihre Beziehungen, während der
  Wassermann-Anteil eine gewisse Unabhängigkeit und Bedürfnis nach Freiheit
  einbringt. Sie neigen dazu, ihren Partnern viel Raum zu lassen und erwarten im
  Gegenzug auch, dass ihre eigene Unabhängigkeit respektiert wird. Emotional
  sind sie oft zurückhaltend und bevorzugen es, ihre Gefühle auf eine rationale
  und distanzierte Weise zu verarbeiten. Sie können sehr loyal und engagiert
  sein, aber sie brauchen auch Partner, die ihre Eigenheiten und ihren Wunsch
  nach Individualität verstehen und schätzen. Allerdings können auch
  problematische Aspekte bei dieser Kombination auftreten. Die starke Betonung
  auf Eigenständigkeit und Unabhängigkeit kann dazu führen, dass sie
  Schwierigkeiten haben, tiefe emotionale Bindungen einzugehen oder ihre Gefühle
  offen zu zeigen. Ihre Neigung, sich auf ihre intellektuellen Interessen und
  beruflichen Ziele zu konzentrieren, kann manchmal dazu führen, dass sie ihre
  emotionalen Bedürfnisse und die ihrer Partner vernachlässigen. Zudem kann die
  Kombination aus Steinbocks Ernsthaftigkeit und Wassermanns Unberechenbarkeit
  zu inneren Konflikten führen, wenn ihre praktischen und strukturierten
  Ansichten mit ihrem Bedürfnis nach Freiheit und Unabhängigkeit kollidieren. Es
  ist wichtig, dass sie lernen, ein Gleichgewicht zwischen ihren beruflichen
  Ambitionen und ihren emotionalen Bedürfnissen zu finden und offen für die
  Gefühle und Bedürfnisse ihrer Partner zu sein.
</p>
<% } %> <% if (key2 === 'pisces') { %>
<h3 class="horo">Steinbock & Fische</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Steinbock und Mond in Fische
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Steinbock und Mondzeichen in Fische
  vereint die disziplinierte, zielstrebige Natur des Steinbocks mit der
  sensiblen und intuitiven Energie der Fische. Menschen mit dieser Kombination
  sind oft sehr ehrgeizig und haben eine starke Arbeitsmoral, die sie dazu
  treibt, ihre Ziele zu erreichen. Gleichzeitig verfügen sie über ein tiefes
  Verständnis für die Gefühle und Bedürfnisse anderer, was ihnen eine
  mitfühlende und unterstützende Persönlichkeit verleiht. Diese Kombination
  ermöglicht es ihnen, ihre praktischen Fähigkeiten mit einer feinen emotionalen
  Intelligenz zu verbinden, wodurch sie sowohl im beruflichen als auch im
  persönlichen Leben erfolgreich sein können. In Beziehungen und emotionalen
  Situationen zeigen sich diese Menschen als fürsorgliche und loyale Partner.
  Der Steinbock-Anteil sorgt für Stabilität und Verlässlichkeit, während der
  Fische- Anteil eine tiefe emotionale Verbindung und ein starkes
  Einfühlungsvermögen mitbringt. Sie neigen dazu, sich intensiv um das Wohl
  ihrer Partner zu kümmern und sind oft bereit, Opfer für das Glück ihrer Lieben
  zu bringen. Emotionen spielen eine wichtige Rolle in ihrem Leben, und sie
  haben die Fähigkeit, sowohl ihre eigenen Gefühle als auch die ihrer Partner
  gut zu verstehen und zu kommunizieren. Diese Mischung aus praktischer
  Unterstützung und emotionaler Tiefe macht sie zu idealen Partnern, die sowohl
  Sicherheit als auch emotionale Intimität bieten können. Allerdings können auch
  problematische Aspekte bei dieser Kombination auftreten. Die starke Betonung
  auf Verantwortungsbewusstsein und Disziplin kann manchmal mit der sensiblen
  und oft flüchtigen Natur der Fische kollidieren. Sie könnten Schwierigkeiten
  haben, einen Ausgleich zwischen ihren praktischen Verpflichtungen und ihren
  emotionalen Bedürfnissen zu finden, was zu inneren Spannungen führen kann.
  Ihre Neigung, ihre Gefühle tief zu empfinden, kann sie auch anfällig für
  emotionale Überlastung machen, besonders wenn sie das Gefühl haben, dass ihre
  Anstrengungen nicht gewürdigt werden. Zudem besteht die Gefahr, dass sie sich
  zu sehr auf die Bedürfnisse anderer konzentrieren und dabei ihre eigenen
  vernachlässigen. Es ist wichtig, dass sie lernen, ihre eigenen Grenzen zu
  respektieren und sich Zeit für Selbstfürsorge zu nehmen, um ein gesundes
  Gleichgewicht zwischen ihren praktischen und emotionalen Leben zu finden.
</p>
<% } %>