<% if (key2 === 'aries') { %>
<h3 class="horo">Stier & Widder</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne im Stier und Mond im Widder</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Stier und Mondzeichen in Widder vereint
	die stabile, entschlossene Natur des Stiers mit der feurigen, impulsiven
	Energie des Widders. Menschen mit dieser Konstellation haben einen starken
	Charakter, der sich durch Zuverlässigkeit und eine pragmatische
	Herangehensweise an das Leben auszeichnet. Der Stier verleiht ihnen Geduld,
	Ausdauer und ein starkes Bedürfnis nach Sicherheit und Komfort. Diese
	Qualitäten werden durch den Widder-Mond ergänzt, der ihnen eine dynamische,
	abenteuerlustige und mutige emotionale Natur gibt. Sie sind in der Lage, ihre
	Ziele entschlossen zu verfolgen und besitzen die Energie und den Antrieb, um
	Herausforderungen aktiv zu begegnen. Auf emotionaler Ebene sorgt der
	Widder-Mond dafür, dass diese Menschen ihre Gefühle intensiv und
	leidenschaftlich erleben. Sie sind oft impulsiv in ihren Reaktionen und neigen
	dazu, ihre Emotionen direkt und ohne Umschweife auszudrücken. Dies kann ihnen
	helfen, ihre Bedürfnisse klar zu kommunizieren und in zwischenmenschlichen
	Beziehungen ehrlich und authentisch zu sein. Der Stier-Sonne gibt ihnen dabei
	die nötige Erdung und Stabilität, um nicht in emotionalen Turbulenzen verloren
	zu gehen. Diese Kombination ermöglicht es ihnen, sowohl entschlossen als auch
	flexibel zu sein, was ihnen in vielen Lebensbereichen zugutekommt. Allerdings
	können auch Herausforderungen auftreten. Die Beharrlichkeit und das Bedürfnis
	nach Routine des Stiers können manchmal im Widerspruch zu der impulsiven und
	ungeduldigen Natur des Widder-Monds stehen. Diese innere Spannung kann zu
	Konflikten führen, insbesondere wenn sie das Gefühl haben, zwischen dem Wunsch
	nach Sicherheit und dem Drang nach spontanen Abenteuern hin- und hergerissen
	zu sein. Zudem kann die direkte und manchmal aggressive emotionale
	Ausdrucksweise des Widder-Monds zu Missverständnissen oder Konflikten in
	zwischenmenschlichen Beziehungen führen, wenn sie nicht lernen, ihre
	Reaktionen zu kontrollieren und geduldiger zu sein. Es ist wichtig, dass sie
	ein Gleichgewicht finden, um ihre Stärken zu maximieren und ihre Schwächen zu
	minimieren.
</p>
<% } %> <% if (key2 === 'taurus') { %>
<h3 class="horo">Stier & Stier</h3>
<h6 class="horo">
	Kombiwirkung zwischen Sonne im Stier und Mond ebenfalls im Stier
</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Stier und Mondzeichen in Stier vereint
	die Eigenschaften dieses Erdzeichens in doppelter Intensität, was zu einer
	besonders stabilen und zuverlässigen Persönlichkeit führt. Menschen mit dieser
	Konstellation sind oft ausgesprochen bodenständig, geduldig und ausdauernd.
	Der Stier-Sonne verleiht ihnen eine starke Willenskraft und ein ausgeprägtes
	Bedürfnis nach Sicherheit und Komfort, während der Stier-Mond ihre emotionale
	Stabilität und Ruhe verstärkt. Diese Menschen schätzen die schönen Dinge im
	Leben, wie Genuss, Natur und Kunst, und sie streben danach, eine harmonische
	und angenehme Umgebung für sich und ihre Lieben zu schaffen. Auf emotionaler
	Ebene ist der Stier-Mond für seine Beständigkeit und Fähigkeit bekannt, in
	stressigen Situationen Ruhe zu bewahren. Diese Menschen neigen dazu, ihre
	Gefühle nicht impulsiv zu äußern, sondern behalten sie oft für sich, bis sie
	sicher sind, dass es der richtige Moment ist, sie auszudrücken. Ihre
	emotionale Tiefe und ihre Fähigkeit, in Beziehungen loyal und verlässlich zu
	sein, machen sie zu ausgezeichneten Partnern und Freunden. Sie sind in der
	Lage, starke Bindungen einzugehen und diese über lange Zeiträume hinweg
	aufrechtzuerhalten, was auf ihre Treue und Hingabe zurückzuführen ist.
	Allerdings können auch problematische Aspekte auftreten. Die starke Fixierung
	auf Sicherheit und Beständigkeit kann dazu führen, dass sie Veränderungen und
	neuen Erfahrungen gegenüber resistent sind. Diese Tendenz zur Sturheit kann
	sie manchmal unflexibel machen, insbesondere wenn sie mit unerwarteten
	Situationen oder Herausforderungen konfrontiert werden. Zudem kann ihre
	Neigung zur Routine und ihr Bedürfnis nach Komfort sie dazu verleiten, Risiken
	zu vermeiden, die für persönliches Wachstum notwendig sein könnten. Es ist
	wichtig, dass sie lernen, gelegentlich ihre Komfortzone zu verlassen und
	offener für neue Erfahrungen zu sein, um ein ausgewogenes und erfülltes Leben
	zu führen.
</p>
<% } %> <% if (key2 === 'gemini') { %>
<h3 class="horo">Stier & Zwillinge</h3>
<h6 class="horo">
	Wechselwirkung zwischen Sonne im Stier und Mond in Zwillinge
</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Stier und Mondzeichen in Zwillinge
	vereint die Bodenständigkeit und Beständigkeit des Stiers mit der
	Vielseitigkeit und Kommunikationsfreudigkeit der Zwillinge. Menschen mit
	dieser Konstellation sind in der Lage, ihre praktische Natur mit einer
	flexiblen und neugierigen Geisteshaltung zu verbinden. Der Stier verleiht
	ihnen eine starke Willenskraft und ein Bedürfnis nach Sicherheit und
	Stabilität, während der Zwillinge-Mond ihre emotionale Natur dynamischer und
	anpassungsfähiger macht. Diese Menschen schätzen sowohl die Verlässlichkeit
	als auch die Abwechslung in ihrem Leben und sind oft bestrebt, ein
	Gleichgewicht zwischen beiden Aspekten zu finden. Auf emotionaler Ebene
	ermöglicht der Zwillinge-Mond diesen Menschen, ihre Gefühle auf eine rationale
	und kommunikative Weise auszudrücken. Sie sind fähig, ihre Gedanken und
	Emotionen klar und verständlich zu artikulieren, was ihnen in
	zwischenmenschlichen Beziehungen zugutekommt. Ihre natürliche Neugier und ihr
	Wunsch nach intellektueller Stimulation tragen dazu bei, dass sie stets
	bestrebt sind, neue Ideen und Perspektiven zu entdecken. Diese Mischung aus
	Stabilität und Flexibilität macht sie zu angenehmen und interessanten
	Gesprächspartnern, die sowohl tiefgründige als auch unterhaltsame Gespräche
	führen können. Allerdings können auch problematische Aspekte auftreten. Die
	ständige Suche nach Abwechslung und intellektueller Stimulation des
	Zwillinge-Mondes kann manchmal mit dem Bedürfnis des Stiers nach Beständigkeit
	und Routine kollidieren. Diese innere Spannung kann dazu führen, dass sie sich
	zwischen dem Wunsch nach Sicherheit und dem Drang nach Veränderung hin- und
	hergerissen fühlen. Zudem kann ihre Tendenz zur Rationalisierung von Gefühlen
	dazu führen, dass sie sich emotional distanziert oder unbeständig zeigen. Es
	ist wichtig, dass sie lernen, ihre Bedürfnisse nach Stabilität und Abwechslung
	in Einklang zu bringen und sich nicht vor tiefen emotionalen Bindungen zu
	scheuen, um ein erfülltes und ausgewogenes Leben zu führen.
</p>
<% } %> <% if (key2 === 'cancer') { %>
<h3 class="horo">Stier & Krebs</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne im Stier und Mond in Krebs</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Stier und Mondzeichen in Krebs vereint
	die beständige, erdverbundene Natur des Stiers mit der gefühlvollen,
	fürsorglichen Energie des Krebses. Menschen mit dieser Konstellation zeichnen
	sich durch eine tiefe Liebe zur Sicherheit und Geborgenheit aus. Der Stier
	verleiht ihnen eine starke Willenskraft und ein Bedürfnis nach Stabilität und
	materieller Sicherheit, während der Krebs-Mond ihre emotionale Tiefe und
	Empathie verstärkt. Diese Menschen sind oft sehr familienorientiert und
	schätzen die einfachen Freuden des Lebens. Sie sind in der Lage, sowohl
	praktische als auch emotionale Unterstützung zu bieten und streben danach, ein
	harmonisches Zuhause zu schaffen. Auf emotionaler Ebene bringt der Krebs-Mond
	eine sanfte, nährende Qualität in das stierische Temperament ein. Sie sind
	äußerst sensibel und in der Lage, die Bedürfnisse und Gefühle anderer tief zu
	verstehen. Dies macht sie zu einfühlsamen und unterstützenden Partnern, die
	sich um das Wohl ihrer Liebsten kümmern. Ihre natürliche Fähigkeit,
	Geborgenheit zu vermitteln, kombiniert mit dem praktischen und entschlossenen
	Charakter des Stiers, macht sie zu verlässlichen und stabilen Bezugspersonen.
	Sie haben eine starke Intuition und ein feines Gespür für die Stimmung in
	ihrer Umgebung, was ihnen hilft, harmonische Beziehungen aufrechtzuerhalten.
	Allerdings können auch problematische Aspekte auftreten. Die tiefe emotionale
	Sensibilität des Krebs-Mondes kann manchmal mit der starren Entschlossenheit
	des Stiers kollidieren, was zu inneren Konflikten führen kann. Ihre Tendenz,
	sich um die Bedürfnisse anderer zu kümmern, könnte dazu führen, dass sie ihre
	eigenen Bedürfnisse vernachlässigen. Zudem könnte der ständige Wunsch nach
	Sicherheit und Stabilität dazu führen, dass sie Veränderungen und Risiken
	meiden, was ihre persönliche und berufliche Entwicklung hemmen könnte. Es ist
	wichtig, dass sie lernen, ihre emotionalen Bedürfnisse mit ihrer praktischen
	Natur in Einklang zu bringen und offen für neue Erfahrungen zu bleiben, um ein
	erfülltes und ausgewogenes Leben zu führen.
</p>
<% } %> <% if (key2 === 'leo') { %>
<h3 class="horo">Stier & Löwe</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne im Stier und Mond in Löwe</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Stier und Mondzeichen in Löwe vereint die
	Erdgebundenheit und Beständigkeit des Stiers mit der lebhaften, großzügigen
	Natur des Löwen. Menschen mit dieser Konstellation verfügen über eine starke
	Persönlichkeit, die sowohl stabil als auch charismatisch ist. Der Stier
	verleiht ihnen eine ausgeprägte Bodenständigkeit und ein Bedürfnis nach
	materieller Sicherheit, während der Löwe-Mond ihnen eine natürliche
	Anziehungskraft und eine warme, herzliche Ausstrahlung schenkt. Diese
	Kombination führt zu einer stabilen und zugleich dynamischen Persönlichkeit,
	die in der Lage ist, sowohl praktisch als auch leidenschaftlich zu handeln.
	Auf emotionaler Ebene sorgt der Löwe-Mond dafür, dass sie ihre Gefühle offen
	und großzügig ausdrücken. Sie sind oft sehr loyal und schützen ihre Liebsten
	mit großer Hingabe. Der Einfluss des Löwen-Mondes verleiht ihnen eine kreative
	Ader und das Bedürfnis, im Mittelpunkt der Aufmerksamkeit zu stehen. Diese
	Menschen sind in der Regel selbstbewusst und haben eine starke Präsenz, die
	andere anzieht. In Kombination mit der stierischen Beständigkeit und Geduld
	können sie sowohl in persönlichen als auch in beruflichen Bereichen
	erfolgreich sein, da sie die Fähigkeit haben, ihre Ziele mit Ausdauer und
	Leidenschaft zu verfolgen. Allerdings können auch problematische Aspekte
	auftreten. Der Stolz und die manchmal dominierende Art des Löwe-Mondes können
	mit der stierischen Sturheit kollidieren, was zu Spannungen und Konflikten
	führen kann. Ihre Neigung, im Mittelpunkt zu stehen und Anerkennung zu suchen,
	könnte auf Unverständnis oder Widerstand stoßen, insbesondere wenn sie auf
	Menschen treffen, die weniger extrovertiert sind. Zudem könnte der starke
	Wunsch nach Stabilität des Stiers sie daran hindern, notwendige Veränderungen
	vorzunehmen oder Risiken einzugehen, die für ihre persönliche und berufliche
	Entwicklung vorteilhaft wären. Es ist wichtig, dass sie lernen, ihre stolze
	Natur mit der Fähigkeit zur Flexibilität und Anpassung zu balancieren, um
	harmonische und erfüllende Beziehungen zu pflegen.
</p>
<% } %> <% if (key2 === 'virgo') { %>
<h3 class="horo">Stier & Jungfrau</h3>
<h6 class="horo">
	Wechselwirkung zwischen Sonne im Stier und Mond in Jungfrau
</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Stier und Mondzeichen in Jungfrau vereint
	zwei Erdzeichen, was eine sehr stabile und praktische Persönlichkeit ergibt.
	Menschen mit dieser Konstellation sind besonders bodenständig, zuverlässig und
	gründlich. Der Stier bringt eine starke Verbindung zur Natur, eine Liebe zum
	Komfort und ein Bedürfnis nach Sicherheit mit sich. In Kombination mit dem
	analytischen und detailorientierten Jungfrau-Mond, sind diese Menschen oft
	sehr methodisch und effizient in ihrem Vorgehen. Sie schätzen Ordnung und sind
	bestrebt, ihre Umgebung und ihre Aufgaben sorgfältig zu verwalten. Auf
	emotionaler Ebene verleiht der Mond in Jungfrau ihnen eine zurückhaltende und
	manchmal vorsichtige Herangehensweise an Gefühle. Sie neigen dazu, ihre
	Emotionen durch praktische Handlungen auszudrücken und können oft ihre
	Zuneigung durch Fürsorglichkeit und Unterstützung zeigen. Diese Kombination
	macht sie zu ausgezeichneten Freunden und Partnern, die immer bereit sind,
	praktische Hilfe zu leisten und auf die Bedürfnisse ihrer Lieben einzugehen.
	Sie sind zudem sehr loyal und haben eine tiefe, wenn auch manchmal stille,
	Hingabe zu den Menschen und Projekten, die ihnen am Herzen liegen. Allerdings
	können auch einige problematische Aspekte auftreten. Die Verbindung von Stier
	und Jungfrau kann dazu führen, dass sie zu kritisch oder perfektionistisch
	werden, sowohl sich selbst als auch anderen gegenüber. Ihre hohe Erwartung an
	sich selbst und ihre Umgebung kann manchmal zu Stress und Unzufriedenheit
	führen. Zudem können sie Schwierigkeiten haben, spontan zu sein oder sich
	schnell an neue Situationen anzupassen, da sie eine starke Vorliebe für
	Routine und Sicherheit haben. Es ist wichtig, dass sie lernen, ein
	Gleichgewicht zwischen ihrer praktischen Natur und der Notwendigkeit, flexibel
	zu bleiben und das Leben in all seinen Facetten zu genießen, zu finden.
</p>
<% } %> <% if (key2 === 'libra') { %>
<h3 class="horo">Stier & Waage</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne im Stier und Mond in Waage</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Stier und Mondzeichen in Waage vereint
	die erdige Beständigkeit des Stiers mit der luftigen, harmoniesuchenden Natur
	der Waage. Diese Verbindung sorgt für eine Persönlichkeit, die sowohl
	praktisch als auch ästhetisch ausgerichtet ist. Menschen mit dieser
	Kombination schätzen materielle Sicherheit und Stabilität (Stier), aber auch
	Schönheit, Kunst und soziale Beziehungen (Waage). Sie haben ein feines Gespür
	für Ästhetik und sind oft in der Lage, ihre Umgebung harmonisch und
	ansprechend zu gestalten. Auf emotionaler Ebene bringt der Mond in Waage eine
	tiefe Sehnsucht nach Harmonie und Ausgeglichenheit in Beziehungen mit sich.
	Diese Menschen streben nach Frieden und sind oft sehr diplomatisch. Sie haben
	eine natürliche Fähigkeit, Konflikte zu lösen und ein angenehmes Umfeld zu
	schaffen. Diese Kombination führt zu einer Persönlichkeit, die sowohl die
	Sicherheit und den Komfort des Stiers als auch die sozialen Fähigkeiten und
	das ästhetische Empfinden der Waage schätzt. Sie sind oft sehr charmant und
	haben eine angenehme, einladende Ausstrahlung. Allerdings können auch einige
	problematische Aspekte auftreten. Die Kombination aus Stier und Waage kann
	dazu führen, dass sie Schwierigkeiten haben, Entscheidungen zu treffen, da
	beide Zeichen eine starke Abneigung gegen Konfrontationen haben. Sie könnten
	dazu neigen, Konflikte zu vermeiden, anstatt sie direkt anzugehen, was
	langfristig zu Problemen führen kann. Zudem kann ihre Liebe zu Schönheit und
	Luxus dazu führen, dass sie übermäßig materialistisch oder oberflächlich
	wirken. Es ist wichtig, dass sie lernen, ein Gleichgewicht zwischen ihrem
	Bedürfnis nach Harmonie und der Notwendigkeit, klare Entscheidungen zu treffen
	und manchmal auch unangenehme Situationen zu konfrontieren, zu finden.
</p>
<% } %> <% if (key2 === 'scorpio') { %>
<h3 class="horo">Stier & Skorpion</h3>
<h6 class="horo">
	Wechselwirkung zwischen Sonne im Stier und Mond in Skorpion
</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Stier und Mondzeichen in Skorpion vereint
	die erdige Beständigkeit des Stiers mit der intensiven und emotional
	tiefgründigen Natur des Skorpions. Diese Verbindung sorgt für eine
	Persönlichkeit, die sowohl praktisch als auch leidenschaftlich ist. Menschen
	mit dieser Kombination haben ein starkes Bedürfnis nach Stabilität und
	Sicherheit (Stier) und eine tiefgehende emotionale Intensität (Skorpion). Sie
	sind sehr loyal und besitzen eine immense innere Stärke, die es ihnen
	ermöglicht, Herausforderungen zu meistern und langfristige Ziele zu verfolgen.
	Auf emotionaler Ebene bringt der Mond in Skorpion eine enorme Tiefe und
	Leidenschaft mit sich. Diese Menschen fühlen sehr intensiv und sind oft sehr
	entschlossen und fokussiert, wenn es darum geht, ihre emotionalen Bedürfnisse
	zu erfüllen. Ihre Fähigkeit, tiefgründige emotionale Bindungen einzugehen, ist
	stark ausgeprägt. Diese Kombination führt zu einer Persönlichkeit, die sowohl
	die Beständigkeit und den Komfort des Stiers als auch die transformative Kraft
	und emotionale Intensität des Skorpions schätzt. Sie sind oft sehr
	entschlossen und können sich mit einer bemerkenswerten Ausdauer und Hingabe
	ihren Zielen widmen. Allerdings können auch einige problematische Aspekte
	auftreten. Die Kombination aus Stier und Skorpion kann dazu führen, dass diese
	Menschen manchmal stur und unnachgiebig sind. Beide Zeichen haben eine Tendenz
	zur Eifersucht und Besitzergreifung, was in Beziehungen zu Konflikten führen
	kann. Sie könnten Schwierigkeiten haben, loszulassen und neigen dazu, an alten
	Verletzungen und Groll festzuhalten. Zudem kann ihre emotionale Intensität
	manchmal überwältigend wirken, sowohl für sie selbst als auch für andere. Es
	ist wichtig, dass sie lernen, ein Gleichgewicht zwischen ihrer starken
	emotionalen Natur und der Notwendigkeit, Flexibilität und Offenheit zu
	bewahren, zu finden.
</p>
<% } %> <% if (key2 === 'sagittarius') { %>
<h3 class="horo">Stier & Schütze</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne im Stier und Mond in Schütze</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Stier und Mondzeichen in Schütze vereint
	die bodenständige Natur des Stiers mit der abenteuerlustigen und
	optimistischen Einstellung des Schützen. Diese Menschen haben eine
	einzigartige Mischung aus Stabilität und einem unstillbaren Durst nach Wissen
	und neuen Erfahrungen. Sie schätzen sowohl Sicherheit und Komfort als auch
	Freiheit und Abenteuer. Diese Verbindung kann zu einer Persönlichkeit führen,
	die sich in der Suche nach Stabilität sicher fühlt, aber gleichzeitig immer
	nach neuen Horizonten strebt und sich in ihrem Leben auf Wachstum und
	Expansion konzentriert. Auf emotionaler Ebene bringt der Mond in Schütze eine
	offene und freigeistige Haltung mit sich. Diese Menschen sind oft sehr
	optimistisch und haben eine positive Einstellung, die sie durch viele
	Herausforderungen trägt. Ihre emotionale Natur ist geprägt von einem starken
	Bedürfnis nach Freiheit und Unabhängigkeit, was dazu führt, dass sie sich in
	starren oder einengenden Situationen unwohl fühlen. Sie sind in der Lage, das
	Leben mit einer gewissen Leichtigkeit zu betrachten und finden Freude an neuen
	Erfahrungen und Abenteuern. Diese Kombination führt dazu, dass sie in der Lage
	sind, sich sowohl auf ihre langfristigen Ziele zu konzentrieren als auch
	spontan und flexibel zu sein, wenn sich neue Möglichkeiten bieten. Allerdings
	können auch einige problematische Aspekte auftreten. Die Kombination aus Stier
	und Schütze kann manchmal zu inneren Konflikten führen, da der Stier die
	Sicherheit und Beständigkeit sucht, während der Schütze Freiheit und
	Abwechslung schätzt. Diese gegensätzlichen Bedürfnisse können zu Spannungen
	führen, besonders wenn es darum geht, langfristige Verpflichtungen einzugehen.
	Menschen mit dieser Kombination könnten Schwierigkeiten haben, sich auf eine
	Sache zu konzentrieren, da sie von Natur aus neugierig sind und viele
	Interessen haben. Zudem kann die Tendenz des Schützen zur Offenheit und
	Direktheit manchmal auf die praktische und vorsichtige Natur des Stiers
	treffen, was zu Missverständnissen und Frustrationen führen kann. Es ist
	wichtig, dass sie lernen, ein Gleichgewicht zwischen ihrer Sehnsucht nach
	Sicherheit und ihrem Bedürfnis nach Freiheit zu finden.
</p>
<% } %> <% if (key2 === 'capricorn') { %>
<h3 class="horo">Stier & Steinbock</h3>
<h6 class="horo">
	Wechselwirkung zwischen Sonne im Stier und Mond in Steinbock
</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Stier und Mondzeichen in Steinbock
	verbindet zwei erdgebundene Zeichen, die für ihre Stabilität, Praktikabilität
	und Zielstrebigkeit bekannt sind. Menschen mit dieser Kombination haben eine
	starke und zuverlässige Persönlichkeit. Der Stier bringt eine liebevolle,
	sinnliche und genussvolle Natur in den Charakter ein, während der Steinbock
	eine ernsthafte, disziplinierte und ambitionierte emotionale Tiefe hinzufügt.
	Diese Menschen sind oft sehr geduldig und beharrlich, was ihnen hilft, ihre
	Ziele zu erreichen und ein stabiles, komfortables Leben aufzubauen. Auf
	emotionaler Ebene bringt der Mond in Steinbock eine nüchterne und
	kontrollierte Haltung mit sich. Diese Menschen sind nicht leicht aus der
	Fassung zu bringen und behalten auch in stressigen Situationen ihre Ruhe. Sie
	haben ein starkes Bedürfnis nach Sicherheit und Ordnung, was durch die
	praktische Natur des Stiers noch verstärkt wird. Emotionen werden oft
	rationalisiert, und sie neigen dazu, ihre Gefühle eher durch Taten als durch
	Worte auszudrücken. Dies kann zu einem tiefen Gefühl von Verantwortung und
	Verlässlichkeit führen, sowohl gegenüber sich selbst als auch gegenüber
	anderen. Allerdings können auch einige problematische Aspekte auftreten. Die
	starke Betonung auf Stabilität und Sicherheit kann dazu führen, dass diese
	Menschen manchmal zu stur oder resistent gegenüber Veränderungen sind. Ihre
	emotionale Zurückhaltung und das Bedürfnis, immer die Kontrolle zu behalten,
	können es schwierig machen, ihre Gefühle offen auszudrücken, was zu
	Missverständnissen in Beziehungen führen kann. Zudem können sie sich manchmal
	übermäßig auf materielle Erfolge und gesellschaftlichen Status konzentrieren,
	wodurch sie die emotionalen und spirituellen Aspekte des Lebens
	vernachlässigen. Es ist wichtig, dass sie lernen, ein Gleichgewicht zwischen
	ihrer ambitionierten Natur und ihren emotionalen Bedürfnissen zu finden, um
	ein erfülltes und harmonisches Leben zu führen.
</p>
<% } %> <% if (key2 === 'aquarius') { %>
<h3 class="horo">Stier & Wassermann</h3>
<h6 class="horo">
	Wechselwirkung zwischen Sonne im Stier und Mond in Wassermann
</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Stier und Mondzeichen in Wassermann
	verbindet Erd- und Luftelemente, was zu einer einzigartigen und vielseitigen
	Persönlichkeit führt. Menschen mit dieser Kombination zeichnen sich durch eine
	stabile und sinnliche Natur aus, die der Stier mitbringt, gepaart mit der
	kreativen und unkonventionellen Energie des Wassermanns. Der Stier verleiht
	ihnen eine Liebe zur Natur, zu Schönheit und Genuss, während der Mond im
	Wassermann eine starke Unabhängigkeit und ein Bedürfnis nach Freiheit und
	Innovation hervorbringt. Diese Menschen sind oft in der Lage, neue und
	originelle Ideen auf eine praktische und greifbare Weise umzusetzen.
	Emotionell gesehen bringt der Mond im Wassermann eine distanzierte und
	rationale Herangehensweise an Gefühle. Diese Menschen neigen dazu, ihre
	Emotionen auf intellektueller Ebene zu verarbeiten und suchen oft nach
	Lösungen, die sowohl innovativ als auch pragmatisch sind. Die Erdung des
	Stiers hilft dabei, diese intellektuellen Einsichten in die Realität zu
	bringen, was sie besonders gut darin macht, langwierige Projekte erfolgreich
	abzuschließen. Sie sind oft sozial engagiert und fühlen sich von
	Gruppenaktivitäten und gemeinschaftlichen Projekten angezogen, wobei sie
	gleichzeitig die Beständigkeit und Sicherheit suchen, die der Stier bietet.
	Allerdings können auch einige problematische Aspekte dieser Kombination
	auftreten. Die starke Unabhängigkeit und das Bedürfnis nach Freiheit des
	Mondes im Wassermann können manchmal im Konflikt mit dem Stier stehen, der
	Stabilität und Sicherheit schätzt. Diese Menschen können Schwierigkeiten
	haben, tiefe emotionale Bindungen einzugehen, da der Mond im Wassermann dazu
	neigt, Distanz zu wahren und Emotionen intellektuell zu analysieren. Zudem
	kann die feste und manchmal sture Natur des Stiers es ihnen schwer machen,
	sich flexibel auf neue Situationen einzustellen, was zu Spannungen führen
	kann. Es ist wichtig, dass sie lernen, ein Gleichgewicht zwischen ihrem
	Bedürfnis nach Stabilität und ihrer Sehnsucht nach Freiheit und Innovation zu
	finden, um ein harmonisches Leben zu führen.
</p>
<% } %> <% if (key2 === 'pisces') { %>
<h3 class="horo">Stier & Fische</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne im Stier und Mond in Fische</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Stier und Mondzeichen in Fische vereint
	die Erdverbundenheit und Stabilität des Stiers mit der Sensibilität und
	Intuition der Fische. Menschen mit dieser Kombination zeichnen sich durch eine
	ruhige und ausgeglichene Natur aus, die eine tiefe Verbindung zur physischen
	Welt und gleichzeitig eine reiche emotionale Tiefe hat. Der Stier bringt einen
	starken Sinn für Praktikabilität und Beständigkeit mit, was es ihnen
	ermöglicht, ihre Träume und kreativen Visionen, die der Mond in Fische
	inspiriert, in die Realität umzusetzen. Diese Menschen haben oft eine starke
	ästhetische Sensibilität und schätzen Schönheit und Kunst in ihrem täglichen
	Leben. Emotionell gesehen bringt der Mond in Fische eine große Empathie und
	Mitgefühl mit sich. Menschen mit dieser Kombination sind oft sehr einfühlsam
	und können die Gefühle anderer intuitiv erfassen. Diese emotionale Tiefe
	ergänzt die Standhaftigkeit des Stiers, wodurch sie in der Lage sind, eine
	stabile und unterstützende Präsenz für diejenigen zu sein, die ihnen nahe
	stehen. Ihre Fähigkeit, sowohl in der physischen als auch in der emotionalen
	Welt verankert zu sein, macht sie zu hervorragenden Zuhörern und Beratern, die
	anderen mit ihrer sanften, aber beständigen Art helfen können. Allerdings
	können auch einige problematische Aspekte dieser Kombination auftreten. Die
	große Sensibilität des Mondes in Fische kann dazu führen, dass diese Menschen
	sich leicht überwältigt oder verletzt fühlen, insbesondere wenn sie auf die
	harte Realität des Lebens stoßen, die der Stier oft betont. Diese emotionale
	Empfindlichkeit kann manchmal im Konflikt mit der eher praktischen und
	manchmal starren Natur des Stiers stehen, was zu inneren Spannungen führen
	kann. Außerdem können sie dazu neigen, sich in ihren Tagträumen oder
	emotionalen Reaktionen zu verlieren, was es ihnen schwer macht, sich auf
	praktische Aufgaben zu konzentrieren. Es ist wichtig, dass sie lernen, ihre
	emotionale Sensibilität mit der praktischen Beständigkeit des Stiers in
	Einklang zu bringen, um ein harmonisches und erfülltes Leben zu führen.
</p>
<% } %>
