<% if (key2 === 'aries') { %>
<h3 class="horo">Fische & Widder</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Fische und Mond im Widder </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Fische und Mondzeichen in Widder führt zu
  einer Persönlichkeit, die sowohl sensibel und einfühlsam als auch dynamisch
  und energiegeladen ist. Die Fische bringen eine tiefe emotionale und intuitive
  Natur mit, die es ihnen ermöglicht, die Gefühle und Bedürfnisse anderer leicht
  zu erkennen. Gleichzeitig verleiht das Mondzeichen im Widder ihnen eine
  feurige und mutige Herangehensweise an das Leben. Diese Mischung schafft eine
  einzigartige Balance zwischen Träumerei und Tatendrang, wodurch sie in der
  Lage sind, ihre kreativen Visionen in die Realität umzusetzen. Sie sind oft
  leidenschaftliche Verfechter von Ideen, die ihnen am Herzen liegen, und haben
  die Energie, diese zu verfolgen. In Beziehungen und emotionalen Situationen
  zeigen Menschen mit dieser Kombination eine faszinierende Mischung aus
  Zärtlichkeit und Entschlossenheit. Sie können sehr liebevoll und unterstützend
  sein, gleichzeitig aber auch direkt und offen, wenn es um die Kommunikation
  ihrer Bedürfnisse und Gefühle geht. Ihre Fische-Natur sorgt dafür, dass sie
  tief mit ihren Partnern verbunden sind und eine starke emotionale Intuition
  besitzen. Der Einfluss des Widders gibt ihnen jedoch die Fähigkeit, Konflikte
  direkt anzusprechen und für ihre Beziehungen zu kämpfen. Dies führt zu einer
  dynamischen und oft leidenschaftlichen Beziehungsführung, in der sie nicht nur
  träumen, sondern auch handeln, um ihre Partnerschaften zu stärken. Allerdings
  können auch problematische Aspekte auftreten. Die Kombination von Fische und
  Widder kann zu inneren Spannungen führen, da die sanfte, emotionale Natur der
  Fische manchmal im Widerspruch zu der impulsiven und manchmal aggressiven
  Energie des Widders steht. Diese Menschen könnten Schwierigkeiten haben, eine
  Balance zwischen ihrem Bedürfnis nach Ruhe und Reflexion und ihrem Drang nach
  unmittelbarer Aktion zu finden. Ihr starkes emotionales Einfühlungsvermögen
  kann sie manchmal anfällig für emotionale Überwältigung machen, besonders wenn
  sie sich in stürmische oder konfliktgeladene Situationen begeben. Es ist
  wichtig für sie, Wege zu finden, um sowohl ihre sensiblen als auch ihre
  entschlossenen Seiten in Einklang zu bringen, um innere Harmonie und
  erfüllende Beziehungen zu erleben.
</p>
<% } %> <% if (key2 === 'taurus') { %>
<h3 class="horo">Fische & Stier</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Fische und Mond im Stier </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Fische und Mondzeichen in Stier führt zu
  einer Persönlichkeit, die eine harmonische Mischung aus Sensibilität und
  Bodenständigkeit darstellt. Fische, die für ihre intuitive und träumerische
  Natur bekannt sind, bringen eine tiefe emotionale Intelligenz und
  Einfühlungsvermögen mit. Der Stier, als Mondzeichen, verleiht dieser Person
  zusätzlich eine erdige und stabile Basis, die sie in der Lage macht, ihre
  Träume und Visionen auf eine praktische Weise zu verwirklichen. Diese
  Kombination macht sie sowohl kreativ als auch verlässlich, da sie eine starke
  Verbindung zu ihren Gefühlen haben und gleichzeitig die Geduld und
  Entschlossenheit besitzen, um ihre Ziele zu erreichen. In Beziehungen und
  emotionalen Situationen zeigt sich diese Kombination durch eine tiefe
  Loyalität und Zärtlichkeit. Menschen mit dieser Kombination sind oft sehr
  hingebungsvolle Partner, die sowohl Stabilität als auch emotionale Tiefe in
  ihre Beziehungen einbringen. Sie neigen dazu, sehr sinnlich und
  genussorientiert zu sein, was ihre Partnerschaften besonders harmonisch und
  erfüllend macht. Die Fische-Natur sorgt dafür, dass sie auf die Bedürfnisse
  und Wünsche ihres Partners sehr einfühlsam reagieren, während der Stier ihnen
  die Geduld und Beständigkeit gibt, um langfristige und stabile Beziehungen
  aufzubauen. Sie sind oft sehr schützende und liebevolle Partner, die sich
  bemühen, ein sicheres und komfortables Umfeld für ihre Liebsten zu schaffen.
  Allerdings können auch problematische Aspekte auftreten. Die Sensibilität der
  Fische kann manchmal im Widerspruch zu der Sturheit des Stiers stehen, was zu
  inneren Konflikten führen kann. Diese Menschen könnten Schwierigkeiten haben,
  ihre eigenen Bedürfnisse und Wünsche klar auszudrücken, besonders wenn sie das
  Gefühl haben, dass dies zu Konflikten führen könnte. Zudem kann ihre Tendenz,
  sich in ihren Träumen und Fantasien zu verlieren, manchmal dazu führen, dass
  sie die praktische Seite des Lebens vernachlässigen. Es ist wichtig für sie,
  einen Ausgleich zu finden zwischen ihrer emotionalen Tiefe und ihrer
  Notwendigkeit, sich in der realen Welt zu verankern. Indem sie lernen, sowohl
  ihre Sensibilität als auch ihre Standhaftigkeit zu nutzen, können sie eine
  harmonische und erfüllte Lebensweise erreichen.
</p>
<% } %> <% if (key2 === 'gemini') { %>
<h3 class="horo">Fische & Zwillinge</h3>
<h6 class="horo"> Wechselwirkung zwischen Sonne in Fische und Mond in Zwillinge </h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Fische und Mondzeichen in Zwillinge führt
  zu einer faszinierenden Persönlichkeit, die sowohl emotional tiefgründig als
  auch geistig flexibel ist. Fische, bekannt für ihre intuitive und sensible
  Natur, bringen eine tiefe emotionale Intelligenz und Einfühlungsvermögen mit
  sich. Das Mondzeichen Zwillinge fügt dieser emotionalen Tiefe eine lebhafte
  und kommunikative Qualität hinzu, die es der Person ermöglicht, ihre Gefühle
  auf vielseitige und kreative Weise auszudrücken. Diese Menschen sind oft sehr
  anpassungsfähig und neugierig, was ihnen hilft, neue Erfahrungen und
  Informationen schnell zu verarbeiten und sich an unterschiedliche Situationen
  anzupassen. In Beziehungen und emotionalen Situationen zeigt sich diese
  Kombination durch eine besondere Fähigkeit, emotionale Verbindungen auf
  spielerische und zugleich tiefgründige Weise zu gestalten. Menschen mit dieser
  Kombination sind oft sehr charmant und gesellig, was sie zu anziehenden und
  interessanten Partnern macht. Sie haben ein natürliches Talent, ihre Partner
  zu unterhalten und in Gesprächen zu fesseln, während sie gleichzeitig ein
  tiefes Verständnis für die emotionalen Bedürfnisse ihrer Liebsten haben. Ihre
  Zwillinge-Natur sorgt dafür, dass sie leicht neue Freundschaften schließen und
  bestehende Beziehungen durch interessante Gespräche und gemeinsame Aktivitäten
  bereichern können. Gleichzeitig ermöglicht die Fische-Natur ihnen, sich auf
  einer emotionalen Ebene zu verbinden und echte, tiefgehende Beziehungen
  aufzubauen. Allerdings können auch problematische Aspekte auftreten. Die duale
  Natur dieser Kombination kann zu inneren Konflikten führen, da die
  Fische-Tendenz zur Tiefe und Zurückgezogenheit manchmal im Widerspruch zur
  zwillingshaften Neigung zur Oberflächlichkeit und Ablenkung steht. Diese
  Menschen könnten Schwierigkeiten haben, sich auf eine Sache oder Beziehung
  vollständig zu konzentrieren, da sie leicht von neuen Ideen und Möglichkeiten
  abgelenkt werden. Zudem kann ihre emotionale Sensibilität dazu führen, dass
  sie sich schnell überwältigt fühlen, insbesondere wenn sie sich in hektischen
  oder chaotischen Umgebungen befinden. Es ist wichtig für sie, einen Weg zu
  finden, um ihre emotionale Tiefe und ihre geistige Flexibilität in Einklang zu
  bringen, um innere Balance und Zufriedenheit zu erreichen. Indem sie lernen,
  sowohl ihre empathischen Fähigkeiten als auch ihre kommunikativen Talente zu
  nutzen, können sie harmonische und erfüllte Beziehungen und Lebenswege
  gestalten.
</p>
<% } %> <% if (key2 === 'cancer') { %>
<h3 class="horo">Fische & Krebs</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Fische und Mond in Krebs</h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Fische und Mondzeichen in Krebs vereint
  zwei der emotional und intuitivsten Zeichen des Tierkreises, was zu einer
  tiefsinnigen und empathischen Persönlichkeit führt. Fische, die für ihre
  Träumerei, Kreativität und Sensibilität bekannt sind, bilden den Kern dieser
  Persönlichkeit. Diese Eigenschaften werden durch die emotionale Tiefe und
  Fürsorglichkeit des Mondzeichens Krebs verstärkt. Menschen mit dieser
  Kombination haben eine außergewöhnliche Fähigkeit, die Gefühle und Bedürfnisse
  anderer zu spüren und darauf einzugehen. Sie sind oft sehr mitfühlend und
  verstehen es, Trost und Unterstützung zu bieten, was sie zu wunderbaren
  Freunden und Partnern macht. In Beziehungen und emotionalen Situationen zeigen
  Menschen mit dieser Kombination eine bemerkenswerte Zärtlichkeit und Hingabe.
  Sie sind äußerst loyal und neigen dazu, starke emotionale Bindungen
  aufzubauen. Ihre Intuition und Empathie ermöglichen es ihnen, die
  unausgesprochenen Bedürfnisse ihrer Partner zu erkennen und darauf zu
  reagieren, was ihnen hilft, tiefe und bedeutungsvolle Verbindungen
  herzustellen. Diese Menschen sind oft sehr häuslich und schätzen ein
  harmonisches und liebevolles Umfeld. Sie investieren viel Zeit und Energie in
  die Pflege ihrer Beziehungen und sind bereit, große Opfer für das Wohl ihrer
  Liebsten zu bringen. Ihre Fähigkeit, zuzuhören und emotionale Unterstützung zu
  bieten, macht sie zu verlässlichen und liebevollen Partnern. Allerdings können
  auch problematische Aspekte auftreten. Die starke emotionale Natur dieser
  Kombination kann zu Überempfindlichkeit und Launenhaftigkeit führen. Menschen
  mit dieser Kombination könnten Schwierigkeiten haben, sich von negativen
  Gefühlen zu lösen und neigen dazu, sich in ihrer eigenen Gefühlswelt zu
  verlieren. Diese Tendenz kann dazu führen, dass sie sich leicht verletzt oder
  missverstanden fühlen. Ihre Neigung zur Selbstaufopferung kann manchmal auch
  dazu führen, dass sie ihre eigenen Bedürfnisse vernachlässigen, was
  langfristig zu emotionaler Erschöpfung führen kann. Zudem kann ihre
  Zurückhaltung, Konflikte offen anzusprechen, dazu führen, dass Probleme unter
  der Oberfläche schwelen, anstatt gelöst zu werden. Es ist wichtig, dass sie
  lernen, ihre eigenen Grenzen zu erkennen und durchzusetzen, um ein gesundes
  Gleichgewicht zwischen Geben und Nehmen zu finden.
</p>
<% } %> <% if (key2 === 'leo') { %>
<h3 class="horo">Fische & Löwe</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Fische und Mond in Löwe</h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Fische und Mondzeichen in Löwe vereint
  die träumerische, intuitive Natur der Fische mit der dynamischen,
  selbstbewussten Energie des Löwen. Diese Menschen besitzen eine faszinierende
  Mischung aus Kreativität und Selbstvertrauen. Fische bringen eine tiefe
  Empathie, künstlerische Begabung und eine starke Vorstellungskraft mit,
  während der Löwe ihnen eine charismatische Ausstrahlung, Führungsqualitäten
  und einen natürlichen Sinn für Dramatik verleiht. Diese Kombination kann zu
  einer Person führen, die sowohl sensibel als auch furchtlos ist, die in der
  Lage ist, ihre Träume in die Realität umzusetzen und andere auf diesem Weg zu
  inspirieren. In Beziehungen und emotionalen Situationen zeigen Menschen mit
  dieser Kombination eine leidenschaftliche und großzügige Natur. Sie sind
  warmherzig und liebevoll, aber auch sehr beschützend gegenüber ihren Liebsten.
  Ihre intuitive Seite macht sie aufmerksam und verständnisvoll, was ihnen
  hilft, die Bedürfnisse ihrer Partner tief zu erkennen und darauf einzugehen.
  Gleichzeitig bringt der Löwe-Mond ein Bedürfnis nach Anerkennung und
  Bewunderung in ihre Beziehungen ein. Diese Personen genießen es, im
  Mittelpunkt der Aufmerksamkeit zu stehen und schätzen es, wenn ihre Bemühungen
  und ihre Liebe wertgeschätzt werden. Ihre loyale und ehrliche Natur sorgt
  dafür, dass sie treue und engagierte Partner sind. Allerdings können auch
  problematische Aspekte auftreten. Der Gegensatz zwischen der sensiblen,
  manchmal unsicheren Natur der Fische und dem stolzen, selbstbewussten Löwen
  kann innere Konflikte verursachen. Diese Menschen könnten Schwierigkeiten
  haben, ihre tiefsten Emotionen und Bedürfnisse auszudrücken, besonders wenn
  sie das Gefühl haben, dass sie dadurch ihre Stärke oder ihre Würde verlieren
  könnten. Sie könnten dazu neigen, ihre Unsicherheiten hinter einer Fassade von
  Selbstvertrauen zu verbergen, was zu innerem Stress führen kann. Zudem kann
  ihr Bedürfnis nach Anerkennung und Bewunderung in Beziehungen zu Eifersucht
  oder dominierendem Verhalten führen. Es ist wichtig für sie, ein Gleichgewicht
  zwischen ihrer Empathie und ihrem Bedürfnis nach Aufmerksamkeit zu finden, um
  harmonische und erfüllende Beziehungen zu pflegen.
</p>
<% } %> <% if (key2 === 'virgo') { %>
<h3 class="horo">Fische & Jungfrau</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Fische und Mond in Jungfrau
</h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Fische und Mondzeichen in Jungfrau
  vereint die intuitive, kreative und träumerische Natur der Fische mit der
  praktischen, analytischen und detailorientierten Energie der Jungfrau. Diese
  Menschen besitzen eine einzigartige Mischung aus Sensibilität und
  Pragmatismus. Die Fische-Sonne verleiht ihnen eine tiefe Empathie,
  künstlerische Begabung und eine reiche Vorstellungskraft, während der
  Jungfrau-Mond ihnen hilft, geerdet zu bleiben, Aufgaben systematisch anzugehen
  und für Ordnung und Effizienz zu sorgen. Diese Kombination kann zu einer
  Person führen, die sowohl inspiriert als auch methodisch arbeitet und in der
  Lage ist, ihre Träume auf realistische Weise zu verwirklichen. In Beziehungen
  und emotionalen Situationen zeigen Menschen mit dieser Kombination eine
  fürsorgliche und engagierte Natur. Sie sind einfühlsam und achten darauf, die
  Bedürfnisse ihrer Partner zu verstehen und darauf einzugehen. Die Fische-Sonne
  bringt eine romantische und mitfühlende Seite ein, die bereit ist, tief
  emotionale Verbindungen einzugehen. Der Jungfrau-Mond ergänzt dies mit einer
  Bereitschaft, praktische Unterstützung zu bieten und für Stabilität zu sorgen.
  Diese Menschen neigen dazu, sehr aufmerksam und hilfsbereit zu sein, und sie
  streben danach, ihren Liebsten ein Gefühl von Sicherheit und Geborgenheit zu
  geben. Ihre Fähigkeit, sowohl emotional als auch praktisch zu unterstützen,
  macht sie zu zuverlässigen und liebevollen Partnern. Allerdings können auch
  problematische Aspekte auftreten. Der Gegensatz zwischen der fließenden,
  manchmal unstrukturierten Natur der Fische und der ordnungsliebenden,
  perfektionistischen Energie der Jungfrau kann innere Konflikte verursachen.
  Diese Menschen könnten Schwierigkeiten haben, ihre kreativen und emotionalen
  Impulse mit ihrem Bedürfnis nach Struktur und Kontrolle in Einklang zu
  bringen. Sie könnten dazu neigen, sich selbst zu kritisieren oder sich in
  Details zu verlieren, was ihre natürliche Intuition und Spontaneität
  einschränken könnte. Zudem kann ihr Perfektionismus in Beziehungen zu
  übermäßigen Erwartungen oder Kritik gegenüber ihren Partnern führen. Es ist
  wichtig für sie, ein Gleichgewicht zwischen ihrer Sensibilität und ihrem
  Bedürfnis nach Perfektion zu finden, um harmonische und erfüllende Beziehungen
  zu pflegen.
</p>
<% } %> <% if (key2 === 'libra') { %>
<h3 class="horo">Fische & Waage</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Fische und Mond in Waage</h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Fische und Mondzeichen in Waage vereint
  die intuitive, empfindsame und kreative Natur der Fische mit der charmanten,
  diplomatischen und harmoniesuchenden Energie der Waage. Menschen mit dieser
  Kombination haben eine starke künstlerische Ader und eine tiefe Wertschätzung
  für Schönheit und Ästhetik. Die Fische-Sonne verleiht ihnen eine reiche
  Vorstellungskraft, Mitgefühl und eine Neigung zu Träumereien, während der
  Waage-Mond ihnen hilft, sozial und kontaktfreudig zu sein, Beziehungen zu
  pflegen und Konflikte zu vermeiden. Diese Kombination kann zu einer Person
  führen, die sowohl kreativ inspiriert als auch sozial geschickt ist. In
  Beziehungen und emotionalen Situationen zeigen Menschen mit dieser Kombination
  eine liebevolle, einfühlsame und ausgleichende Natur. Sie streben nach
  harmonischen Verbindungen und sind bereit, Kompromisse einzugehen, um Frieden
  und Ausgeglichenheit in ihren Beziehungen zu gewährleisten. Die Fische-Sonne
  bringt eine tiefe emotionale Tiefe und ein starkes Bedürfnis nach Verbindung
  mit sich, während der Waage-Mond den Wunsch nach Gleichgewicht und Fairness
  verstärkt. Diese Menschen sind oft sehr romantisch und suchen nach
  Seelenverwandten, mit denen sie eine tiefe, erfüllende Partnerschaft aufbauen
  können. Sie neigen dazu, ihre Partner zu idealisieren und sind oft sehr
  großzügig und unterstützend in emotionalen Angelegenheiten. Allerdings können
  auch problematische Aspekte auftreten. Die Kombination aus Fische-Sonne und
  Waage-Mond kann dazu führen, dass diese Menschen Schwierigkeiten haben, klare
  Entscheidungen zu treffen und sich festzulegen, da beide Zeichen zur
  Unentschlossenheit neigen. Sie könnten sich oft zwischen ihrem Wunsch nach
  Harmonie und ihrem Bedürfnis nach emotionaler Tiefe hin- und hergerissen
  fühlen. Diese Unsicherheit kann zu einer Tendenz führen, Konflikten aus dem
  Weg zu gehen oder unangenehme Situationen zu vermeiden, anstatt sich ihnen
  direkt zu stellen. Zudem besteht die Gefahr, dass sie sich zu sehr anpassen
  und ihre eigenen Bedürfnisse vernachlässigen, um anderen zu gefallen. Es ist
  wichtig für sie, ein Gleichgewicht zwischen ihrer Empathie und ihrem Bedürfnis
  nach Harmonie zu finden, um authentisch und selbstbewusst in ihren Beziehungen
  zu agieren.
</p>
<% } %> <% if (key2 === 'scorpio') { %>
<h3 class="horo">Fische & Skorpion</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Fische und Mond in Skorpion
</h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Fische und Mondzeichen in Skorpion
  vereint die sanfte, intuitive und empathische Natur der Fische mit der
  intensiven, tiefgründigen und leidenschaftlichen Energie des Skorpions.
  Menschen mit dieser Konstellation besitzen eine beeindruckende emotionale
  Tiefe und eine ausgeprägte Fähigkeit, sich in andere einzufühlen. Die
  Fische-Sonne verleiht ihnen eine kreative und träumerische Seite, die oft von
  einer starken Vorstellungskraft und einem natürlichen Talent für künstlerische
  Ausdrucksformen begleitet wird. Der Skorpion-Mond verstärkt diese Sensibilität
  durch seine emotionale Intensität und seine Fähigkeit, die verborgenen
  Schichten der menschlichen Psyche zu durchdringen. In Beziehungen und
  emotionalen Situationen sind Menschen mit dieser Kombination äußerst loyal,
  engagiert und leidenschaftlich. Sie suchen nach tiefen, bedeutsamen
  Verbindungen und sind bereit, sich vollständig in ihre Partnerschaften
  einzubringen. Der Fische-Einfluss sorgt dafür, dass sie liebevoll,
  verständnisvoll und unterstützend sind, während der Skorpion-Mond ihnen eine
  bemerkenswerte Fähigkeit zur emotionalen Bindung und eine starke Intuition
  verleiht. Diese Personen sind in der Lage, die Bedürfnisse und Gefühle ihrer
  Partner auf einer tiefen Ebene zu verstehen, was ihre Beziehungen intensiv und
  erfüllend macht. Sie neigen dazu, ihre Partner zu beschützen und sind bereit,
  alles für ihre Liebsten zu tun, was ihnen eine starke emotionale Stabilität
  und Sicherheit bietet. Allerdings können auch problematische Aspekte
  auftreten. Die Kombination von Fische-Sonne und Skorpion-Mond kann dazu
  führen, dass diese Menschen sehr anfällig für Stimmungsschwankungen und
  emotionale Turbulenzen sind. Der Skorpion-Mond kann eine Tendenz zur
  Eifersucht und Besitzergreifung verstärken, was zu Konflikten und Spannungen
  in Beziehungen führen kann. Zudem können sie manchmal dazu neigen, sich in
  ihren eigenen emotionalen Welten zu verlieren und Schwierigkeiten haben, sich
  von negativen Gefühlen zu lösen. Die Fische-Sonne kann diese Neigung noch
  verstärken, indem sie eine gewisse Passivität und Flucht in Tagträume
  begünstigt. Es ist wichtig, dass Menschen mit dieser Kombination lernen, ihre
  Emotionen zu kontrollieren und gesunde Wege zu finden, um mit ihrer intensiven
  Gefühlswelt umzugehen, um ein harmonisches und ausgeglichenes Leben zu führen.
</p>
<% } %> <% if (key2 === 'sagittarius') { %>
<h3 class="horo">Fische & Schütze</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Fische und Mond in Schütze
</h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Fische und Mondzeichen in Schütze vereint
  die träumerische, intuitive und empfindsame Natur der Fische mit der
  abenteuerlustigen, optimistischen und unabhängigen Energie des Schützen.
  Menschen mit dieser Konstellation sind oft visionäre Denker, die sowohl von
  ihrer tiefen inneren Welt als auch von der äußeren Welt der Möglichkeiten
  inspiriert werden. Die Fische-Sonne verleiht ihnen eine ausgeprägte Empathie
  und Sensibilität, während der Schütze-Mond ihren Geist erweitert und sie dazu
  anregt, neue Horizonte zu erkunden. Diese Personen sind in der Lage, kreative
  und spirituelle Einsichten zu gewinnen und gleichzeitig pragmatische Schritte
  zu unternehmen, um ihre Träume zu verwirklichen. In Beziehungen und
  emotionalen Situationen verhalten sich Menschen mit dieser Kombination oft
  offen, ehrlich und direkt. Die Fische-Sonne sorgt dafür, dass sie warmherzig,
  mitfühlend und unterstützend sind, während der Schütze-Mond ihre Kommunikation
  mit einer erfrischenden Offenheit und Ehrlichkeit würzt. Sie sind in der Lage,
  tief emotionale Verbindungen zu ihren Partnern aufzubauen, während sie
  gleichzeitig den Raum für Freiheit und Unabhängigkeit schätzen. Diese Personen
  lieben es, gemeinsam mit ihren Partnern neue Erfahrungen zu sammeln und haben
  eine natürliche Begeisterung für das Leben. Ihre Beziehungen sind oft geprägt
  von einem starken Gefühl des gegenseitigen Vertrauens und einer gemeinsamen
  Leidenschaft für Wachstum und Abenteuer. Allerdings können auch problematische
  Aspekte auftreten. Die Kombination von Fische-Sonne und Schütze-Mond kann dazu
  führen, dass diese Menschen manchmal Schwierigkeiten haben, sich festzulegen
  und beständig zu sein. Der Schütze-Mond kann eine Tendenz zur Rastlosigkeit
  und zur Suche nach immer neuen Abenteuern verstärken, was in Beziehungen zu
  Konflikten führen kann, wenn der Partner mehr Stabilität und Beständigkeit
  erwartet. Zudem kann die Sensibilität der Fische-Sonne dazu führen, dass sie
  sich schnell überfordert oder verletzt fühlen, insbesondere wenn der direkte
  und manchmal taktlose Schütze-Mond unbeabsichtigt ihre Gefühle verletzt. Es
  ist wichtig, dass Menschen mit dieser Kombination lernen, ein Gleichgewicht
  zwischen ihrer Sehnsucht nach Freiheit und ihrer Fähigkeit zur emotionalen
  Bindung zu finden, um harmonische und erfüllende Beziehungen zu führen.
</p>
<% } %> <% if (key2 === 'capricorn') { %>
<h3 class="horo">Fische & Steinbock</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Fische und Mond in Steinbock
</h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Fische und Mondzeichen in Steinbock
  vereint die einfühlsame, intuitive und kreative Natur der Fische mit der
  disziplinierten, verantwortungsbewussten und zielorientierten Energie des
  Steinbocks. Menschen mit dieser Konstellation besitzen eine tiefe innere
  Sensibilität und eine starke Verbindung zur emotionalen und spirituellen Welt,
  während sie gleichzeitig die praktische Fähigkeit haben, ihre Träume in die
  Realität umzusetzen. Die Fische-Sonne verleiht ihnen eine reiche
  Vorstellungskraft und Mitgefühl, während der Steinbock-Mond ihre Ambitionen
  strukturiert und ihnen die nötige Ausdauer gibt, um langfristige Ziele zu
  erreichen. In Beziehungen und emotionalen Situationen verhalten sich Menschen
  mit dieser Kombination oft loyal und zuverlässig. Die Fische-Sonne macht sie
  zu liebevollen, unterstützenden und verständnisvollen Partnern, die ein
  starkes Bedürfnis nach tiefer emotionaler Verbindung haben. Der Steinbock-Mond
  bringt jedoch eine nüchterne und praktische Herangehensweise in ihre
  Gefühlswelt, was ihnen hilft, auch in schwierigen emotionalen Situationen
  einen kühlen Kopf zu bewahren. Sie neigen dazu, in Beziehungen Stabilität und
  Sicherheit zu bieten und sind bereit, hart zu arbeiten, um eine solide Basis
  für ihr gemeinsames Leben zu schaffen. Diese Personen schätzen Vertrauen und
  Verlässlichkeit in ihren Partnerschaften und sind oft bereit, ihre eigenen
  Bedürfnisse zugunsten des Partners zurückzustellen. Allerdings können auch
  problematische Aspekte auftreten. Die Kombination von Fische-Sonne und
  Steinbock-Mond kann dazu führen, dass diese Menschen manchmal Schwierigkeiten
  haben, ihre Gefühle vollständig auszudrücken. Der Steinbock-Mond kann eine
  Neigung zur emotionalen Zurückhaltung und zum Perfektionismus verstärken, was
  dazu führen kann, dass sie ihre eigenen Bedürfnisse und Emotionen
  unterdrücken. Gleichzeitig kann die Sensibilität der Fische-Sonne dazu führen,
  dass sie sich schnell überwältigt fühlen, besonders wenn die Erwartungen des
  Steinbock-Mondes an sie selbst oder an andere zu hoch sind. Es ist wichtig,
  dass Menschen mit dieser Kombination lernen, ein Gleichgewicht zwischen ihrer
  emotionalen Tiefe und ihrem Bedürfnis nach Kontrolle zu finden, um ein
  erfülltes und ausgewogenes Leben zu führen.
</p>
<% } %> <% if (key2 === 'aquarius') { %>
<h3 class="horo">Fische & Wassermann</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Fische und Mond in Wassermann
</h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Fische und Mondzeichen in Wassermann
  vereint die tiefen, intuitiven und einfühlsamen Qualitäten der Fische mit den
  unkonventionellen, intellektuellen und freiheitsliebenden Eigenschaften des
  Wassermanns. Menschen mit dieser Konstellation sind oft kreativ und visionär,
  mit einer starken Neigung, über den Tellerrand hinauszudenken. Die
  Fische-Sonne verleiht ihnen eine reiche Vorstellungskraft und eine tiefe
  emotionale Verbindung zur Welt, während der Wassermann-Mond sie dazu
  inspiriert, neue Ideen zu erforschen und innovative Wege zu finden, ihre
  Träume zu verwirklichen. Diese Kombination kann dazu führen, dass sie sowohl
  sensibel als auch revolutionär sind, stets bemüht, das Wohl anderer zu
  fördern. In Beziehungen und emotionalen Situationen verhalten sich Menschen
  mit dieser Kombination oft unabhängig und dennoch fürsorglich. Die
  Fische-Sonne macht sie zu liebevollen und mitfühlenden Partnern, die
  tiefgehende emotionale Verbindungen suchen. Gleichzeitig bringt der
  Wassermann-Mond eine gewisse Distanz und den Wunsch nach Freiheit mit sich,
  was ihnen hilft, in Beziehungen nicht zu abhängig oder vereinnahmend zu sein.
  Sie schätzen Offenheit und Ehrlichkeit und sind in der Lage, sowohl emotionale
  als auch intellektuelle Bedürfnisse zu erfüllen. Diese Menschen können ihren
  Partnern ein hohes Maß an Verständnis und Unterstützung bieten, während sie
  gleichzeitig genug Raum für individuelle Entfaltung lassen. Ihre Fähigkeit,
  emotionale Tiefe mit intellektueller Klarheit zu verbinden, macht sie zu
  einzigartigen und interessanten Partnern. Allerdings können auch
  problematische Aspekte auftreten. Die Kombination von Fische-Sonne und
  Wassermann-Mond kann manchmal zu inneren Konflikten führen, da die emotionale
  Tiefe und Sensibilität der Fische-Sonne im Widerspruch zur rationalen und
  distanzierten Natur des Wassermann-Mondes stehen kann. Dies kann dazu führen,
  dass sie Schwierigkeiten haben, ihre eigenen Bedürfnisse und Gefühle
  vollständig zu verstehen und auszudrücken. Zudem könnte der Wunsch nach
  Freiheit und Unabhängigkeit, der durch den Wassermann-Mond verstärkt wird, zu
  Problemen in Beziehungen führen, besonders wenn emotionale Nähe und
  Verbindlichkeit gefordert sind. Es ist wichtig, dass Menschen mit dieser
  Kombination lernen, ein Gleichgewicht zwischen ihrer Sehnsucht nach tiefen
  emotionalen Verbindungen und ihrem Bedürfnis nach Freiheit zu finden, um
  erfüllte und harmonische Beziehungen zu führen.
</p>
<% } %> <% if (key2 === 'pisces') { %>
<h3 class="horo">Fische & Fische</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Fische und Mond ebenfalls in Fische
</h6>
<p class="horo">
  Die Kombination von Sonnenzeichen in Fische und Mondzeichen in Fische
  verstärkt die tiefen, intuitiven und einfühlsamen Qualitäten der Fische
  doppelt. Menschen mit dieser Konstellation besitzen eine außergewöhnliche
  Sensibilität und eine reiche Vorstellungskraft. Sie sind oft sehr kreativ und
  künstlerisch veranlagt, mit einer natürlichen Fähigkeit, Emotionen und
  Stimmungen anderer zu erfassen und darauf zu reagieren. Diese
  Doppel-Fische-Kombination macht sie zu äußerst mitfühlenden und
  verständnisvollen Individuen, die sich stark mit den Gefühlen und Bedürfnissen
  ihrer Mitmenschen identifizieren können. Ihre Intuition ist stark ausgeprägt,
  was ihnen hilft, Situationen und Menschen auf eine tiefe und oft unbewusste
  Weise zu verstehen. In Beziehungen und emotionalen Situationen verhalten sich
  Menschen mit dieser Kombination äußerst liebevoll und hingebungsvoll. Sie
  neigen dazu, tiefe emotionale Verbindungen zu ihren Partnern aufzubauen und
  sind bestrebt, eine harmonische und unterstützende Umgebung zu schaffen. Ihre
  Empathie und ihr Mitgefühl machen sie zu sehr fürsorglichen Partnern, die sich
  intensiv um das Wohl ihrer Liebsten kümmern. Sie sind romantisch und
  träumerisch, oft mit einer idealistischen Vorstellung von Liebe und
  Partnerschaft. Diese Menschen suchen nach seelischer und emotionaler
  Verbundenheit und sind bereit, viel zu geben, um diese zu erreichen. Ihre
  Fähigkeit, die Emotionen ihres Partners zu spüren und darauf einzugehen, kann
  zu einer tiefen und erfüllenden Beziehung führen. Allerdings können auch
  problematische Aspekte auftreten. Die doppelte Fische-Kombination kann zu
  einer übermäßigen Sensibilität und Verletzlichkeit führen, was sie anfällig
  für emotionale Erschütterungen macht. Sie können dazu neigen, sich in ihren
  Gefühlen zu verlieren und Schwierigkeiten haben, klare Grenzen zu setzen. Ihre
  Idealismus kann manchmal zu unrealistischen Erwartungen in Beziehungen führen,
  was zu Enttäuschungen führen kann, wenn die Realität nicht mit ihren Träumen
  übereinstimmt. Außerdem können sie Schwierigkeiten haben, mit Konflikten und
  konfrontativen Situationen umzugehen, da sie dazu neigen, Konflikte zu
  vermeiden und Harmonie um jeden Preis zu suchen. Es ist wichtig, dass sie
  lernen, ihre eigenen Bedürfnisse und Grenzen klarer zu kommunizieren und zu
  verteidigen, um ein gesundes emotionales Gleichgewicht zu finden.
</p>
<% } %>