<% if (key2 === 'aries') { %>
<h3 class="horo">Krebs & Widder</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Krebs und Mond im Widder</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Krebs und Mondzeichen in Widder verbindet
  die fürsorgliche und sensible Natur des Krebses mit der dynamischen und
  entschlossenen Energie des Widders. Menschen mit dieser Konstellation sind oft
  leidenschaftlich und beschützend. Die Krebs-Sonne verleiht ihnen eine
  tiefgehende emotionale Tiefe und ein starkes Bedürfnis nach Sicherheit und
  Geborgenheit. Gleichzeitig bringt der Widder-Mond eine starke Tatkraft und
  Unabhängigkeit mit sich, die es diesen Menschen ermöglicht, ihre Ziele mit
  viel Enthusiasmus und Selbstbewusstsein zu verfolgen. In Beziehungen und
  emotionalen Situationen zeigen Menschen mit dieser Kombination eine
  interessante Mischung aus Sensibilität und Durchsetzungsvermögen. Sie sind
  sehr beschützend gegenüber ihren Lieben und tun alles, um die Bedürfnisse
  ihrer Partner zu erfüllen. Ihre emotionale Tiefe und Empathie machen sie zu
  fürsorglichen und aufmerksamen Partnern. Der Widder-Mond verleiht ihnen jedoch
  auch eine spontane und manchmal ungeduldige Seite, die sie dazu bringt,
  schnell auf ihre eigenen und die Bedürfnisse ihrer Partner zu reagieren. Diese
  Kombination führt zu einer leidenschaftlichen und aktiven Herangehensweise an
  Beziehungen, wobei sie stets nach neuen Wegen suchen, ihre Zuneigung zu zeigen
  und ihre Partnerschaften zu stärken. Allerdings können Menschen mit dieser
  Kombination auch einige Herausforderungen erleben. Ihre duale Natur kann zu
  inneren Konflikten führen, da die sensible, schützende Krebs-Energie manchmal
  im Widerspruch zur impulsiven und unabhängigen Widder-Natur steht. Dies kann
  zu Stimmungsschwankungen und gelegentlichen Ausbrüchen von Ungeduld oder
  Frustration führen. Ihre starke emotionale Reaktion und ihr Bedürfnis nach
  Sicherheit können manchmal mit ihrem Wunsch nach Unabhängigkeit kollidieren,
  was sie in Beziehungen hin- und hergerissen fühlen lässt. Es ist wichtig, dass
  sie lernen, ein Gleichgewicht zwischen ihrer emotionalen und ihrer dynamischen
  Seite zu finden, um harmonische und stabile Beziehungen zu führen.
</p>
<% } %> <% if (key2 === 'taurus') { %>
<h3 class="horo">Krebs & Stier</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Krebs und Mond im Stier</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Krebs und Mondzeichen in Stier vereint
  die fürsorgliche, emotionale Natur des Krebses mit der stabilen, sinnlichen
  Energie des Stiers. Menschen mit dieser Konstellation sind oft sehr
  einfühlsam, loyal und haben ein starkes Bedürfnis nach Sicherheit und
  Stabilität. Die Krebs-Sonne verleiht ihnen eine tiefgehende Empathie und ein
  Bedürfnis, für andere zu sorgen, während der Stier-Mond ihre emotionale Basis
  mit Beständigkeit und einer ruhigen, geerdeten Präsenz stärkt. Diese
  Kombination führt zu einem Charakter, der sowohl gefühlvoll als auch praktisch
  veranlagt ist und oft eine starke Verbindung zur Natur und den einfachen
  Freuden des Lebens hat. In Beziehungen und emotionalen Situationen zeigen sich
  Menschen mit dieser Kombination als äußerst verlässliche und liebevolle
  Partner. Sie haben ein großes Bedürfnis nach einer stabilen, harmonischen
  Umgebung und neigen dazu, langfristige, erfüllende Beziehungen zu suchen. Ihre
  Krebs-Energie macht sie zu einfühlsamen Zuhörern, die die emotionalen
  Bedürfnisse ihrer Partner intuitiv verstehen. Der Stier-Mond bringt eine
  zusätzliche Schicht von Geduld und Loyalität, wodurch sie sehr beständig und
  treu sind. Diese Menschen schätzen tiefe emotionale Bindungen und sind bereit,
  viel Zeit und Energie in die Pflege ihrer Beziehungen zu investieren. Sie
  bieten ihren Partnern nicht nur emotionale Unterstützung, sondern auch eine
  stabile und sichere Basis, auf der Beziehungen gedeihen können. Allerdings
  können Menschen mit dieser Kombination auch Herausforderungen begegnen. Ihre
  starke Bindung an Sicherheit und Stabilität kann dazu führen, dass sie
  manchmal zu besitzergreifend oder übervorsichtig werden. Sie könnten
  Schwierigkeiten haben, Veränderungen zu akzeptieren oder loszulassen, was zu
  Sturheit und einer gewissen Resistenz gegenüber neuen Ideen führen kann. Diese
  Tendenz zur Beharrlichkeit kann in Beziehungen Spannungen erzeugen, besonders
  wenn sie das Gefühl haben, dass ihre Sicherheit bedroht ist. Es ist wichtig
  für sie, ein Gleichgewicht zwischen ihrer Bedürfnis nach Stabilität und der
  Offenheit für neue Erfahrungen zu finden, um flexible und anpassungsfähige
  Beziehungen zu pflegen.
</p>
<% } %> <% if (key2 === 'gemini') { %>
<h3 class="horo">Krebs & Zwillinge</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Krebs und Mond in Zwillinge
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Krebs und Mondzeichen in Zwillinge
  vereint die gefühlvolle, intuitive Natur des Krebses mit der lebhaften,
  neugierigen Energie der Zwillinge. Menschen mit dieser Konstellation sind oft
  einfühlsam und warmherzig, gleichzeitig aber auch kommunikativ und
  intellektuell anregend. Die Krebs-Sonne verleiht ihnen eine tiefe emotionale
  Tiefe und ein starkes Bedürfnis, sich um andere zu kümmern, während der
  Zwillinge-Mond ihre emotionale Welt mit einer dynamischen, flexiblen und
  neugierigen Note bereichert. Diese Menschen haben die Fähigkeit, ihre Gefühle
  und Gedanken klar zu artikulieren und finden es leicht, neue Kontakte zu
  knüpfen und in verschiedenen sozialen Kreisen zu navigieren. In Beziehungen
  und emotionalen Situationen zeigen sich Menschen mit dieser Kombination als
  liebevolle und zugleich vielseitige Partner. Sie sind sowohl tief verbunden
  mit ihren Gefühlen als auch intellektuell stimulierend, was sie zu
  interessanten und engagierten Gesprächspartnern macht. Ihre Krebs-Energie
  sorgt dafür, dass sie sehr umsorgend und aufmerksam gegenüber den emotionalen
  Bedürfnissen ihrer Partner sind, während der Zwillinge-Mond ihnen hilft,
  flexibel und anpassungsfähig zu bleiben. Sie neigen dazu, ihre Beziehungen
  durch ständige Kommunikation und den Austausch von Gedanken und Ideen zu
  bereichern. Diese Menschen schätzen Abwechslung und geistige Anregung, was
  ihre Beziehungen lebendig und spannend hält. Allerdings können Menschen mit
  dieser Kombination auch Herausforderungen begegnen. Ihre duale Natur kann
  manchmal zu inneren Konflikten führen, insbesondere wenn ihre emotionale Tiefe
  des Krebses mit der Bedürfnis nach intellektueller Stimulation und Abwechslung
  der Zwillinge kollidiert. Dies kann zu Stimmungsschwankungen und einer
  gewissen Unbeständigkeit in ihren Gefühlen führen. Sie könnten Schwierigkeiten
  haben, sich zu entscheiden oder ihren Partnern gegenüber kohärent zu sein, was
  in Beziehungen zu Missverständnissen und Frustration führen kann. Es ist
  wichtig für sie, ein Gleichgewicht zwischen ihrer emotionalen Tiefe und ihrem
  intellektuellen Bedürfnis nach Vielfalt zu finden, um stabile und erfüllende
  Beziehungen zu pflegen.
</p>
<% } %> <% if (key2 === 'cancer') { %>
<h3 class="horo">Krebs & Krebs</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Krebs und Mond ebenfalls in Krebs
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Krebs und Mondzeichen in Krebs führt zu
  einer doppelten Verstärkung der typischen Krebs-Qualitäten. Menschen mit
  dieser Konstellation sind besonders sensibel, intuitiv und einfühlsam. Sie
  haben eine starke emotionale Intelligenz und sind sehr in der Lage, die
  Gefühle anderer zu erspüren und darauf einzugehen. Diese Personen zeichnen
  sich durch ihre tief verwurzelte Fürsorglichkeit und ihr Bedürfnis nach
  emotionaler Sicherheit aus. Ihr Zuhause und ihre Familie stehen für sie an
  erster Stelle, und sie sind äußerst loyal und beschützend gegenüber ihren
  Lieben. Diese doppelte Krebs-Energie verleiht ihnen eine bemerkenswerte
  Fähigkeit, anderen Trost und Geborgenheit zu bieten. In Beziehungen und
  emotionalen Situationen zeigen sich Menschen mit dieser Kombination als sehr
  hingebungsvolle und unterstützende Partner. Sie sind äußerst aufmerksam
  gegenüber den Bedürfnissen und Gefühlen ihrer Partner und neigen dazu, eine
  tiefe emotionale Bindung aufzubauen. Ihre Liebe zeigt sich oft durch
  fürsorgliche Taten und das Bestreben, ein harmonisches und friedvolles Umfeld
  zu schaffen. Da beide Zeichen im Krebs stehen, verstärken sie sich gegenseitig
  in ihrem Bedürfnis nach Nähe und Zuneigung. Solche Personen suchen nach
  stabilen, langfristigen Beziehungen, in denen sie und ihr Partner sich sicher
  und geschätzt fühlen können. Sie bringen eine tiefe emotionale Tiefe in ihre
  Beziehungen ein und haben ein starkes Bedürfnis nach emotionaler Ehrlichkeit
  und Intimität. Allerdings können Menschen mit dieser doppelten
  Krebs-Konstellation auch Schwierigkeiten haben. Ihre starke emotionale Natur
  kann sie sehr verletzlich und empfindlich machen, was zu Überempfindlichkeit
  und Launenhaftigkeit führen kann. Sie neigen dazu, sich in ihren eigenen
  Gefühlen zu verlieren und können Schwierigkeiten haben, sich von emotionalen
  Verletzungen zu erholen. Ihre Intensität und das Bedürfnis nach emotionaler
  Nähe können für ihre Partner manchmal überwältigend sein, insbesondere wenn
  sie zu klammernd oder besitzergreifend werden. Es ist wichtig für sie, ein
  Gleichgewicht zwischen Fürsorglichkeit und Selbstfürsorge zu finden und zu
  lernen, ihre emotionalen Bedürfnisse auf gesunde Weise zu kommunizieren, ohne
  ihre Partner zu überfordern.
</p>
<% } %> <% if (key2 === 'leo') { %>
<h3 class="horo">Krebs & Löwe</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Krebs und Mond in Löwe</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Krebs und Mondzeichen in Löwe führt zu
  einer interessanten Mischung aus Sensibilität und Selbstbewusstsein. Menschen
  mit dieser Konstellation sind tief emotional und einfühlsam, wie es für Krebse
  typisch ist, aber sie besitzen auch die strahlende, selbstsichere Energie
  eines Löwen. Diese Personen haben ein großes Herz und sind sehr beschützend
  gegenüber ihren Lieben. Sie kombinieren die fürsorgliche Natur des Krebses mit
  der Großzügigkeit und dem Stolz des Löwen. Diese Mischung macht sie zu
  charismatischen und warmherzigen Individuen, die anderen Menschen oft ein
  Gefühl von Sicherheit und Geborgenheit vermitteln. In Beziehungen und
  emotionalen Situationen zeigen sich Menschen mit dieser Kombination als
  leidenschaftliche und engagierte Partner. Sie sind in der Lage, tiefgehende
  emotionale Verbindungen herzustellen und legen großen Wert auf Loyalität und
  Treue. Ihr Mondzeichen im Löwen bringt eine dramatische und manchmal
  theatralische Note in ihre Gefühlswelt. Sie neigen dazu, ihre Gefühle offen
  und großzügig zu zeigen und erwarten im Gegenzug Anerkennung und Wertschätzung
  von ihren Partnern. Diese Personen suchen nach Bestätigung und möchten sich in
  ihren Beziehungen geschätzt und bewundert fühlen. Sie sind bereit, viel in
  ihre Partnerschaften zu investieren und erwarten dasselbe Engagement und
  dieselbe Hingabe von ihren Partnern. Allerdings können Menschen mit der
  Kombination von Sonnenzeichen in Krebs und Mondzeichen in Löwe auch
  problematische Aspekte aufweisen. Ihre starke emotionale Intensität kann
  manchmal zu Eifersucht und Besitzergreifung führen, besonders wenn sie das
  Gefühl haben, nicht genügend Aufmerksamkeit oder Anerkennung zu bekommen. Sie
  können sehr empfindlich auf Kritik reagieren und neigen dazu, sich verletzt
  oder zurückgewiesen zu fühlen, wenn ihre Bemühungen nicht ausreichend
  gewürdigt werden. Ihre Löwe-Energie kann manchmal dazu führen, dass sie
  dominierend oder übermäßig stolz auftreten, was Konflikte in Beziehungen
  verursachen kann. Es ist wichtig für sie, ein Gleichgewicht zwischen ihrem
  Bedürfnis nach emotionaler Tiefe und ihrer Sehnsucht nach Anerkennung zu
  finden und dabei die Bedürfnisse ihrer Partner nicht aus den Augen zu
  verlieren.
</p>
<% } %> <% if (key2 === 'virgo') { %>
<h3 class="horo">Krebs & Jungfrau</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Krebs und Mond in Jungfrau
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Krebs und Mondzeichen in Jungfrau bringt
  eine harmonische Verbindung von Emotionalität und Vernunft mit sich. Menschen
  mit dieser Konstellation sind tief einfühlsam und fürsorglich, wie es für
  Krebse typisch ist, und besitzen gleichzeitig die analytischen und praktischen
  Qualitäten der Jungfrau. Diese Personen haben ein ausgeprägtes Bedürfnis,
  anderen zu helfen und Unterstützung zu bieten. Sie sind oft sehr aufmerksam
  und detailorientiert, was sie zu hervorragenden Problemlösern macht. Ihr
  sensibles und gleichzeitig praktisches Wesen ermöglicht es ihnen, sowohl die
  emotionalen als auch die materiellen Bedürfnisse ihrer Mitmenschen zu erkennen
  und darauf einzugehen. In Beziehungen und emotionalen Situationen zeigen sich
  Menschen mit dieser Kombination als äußerst loyale und engagierte Partner. Sie
  sind in der Lage, tiefe emotionale Verbindungen herzustellen und legen großen
  Wert auf Beständigkeit und Zuverlässigkeit in ihren Beziehungen. Ihr
  Mondzeichen in Jungfrau bringt eine nüchterne und pragmatische
  Herangehensweise an emotionale Angelegenheiten, was bedeutet, dass sie oft die
  Bedürfnisse ihrer Partner analysieren und praktische Lösungen anbieten, um
  Probleme zu lösen. Sie sind bestrebt, ihre Partnerschaften durch
  kontinuierliche Fürsorge und Unterstützung zu stärken. Ihre Hingabe und ihr
  Verantwortungsbewusstsein machen sie zu verlässlichen Partnern, die stets
  bemüht sind, das Wohlbefinden ihrer Lieben zu sichern. Allerdings können
  Menschen mit der Kombination von Sonnenzeichen in Krebs und Mondzeichen in
  Jungfrau auch problematische Aspekte aufweisen. Ihre Tendenz, sich um andere
  zu kümmern und für sie da zu sein, kann manchmal zu Überfürsorglichkeit und
  Kontrollverhalten führen. Sie neigen dazu, sich übermäßig Sorgen zu machen und
  sich über kleine Details zu ärgern, was zu Stress und Spannungen in ihren
  Beziehungen führen kann. Ihre analytische Natur kann sie auch dazu bringen,
  übermäßig kritisch zu sein, sowohl gegenüber sich selbst als auch gegenüber
  ihren Partnern. Es ist wichtig für sie, ein Gleichgewicht zwischen ihrem
  Bedürfnis nach Ordnung und ihrer emotionalen Sensibilität zu finden, um
  harmonische und gesunde Beziehungen zu pflegen.
</p>
<% } %> <% if (key2 === 'libra') { %>
<h3 class="horo">Krebs & Waage</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Krebs und Mond in Waage</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Krebs und Mondzeichen in Waage bringt
  eine faszinierende Mischung aus emotionaler Tiefe und sozialer Anmut mit sich.
  Menschen mit dieser Konstellation sind intuitiv und sensibel, wie es für
  Krebse typisch ist, aber sie haben auch eine angeborene Fähigkeit zur
  Diplomatie und Harmonie, die durch die Waage unterstrichen wird. Sie sind oft
  sehr charmant und freundlich, mit einer natürlichen Fähigkeit, sich in
  sozialen Situationen wohlzufühlen und Verbindungen zu knüpfen. Diese Menschen
  schätzen Schönheit und Ästhetik, was sich in ihrem persönlichen Stil und ihrem
  Lebensumfeld widerspiegeln kann. Ihr Bedürfnis nach Sicherheit und Stabilität
  verbindet sich harmonisch mit einem Wunsch nach Ausgeglichenheit und Frieden.
  In Beziehungen und emotionalen Situationen zeigen sich Menschen mit dieser
  Kombination als äußerst einfühlsame und liebevolle Partner. Sie legen großen
  Wert auf Harmonie und Gleichgewicht in ihren Beziehungen und sind bereit, viel
  zu investieren, um sicherzustellen, dass ihre Partnerschaften stabil und
  zufriedenstellend sind. Ihr Krebsmond verleiht ihnen eine tiefe emotionale
  Bindung und Fürsorglichkeit, während die Waage ihnen hilft, Konflikte zu
  vermeiden und Kompromisse einzugehen. Sie haben eine natürliche Begabung, die
  Bedürfnisse und Gefühle ihrer Partner zu erkennen und darauf einzugehen, was
  sie zu sehr verständnisvollen und unterstützenden Partnern macht. Ihre
  Fähigkeit, diplomatisch und fair zu sein, trägt wesentlich zur Stärkung und
  zum Erhalt ihrer Beziehungen bei. Allerdings können Menschen mit der
  Kombination von Sonnenzeichen in Krebs und Mondzeichen in Waage auch
  problematische Aspekte aufweisen. Ihre starke Neigung, Harmonie und Frieden zu
  bewahren, kann manchmal dazu führen, dass sie Konflikten aus dem Weg gehen und
  ihre eigenen Bedürfnisse und Gefühle unterdrücken. Dies kann zu inneren
  Spannungen und einem Gefühl der Unzufriedenheit führen, wenn sie das Gefühl
  haben, dass ihre eigenen Bedürfnisse nicht berücksichtigt werden. Darüber
  hinaus kann ihre Tendenz, es allen recht machen zu wollen, dazu führen, dass
  sie Schwierigkeiten haben, klare Entscheidungen zu treffen und sich
  durchzusetzen. Es ist wichtig für sie, ein Gleichgewicht zwischen ihrem
  Bedürfnis nach Harmonie und der Notwendigkeit, authentisch und selbstbewusst
  ihre eigenen Wünsche und Grenzen zu vertreten, zu finden.
</p>
<% } %> <% if (key2 === 'scorpio') { %>
<h3 class="horo">Krebs & Skorpion</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Krebs und Mond in Skorpion
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Krebs und Mondzeichen in Skorpion bringt
  eine tief emotionale und intensive Persönlichkeit hervor. Menschen mit dieser
  Konstellation zeichnen sich durch eine bemerkenswerte emotionale Tiefe und
  Intuition aus. Der Krebs verleiht ihnen eine fürsorgliche, schützende und
  familiäre Natur, während der Skorpion ihre Gefühle intensiviert und ihnen eine
  starke innere Stärke sowie Entschlossenheit gibt. Diese Personen sind oft sehr
  loyal und haben ein großes Bedürfnis nach emotionaler Sicherheit und Tiefe in
  ihren Beziehungen. Ihre Fähigkeit, andere Menschen zu verstehen und auf deren
  Gefühle einzugehen, macht sie zu mitfühlenden und unterstützenden Freunden und
  Partnern. In Beziehungen und emotionalen Situationen zeigen Menschen mit
  dieser Kombination eine starke Leidenschaft und Hingabe. Sie haben ein tiefes
  Bedürfnis nach intensiven und bedeutungsvollen Verbindungen. Der Skorpion-Mond
  verstärkt die emotionale Tiefe des Krebs- Sonnenzeichens und führt zu einer
  starken Bindung an ihre Partner. Diese Menschen sind in der Lage,
  außergewöhnliche emotionale Unterstützung zu bieten, und erwarten dasselbe im
  Gegenzug. Sie schätzen Ehrlichkeit und Tiefe in ihren Beziehungen und haben
  wenig Toleranz für Oberflächlichkeit oder Unehrlichkeit. Ihre Intuition hilft
  ihnen, die wahren Gefühle und Bedürfnisse ihrer Partner zu erkennen, und sie
  sind oft sehr beschützend gegenüber ihren Lieben. Allerdings können Menschen
  mit der Kombination von Sonnenzeichen in Krebs und Mondzeichen in Skorpion
  auch einige problematische Aspekte aufweisen. Ihre Intensität und ihr
  Bedürfnis nach Kontrolle können manchmal zu Eifersucht und Besitzergreifung
  führen. Sie neigen dazu, sehr empfindlich auf Verrat oder Unehrlichkeit zu
  reagieren, was zu Misstrauen und Konflikten in ihren Beziehungen führen kann.
  Ihre tiefen Gefühle und starke emotionale Reaktionen können sie anfällig für
  Stimmungsschwankungen machen, und sie könnten Schwierigkeiten haben, sich von
  emotionalen Wunden zu erholen. Es ist wichtig für diese Menschen, einen Weg zu
  finden, ihre intensiven Emotionen auf gesunde Weise zu verarbeiten und einen
  Ausgleich zwischen ihrem Bedürfnis nach emotionaler Tiefe und der
  Notwendigkeit, sich nicht in negativen Gefühlen zu verlieren, zu schaffen.
</p>
<% } %> <% if (key2 === 'sagittarius') { %>
<h3 class="horo">Krebs & Schütze</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Krebs und Mond in Schütze</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Krebs und Mondzeichen in Schütze bringt
  eine interessante Mischung aus emotionaler Sensibilität und einem freien,
  abenteuerlustigen Geist hervor. Menschen mit dieser Konstellation sind
  fürsorglich und beschützend, was vom Krebs- Sonnenzeichen stammt, während der
  Schütze-Mond ihnen eine optimistische, unabhängige und explorative Natur
  verleiht. Sie haben eine natürliche Fähigkeit, emotionale Wärme und
  Verständnis mit einer Begeisterung für neue Erfahrungen und eine positive
  Lebenseinstellung zu kombinieren. Diese Personen sind oft sehr kreativ und
  haben eine tiefe Verbindung zu ihrer inneren Welt, während sie gleichzeitig
  das Bedürfnis haben, die Welt um sich herum zu erkunden und zu verstehen. In
  Beziehungen und emotionalen Situationen zeigen Menschen mit dieser Kombination
  eine Balance zwischen tiefen Gefühlen und dem Wunsch nach Freiheit. Sie sind
  in der Lage, sich emotional zu engagieren und ihre Partner zu unterstützen,
  während sie auch Raum für persönliche Freiheit und Wachstum schaffen. Der
  Schütze-Mond gibt ihnen eine optimistische Sichtweise auf Beziehungen, und sie
  sind oft die treibende Kraft hinter neuen gemeinsamen Abenteuern und
  Erfahrungen. Sie schätzen Ehrlichkeit und Offenheit und bringen diese Werte in
  ihre Partnerschaften ein. Ihre Fähigkeit, sowohl emotional tief zu fühlen als
  auch eine positive, lösungsorientierte Einstellung zu bewahren, macht sie zu
  inspirierenden und unterstützenden Partnern. Allerdings können Menschen mit
  der Kombination von Sonnenzeichen in Krebs und Mondzeichen in Schütze auch auf
  Herausforderungen stoßen. Ihre duale Natur kann manchmal zu inneren Konflikten
  führen, da der Krebs nach emotionaler Sicherheit und Stabilität strebt,
  während der Schütze Unabhängigkeit und Veränderung sucht. Diese
  widersprüchlichen Bedürfnisse können sie in Beziehungen unsicher oder
  unentschlossen machen. Sie könnten Schwierigkeiten haben, sich langfristig zu
  binden oder eine konstante emotionale Verbindung aufrechtzuerhalten. Zudem
  kann ihr Bedürfnis nach Freiheit manchmal als Unzuverlässigkeit oder mangelnde
  Verpflichtung interpretiert werden. Es ist wichtig für diese Menschen, Wege zu
  finden, beide Seiten ihrer Persönlichkeit zu integrieren und ein Gleichgewicht
  zwischen emotionaler Tiefe und persönlicher Freiheit zu schaffen.
</p>
<% } %> <% if (key2 === 'capricorn') { %>
<h3 class="horo">Krebs & Steinbock</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Krebs und Mond in Steinbock
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Krebs und Mondzeichen in Steinbock
  vereint zwei sehr unterschiedliche, aber komplementäre Energien. Der Krebs,
  als Wasserzeichen, ist bekannt für seine tiefen Gefühle, seine Sensibilität
  und sein Bedürfnis nach emotionaler Sicherheit. Menschen mit Krebs-Sonne sind
  fürsorglich, intuitiv und oft sehr familienorientiert. Der Mond im Steinbock,
  einem Erdzeichen, bringt eine starke praktische und realistische
  Herangehensweise in die Gefühlswelt. Dies verleiht den Menschen eine
  bemerkenswerte Fähigkeit, Emotionen zu strukturieren und zu kontrollieren.
  Diese Kombination kann zu einem sehr ausgewogenen Charakter führen, der sowohl
  tief empfindet als auch in der Lage ist, pragmatische Lösungen für emotionale
  Probleme zu finden. In Beziehungen und emotionalen Situationen zeigt sich
  diese Mischung als ein tiefes Bedürfnis nach Sicherheit und Stabilität, sowohl
  emotional als auch materiell. Menschen mit dieser Kombination streben nach
  langfristigen, beständigen Partnerschaften und sind bereit, hart dafür zu
  arbeiten. Der Krebs-Anteil sorgt dafür, dass sie sehr aufmerksam und
  unterstützend sind, während der Steinbock-Mond ihnen eine gewisse
  Zurückhaltung und Vorsicht verleiht. Sie neigen dazu, Verantwortung zu
  übernehmen und für ihre Lieben zu sorgen, indem sie eine stabile und sichere
  Umgebung schaffen. Emotionale Ausbrüche sind bei ihnen selten, da der
  Steinbock-Mond ihnen hilft, ruhig und gefasst zu bleiben, selbst in
  schwierigen Situationen. Allerdings können Menschen mit der Kombination von
  Sonnenzeichen in Krebs und Mondzeichen in Steinbock auch mit einigen inneren
  Konflikten konfrontiert werden. Der Krebs in ihnen sehnt sich nach Nähe und
  emotionalem Ausdruck, während der Steinbock-Mond dazu neigt, Gefühle
  zurückzuhalten und mehr Wert auf Selbstbeherrschung und Kontrolle legt. Diese
  Spannung kann dazu führen, dass sie Schwierigkeiten haben, ihre Gefühle offen
  auszudrücken oder zu zeigen. Manchmal wirken sie vielleicht distanziert oder
  emotional unerreichbar, selbst wenn sie tief empfinden. Es ist wichtig für
  sie, einen Weg zu finden, beide Seiten ihrer Persönlichkeit zu integrieren und
  zu lernen, ihre emotionalen Bedürfnisse zu erkennen und auszudrücken, ohne das
  Gefühl von Kontrolle zu verlieren.
</p>
<% } %> <% if (key2 === 'aquarius') { %>
<h3 class="horo">Krebs & Wassermann</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Krebs und Mond in Wassermann
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Krebs und Mondzeichen in Wassermann
  vereint die emotionale Tiefe und Fürsorglichkeit des Krebses mit der
  Unabhängigkeit und dem intellektuellen Freigeist des Wassermanns. Menschen mit
  dieser astrologischen Kombination sind oft sehr intuitiv und einfühlsam, was
  ihnen hilft, starke emotionale Verbindungen zu anderen zu knüpfen.
  Gleichzeitig bringt der Wassermann-Mond eine innovative und manchmal
  exzentrische Note in ihr Wesen, wodurch sie in der Lage sind, neue
  Perspektiven und Ideen in ihre Umgebung zu bringen. Diese Menschen haben ein
  starkes Bedürfnis nach Freiheit und Individualität, was ihnen hilft, sich in
  kreativen und unkonventionellen Bereichen zu entfalten. In Beziehungen und
  emotionalen Situationen neigen diese Personen dazu, eine Balance zwischen Nähe
  und Unabhängigkeit zu suchen. Der Krebs-Sonne-Anteil sorgt dafür, dass sie
  sehr loyal, liebevoll und schützend gegenüber ihren Partnern sind. Sie
  schätzen tiefe emotionale Bindungen und sind bereit, viel Zeit und Energie in
  ihre Beziehungen zu investieren. Der Wassermann-Mond hingegen bringt eine
  starke Vorliebe für Freiheit und persönliche Raum in ihre Gefühlswelt. Diese
  Menschen brauchen Partner, die ihre Unabhängigkeit respektieren und ihnen Raum
  geben, sich selbst zu entfalten. Sie sind oft sehr tolerant und offen für
  unterschiedliche Lebensstile und Ideen, was ihnen hilft, harmonische und
  vielseitige Beziehungen zu führen. Allerdings können Menschen mit der
  Kombination von Sonnenzeichen in Krebs und Mondzeichen in Wassermann auch vor
  Herausforderungen stehen. Der Wunsch des Krebses nach emotionaler Sicherheit
  und Beständigkeit kann manchmal im Widerspruch zur Unabhängigkeit des
  Wassermanns stehen, was innere Spannungen erzeugen kann. Sie könnten
  Schwierigkeiten haben, zwischen dem Bedürfnis nach Nähe und dem Drang nach
  Freiheit zu balancieren. Dies kann dazu führen, dass sie in Beziehungen
  manchmal als unvorhersehbar oder emotional distanziert wahrgenommen werden. Es
  ist wichtig für sie, Wege zu finden, beide Seiten ihrer Persönlichkeit zu
  integrieren und sowohl ihre emotionalen Bedürfnisse als auch ihren
  Freiheitsdrang zu berücksichtigen, um ein erfülltes und harmonisches Leben zu
  führen.
</p>
<% } %> <% if (key2 === 'pisces') { %>
<h3 class="horo">Krebs & Fische</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Krebs und Mond in Fische</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Krebs und Mondzeichen in Fische vereint
  zwei Wasserzeichen, die für ihre emotionale Tiefe, Empathie und Intuition
  bekannt sind. Menschen mit dieser astrologischen Kombination sind oft äußerst
  einfühlsam und haben eine starke emotionale Intelligenz. Der Krebs bringt
  Fürsorglichkeit und ein starkes Bedürfnis, andere zu beschützen, während der
  Fische-Mond diese Qualitäten mit einem tiefen Mitgefühl und einer spirituellen
  Perspektive ergänzt. Diese Menschen sind oft sehr kreativ und künstlerisch
  veranlagt, wobei sie eine besondere Verbindung zur Welt der Gefühle und Träume
  haben. Sie neigen dazu, sich in ihrer Umgebung wohl zu fühlen und eine
  friedliche und harmonische Atmosphäre zu schätzen. In Beziehungen und
  emotionalen Situationen sind Personen mit dieser Kombination äußerst liebevoll
  und aufmerksam. Der Krebs-Sonne-Anteil sorgt dafür, dass sie ihre Lieben
  behüten und umsorgen wollen, während der Fische-Mond sie noch empfänglicher
  für die Bedürfnisse und Gefühle anderer macht. Sie sind oft bereit, sich
  selbstlos für das Wohl ihrer Partner und Familie einzusetzen und sind in der
  Lage, tiefe emotionale Bindungen zu knüpfen. Ihre intuitive Natur erlaubt es
  ihnen, die unausgesprochenen Bedürfnisse und Gefühle ihrer Partner zu erkennen
  und darauf einzugehen. In Beziehungen sind sie romantisch, zärtlich und
  träumerisch, und sie schätzen tiefe, seelische Verbindungen. Allerdings können
  Menschen mit der Kombination von Sonnenzeichen in Krebs und Mondzeichen in
  Fische auch vor Herausforderungen stehen. Ihre starke Empfindsamkeit kann sie
  anfällig für emotionale Überforderung und Verletzlichkeit machen. Sie neigen
  dazu, die Emotionen und Probleme anderer zu absorbieren, was sie emotional
  erschöpfen kann. Zudem können sie manchmal Schwierigkeiten haben, Grenzen zu
  setzen und sich abzugrenzen, was zu einem Gefühl des Ausgebranntseins führen
  kann. Diese Menschen müssen lernen, auf ihre eigenen Bedürfnisse zu achten und
  sich selbst zu schützen, um nicht in einer Spirale der Selbstaufgabe und des
  emotionalen Stresses zu geraten. Indem sie sich auf Selbstfürsorge und
  emotionale Resilienz konzentrieren, können sie ihre wunderbaren Fähigkeiten
  nutzen, um tiefe und erfüllende Beziehungen zu führen.
</p>
<% } %>