<% if (key2 === 'aries') { %>
<h3 class="horo">Schütze & Widder</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Schütze und Mond im Widder
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Schütze und Mondzeichen in Widder vereint
  zwei feurige Energien, die eine dynamische und abenteuerlustige Persönlichkeit
  schaffen. Der Schütze bringt eine natürliche Neugierde und einen unstillbaren
  Durst nach Wissen und neuen Erfahrungen mit sich. Dies wird durch die spontane
  und energische Natur des Widder-Mondes verstärkt, der keine Scheu davor hat,
  Risiken einzugehen und sich mutig neuen Herausforderungen zu stellen. Menschen
  mit dieser Kombination sind oft äußerst enthusiastisch und besitzen eine
  ansteckende Lebensfreude. Sie streben nach Freiheit und Unabhängigkeit, lieben
  es, neue Horizonte zu erkunden, und bringen oft eine inspirierende Vision für
  die Zukunft mit sich. In Beziehungen und emotionalen Situationen zeigen sich
  diese Individuen als leidenschaftlich und direkt. Sie sind ehrlich und
  schätzen Offenheit, was sie zu authentischen und manchmal unverblümten
  Partnern macht. Ihre Begeisterung und ihr Optimismus sind ansteckend, was
  ihnen hilft, starke und inspirierende Bindungen zu ihren Liebsten aufzubauen.
  Der Schütze- Sonnenzeichen verleiht ihnen die Fähigkeit, das große Ganze zu
  sehen und langfristige Ziele in Beziehungen zu setzen, während der Widder-Mond
  sie dazu bringt, sofortige Maßnahmen zu ergreifen und keine Zeit zu verlieren.
  Sie sind romantisch und abenteuerlustig, immer bereit, neue Erfahrungen zu
  teilen und die Beziehung mit aufregenden Aktivitäten zu bereichern. Allerdings
  können auch problematische Aspekte auftreten. Die Kombination von Schütze und
  Widder kann zu einer impulsiven und manchmal ungeduldigen Natur führen. Ihre
  Neigung, schnell zu handeln und sich in neue Abenteuer zu stürzen, kann dazu
  führen, dass sie die Konsequenzen ihres Handelns nicht immer vollständig
  durchdenken. Diese Ungeduld kann in Beziehungen zu Spannungen führen,
  besonders wenn ihr Bedürfnis nach Freiheit und Unabhängigkeit mit dem
  Bedürfnis nach Stabilität und Sicherheit ihrer Partner kollidiert. Zudem kann
  ihre Direktheit manchmal als Taktlosigkeit wahrgenommen werden, was zu
  Missverständnissen und Konflikten führen kann. Es ist wichtig für sie, eine
  Balance zwischen ihrer abenteuerlichen Seite und der Rücksichtnahme auf die
  Gefühle und Bedürfnisse ihrer Partner zu finden.
</p>
<% } %> <% if (key2 === 'taurus') { %>
<h3 class="horo">Schütze & Stier</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Schütze und Mond im Stier</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Schütze und Mondzeichen in Stier bringt
  eine faszinierende Mischung aus Abenteuerlust und Stabilität hervor. Der
  Schütze ist bekannt für seinen Optimismus, seine philosophische Natur und sein
  Bedürfnis nach Freiheit und neuen Erfahrungen. Diese Eigenschaften werden
  durch die pragmatische und sinnliche Natur des Stier- Mondes ausgeglichen, der
  Sicherheit, Komfort und materielle Stabilität schätzt. Menschen mit dieser
  Kombination haben eine einzigartige Fähigkeit, ihre großen Visionen und Träume
  in konkrete, praktische Pläne umzusetzen. Sie sind in der Lage, ihre
  Abenteuerlust mit einem starken Sinn für Realität und Beständigkeit zu
  verbinden, was ihnen hilft, ihre Ziele tatsächlich zu erreichen. In
  Beziehungen und emotionalen Situationen zeigt diese Kombination eine spannende
  Dynamik. Der Schütze-Sonne bringt Offenheit und Ehrlichkeit in die Beziehung,
  während der Stier-Mond für Beständigkeit und Loyalität sorgt. Diese Menschen
  sind in der Lage, eine tiefe emotionale Bindung einzugehen, während sie
  gleichzeitig den Raum für individuelle Freiheit und Wachstum respektieren. Der
  Schütze-Aspekt sorgt dafür, dass die Beziehung nie langweilig wird, da sie
  ständig nach neuen Erfahrungen und Abenteuern suchen. Gleichzeitig bietet der
  Stier-Mond einen ruhigen und stabilen emotionalen Anker, der für ein Gefühl
  der Sicherheit und Geborgenheit sorgt. In Konfliktsituationen tendieren sie
  dazu, geduldig und diplomatisch zu handeln, was zu harmonischen und
  langlebigen Beziehungen beiträgt. Allerdings können auch problematische
  Aspekte auftreten. Die Natur des Schützen, ständig nach neuen Horizonten zu
  streben, kann manchmal mit dem Bedürfnis des Stiers nach Beständigkeit und
  Routine kollidieren. Dies kann zu Spannungen führen, wenn der Schütze sich
  durch die Sicherheitsbedürfnisse des Stiers eingeschränkt fühlt oder der Stier
  durch die Unbeständigkeit und die rastlose Natur des Schützen gestresst wird.
  Zudem kann die Tendenz des Schützen, impulsiv zu handeln, im Widerspruch zur
  bedächtigen und vorsichtigen Herangehensweise des Stiers stehen. Es ist
  wichtig, dass Menschen mit dieser Kombination lernen, ein Gleichgewicht
  zwischen Abenteuerlust und Stabilität zu finden, um harmonische und erfüllende
  Beziehungen zu führen.
</p>
<% } %> <% if (key2 === 'gemini') { %>
<h3 class="horo">Schütze & Zwillinge</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Schütze und Mond in Zwillinge
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Schütze und Mondzeichen in Zwillinge
  bringt eine dynamische und vielseitige Persönlichkeit hervor. Der Schütze ist
  bekannt für seine Abenteuerlust, seinen Optimismus und seine philosophische
  Natur. Diese Eigenschaften werden durch die neugierige und kommunikative Natur
  des Zwillings-Mondes ergänzt, der ständig nach neuen Informationen und
  Erfahrungen sucht. Menschen mit dieser Kombination sind oft sehr intellektuell
  und haben ein starkes Bedürfnis, ihre Gedanken und Ideen mit anderen zu
  teilen. Sie sind sehr flexibel, offen und in der Lage, sich schnell an neue
  Situationen anzupassen, was ihnen hilft, in einer Vielzahl von Umgebungen und
  sozialen Kreisen erfolgreich zu sein. In Beziehungen und emotionalen
  Situationen zeigt diese Kombination eine spannende und lebendige Dynamik. Der
  Schütze-Sonne bringt Ehrlichkeit und Direktheit in die Beziehung, während der
  Zwillinge-Mond für Leichtigkeit und Verspieltheit sorgt. Diese Menschen neigen
  dazu, sehr kommunikativ zu sein und genießen es, tiefgehende Gespräche über
  eine Vielzahl von Themen zu führen. Sie schätzen Freiheit und Unabhängigkeit
  in ihren Beziehungen und neigen dazu, ihre Partner als gleichberechtigte
  Begleiter auf ihren Abenteuern zu sehen. Ihre Fähigkeit, sowohl tiefgründige
  als auch leichte Gespräche zu führen, macht sie zu interessanten und
  anregenden Partnern, die in der Lage sind, ihre Beziehungen lebendig und
  spannend zu halten. Allerdings können auch problematische Aspekte auftreten.
  Die Kombination aus Schütze und Zwillinge kann dazu führen, dass diese
  Menschen manchmal als oberflächlich oder unzuverlässig wahrgenommen werden, da
  sie ständig auf der Suche nach neuen Erfahrungen und Informationen sind. Dies
  kann zu Schwierigkeiten in langfristigen Verpflichtungen führen, sei es in
  Beziehungen oder beruflichen Projekten. Zudem kann ihre Tendenz, direkt und
  manchmal taktlos zu sein, in Konfliktsituationen Probleme verursachen. Es ist
  wichtig, dass Menschen mit dieser Kombination lernen, ein Gleichgewicht
  zwischen ihrer Abenteuerlust und der Notwendigkeit von Beständigkeit und Tiefe
  in ihren Beziehungen zu finden, um harmonische und erfüllende Verbindungen zu
  schaffen.
</p>
<% } %> <% if (key2 === 'cancer') { %>
<h3 class="horo">Schütze & Krebs</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Schütze und Mond in Krebs</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Schütze und Mondzeichen in Krebs vereint
  die abenteuerlustige und optimistische Natur des Schützen mit der einfühlsamen
  und emotionalen Tiefe des Krebs-Mondes. Menschen mit dieser astrologischen
  Konstellation sind oft sehr inspirierend und mutig, während sie gleichzeitig
  ein starkes Bedürfnis nach Sicherheit und Geborgenheit haben. Der
  Schütze-Sonne verleiht ihnen eine philosophische Einstellung und den Drang,
  neue Horizonte zu erkunden und Wissen zu erweitern. Gleichzeitig bringt der
  Krebs-Mond eine sanfte, fürsorgliche Seite hervor, die sich um das Wohl
  anderer sorgt und stark mit der eigenen Familie und den Wurzeln verbunden ist.
  In Beziehungen und emotionalen Situationen sind diese Menschen äußerst
  liebevoll und unterstützend. Sie haben die Fähigkeit, ihren Partnern sowohl
  Abenteuer als auch emotionale Sicherheit zu bieten. Der Schütze-Sonne bringt
  Aufrichtigkeit und einen positiven Ausblick in die Beziehung, während der
  Krebs-Mond für tiefgehende emotionale Verbindungen und Fürsorglichkeit sorgt.
  Diese Kombination kann zu einem Partner führen, der sehr darauf bedacht ist,
  dass seine Liebsten sich sicher und geliebt fühlen, und gleichzeitig die
  Beziehung durch neue und aufregende Erlebnisse bereichert. Ihre Fähigkeit,
  offen über Gefühle zu sprechen und gleichzeitig eine optimistische und
  ermutigende Perspektive zu bewahren, macht sie zu idealen Begleitern, die
  sowohl emotionalen Tiefgang als auch eine unbeschwerte Lebensfreude bieten.
  Allerdings können auch Herausforderungen auftreten. Die kontrastierenden
  Bedürfnisse nach Abenteuer und Sicherheit können innere Spannungen erzeugen.
  Der Schütze-Sonne kann sich manchmal durch den Wunsch des Krebs-Mondes nach
  Stabilität und Geborgenheit eingeschränkt fühlen, während der Krebs-Mond sich
  von der unruhigen Natur des Schützen überwältigt oder vernachlässigt fühlen
  kann. Diese Dualität kann zu inneren Konflikten und Unentschlossenheit führen,
  besonders wenn es darum geht, langfristige Verpflichtungen einzugehen oder
  Entscheidungen zu treffen, die sowohl Freiheit als auch Sicherheit betreffen.
  Es ist wichtig, dass Menschen mit dieser Kombination lernen, ein Gleichgewicht
  zwischen ihren Bedürfnissen nach Freiheit und emotionaler Geborgenheit zu
  finden, um harmonische und erfüllende Beziehungen zu führen.
</p>
<% } %> <% if (key2 === 'leo') { %>
<h3 class="horo">Schütze & Löwe</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Schütze und Mond in Löwe</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Schütze und Mondzeichen in Löwe vereint
  zwei Feuerzeichen, was zu einer dynamischen, leidenschaftlichen und
  extrovertierten Persönlichkeit führt. Menschen mit dieser Konstellation sind
  oft voller Energie, Optimismus und Selbstvertrauen. Die Schütze-Sonne bringt
  eine philosophische und abenteuerlustige Seite hervor, die ständig nach neuen
  Erfahrungen und Erkenntnissen sucht. Diese Personen haben eine angeborene
  Neugier und ein starkes Bedürfnis nach Freiheit und Unabhängigkeit. Der
  Löwe-Mond verstärkt diese Eigenschaften mit einem zusätzlichen Schub an
  Selbstbewusstsein und Kreativität. Er gibt ihnen eine starke Ausstrahlung und
  die Fähigkeit, im Mittelpunkt zu stehen und andere zu inspirieren. In
  Beziehungen und emotionalen Situationen zeigen sich Menschen mit dieser
  Kombination als warmherzige, großzügige und loyale Partner. Sie haben ein
  großes Herz und sind bereit, viel zu geben, um ihre Liebsten glücklich zu
  machen. Der Schütze-Sonne sorgt dafür, dass sie stets ehrlich und direkt in
  ihrer Kommunikation sind, während der Löwe-Mond ihre Beziehungen mit
  Leidenschaft und Drama erfüllt. Sie lieben es, ihre Partner zu überraschen und
  zu verwöhnen, und erwarten im Gegenzug Anerkennung und Wertschätzung. Ihre
  Fähigkeit, Optimismus und Enthusiasmus zu verbreiten, macht sie zu sehr
  anziehenden Partnern. Zudem schätzen sie Loyalität und sind bereit, viel
  Energie in ihre Beziehungen zu investieren, um sie aufregend und lebendig zu
  halten. Allerdings können auch problematische Aspekte auftreten. Die starke
  Feuerenergie beider Zeichen kann zu einem übersteigerten Bedürfnis nach
  Aufmerksamkeit und Anerkennung führen, was manchmal als egozentrisch oder
  dominant wahrgenommen werden kann. Der Wunsch nach ständiger Bestätigung kann
  dazu führen, dass sie empfindlich auf Kritik reagieren und Schwierigkeiten
  haben, Kompromisse einzugehen. Zudem kann die Kombination aus Schütze- Sonne
  und Löwe-Mond dazu führen, dass sie manchmal riskante Entscheidungen treffen
  oder sich in ihrem Enthusiasmus verlieren, ohne die Konsequenzen vollständig
  zu bedenken. Es ist wichtig, dass diese Personen lernen, ihre
  leidenschaftliche Natur mit einem Maß an Demut und Vorsicht zu balancieren, um
  harmonische und stabile Beziehungen zu führen.
</p>
<% } %> <% if (key2 === 'virgo') { %>
<h3 class="horo">Schütze & Jungfrau</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Schütze und Mond in Jungfrau
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Schütze und Mondzeichen in Jungfrau
  verbindet die Abenteuerlust und den Optimismus des Schützen mit der
  praktischen, detailorientierten Natur der Jungfrau. Menschen mit dieser
  Kombination haben eine starke Neugier und den Wunsch, die Welt zu erkunden und
  neue Erfahrungen zu sammeln, während sie gleichzeitig einen geordneten und
  analytischen Ansatz zur Bewältigung des Alltags haben. Der Schütze verleiht
  ihnen eine offene und weitsichtige Perspektive, die es ihnen ermöglicht, das
  große Ganze zu sehen und nach höheren Zielen zu streben. Die Jungfrau hingegen
  sorgt dafür, dass sie systematisch und methodisch vorgehen, wodurch sie in der
  Lage sind, ihre Visionen und Ziele effektiv in die Realität umzusetzen. In
  Beziehungen und emotionalen Situationen zeigen sich Menschen mit dieser
  Konstellation als loyale und zuverlässige Partner, die sowohl Abenteuer als
  auch Stabilität schätzen. Der Schütze- Sonne bringt eine spontane und
  enthusiastische Energie in die Beziehung, während der Jungfrau- Mond für
  Fürsorglichkeit und Detailgenauigkeit sorgt. Diese Menschen sind ehrlich und
  aufrichtig, oft bereit, ihre Partner in jeder Hinsicht zu unterstützen. Sie
  suchen nach tiefgründigen und bedeutungsvollen Verbindungen, legen aber auch
  großen Wert auf Ordnung und Struktur in ihren emotionalen Bindungen. Ihr
  Bedürfnis nach Ehrlichkeit und Klarheit hilft ihnen, Missverständnisse schnell
  zu klären und eine gesunde Kommunikationsbasis zu schaffen. Allerdings können
  auch problematische Aspekte auftreten. Der Schütze kann manchmal als zu
  idealistisch und ungeduldig erscheinen, während die Jungfrau zu kritisch und
  perfektionistisch sein kann. Diese Kombination kann zu inneren Spannungen
  führen, wenn der Wunsch nach Freiheit und Abenteuer des Schützen mit dem
  Bedürfnis der Jungfrau nach Sicherheit und Ordnung kollidiert. Menschen mit
  dieser Konstellation müssen lernen, einen Ausgleich zu finden, indem sie die
  Flexibilität des Schützen mit der Sorgfalt der Jungfrau harmonisch
  integrieren. Andernfalls könnten sie Schwierigkeiten haben, in Beziehungen die
  richtige Balance zwischen Abenteuerlust und Stabilität zu finden.
</p>
<% } %> <% if (key2 === 'libra') { %>
<h3 class="horo">Schütze & Waage</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Schütze und Mond in Waage</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Schütze und Mondzeichen in Waage bringt
  eine harmonische Mischung aus Abenteuerlust und Diplomatie hervor. Menschen
  mit dieser Konstellation haben eine natürliche Neugier und einen starken
  Drang, die Welt zu erkunden, während sie gleichzeitig einen ausgeprägten Sinn
  für Ästhetik und Harmonie besitzen. Der Schütze verleiht ihnen eine
  optimistische und großzügige Persönlichkeit, die stets nach Wissen und neuen
  Erfahrungen strebt. Die Waage hingegen ergänzt dies durch ihren Wunsch nach
  Ausgeglichenheit und Gerechtigkeit, was dazu führt, dass diese Personen in der
  Regel sehr rücksichtsvoll und freundlich sind. Ihre Fähigkeit, verschiedene
  Perspektiven zu berücksichtigen und in Einklang zu bringen, macht sie zu
  hervorragenden Vermittlern und liebenswerten Begleitern. In Beziehungen und
  emotionalen Situationen sind Menschen mit dieser Kombination besonders
  charmant und liebevoll. Der Schütze-Sonne bringt eine offene und ehrliche
  Natur mit sich, die es ihnen ermöglicht, ihre Gefühle direkt auszudrücken,
  während der Waage-Mond für eine sensible und taktvollere Herangehensweise
  sorgt. Sie schätzen Harmonie in ihren Beziehungen und sind bestrebt, Konflikte
  durch Diplomatie und Verständnis zu lösen. Ihre romantische und idealistische
  Ader lässt sie nach tiefen, bedeutungsvollen Verbindungen suchen. Gleichzeitig
  sind sie sehr gesellig und genießen es, Zeit mit ihren Partnern in geselligen
  Umgebungen zu verbringen, was ihre Beziehungen lebendig und spannend hält.
  Allerdings können auch problematische Aspekte dieser Kombination auftreten.
  Der Schütze kann manchmal als zu impulsiv und ungeduldig empfunden werden,
  während die Waage dazu neigt, Konflikte zu vermeiden und Entscheidungen zu
  verzögern. Diese Gegensätze können zu Spannungen führen, insbesondere wenn der
  Schütze schnell handeln möchte, während die Waage lieber abwägt und
  harmonisiert. Menschen mit dieser Konstellation müssen lernen, einen Mittelweg
  zu finden, um sowohl ihre Abenteuerlust als auch ihr Bedürfnis nach Harmonie
  zu befriedigen. Andernfalls könnten sie Schwierigkeiten haben, klare
  Entscheidungen zu treffen und in ihren Beziehungen die richtige Balance
  zwischen Freiheit und Stabilität zu finden.
</p>
<% } %> <% if (key2 === 'scorpio') { %>
<h3 class="horo">Schütze & Skorpion</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Schütze und Mond in Skorpion
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Schütze und Mondzeichen in Skorpion
  verbindet die optimistische Abenteuerlust des Schützen mit der intensiven
  Tiefe des Skorpions. Menschen mit dieser Konstellation sind oft von Natur aus
  neugierig und suchen ständig nach neuen Erfahrungen und Erkenntnissen. Der
  Schütze verleiht ihnen eine positive Einstellung und einen weiten Horizont,
  während der Skorpion ihnen die Fähigkeit gibt, tiefer in die Dinge
  einzutauchen und komplexe Situationen mit großer Intensität zu analysieren.
  Diese Mischung macht sie zu tiefgründigen und leidenschaftlichen
  Persönlichkeiten, die sowohl die Oberfläche als auch die Tiefe des Lebens
  erforschen möchten. In Beziehungen und emotionalen Situationen zeigt sich
  diese Kombination durch eine faszinierende Mischung aus Offenheit und
  Intensität. Menschen mit dieser Konstellation sind oft sehr ehrlich und direkt
  in ihrer Kommunikation, was ihnen hilft, tiefe und bedeutungsvolle
  Verbindungen zu anderen aufzubauen. Der Mond im Skorpion verleiht ihnen eine
  starke emotionale Tiefe und Hingabe, die sie in ihre Beziehungen einbringen.
  Sie neigen dazu, sehr loyal und beschützerisch zu sein, was ihren Partnern ein
  Gefühl von Sicherheit und Stabilität vermittelt. Gleichzeitig sorgt die
  Schütze-Sonne dafür, dass sie stets nach neuen Abenteuern und gemeinsamen
  Erlebnissen suchen, was ihre Beziehungen dynamisch und aufregend hält.
  Allerdings können auch problematische Aspekte dieser Kombination auftreten.
  Die Intensität des Skorpions kann manchmal zu Eifersucht und Besitzansprüchen
  führen, während der Schütze eine starke Unabhängigkeit und Freiheit liebt.
  Diese Gegensätze können Spannungen in Beziehungen verursachen, insbesondere
  wenn der Schütze das Bedürfnis nach Freiraum verspürt, während der Skorpion
  emotionale Sicherheit sucht. Zudem kann die direkte Art des Schützen in
  Kombination mit der tiefen Empfindsamkeit des Skorpions zu Konflikten führen,
  wenn Gefühle verletzt werden. Menschen mit dieser Kombination müssen lernen,
  ihre intensiven Emotionen und ihren Freiheitsdrang in Einklang zu bringen, um
  harmonische und stabile Beziehungen zu führen.
</p>
<% } %> <% if (key2 === 'sagittarius') { %>
<h3 class="horo">Schütze & Schütze</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Schütze und Mond ebenfalls in Schütze
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Schütze und Mondzeichen in Schütze
  potenziert die typischen Eigenschaften des Schützen und verleiht der
  Persönlichkeit eine besonders ausgeprägte Abenteuerlust und Optimismus.
  Menschen mit dieser Doppelkonstellation sind oft unerschütterlich positiv und
  voller Energie. Sie lieben es, neue Horizonte zu erkunden, sei es durch
  Reisen, Lernen oder spirituelle Entdeckungen. Ihre offene und begeisterte
  Natur zieht andere Menschen an und inspiriert sie, ebenfalls nach größerem
  Wissen und Erlebnissen zu streben. Diese Menschen sind visionär und haben oft
  große Pläne und Träume, die sie mit Leidenschaft verfolgen. In Beziehungen und
  emotionalen Situationen verhalten sich Personen mit dieser Kombination sehr
  offen und ehrlich. Sie schätzen Freiheit und Unabhängigkeit hoch ein, was sie
  zu Partnern macht, die sowohl Freiheit gewähren als auch erwarten. Ihre
  Begeisterung und Lebensfreude bringen viel Schwung und Abwechslung in jede
  Beziehung. Sie sind optimistisch und ermutigend, was ihren Partnern hilft,
  sich zu entfalten und neue Dinge auszuprobieren. Gleichzeitig sind sie sehr
  direkt in ihrer Kommunikation und erwarten dasselbe Maß an Ehrlichkeit von
  anderen. Ihr Bedürfnis nach Abenteuer und neuen Erfahrungen kann dazu führen,
  dass sie ständig nach neuen Möglichkeiten suchen, was ihre Beziehungen
  dynamisch und nie langweilig macht. Allerdings können auch problematische
  Aspekte dieser Kombination auftreten. Die starke Unabhängigkeit und das
  Bedürfnis nach Freiheit können manchmal dazu führen, dass sie Schwierigkeiten
  haben, sich langfristig zu binden. Ihre Neigung, immer nach dem nächsten
  großen Abenteuer zu suchen, kann in Beziehungen zu Instabilität führen, wenn
  der Partner ein größeres Bedürfnis nach Beständigkeit und Nähe hat. Zudem kann
  ihre direkte und manchmal unbedachte Art, Dinge anzusprechen, zu
  Missverständnissen und Verletzungen führen. Menschen mit dieser Konstellation
  müssen lernen, einen Ausgleich zwischen ihrem Freiheitsdrang und der
  Notwendigkeit von Stabilität und Rücksichtnahme in Beziehungen zu finden, um
  harmonische und erfüllende Partnerschaften zu führen.
</p>
<% } %> <% if (key2 === 'capricorn') { %>
<h3 class="horo">Schütze & Steinbock</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Schütze und Mond in Steinbock
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Schütze und Mondzeichen in Steinbock
  vereint den abenteuerlustigen und optimistischen Charakter des Schützen mit
  der disziplinierten und verantwortungsbewussten Natur des Steinbocks. Menschen
  mit dieser Konstellation sind oft idealistisch und haben große Visionen, die
  sie mit Ernsthaftigkeit und einer klaren Strategie verfolgen. Während der
  Schütze nach Freiheit und neuen Erfahrungen strebt, bringt der Steinbock eine
  bodenständige und strukturierte Herangehensweise ins Spiel. Diese Personen
  haben die Fähigkeit, ihre großen Träume in konkrete Pläne umzusetzen und
  zeigen eine beeindruckende Ausdauer, um ihre Ziele zu erreichen. In
  Beziehungen und emotionalen Situationen zeigen sich Menschen mit dieser
  Kombination als loyal und zuverlässig, was auf den Einfluss des Steinbocks
  zurückzuführen ist. Sie schätzen Ehrlichkeit und Integrität hoch und legen
  Wert auf langfristige Stabilität in ihren Partnerschaften. Trotz ihrer
  Ernsthaftigkeit und des Bedürfnisses nach Sicherheit bewahren sie die
  optimistische und lebensbejahende Einstellung des Schützen. Dies macht sie zu
  Partnern, die sowohl inspirierend als auch unterstützend sind. Ihre
  Beziehungen sind geprägt von einer tiefen Verpflichtung und einem gemeinsamen
  Streben nach persönlichem Wachstum und gemeinsamen Zielen. Sie können sowohl
  die Freude und das Abenteuer in einer Partnerschaft schätzen als auch die
  Notwendigkeit für Struktur und Sicherheit erkennen. Allerdings können auch
  problematische Aspekte dieser Kombination auftreten. Die optimistische und
  manchmal ungeduldige Natur des Schützen kann im Konflikt stehen mit der
  vorsichtigen und oft konservativen Herangehensweise des Steinbocks. Diese
  innere Spannung kann zu Unsicherheiten führen, wenn es darum geht, Risiken
  einzugehen oder Veränderungen zu akzeptieren. Zudem kann der Schütze manchmal
  als zu impulsiv und der Steinbock als zu starr wahrgenommen werden, was zu
  Missverständnissen und Konflikten in Beziehungen führen kann. Menschen mit
  dieser Konstellation müssen lernen, einen Ausgleich zwischen ihren
  abenteuerlichen und disziplinierten Seiten zu finden, um harmonische und
  erfüllende Beziehungen zu führen und ihre Ziele effektiv zu verfolgen.
</p>
<% } %> <% if (key2 === 'aquarius') { %>
<h3 class="horo">Schütze & Wassermann</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Schütze und Mond in Wassermann
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Schütze und Mondzeichen in Wassermann
  bringt eine einzigartige Mischung aus Abenteuerlust und Innovation hervor. Der
  Schütze, bekannt für seine Neugier und seinen Drang nach Freiheit, trifft auf
  den Wassermann, der durch Originalität und ein starkes Bedürfnis nach
  Individualität geprägt ist. Menschen mit dieser Konstellation sind oft
  Visionäre, die immer nach neuen Ideen und Perspektiven suchen. Sie sind
  optimistisch und idealistisch, wobei sie ihre hohen Ideale mit einer
  pragmatischen Herangehensweise des Wassermanns zu realisieren versuchen. Ihr
  Denken ist unkonventionell, und sie haben keine Angst davor, neue Wege zu
  gehen und gesellschaftliche Normen in Frage zu stellen. In Beziehungen und
  emotionalen Situationen zeigen sich diese Personen als sehr unabhängig und
  freiheitsliebend. Sie schätzen intellektuelle Gespräche und benötigen Partner,
  die ihre geistige Stimulation und ihren Drang nach persönlicher Freiheit
  verstehen und respektieren. Ihre emotionale Natur ist von einer gewissen
  Distanz geprägt, die es ihnen ermöglicht, objektiv und rational zu bleiben,
  auch in schwierigen Situationen. Dies kann zu sehr stabilen und reifen
  Partnerschaften führen, in denen beide Partner genug Raum haben, sich
  individuell zu entfalten. Dennoch bringen sie eine warme und enthusiastische
  Energie in ihre Beziehungen ein, was sie zu inspirierenden und motivierenden
  Partnern macht. Allerdings können auch problematische Aspekte dieser
  Kombination auftreten. Die starke Unabhängigkeit und das Bedürfnis nach
  Freiheit beider Zeichen können dazu führen, dass sie sich schwer tun, sich
  fest zu binden oder tiefe emotionale Verbindungen einzugehen. Ihre Neigung,
  sich in ihren Gedankenwelten und Projekten zu verlieren, kann dazu führen,
  dass sie emotional distanziert wirken oder Schwierigkeiten haben, die
  Bedürfnisse ihrer Partner vollständig zu erkennen und zu erfüllen. Zudem kann
  die Tendenz des Schützen zu Optimismus und Idealismus manchmal auf die
  rationale und realistische Natur des Wassermanns treffen, was zu inneren
  Konflikten führen kann. Menschen mit dieser Konstellation müssen lernen, ihre
  Freiheit und Individualität zu wahren, während sie gleichzeitig emotionale
  Intimität und Verbindlichkeit in ihren Beziehungen entwickeln.
</p>
<% } %> <% if (key2 === 'pisces') { %>
<h3 class="horo">Schütze & Fische</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Schütze und Mond in Fische
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Schütze und Mondzeichen in Fische vereint
  die optimistische, abenteuerlustige Natur des Schützen mit der sensiblen,
  einfühlsamen Emotionalität der Fische. Menschen mit dieser Kombination sind
  idealistisch und träumerisch, wobei sie stets nach neuen Horizonten und
  tieferem Sinn suchen. Der Schütze verleiht ihnen eine unerschütterliche
  Zuversicht und den Drang, die Welt zu entdecken, während der Mond in den
  Fischen ihre Intuition und ihr Mitgefühl stärkt. Diese Personen sind oft von
  einer spirituellen oder philosophischen Neugier getrieben, die sie dazu
  bringt, über das Offensichtliche hinauszusehen und tiefere Bedeutungen zu
  suchen. In Beziehungen und emotionalen Situationen sind Menschen mit dieser
  Kombination besonders einfühlsam und unterstützend. Sie haben ein großes Herz
  und eine starke Bereitschaft, anderen zu helfen, was sie zu äußerst loyalen
  und verständnisvollen Partnern macht. Ihre Fähigkeit, sich in andere
  hineinzuversetzen, ist bemerkenswert, und sie sind oft diejenigen, die den
  emotionalen Ton in einer Beziehung setzen. Der Schütze bringt eine
  freigeistige und abenteuerliche Energie in die Partnerschaft ein, die durch
  die tiefe emotionale Verbundenheit der Fische ergänzt wird. Diese Menschen
  suchen nach Beziehungen, die sowohl inspirierend als auch emotional erfüllend
  sind, und sie haben ein Talent dafür, romantische und spirituelle Verbindungen
  zu schaffen. Allerdings können auch problematische Aspekte dieser Kombination
  auftreten. Die Tendenz des Schützen, sich in seiner Unabhängigkeit und seinem
  Freiheitsdrang zu verlieren, kann mit der emotionalen Bedürftigkeit der Fische
  kollidieren. Während der Schütze gerne die Welt erkundet und ständig neue
  Erfahrungen sucht, kann der Fisch sich manchmal vernachlässigt oder emotional
  unsicher fühlen. Zudem neigen beide Zeichen dazu, sich in Träumen und Idealen
  zu verlieren, was zu einem Mangel an praktischer Bodenständigkeit führen kann.
  Menschen mit dieser Konstellation müssen lernen, ein Gleichgewicht zwischen
  ihrer Abenteuerlust und ihrer emotionalen Sensibilität zu finden, um stabile
  und erfüllende Beziehungen zu pflegen.
</p>
<% } %>