<% if (key2 === 'aries') { %>
<h3 class="horo">Waage & Widder</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Waage und Mond im Widder</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Waage und Mondzeichen in Widder vereint
	die harmonische und diplomatische Natur der Waage mit der dynamischen und
	impulsiven Energie des Widders. Menschen mit dieser Konstellation strahlen
	Charme und Anziehungskraft aus, kombiniert mit einer ansteckenden Lebensfreude
	und Entschlossenheit. Sie besitzen eine natürliche Fähigkeit, soziale
	Situationen mit Eleganz zu meistern und gleichzeitig die Initiative zu
	ergreifen, um ihre Ziele zu verfolgen. Ihre Waage-Sonne gibt ihnen den Wunsch
	nach Ausgeglichenheit und Harmonie, während ihr Widder-Mond ihnen den Mut und
	die Entschlossenheit verleiht, Herausforderungen direkt anzugehen. In
	Beziehungen und emotionalen Situationen zeigen sich Menschen mit dieser
	Kombination als leidenschaftliche und engagierte Partner. Sie haben ein
	starkes Bedürfnis nach sozialer Interaktion und sind oft die treibende Kraft
	in ihren Beziehungen. Ihre Waage-Sonne sorgt dafür, dass sie diplomatisch und
	rücksichtsvoll sind, während der Widder-Mond ihnen die Fähigkeit verleiht,
	ihre Gefühle direkt und ehrlich zu kommunizieren. Diese Kombination macht sie
	zu spannenden und dynamischen Partnern, die sowohl Romantik als auch Abenteuer
	in ihre Beziehungen einbringen. Sie sind stets bestrebt, das Gleichgewicht
	zwischen Nähe und Freiheit zu finden, was ihnen ermöglicht, tiefgehende und
	erfüllende Verbindungen zu schaffen. Allerdings können Menschen mit dieser
	Kombination auch auf Herausforderungen stoßen. Die harmoniesuchende Natur der
	Waage kann manchmal mit der impulsiven und ungeduldigen Seite des Widders in
	Konflikt geraten. Diese innere Spannung kann dazu führen, dass sie sich hin-
	und hergerissen fühlen zwischen dem Wunsch, Konflikte zu vermeiden und dem
	Drang, ihre Bedürfnisse sofort zu erfüllen. Dies kann in Beziehungen zu
	Missverständnissen und Spannungen führen, besonders wenn sie das Gefühl haben,
	dass ihre diplomatischen Bemühungen nicht anerkannt werden. Es ist wichtig für
	sie, Wege zu finden, um ihre Bedürfnisse auf eine Weise auszudrücken, die
	sowohl ihre Harmonie als auch ihre Authentizität wahrt. Indem sie lernen, ihre
	impulsiven Reaktionen zu zügeln und gleichzeitig ihre diplomatische Seite zu
	nutzen, können sie ein gesundes Gleichgewicht zwischen ihren widersprüchlichen
	Energien finden.
</p>
<% } %> <% if (key2 === 'taurus') { %>
<h3 class="horo">Waage & Stier</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Waage und Mond im Stier</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Waage und Mondzeichen in Stier vereint
	die harmonische, diplomatische Natur der Waage mit der beständigen,
	genussorientierten Energie des Stiers. Menschen mit dieser Konstellation sind
	oft charmant, ausgeglichen und haben ein ausgeprägtes ästhetisches Gespür.
	Ihre Waage-Sonne verleiht ihnen eine natürliche Anziehungskraft und ein
	starkes Bedürfnis nach sozialer Harmonie, während der Stier-Mond sie erdet und
	ihnen eine stabile, geduldige Herangehensweise an das Leben gibt. Sie schätzen
	Schönheit und Komfort, was sie zu ausgezeichneten Gastgebern und
	Genussmenschen macht. In Beziehungen und emotionalen Situationen sind diese
	Menschen loyal, liebevoll und suchen nach langfristigen, stabilen
	Verbindungen. Ihre Waage-Sonne sorgt dafür, dass sie rücksichtsvoll und
	aufmerksam auf die Bedürfnisse ihres Partners eingehen, während der Stier-Mond
	ihnen die Fähigkeit verleiht, tiefe, sinnliche Verbindungen zu genießen. Sie
	sind oft geduldig und bereit, an ihren Beziehungen zu arbeiten, um eine
	harmonische und erfüllende Partnerschaft zu schaffen. Diese Kombination macht
	sie zu treuen und unterstützenden Partnern, die sowohl die Romantik als auch
	die praktischen Aspekte einer Beziehung schätzen. Allerdings können Menschen
	mit dieser Kombination auch auf Herausforderungen stoßen. Die harmoniesuchende
	Natur der Waage kann manchmal mit der starren und besitzergreifenden Seite des
	Stiers in Konflikt geraten. Diese innere Spannung kann dazu führen, dass sie
	Schwierigkeiten haben, flexibel auf Veränderungen zu reagieren oder
	Kompromisse einzugehen. In Beziehungen könnte dies bedeuten, dass sie manchmal
	zu stur oder unnachgiebig sind, was zu Konflikten führen kann. Es ist wichtig
	für sie, einen Mittelweg zu finden, der sowohl ihre Bedürfnisse nach
	Stabilität als auch nach Harmonie erfüllt. Indem sie lernen, ihre Starrheit zu
	überwinden und gleichzeitig ihre diplomatische Seite zu nutzen, können sie ein
	ausgewogenes und erfüllendes Leben führen.
</p>
<% } %> <% if (key2 === 'gemini') { %>
<h3 class="horo">Waage & Zwillinge</h3>
<h6 class="horo">
	Wechselwirkung zwischen Sonne in Waage und Mond in Zwillinge
</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Waage und Mondzeichen in Zwillinge
	vereint die charmante, diplomatische Natur der Waage mit der neugierigen und
	kommunikativen Energie der Zwillinge. Menschen mit dieser Konstellation sind
	oft sozial sehr geschickt und haben eine natürliche Fähigkeit, mit anderen zu
	interagieren und Verbindungen zu knüpfen. Ihre Waage- Sonne verleiht ihnen
	einen starken Sinn für Gerechtigkeit und Harmonie, während der Zwillinge- Mond
	ihnen einen wachen Verstand und eine Vorliebe für Vielfalt und Veränderung
	gibt. Sie sind kreative Denker und haben eine Vorliebe für intellektuelle
	Herausforderungen und soziale Aktivitäten. In Beziehungen und emotionalen
	Situationen zeigen sich diese Menschen als sehr gesprächig und aufgeschlossen.
	Sie schätzen den Austausch von Ideen und haben oft einen spielerischen,
	leichten Ansatz in ihren Interaktionen. Ihre Waage-Sonne sorgt dafür, dass sie
	rücksichtsvoll und aufmerksam auf die Bedürfnisse ihres Partners eingehen,
	während der Zwillinge-Mond ihnen die Fähigkeit verleiht, flexibel und
	anpassungsfähig zu sein. Sie genießen es, gemeinsam neue Erfahrungen zu machen
	und legen großen Wert auf Kommunikation und geistige Stimulation in ihren
	Beziehungen. Ihre Fähigkeit, verschiedene Perspektiven zu verstehen und
	auszugleichen, macht sie zu ausgezeichneten Partnern, die sowohl intellektuell
	als auch emotional erfüllende Verbindungen suchen. Allerdings können Menschen
	mit dieser Kombination auch auf Herausforderungen stoßen. Ihre ständige Suche
	nach neuen Erfahrungen und geistiger Anregung kann sie manchmal unruhig oder
	sprunghaft machen. Dies könnte dazu führen, dass sie Schwierigkeiten haben,
	sich langfristig auf eine Sache oder Person zu konzentrieren. Zudem kann die
	harmoniesuchende Natur der Waage mit der flatterhaften Energie der Zwillinge
	kollidieren, was dazu führen kann, dass sie sich in Konfliktsituationen
	unentschlossen oder unehrlich verhalten. Es ist wichtig für sie, einen
	Mittelweg zu finden, der sowohl ihre Bedürfnisse nach Abwechslung als auch
	nach Beständigkeit erfüllt. Indem sie lernen, ihre Neugier und Flexibilität zu
	nutzen, ohne die Stabilität ihrer Beziehungen zu gefährden, können sie ein
	ausgewogenes und erfüllendes Leben führen.
</p>
<% } %> <% if (key2 === 'cancer') { %>
<h3 class="horo">Waage & Krebs</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Waage und Mond in Krebs</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Waage und Mondzeichen in Krebs vereint
	die diplomatische, harmoniesuchende Natur der Waage mit der empfindsamen,
	fürsorglichen Energie des Krebses. Menschen mit dieser Konstellation besitzen
	eine natürliche Fähigkeit, Beziehungen zu pflegen und eine warme, einladende
	Atmosphäre zu schaffen. Ihre Waage-Sonne verleiht ihnen eine charmante,
	gesellige Ausstrahlung und den Wunsch, Gleichgewicht und Gerechtigkeit in
	ihren Interaktionen zu wahren, während ihr Krebs-Mond ihnen ein tiefes
	emotionales Verständnis und die Fähigkeit zur empathischen Fürsorge gibt.
	Diese Personen sind oft sehr beliebt und geschätzt für ihre Fähigkeit, sich
	auf die Bedürfnisse anderer einzustellen und gleichzeitig eine angenehme
	Umgebung zu fördern. In Beziehungen und emotionalen Situationen zeigen sich
	Menschen mit dieser Kombination als äußerst einfühlsam und beschützend. Sie
	sind in der Lage, die Gefühle ihrer Partner tief zu verstehen und legen großen
	Wert darauf, emotionale Sicherheit und Geborgenheit zu bieten. Ihre
	Waage-Sonne sorgt dafür, dass sie immer um Fairness und Harmonie bemüht sind,
	während ihr Krebs-Mond ihnen die emotionale Tiefe und das Bedürfnis nach
	Intimität und Nähe verleiht. Sie sind liebevolle und unterstützende Partner,
	die stets bestrebt sind, eine stabile und liebevolle Beziehung zu führen. Ihre
	Fähigkeit, sowohl intellektuell als auch emotional in ihre Partnerschaften zu
	investieren, macht sie zu idealen Begleitern, die sowohl mentale als auch
	emotionale Bedürfnisse erfüllen können. Allerdings können Menschen mit dieser
	Kombination auch auf einige Herausforderungen stoßen. Ihre Neigung zur
	Überempfindlichkeit und die Tendenz, Konflikte zu vermeiden, kann dazu führen,
	dass sie Schwierigkeiten haben, ihre eigenen Bedürfnisse klar zu kommunizieren
	oder sich durchzusetzen. Sie könnten sich leicht von den Emotionen anderer
	überwältigt fühlen und haben manchmal Schwierigkeiten, sich abzugrenzen. Diese
	Personen müssen lernen, ein Gleichgewicht zwischen ihrer Fürsorglichkeit und
	ihrem Bedürfnis nach Selbstfürsorge zu finden. Es ist wichtig, dass sie darauf
	achten, nicht in Co-Abhängigkeiten zu geraten oder ihre eigenen Wünsche und
	Bedürfnisse zugunsten anderer zu vernachlässigen. Ein gesundes Maß an
	Selbstbehauptung und die Fähigkeit, auch schwierige Gespräche zu führen, wird
	ihnen helfen, sowohl ihre eigenen als auch die Bedürfnisse ihrer Partner
	besser zu erfüllen.
</p>
<% } %> <% if (key2 === 'leo') { %>
<h3 class="horo">Waage & Löwe</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Waage und Mond in Löwe</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Waage und Mondzeichen in Löwe vereint die
	charmante, diplomatische Natur der Waage mit der selbstbewussten,
	leidenschaftlichen Energie des Löwen. Menschen mit dieser Konstellation
	strahlen oft eine natürliche Anziehungskraft und Charisma aus, das sie in
	sozialen Situationen hervorhebt. Ihre Waage-Sonne verleiht ihnen einen
	ausgeprägten Sinn für Ästhetik, Harmonie und Gerechtigkeit, während ihr
	Löwe-Mond ihnen eine warme, großzügige und herzliche Persönlichkeit gibt. Sie
	lieben es, im Mittelpunkt zu stehen und können auf eine charismatische Art und
	Weise führen, die andere inspiriert und motiviert. In Beziehungen und
	emotionalen Situationen zeigen sich Menschen mit dieser Kombination als
	liebevoll, loyal und großzügig. Ihre Waage-Sonne sorgt dafür, dass sie immer
	um Fairness und Harmonie bemüht sind, während ihr Löwe-Mond ihnen die
	Fähigkeit verleiht, leidenschaftlich und mit großem Herzen zu lieben. Sie sind
	in der Lage, ihren Partnern sowohl emotionale Unterstützung als auch
	Inspiration zu bieten. Sie genießen es, ihre Zuneigung zu zeigen und legen
	großen Wert darauf, dass ihre Liebsten sich geschätzt und wertgeschätzt
	fühlen. Ihre emotionale Großzügigkeit und ihr Bedürfnis, ihre Partner
	glücklich zu machen, machen sie zu warmherzigen und engagierten Partnern, die
	stets bemüht sind, eine glückliche und erfüllte Beziehung zu führen.
	Allerdings können Menschen mit dieser Kombination auch auf einige
	Herausforderungen stoßen. Ihre Neigung zur Selbstdarstellung und ihr Bedürfnis
	nach Anerkennung können manchmal als egozentrisch oder dominant wahrgenommen
	werden. Sie könnten Schwierigkeiten haben, Kritik anzunehmen oder Kompromisse
	einzugehen, insbesondere wenn ihr Stolz auf dem Spiel steht. Diese Personen
	müssen lernen, ein Gleichgewicht zwischen ihrem Bedürfnis nach Bewunderung und
	ihrer Fähigkeit, echte Kompromisse einzugehen, zu finden. Es ist wichtig, dass
	sie sich bewusst sind, dass wahre Harmonie und tiefe Beziehungen auf
	gegenseitigem Respekt und Verständnis basieren. Durch die Entwicklung von
	Empathie und die Fähigkeit, auf die Bedürfnisse ihrer Partner einzugehen,
	können sie ihre Beziehungen stärken und ein tieferes emotionales Verständnis
	erreichen.
</p>
<% } %> <% if (key2 === 'virgo') { %>
<h3 class="horo">Waage & Jungfrau</h3>
<h6 class="horo">
	Wechselwirkung zwischen Sonne in Waage und Mond in Jungfrau
</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Waage und Mondzeichen in Jungfrau vereint
	die harmonische, diplomatische Natur der Waage mit der praktischen,
	analytischen Energie der Jungfrau. Menschen mit dieser Konstellation zeichnen
	sich durch ihre Fähigkeit aus, Schönheit und Ästhetik mit Effizienz und
	Detailgenauigkeit zu verbinden. Ihre Waage-Sonne verleiht ihnen ein starkes
	Bedürfnis nach Balance und Gerechtigkeit, während ihr Jungfrau-Mond ihnen eine
	ausgeprägte Fähigkeit zur Analyse und Problemlösung gibt. Sie sind oft sehr
	sorgfältig und gewissenhaft, sowohl in ihren beruflichen Tätigkeiten als auch
	in ihrem persönlichen Leben, und legen großen Wert auf Ordnung und Struktur.
	In Beziehungen und emotionalen Situationen zeigt sich diese Kombination als
	sehr unterstützend und zuverlässig. Menschen mit Waage-Sonne und Jungfrau-Mond
	sind darauf bedacht, harmonische und friedliche Beziehungen zu führen. Sie
	sind einfühlsam und aufmerksam gegenüber den Bedürfnissen ihrer Partner und
	neigen dazu, sich um das Wohl ihrer Liebsten zu kümmern. Ihr analytischer
	Jungfrau-Mond hilft ihnen, Probleme und Missverständnisse in der Beziehung
	schnell zu erkennen und Lösungen zu finden. Sie streben danach, ihren Partnern
	emotionale Stabilität und Sicherheit zu bieten und zeigen ihre Liebe oft durch
	praktische Hilfe und Unterstützung im Alltag. Allerdings können Menschen mit
	dieser Kombination auch auf einige Herausforderungen stoßen. Ihre Neigung zur
	Perfektion und ihr kritischer Blick auf Details können dazu führen, dass sie
	sowohl sich selbst als auch ihre Partner zu streng beurteilen. Sie könnten
	Schwierigkeiten haben, sich zu entspannen und das Leben in vollen Zügen zu
	genießen, da sie ständig daran denken, wie sie Dinge verbessern können. Diese
	Personen müssen lernen, ein Gleichgewicht zwischen ihrem Bedürfnis nach
	Perfektion und der Akzeptanz der Unvollkommenheit zu finden. Es ist wichtig,
	dass sie sich bewusst Zeit nehmen, um die schönen Momente im Leben zu genießen
	und nicht nur auf Fehler und Verbesserungsmöglichkeiten zu achten. Durch die
	Entwicklung von mehr Selbstakzeptanz und die Fähigkeit, gelegentlich
	loszulassen, können sie tiefere und erfüllendere Beziehungen führen.
</p>
<% } %> <% if (key2 === 'libra') { %>
<h3 class="horo">Waage & Waage</h3>
<h6 class="horo">
	Wechselwirkung zwischen Sonne in Waage und Mond ebenfalls in Waage
</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Waage und Mondzeichen in Waage verstärkt
	die harmonischen und ausgleichenden Eigenschaften dieses Zeichens. Menschen
	mit dieser Konstellation sind äußerst charmant, diplomatisch und haben ein
	ausgeprägtes Gespür für Ästhetik und Schönheit. Ihre Fähigkeit, die
	Perspektiven anderer zu verstehen und zu schätzen, macht sie zu hervorragenden
	Vermittlern und Diplomaten. Sie streben stets nach Harmonie und Balance in
	ihrem Leben und sind bestrebt, Konflikte zu vermeiden. Diese doppelte
	Waage-Energie fördert eine starke Vorliebe für Kunst, Kultur und soziale
	Interaktionen, wobei sie es lieben, sich in schönen und friedlichen Umgebungen
	aufzuhalten. In Beziehungen und emotionalen Situationen zeigen sich Menschen
	mit dieser Kombination als äußerst liebevoll, unterstützend und
	verständnisvoll. Sie sind hervorragende Partner, die großen Wert auf Fairness
	und Gleichberechtigung legen. Ihre natürliche Fähigkeit zur Empathie und ihr
	Wunsch nach Harmonie sorgen dafür, dass sie sehr aufmerksam und rücksichtsvoll
	gegenüber den Bedürfnissen und Gefühlen ihrer Partner sind. Sie neigen dazu,
	Konflikte diplomatisch zu lösen und streben danach, in ihren Beziehungen eine
	ausgewogene und friedliche Atmosphäre zu schaffen. Emotionale Ausgeglichenheit
	und ein starkes Bedürfnis nach Partnerschaft sind wesentliche Merkmale dieser
	Kombination. Allerdings können Menschen mit dieser doppelten Waage-Kombination
	auch auf Herausforderungen stoßen. Ihre starke Abneigung gegen Konflikte kann
	dazu führen, dass sie Probleme vermeiden oder ihre eigenen Bedürfnisse und
	Gefühle unterdrücken, um die Harmonie zu bewahren. Diese Tendenz zur
	Konfliktvermeidung kann dazu führen, dass ungelöste Probleme unter der
	Oberfläche schwelen und schließlich zu größeren Schwierigkeiten führen. Zudem
	können sie manchmal als unentschlossen oder wankelmütig wahrgenommen werden,
	da sie dazu neigen, alle Perspektiven zu berücksichtigen und Schwierigkeiten
	haben, klare Entscheidungen zu treffen. Es ist wichtig, dass sie lernen, ihre
	eigenen Bedürfnisse und Wünsche klar zu kommunizieren und sich nicht vor
	unangenehmen Konfrontationen zu scheuen, um langfristig gesunde und
	authentische Beziehungen zu führen.
</p>
<% } %> <% if (key2 === 'scorpio') { %>
<h3 class="horo">Waage & Skorpion</h3>
<h6 class="horo">
	Wechselwirkung zwischen Sonne in Waage und Mond in Skorpion
</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Waage und Mondzeichen in Skorpion bringt
	eine faszinierende Mischung aus Harmoniebedürfnis und emotionaler Tiefe.
	Menschen mit dieser Kombination haben eine natürliche Anziehungskraft und
	Ausstrahlung, die oft im Mittelpunkt steht. Die Waage verleiht ihnen Charme,
	Diplomatie und ein ausgeprägtes ästhetisches Empfinden, während der Skorpion
	ihnen Intensität, Leidenschaft und eine tiefgehende emotionale Natur verleiht.
	Diese Personen haben die Fähigkeit, Beziehungen und soziale Interaktionen mit
	Leichtigkeit zu navigieren, während sie gleichzeitig eine starke, oft
	verborgene emotionale Tiefe besitzen. In Beziehungen und emotionalen
	Situationen zeigen sich diese Menschen als leidenschaftliche und loyale
	Partner. Die Waage strebt nach Harmonie und Gleichgewicht, während der
	Skorpion eine intensive emotionale Bindung und Tiefe sucht. Dies führt zu
	einer starken, oft magnetischen Anziehungskraft auf andere. Sie sind bereit,
	viel für ihre Beziehungen zu investieren und zeigen eine tiefe Fürsorge und
	Schutz für ihre Liebsten. Ihre Fähigkeit, sowohl die Oberfläche als auch die
	Tiefen der menschlichen Natur zu verstehen, macht sie zu einfühlsamen und
	engagierten Partnern. Sie suchen nach Beziehungen, die sowohl stabil als auch
	emotional erfüllend sind, und sind oft bereit, große Anstrengungen zu
	unternehmen, um dies zu erreichen. Allerdings können Menschen mit dieser
	Kombination auch mit einigen Herausforderungen konfrontiert sein. Die
	Waage-Seite kann dazu neigen, Konflikte zu vermeiden und nach äußerlicher
	Harmonie zu streben, während der Skorpion eine tiefere Konfrontation und das
	Durchdringen emotionaler Wahrheiten sucht. Diese innere Spannung kann zu
	innerem Konflikt und Unentschlossenheit führen. Zudem kann die starke
	emotionale Intensität des Skorpions dazu führen, dass sie manchmal als zu
	kontrollierend oder besitzergreifend wahrgenommen werden. Es ist wichtig für
	diese Menschen, einen Weg zu finden, um ihre tiefen emotionalen Bedürfnisse
	auf eine Weise auszudrücken, die ihre natürlichen diplomatischen Fähigkeiten
	und das Bedürfnis nach Harmonie respektiert. Nur so können sie ausgewogene und
	erfüllende Beziehungen aufbauen und pflegen.
</p>
<% } %> <% if (key2 === 'sagittarius') { %>
<h3 class="horo">Waage & Schütze</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Waage und Mond in Schütze</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Waage und Mondzeichen in Schütze vereint
	Charme, Diplomatie und eine optimistische, abenteuerlustige Natur. Menschen
	mit dieser Konstellation besitzen eine natürliche Fähigkeit, soziale
	Situationen mit Anmut und Leichtigkeit zu meistern, dank der Waage.
	Gleichzeitig verleiht der Schütze-Mond ihnen eine lebhafte, enthusiastische
	und abenteuerliche Persönlichkeit. Diese Personen sind oft gesellig, lieben
	es, neue Menschen kennenzulernen und neue Erfahrungen zu sammeln. Sie haben
	ein tiefes Bedürfnis nach Freiheit und Unabhängigkeit und sind immer auf der
	Suche nach neuen Horizonten. In Beziehungen und emotionalen Situationen zeigen
	sich diese Menschen als begeisterte und engagierte Partner. Sie bringen eine
	Mischung aus Romantik und Abenteuerlust in ihre Beziehungen ein. Die Waage
	sorgt dafür, dass sie bemüht sind, Harmonie und Ausgleich zu finden, während
	der Schütze ihnen die Fähigkeit verleiht, ihren Partner zu inspirieren und zu
	motivieren. Diese Kombination führt oft zu dynamischen und aufregenden
	Partnerschaften, in denen beide Partner voneinander lernen und wachsen können.
	Sie schätzen Ehrlichkeit und Freiheit in Beziehungen und sind bestrebt, ihren
	Partnern Raum für persönliche Entfaltung zu geben, während sie gleichzeitig
	eine tiefe emotionale Verbindung aufrechterhalten. Allerdings können auch
	Herausforderungen auftreten. Menschen mit dieser Kombination können manchmal
	Schwierigkeiten haben, sich dauerhaft zu binden, da der Schütze-Mond ein
	starkes Bedürfnis nach Freiheit und Unabhängigkeit hat. Dies kann zu
	Konflikten führen, wenn ihr Partner mehr Stabilität und Sicherheit sucht. Die
	Waage-Tendenz zur Harmoniesuche kann sie zudem dazu bringen, Konflikte zu
	vermeiden, was auf lange Sicht zu ungelösten Spannungen führen kann. Es ist
	wichtig für sie, einen Weg zu finden, ihre Abenteuerlust und ihr Bedürfnis
	nach Unabhängigkeit mit der Notwendigkeit von Stabilität und Verbindlichkeit
	in Beziehungen in Einklang zu bringen. Wenn sie lernen, offen über ihre
	Bedürfnisse zu kommunizieren und Kompromisse einzugehen, können sie erfüllende
	und langfristige Partnerschaften aufbauen.
</p>
<% } %> <% if (key2 === 'capricorn') { %>
<h3 class="horo">Waage & Steinbock</h3>
<h6 class="horo">
	Wechselwirkung zwischen Sonne in Waage und Mond in Steinbock
</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Waage und Mondzeichen in Steinbock
	vereint Charme, Diplomatie und eine ernste, zielstrebige Natur. Menschen mit
	dieser Konstellation haben die Fähigkeit, soziale Situationen mit Anmut und
	Taktgefühl zu meistern, was sie zu ausgezeichneten Kommunikatoren und
	Vermittlern macht. Die Waage verleiht ihnen einen starken Sinn für
	Gerechtigkeit und Schönheit, während der Steinbock-Mond ihnen eine
	disziplinierte und verantwortungsbewusste Haltung verleiht. Sie streben oft
	nach Erfolg und Anerkennung und sind bereit, hart dafür zu arbeiten, ihre
	Ziele zu erreichen. In Beziehungen und emotionalen Situationen zeigt sich
	diese Kombination durch eine tiefe Verpflichtung und Loyalität. Diese Menschen
	sind oft sehr ernsthaft, wenn es um Partnerschaften geht, und suchen nach
	Stabilität und Langfristigkeit. Die Waage sorgt dafür, dass sie harmonische
	und ausgewogene Beziehungen anstreben, während der Steinbock-Mond ihnen hilft,
	eine solide Basis und Struktur in ihren Beziehungen aufzubauen. Sie schätzen
	Zuverlässigkeit und Treue und sind bereit, sich zu engagieren und
	Verantwortung zu übernehmen. Ihre Partner können sich auf ihre Beständigkeit
	und ihren praktischen Ansatz verlassen, was eine sichere und stabile Beziehung
	ermöglicht. Allerdings können auch Herausforderungen auftreten. Menschen mit
	dieser Kombination können manchmal als zu kontrolliert oder emotionslos
	erscheinen, da der Steinbock-Mond ihre Gefühle oft zurückhaltend ausdrückt.
	Dies kann dazu führen, dass sie Schwierigkeiten haben, ihre Bedürfnisse und
	Emotionen offen zu kommunizieren. Die Waage-Tendenz zur Harmoniesuche kann sie
	zudem dazu bringen, Konflikte zu vermeiden, was auf lange Sicht zu ungelösten
	Spannungen führen kann. Es ist wichtig für sie, einen Weg zu finden, ihre
	Ernsthaftigkeit und ihren Wunsch nach Stabilität mit der Notwendigkeit offener
	und emotionaler Kommunikation in Einklang zu bringen. Wenn sie lernen, ihre
	Gefühle besser auszudrücken und Konflikte konstruktiv anzugehen, können sie
	tief erfüllende und dauerhafte Partnerschaften aufbauen.
</p>
<% } %> <% if (key2 === 'aquarius') { %>
<h3 class="horo">Waage & Wassermann</h3>
<h6 class="horo">
	Wechselwirkung zwischen Sonne in Waage und Mond in Wassermann
</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Waage und Mondzeichen in Wassermann
	verbindet Charme, Diplomatie und eine innovative, unkonventionelle Denkweise.
	Menschen mit dieser astrologischen Konstellation haben eine ausgeprägte
	Fähigkeit, soziale Situationen zu meistern und sich mit Leichtigkeit in
	unterschiedlichen Gesellschaftsschichten zu bewegen. Die Waage verleiht ihnen
	einen starken Sinn für Gerechtigkeit, Harmonie und Schönheit, während der
	Wassermann-Mond ihnen eine originelle und zukunftsorientierte Perspektive
	bietet. Sie sind oft visionär und haben ein starkes Bedürfnis nach Freiheit
	und Individualität, was sie zu inspirierenden und einfallsreichen
	Persönlichkeiten macht. In Beziehungen und emotionalen Situationen zeigen sich
	diese Menschen als äußerst aufgeschlossen und tolerant. Sie schätzen ihre
	Unabhängigkeit und suchen nach Partnern, die diese Qualität respektieren und
	teilen. Die Waage sorgt dafür, dass sie stets um Harmonie und Gleichgewicht
	bemüht sind, während der Wassermann-Mond ihnen eine gewisse Distanz und
	Objektivität in emotionalen Angelegenheiten verleiht. Sie bevorzugen
	Partnerschaften, die auf gegenseitigem Respekt und geistiger Verbundenheit
	basieren. Ihre emotionale Unabhängigkeit ermöglicht es ihnen, sich selbst in
	einer festen Beziehung ihre Freiräume zu bewahren und gleichzeitig ihre
	Partner zu unterstützen, ebenfalls ihre eigenen Wege zu gehen. Allerdings
	können auch Herausforderungen auftreten. Menschen mit dieser Kombination
	können manchmal als distanziert oder unnahbar wirken, da der Wassermann-Mond
	dazu neigt, Emotionen eher intellektuell als gefühlsbetont zu verarbeiten.
	Dies kann dazu führen, dass sie Schwierigkeiten haben, tiefere emotionale
	Bindungen einzugehen oder ihre Gefühle offen zu zeigen. Die Waage-Tendenz zur
	Harmoniesuche kann außerdem dazu führen, dass sie Konflikten aus dem Weg
	gehen, was auf lange Sicht zu ungelösten Spannungen führen kann. Es ist
	wichtig für sie, einen Weg zu finden, ihre emotionale Unabhängigkeit mit der
	Notwendigkeit von Nähe und emotionaler Offenheit in Einklang zu bringen. Wenn
	sie lernen, ihre Gefühle klar zu kommunizieren und Konflikte konstruktiv
	anzugehen, können sie erfüllende und stabile Beziehungen aufbauen.
</p>
<% } %> <% if (key2 === 'pisces') { %>
<h3 class="horo">Waage & Fische</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Waage und Mond in Fische</h6>
<p class="horo">
	Die Kombination von Sonnenzeichen in Waage und Mondzeichen in Fische verbindet
	Anmut, Harmonie und Mitgefühl. Menschen mit dieser astrologischen
	Konstellation besitzen einen natürlichen Charme und eine freundliche
	Ausstrahlung, die andere Menschen leicht anzieht. Die Waage verleiht ihnen
	einen starken Sinn für Gerechtigkeit und Ästhetik, während der Fische-Mond
	ihre intuitive und sensible Seite betont. Diese Personen haben eine tiefe
	Fähigkeit, die Gefühle und Bedürfnisse anderer zu erspüren, was sie zu
	ausgezeichneten Freunden und Beratern macht. Ihre Kreativität und ihr
	künstlerisches Talent können in vielen Bereichen des Lebens zum Ausdruck
	kommen, von der Kunst bis hin zu sozialen Interaktionen. In Beziehungen und
	emotionalen Situationen zeigen sich diese Menschen als sehr einfühlsam und
	liebevoll. Sie haben eine natürliche Neigung, sich um das Wohl ihrer Partner
	zu kümmern und eine harmonische Atmosphäre zu schaffen. Die Waage sorgt dafür,
	dass sie stets um Fairness und Gleichgewicht bemüht sind, während der
	Fische-Mond ihre Fähigkeit zur tiefen emotionalen Verbindung und zum Mitgefühl
	verstärkt. Sie sind romantisch und träumerisch und suchen oft nach einer
	Seelenverwandtschaft in ihren Partnerschaften. Ihre emotionale Sensibilität
	ermöglicht es ihnen, auf die Bedürfnisse ihrer Partner einzugehen und eine
	unterstützende und liebevolle Beziehung zu pflegen. Allerdings können auch
	Herausforderungen auftreten. Menschen mit dieser Kombination können manchmal
	Schwierigkeiten haben, klare Grenzen zu setzen und sich vor emotionaler
	Überforderung zu schützen. Der Fische-Mond kann dazu führen, dass sie sich
	leicht in den Emotionen anderer verlieren und ihre eigenen Bedürfnisse
	vernachlässigen. Die Waage-Tendenz zur Konfliktvermeidung kann zudem dazu
	führen, dass sie Schwierigkeiten haben, ihre eigenen Standpunkte durchzusetzen
	und notwendige Konfrontationen zu führen. Es ist wichtig für sie, einen Weg zu
	finden, ihre Sensibilität und ihr Mitgefühl mit der Fähigkeit zur
	Selbstbehauptung und zur Abgrenzung in Einklang zu bringen. Wenn sie lernen,
	ihre eigenen Bedürfnisse ebenso zu respektieren wie die der anderen, können
	sie erfüllende und ausgewogene Beziehungen aufbauen.
</p>
<% } %>
