<% if (key2 === 'aries') { %>
<h3 class="horo">Skorpion & Widder</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Skorpion und Mond im Widder
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Skorpion und Mondzeichen in Widder
  verbindet Intensität und Entschlossenheit mit Dynamik und
  Durchsetzungsvermögen. Menschen mit dieser astrologischen Konstellation haben
  eine starke, magnetische Persönlichkeit, die andere anzieht und beeindruckt.
  Der Skorpion verleiht ihnen Tiefe, Leidenschaft und eine natürliche Fähigkeit,
  Geheimnisse zu bewahren und tiefgründige Einsichten zu gewinnen. Der
  Widder-Mond bringt eine unermüdliche Energie, Abenteuerlust und den Mut,
  Herausforderungen direkt anzugehen. Diese Kombination macht sie zu kraftvollen
  und ehrgeizigen Individuen, die bereit sind, für ihre Ziele zu kämpfen und
  sich nicht leicht entmutigen lassen. In Beziehungen und emotionalen
  Situationen zeigen sich Menschen mit dieser Konstellation als
  leidenschaftliche und engagierte Partner. Sie bringen viel Intensität und
  Energie in ihre Beziehungen ein und haben keine Angst davor, ihre Gefühle
  offen zu zeigen. Der Skorpion sorgt für eine tiefe emotionale Bindung und
  Loyalität, während der Widder-Mond ihre Direktheit und Bereitschaft zur
  Konfrontation verstärkt. Sie suchen nach Partnern, die ihre Leidenschaft und
  Energie teilen, und können sehr beschützend und unterstützend sein. Ihre
  Entschlossenheit, Probleme zu lösen und für das Wohl ihrer Beziehung zu
  kämpfen, macht sie zu sehr engagierten Partnern. Allerdings können auch
  problematische Aspekte auftreten. Menschen mit dieser Kombination neigen dazu,
  impulsiv und manchmal aggressiv zu reagieren, insbesondere wenn sie sich
  bedroht oder missverstanden fühlen. Der Widder-Mond kann zu einer gewissen
  Ungeduld und einem Mangel an Geduld führen, was zu Konflikten führen kann,
  wenn sie nicht sofort Ergebnisse sehen oder ihre Erwartungen nicht erfüllt
  werden. Der Skorpion kann dazu neigen, nachtragend zu sein und Schwierigkeiten
  haben, Verletzungen oder Beleidigungen zu vergeben. Es ist wichtig für sie,
  Wege zu finden, ihre intensiven Emotionen zu kontrollieren und konstruktiv zu
  nutzen, um langfristig harmonische Beziehungen zu pflegen. Wenn sie lernen,
  ihre Energie und Leidenschaft in positive Bahnen zu lenken, können sie sowohl
  in persönlichen als auch beruflichen Bereichen Großes erreichen.
</p>
<% } %> <% if (key2 === 'taurus') { %>
<h3 class="horo">Skorpion & Stier</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Skorpion und Mond im Stier
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Skorpion und Mondzeichen in Stier
  verbindet tiefgründige Intensität mit beständiger Stabilität. Menschen mit
  dieser Konstellation haben eine starke, magnetische Präsenz, die andere
  anzieht und beeindruckt. Der Skorpion verleiht ihnen eine intensive,
  leidenschaftliche Natur, die nach Wahrheit und Tiefe strebt. Der Stier-Mond
  bringt eine ruhige, zuverlässige und praktische Emotionalität in die Mischung.
  Diese Kombination sorgt für eine Balance zwischen dem Verlangen nach
  intensiven Erfahrungen und der Fähigkeit, inmitten von Chaos Ruhe und
  Beständigkeit zu bewahren. Diese Personen sind oft entschlossen und geduldig,
  was sie in der Lage macht, langfristige Ziele beharrlich zu verfolgen. In
  Beziehungen und emotionalen Situationen zeigen Menschen mit dieser
  Konstellation eine tiefe Loyalität und eine starke Bindung zu ihren Partnern.
  Der Skorpion-Sonnenzeichen sucht nach intensiven, tiefen emotionalen
  Verbindungen und ist bereit, alles zu geben, um eine bedeutungsvolle Beziehung
  zu pflegen. Der Stier-Mond ergänzt dies durch eine beständige, unterstützende
  und fürsorgliche Art. Sie schätzen Sicherheit und Stabilität in ihren
  Beziehungen und sind sehr sinnlich und romantisch. Diese Menschen können
  äußerst beschützend und fürsorglich sein, was ihren Partnern ein starkes
  Gefühl von Sicherheit und Geborgenheit gibt. Ihre Fähigkeit, tief und
  dauerhaft zu lieben, macht sie zu verlässlichen und engagierten Partnern.
  Allerdings können auch problematische Aspekte auftreten. Menschen mit dieser
  Kombination können zu Sturheit und Besitzergreifung neigen. Der Stier-Mond
  kann zu einer gewissen Unnachgiebigkeit führen, während der Skorpion dazu
  neigt, nachtragend zu sein und Schwierigkeiten hat, loszulassen. Diese
  Mischung kann zu Konflikten führen, wenn sie zu sehr an ihren eigenen
  Vorstellungen und Erwartungen festhalten. Ihre intensiven Gefühle können
  manchmal überwältigend sein, was zu Eifersucht und Kontrollbedürfnissen führen
  kann. Es ist wichtig für sie, Wege zu finden, ihre tiefen Emotionen zu
  balancieren und Kompromisse einzugehen, um harmonische und erfüllende
  Beziehungen zu pflegen. Wenn sie lernen, ihre Sturheit zu überwinden und ihre
  Energie konstruktiv zu nutzen, können sie sowohl in persönlichen als auch
  beruflichen Bereichen große Erfolge erzielen.
</p>
<% } %> <% if (key2 === 'gemini') { %>
<h3 class="horo">Skorpion & Zwillinge</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Skorpion und Mond in Zwillinge
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Skorpion und Mondzeichen in Zwillinge
  vereint tiefe emotionale Intensität mit intellektueller Neugierde. Menschen
  mit dieser Konstellation haben einen faszinierenden Charakter, der sowohl
  tiefgründig als auch vielseitig ist. Der Skorpion verleiht ihnen eine starke,
  leidenschaftliche Natur, die nach tiefen emotionalen Verbindungen und
  wahrhaftigen Erfahrungen strebt. Gleichzeitig bringt der Zwillinge-Mond eine
  lebhafte, neugierige und anpassungsfähige emotionale Seite in die Mischung.
  Diese Menschen sind oft sehr kommunikativ und genießen es, ihre Gedanken und
  Ideen auszutauschen, während sie tiefgründige Themen mit einer spielerischen
  Leichtigkeit erkunden. In Beziehungen und emotionalen Situationen zeigen
  Menschen mit dieser Kombination eine spannende Mischung aus Intensität und
  Leichtigkeit. Der Skorpion-Sonnenzeichen sucht nach tiefen, bedeutsamen
  Verbindungen und kann sehr loyal und engagiert sein. Der Zwillinge-Mond
  hingegen bringt eine gewisse Leichtigkeit und Flexibilität in emotionale
  Angelegenheiten. Diese Menschen können sowohl tief emotional als auch
  geistreich und charmant sein, was sie zu faszinierenden und dynamischen
  Partnern macht. Sie lieben es, Gespräche zu führen und neue Ideen zu erkunden,
  was ihre Beziehungen belebt und interessant hält. Ihr Bedürfnis nach geistiger
  Stimulation führt dazu, dass sie stets nach neuen Erfahrungen und Abenteuern
  suchen, was ihre Beziehungen abwechslungsreich und spannend macht. Allerdings
  können auch problematische Aspekte auftreten. Menschen mit dieser Kombination
  können unter inneren Konflikten leiden, da der Skorpion nach emotionaler Tiefe
  und Beständigkeit strebt, während der Zwillinge-Mond eine gewisse
  Unbeständigkeit und Ruhelosigkeit mit sich bringt. Diese innere Zerrissenheit
  kann zu Schwierigkeiten führen, wenn sie versuchen, sowohl ihre tiefen
  emotionalen Bedürfnisse als auch ihren Wunsch nach Abwechslung und Freiheit zu
  erfüllen. Ihre emotionale Vielseitigkeit kann manchmal als Wankelmut oder
  Oberflächlichkeit wahrgenommen werden, was zu Missverständnissen und
  Konflikten in ihren Beziehungen führen kann. Es ist wichtig für sie, einen Weg
  zu finden, ihre tiefen Gefühle mit ihrer intellektuellen Neugierde zu
  balancieren, um harmonische und erfüllende Beziehungen zu pflegen. Wenn sie
  lernen, diese beiden Seiten ihres Charakters zu integrieren, können sie sowohl
  emotional als auch geistig erfüllende Leben führen.
</p>
<% } %> <% if (key2 === 'cancer') { %>
<h3 class="horo">Skorpion & Krebs</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Skorpion und Mond in Krebs
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Skorpion und Mondzeichen in Krebs vereint
  die intensiven, tiefgründigen und geheimnisvollen Eigenschaften des Skorpions
  mit der einfühlsamen, fürsorglichen und intuitiven Natur des Krebses. Menschen
  mit dieser Konstellation sind oft sehr emotional und haben ein tiefes
  Verständnis für die Gefühle anderer. Der Skorpion verleiht ihnen eine starke
  innere Kraft und Entschlossenheit, während der Krebs-Mond ihre Fähigkeit zur
  Empathie und Zärtlichkeit verstärkt. Diese Menschen sind nicht nur
  leidenschaftlich und entschlossen, sondern auch äußerst fürsorglich und
  schützend gegenüber ihren Lieben. Sie sind in der Lage, tiefe emotionale
  Bindungen einzugehen und zeigen eine starke Loyalität und Hingabe. In
  Beziehungen und emotionalen Situationen zeigen Menschen mit dieser Kombination
  eine bemerkenswerte Tiefe und Intensität. Sie sind sehr intuitiv und können
  oft die Gefühle und Bedürfnisse ihrer Partner spüren, noch bevor diese
  ausgesprochen werden. Der Skorpion- Sonnenzeichen sucht nach tiefen,
  bedeutsamen Verbindungen und scheut keine Mühen, um die Beziehung zu vertiefen
  und zu festigen. Der Krebs-Mond bringt eine sanfte, fürsorgliche Seite in ihr
  Wesen, was sie zu äußerst liebevollen und beschützenden Partnern macht. Sie
  sind sehr häuslich und schätzen die Geborgenheit und Stabilität, die eine
  tiefe emotionale Verbindung bietet. Ihre starke emotionale Bindung kann ihre
  Beziehungen sehr intensiv und erfüllend machen. Allerdings können auch
  problematische Aspekte auftreten. Menschen mit dieser Kombination können unter
  einer übermäßigen emotionalen Intensität und Sensibilität leiden. Ihre tiefen
  Gefühle und die Neigung, Verletzungen stark zu empfinden, können zu einem
  erhöhten Maß an Eifersucht und Besorgnis führen. Der Skorpion-Sonnenzeichen
  kann manchmal dazu neigen, misstrauisch und kontrollierend zu sein, während
  der Krebs-Mond dazu neigt, sich emotional zurückzuziehen und Schutzmauern um
  sich herum zu errichten, wenn er sich bedroht oder verletzt fühlt. Diese
  Tendenzen können zu Konflikten und Missverständnissen in Beziehungen führen.
  Es ist wichtig für sie, an ihrer emotionalen Offenheit und Kommunikation zu
  arbeiten, um eine gesunde Balance zwischen Intensität und Sensibilität zu
  finden. Wenn sie lernen, ihre tiefen Emotionen konstruktiv zu nutzen, können
  sie äußerst erfüllende und harmonische Beziehungen führen.
</p>
<% } %> <% if (key2 === 'leo') { %>
<h3 class="horo">Skorpion & Löwe</h3>
<h6 class="horo">Wechselwirkung zwischen Sonne in Skorpion und Mond in Löwe</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Skorpion und Mondzeichen in Löwe vereint
  die leidenschaftliche, tiefgründige und entschlossene Natur des Skorpions mit
  der stolzen, selbstbewussten und warmherzigen Ausstrahlung des Löwen. Menschen
  mit dieser Konstellation haben eine starke Präsenz und strahlen Autorität und
  Charisma aus. Der Skorpion verleiht ihnen eine intensive emotionale Tiefe und
  eine entschlossene Haltung, während der Löwe ihnen eine natürliche
  Anziehungskraft und Führungsqualitäten gibt. Sie sind oft sehr motiviert und
  zielstrebig, und ihre Energie kann sehr ansteckend sein. Diese Menschen haben
  eine magnetische Ausstrahlung, die andere anzieht und begeistert. In
  Beziehungen und emotionalen Situationen zeigen sich diese Individuen als
  leidenschaftliche, großzügige und loyale Partner. Sie suchen nach tiefen,
  bedeutungsvollen Verbindungen und sind bereit, viel zu investieren, um ihre
  Beziehungen zu pflegen und zu stärken. Der Skorpion- Sonnenzeichen bringt eine
  intensive Hingabe und Treue in ihre Partnerschaften, während der Löwe-Mond
  eine großzügige und herzliche Zuwendung bietet. Sie sind oft sehr beschützend
  gegenüber ihren Liebsten und legen großen Wert auf Loyalität und Vertrauen.
  Ihre emotionale Ausdruckskraft und ihr Bedürfnis, ihre Partner zu schätzen und
  zu verwöhnen, machen sie zu sehr liebevollen und engagierten Partnern.
  Allerdings können auch problematische Aspekte auftreten. Menschen mit dieser
  Kombination können manchmal dazu neigen, dominant und kontrollierend zu sein,
  da sowohl der Skorpion als auch der Löwe starke Persönlichkeiten haben. Diese
  Neigung zur Kontrolle kann zu Konflikten und Machtkämpfen in Beziehungen
  führen. Der Skorpion-Sonnenzeichen kann manchmal eifersüchtig und misstrauisch
  sein, während der Löwe-Mond ein starkes Bedürfnis nach Anerkennung und
  Bewunderung hat. Wenn diese Bedürfnisse nicht erfüllt werden, können sie sich
  verletzt oder vernachlässigt fühlen. Es ist wichtig für sie, an ihrer
  emotionalen Offenheit und Kommunikation zu arbeiten, um eine gesunde Balance
  zwischen ihrer Intensität und ihrem Bedürfnis nach Anerkennung zu finden. Wenn
  sie lernen, ihre starken Persönlichkeiten konstruktiv zu nutzen, können sie
  äußerst erfüllende und harmonische Beziehungen führen.
</p>
<% } %> <% if (key2 === 'virgo') { %>
<h3 class="horo">Skorpion & Jungfrau</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Skorpion und Mond in Jungfrau
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Skorpion und Mondzeichen in Jungfrau
  verbindet die intensive, leidenschaftliche und tiefgründige Natur des
  Skorpions mit der analytischen, praktischen und detailorientierten
  Herangehensweise der Jungfrau. Menschen mit dieser Konstellation sind oft
  äußerst fokussiert und entschlossen, mit einem scharfen Verstand und einer
  ausgeprägten Fähigkeit, komplexe Probleme zu lösen. Der Skorpion verleiht
  ihnen eine starke emotionale Tiefe und ein unerschütterliches Engagement,
  während die Jungfrau ihnen einen nüchternen, methodischen Ansatz und ein
  starkes Bedürfnis nach Ordnung und Perfektion verleiht. Diese Kombination
  führt zu Individuen, die sowohl leidenschaftlich als auch praktisch sind, was
  sie zu hervorragenden Planern und Umsetzern macht. In Beziehungen und
  emotionalen Situationen zeigen diese Menschen eine interessante Mischung aus
  Intensität und Zurückhaltung. Der Skorpion-Sonnenzeichen sorgt dafür, dass sie
  ihre Emotionen tief empfinden und starke Bindungen eingehen, während der
  Jungfrau-Mond ihnen eine vorsichtige, abwägende Herangehensweise verleiht. Sie
  sind sehr loyal und engagiert in ihren Beziehungen, und ihr analytischer
  Verstand hilft ihnen, die Bedürfnisse und Wünsche ihres Partners gut zu
  verstehen. Gleichzeitig können sie zurückhaltend sein und ihre wahren Gefühle
  erst dann offenbaren, wenn sie sich absolut sicher fühlen. Diese Kombination
  ermöglicht es ihnen, ihre Partner auf einer tiefen emotionalen Ebene zu
  unterstützen, während sie auch praktische und nützliche Ratschläge bieten.
  Allerdings können auch problematische Aspekte auftreten. Menschen mit dieser
  Kombination können manchmal dazu neigen, überkritisch und perfektionistisch zu
  sein, sowohl sich selbst als auch anderen gegenüber. Der
  Skorpion-Sonnenzeichen kann zu Intensität und manchmal Eifersucht neigen,
  während der Jungfrau-Mond einen hohen Standard an sich und ihren Partner
  stellt. Diese Neigung zur Kritik und das Streben nach Perfektion können zu
  Spannungen und Frustrationen in Beziehungen führen, wenn sie nicht in Schach
  gehalten werden. Es ist wichtig für sie, ein Gleichgewicht zwischen ihren
  hohen Erwartungen und der Akzeptanz menschlicher Unvollkommenheit zu finden.
  Durch offene Kommunikation und die Bereitschaft, Fehler zu vergeben, können
  sie lernen, ihre Beziehungen harmonischer und erfüllender zu gestalten.
</p>
<% } %> <% if (key2 === 'libra') { %>
<h3 class="horo">Skorpion & Waage</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Skorpion und Mond in Waage
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Skorpion und Mondzeichen in Waage vereint
  die tiefgründige Intensität des Skorpions mit der charmanten Diplomatie der
  Waage. Menschen mit dieser Konstellation haben eine faszinierende
  Persönlichkeit, die sowohl tief emotional als auch sozial ansprechend ist. Der
  Skorpion verleiht ihnen eine starke innere Kraft, Entschlossenheit und den
  Wunsch nach Transformation und tiefen Erfahrungen. Gleichzeitig bringt die
  Waage eine Vorliebe für Harmonie, Ästhetik und zwischenmenschliche Beziehungen
  in ihr Leben. Diese Menschen sind oft charismatisch, haben ein feines Gespür
  für Gerechtigkeit und neigen dazu, Konflikte durch Diplomatie und Ausgleich zu
  lösen. In Beziehungen und emotionalen Situationen zeigt sich diese Kombination
  als äußerst interessant. Menschen mit dieser Konstellation sind in der Lage,
  tiefe emotionale Bindungen einzugehen und gleichzeitig die Bedürfnisse und
  Perspektiven anderer zu berücksichtigen. Sie sind leidenschaftlich und
  intensiv in ihren Gefühlen, jedoch auch bestrebt, Harmonie und Gleichgewicht
  zu bewahren. Ihre Fähigkeit, sowohl emotional tief zu empfinden als auch
  soziale Verbindungen zu schätzen, macht sie zu engagierten und einfühlsamen
  Partnern. Sie streben nach einer Balance zwischen Nähe und Freiheit in ihren
  Beziehungen und sind oft sehr sensibel gegenüber den Gefühlen ihres Partners.
  Allerdings können auch problematische Aspekte auftreten. Die unterschiedliche
  Natur von Skorpion und Waage kann innere Konflikte hervorrufen. Während der
  Skorpion tiefe, transformative Erlebnisse sucht, sehnt sich die Waage nach
  Frieden und Harmonie, was zu einem inneren Spannungsfeld führen kann. Diese
  Menschen könnten Schwierigkeiten haben, ihre intensiven Emotionen auf eine
  Weise auszudrücken, die nicht zu Konflikten führt. Zudem kann ihr Bedürfnis
  nach Ausgleich und Harmonie manchmal dazu führen, dass sie Konflikte vermeiden
  oder unterdrücken, anstatt sie direkt anzugehen, was langfristig zu Spannungen
  führen kann. Es ist wichtig, dass sie lernen, sowohl ihre intensiven Gefühle
  zu akzeptieren als auch Wege zu finden, diese konstruktiv auszudrücken und zu
  verarbeiten.
</p>
<% } %> <% if (key2 === 'scorpio') { %>
<h3 class="horo">Skorpion & Skorpion</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Skorpion und Mond ebenfalls in Skorpion
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Skorpion und Mondzeichen in Skorpion
  bringt eine intensive und tiefgründige Persönlichkeit hervor. Menschen mit
  dieser doppelten Skorpion- Konstellation sind äußerst leidenschaftlich,
  entschlossen und besitzen eine beeindruckende emotionale Tiefe. Sie sind
  unglaublich intuitiv und haben ein feines Gespür für die Gefühle und Motive
  anderer Menschen. Diese Personen sind auch sehr zielstrebig und haben die
  Fähigkeit, sich auf ihre Ziele zu konzentrieren und Hindernisse entschlossen
  zu überwinden. Ihr starkes Bedürfnis nach Transformation und Wachstum treibt
  sie an, ständig an sich selbst zu arbeiten und ihre Umgebung zu verbessern. In
  Beziehungen und emotionalen Situationen sind Menschen mit dieser Konstellation
  äußerst intensiv und loyal. Sie streben nach tiefen, bedeutungsvollen
  Verbindungen und sind bereit, alles zu geben, um ihre Partnerschaften zu
  stärken. Ihre Fähigkeit, Emotionen tief zu empfinden und auszudrücken, macht
  sie zu sehr engagierten und einfühlsamen Partnern. Gleichzeitig können sie
  auch besitzergreifend und beschützend sein, was ihre Beziehungen vor äußeren
  Bedrohungen bewahren soll. Ihr starkes Bedürfnis nach Vertrauen und Loyalität
  bedeutet, dass sie viel von ihren Partnern erwarten, aber auch bereit sind,
  dasselbe Maß an Hingabe und Unterstützung zurückzugeben. Allerdings können
  auch problematische Aspekte auftreten. Die Doppel-Skorpion-Kombination kann
  dazu führen, dass diese Menschen extrem eifersüchtig und misstrauisch sind,
  was zu Spannungen und Konflikten in ihren Beziehungen führen kann. Ihre
  Neigung zur Intensität und Leidenschaft kann manchmal überwältigend sein und
  zu Machtkämpfen oder Kontrollverhalten führen. Zudem können sie dazu neigen,
  sich in emotionale Dramen zu verstricken und Schwierigkeiten haben,
  loszulassen oder zu vergeben. Es ist wichtig für sie, Wege zu finden, ihre
  intensive Natur zu kanalisieren und gesunde Grenzen zu setzen, um harmonische
  und ausgeglichene Beziehungen zu pflegen. Indem sie lernen, ihre Emotionen auf
  konstruktive Weise auszudrücken und Vertrauen aufzubauen, können sie das Beste
  aus dieser kraftvollen Kombination herausholen.
</p>
<% } %> <% if (key2 === 'sagittarius') { %>
<h3 class="horo">Skorpion & Schütze</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Skorpion und Mond in Schütze
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Skorpion und Mondzeichen in Schütze
  vereint die tiefgründige Intensität des Skorpions mit dem optimistischen und
  abenteuerlichen Geist des Schützen. Menschen mit dieser Konstellation haben
  einen starken inneren Antrieb und eine Leidenschaft für das Leben, die sie in
  alle ihre Unternehmungen einbringen. Der Skorpion verleiht ihnen eine
  entschlossene und fokussierte Natur, die nach tiefer Bedeutung und
  Transformation strebt, während der Schütze ihnen eine weite Perspektive und
  den Drang nach Freiheit und neuen Erfahrungen gibt. Diese Kombination macht
  sie zu charismatischen und dynamischen Individuen, die sowohl tiefgründig als
  auch zukunftsorientiert sind. In Beziehungen und emotionalen Situationen zeigt
  sich diese Kombination als sehr vielseitig. Menschen mit dieser Konstellation
  sind in der Lage, tiefgehende emotionale Bindungen einzugehen und gleichzeitig
  eine optimistische und lebensfrohe Haltung zu bewahren. Sie suchen nach
  Partnern, die sie sowohl emotional als auch intellektuell anregen können, und
  schätzen Offenheit und Ehrlichkeit in ihren Beziehungen. Ihre emotionale Natur
  ist leidenschaftlich und intensiv, aber der Schütze-Einfluss bringt auch eine
  spielerische Leichtigkeit und den Wunsch nach Abenteuer in ihre romantischen
  Verbindungen. Sie sind oft begeisterte und engagierte Partner, die ihre
  Liebsten inspirieren und motivieren. Allerdings können auch problematische
  Aspekte auftreten. Die unterschiedliche Natur von Skorpion und Schütze kann
  innere Konflikte hervorrufen. Während der Skorpion nach tiefer emotionaler
  Intimität und Beständigkeit strebt, sehnt sich der Schütze nach Freiheit und
  Unabhängigkeit. Diese Gegensätze können zu Spannungen führen, insbesondere
  wenn es darum geht, langfristige Verpflichtungen einzugehen. Menschen mit
  dieser Kombination könnten Schwierigkeiten haben, ein Gleichgewicht zwischen
  ihrem Bedürfnis nach tiefen Bindungen und ihrer Sehnsucht nach persönlicher
  Freiheit zu finden. Es ist wichtig, dass sie lernen, ihre intensiven Gefühle
  und ihren Freiheitsdrang in Einklang zu bringen, um harmonische und erfüllende
  Beziehungen zu führen.
</p>
<% } %> <% if (key2 === 'capricorn') { %>
<h3 class="horo">Skorpion & Steinbock</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Skorpion und Mond in Steinbock
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Skorpion und Mondzeichen in Steinbock
  vereint die Intensität und Tiefe des Skorpions mit der Disziplin und
  Zielstrebigkeit des Steinbocks. Menschen mit dieser Konstellation haben einen
  starken inneren Antrieb und eine bemerkenswerte Fähigkeit zur Selbstkontrolle.
  Der Skorpion verleiht ihnen eine tiefgehende emotionale Natur, die nach
  Wahrheit und Transformation strebt, während der Steinbock ihnen eine
  pragmatische und strukturierte Herangehensweise an das Leben gibt. Diese
  Kombination macht sie zu entschlossenen und ambitionierten Individuen, die
  sowohl in persönlichen als auch beruflichen Bereichen nach Erfolg streben. In
  Beziehungen und emotionalen Situationen zeigt sich diese Kombination als
  zuverlässig und tiefgründig. Menschen mit dieser Konstellation neigen dazu,
  ihre Gefühle zurückhaltend auszudrücken, doch sie sind in der Lage, tiefe und
  beständige Bindungen einzugehen. Sie schätzen Stabilität und Loyalität in
  ihren Beziehungen und suchen Partner, die genauso engagiert und ernsthaft sind
  wie sie selbst. Ihre emotionale Natur ist intensiv und leidenschaftlich, aber
  auch kontrolliert und geerdet. Sie legen großen Wert auf Vertrauen und
  Ehrlichkeit und sind bereit, hart an ihren Beziehungen zu arbeiten, um sie
  langfristig und stabil zu gestalten. Allerdings können auch problematische
  Aspekte auftreten. Die Kombination von Skorpion und Steinbock kann dazu
  führen, dass diese Menschen manchmal zu ernst und kontrollierend wirken. Ihre
  hohe Erwartungshaltung an sich selbst und andere kann zu Konflikten führen,
  insbesondere wenn sie das Gefühl haben, dass ihre Bemühungen nicht geschätzt
  oder erwidert werden. Zudem können sie Schwierigkeiten haben, ihre emotionalen
  Bedürfnisse offen auszudrücken, was zu Missverständnissen in Beziehungen
  führen kann. Es ist wichtig, dass sie lernen, ihre Gefühle besser zu
  kommunizieren und ein Gleichgewicht zwischen ihrer intensiven Natur und der
  Notwendigkeit von Flexibilität und Offenheit zu finden, um harmonische und
  erfüllende Beziehungen zu führen.
</p>
<% } %> <% if (key2 === 'aquarius') { %>
<h3 class="horo">Skorpion & Wassermann</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Skorpion und Mond in Wassermann
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Skorpion und Mondzeichen in Wassermann
  vereint die Tiefgründigkeit und Leidenschaft des Skorpions mit der
  Unabhängigkeit und Innovationskraft des Wassermanns. Menschen mit dieser
  Konstellation haben eine starke innere Kraft und einen ausgeprägten Drang, die
  Wahrheit zu entdecken und Veränderungen herbeizuführen. Der Skorpion verleiht
  ihnen eine intensive und transformative Natur, die ständig nach tiefem
  Verständnis und emotionaler Tiefe sucht, während der Wassermann ihnen eine
  unkonventionelle und visionäre Denkweise verleiht. Diese Kombination macht sie
  zu einzigartigen Individuen, die sowohl auf persönlicher als auch auf sozialer
  Ebene nach Erneuerung streben. In Beziehungen und emotionalen Situationen
  zeigt sich diese Kombination als sehr individuell und oft unkonventionell.
  Menschen mit dieser Konstellation schätzen ihre Freiheit und Unabhängigkeit,
  selbst in engen Beziehungen. Sie haben ein starkes Bedürfnis nach emotionaler
  Tiefe und echter Verbindung, doch gleichzeitig wollen sie ihre Individualität
  bewahren. Diese Personen sind oft sehr loyal und leidenschaftlich, aber auch
  objektiv und rational in ihrem Ansatz, Konflikte zu lösen und Beziehungen zu
  pflegen. Sie suchen Partner, die ihre intellektuelle Neugierde und ihren
  Wunsch nach persönlicher Freiheit teilen. Ihre emotionale Natur ist komplex;
  sie können sowohl tief empfinden als auch einen gewissen emotionalen Abstand
  wahren, um ihre Unabhängigkeit zu schützen. Allerdings können auch
  problematische Aspekte auftreten. Die Kombination von Skorpion und Wassermann
  kann zu inneren Konflikten führen, da die intensive emotionale Natur des
  Skorpions oft mit dem Bedürfnis des Wassermanns nach Unabhängigkeit und
  Rationalität kollidiert. Dies kann zu Schwierigkeiten führen, wenn es darum
  geht, Gefühle offen auszudrücken und emotionale Nähe zuzulassen. Menschen mit
  dieser Konstellation können manchmal als distanziert oder widersprüchlich
  wahrgenommen werden, was zu Missverständnissen in Beziehungen führen kann. Es
  ist wichtig, dass sie lernen, ein Gleichgewicht zwischen ihrer tiefen
  emotionalen Natur und ihrem Bedürfnis nach Unabhängigkeit zu finden, um
  harmonische und erfüllende Beziehungen zu führen.
</p>
<% } %> <% if (key2 === 'pisces') { %>
<h3 class="horo">Skorpion & Fische</h3>
<h6 class="horo">
  Wechselwirkung zwischen Sonne in Skorpion und Mond in Fische
</h6>
<p class="horo card">
  Die Kombination von Sonnenzeichen in Skorpion und Mondzeichen in Fische
  vereint die intensive Tiefe und Entschlossenheit des Skorpions mit der
  Sensibilität und Empathie der Fische. Menschen mit dieser Konstellation haben
  eine stark ausgeprägte Intuition und ein tiefes Verständnis für die
  emotionalen und spirituellen Dimensionen des Lebens. Der Skorpion verleiht
  ihnen eine kraftvolle Präsenz und die Fähigkeit, Herausforderungen mutig
  anzugehen, während die Fische ihnen eine sanfte, mitfühlende Seite geben, die
  es ihnen ermöglicht, die Gefühle anderer tief zu erfassen und zu unterstützen.
  Diese Kombination führt zu einer Persönlichkeit, die sowohl stark als auch
  einfühlsam ist, mit einer natürlichen Neigung zur Heilung und Transformation.
  In Beziehungen und emotionalen Situationen zeigen sich Menschen mit dieser
  Kombination als äußerst treu und hingebungsvoll. Sie streben nach tiefer
  emotionaler Verbundenheit und haben ein starkes Bedürfnis, ihre Partner auf
  einer seelischen Ebene zu verstehen und zu unterstützen. Ihre Fische-Natur
  macht sie einfühlsam und anpassungsfähig, während der Skorpion ihnen die
  Stärke und Beständigkeit gibt, schwierige Zeiten in der Beziehung zu
  überstehen. Diese Personen sind oft sehr romantisch und träumerisch, mit einer
  starken Tendenz, ihre Partner zu idealisieren. Ihre Fähigkeit, tief zu lieben
  und bedingungslos zu geben, macht sie zu äußerst wertvollen und fürsorglichen
  Partnern. Allerdings können auch problematische Aspekte auftreten. Die
  Kombination von Skorpion und Fische kann zu inneren Konflikten führen, da die
  starke emotionale Intensität des Skorpions manchmal mit der verletzlichen und
  sensiblen Natur der Fische kollidiert. Dies kann zu Phasen von Unsicherheit
  und Selbstzweifeln führen, besonders wenn sie das Gefühl haben, ihre
  Bedürfnisse nicht erfüllen zu können. Ihre Neigung, sich in die Gefühle
  anderer hineinzuversetzen, kann manchmal überwältigend sein und dazu führen,
  dass sie sich selbst verlieren oder ihre eigenen Grenzen nicht ausreichend
  wahren. Es ist wichtig, dass sie lernen, ein Gleichgewicht zwischen ihrer
  tiefen emotionalen Intensität und ihrer Sensibilität zu finden, um nicht in
  emotionalen Turbulenzen zu versinken.
</p>
<% } %>