
<!-- Merkur -->
<% switch( planet ) { 
  case 'mercury': %>
  <h6> Merkur im 
  <% switch( sign ) {
    case 'aries': %>
      ♈ Widder </h6>
      <ul>
        <li class="plus"> Ausgeprägte rationale Energie. Eigenständig im Denken. </li>
        <li class="minus"> Subjektive Wirklichkeitsbewältigung. Objektiver Argumentation oft nicht zugänglich. </li>
      </ul>
      <% break;

    case 'taurus': %>
      ♉ Stier </h6>
      <ul>
        <li class="plus"> Beständig und pragmatisch im Denken. Genussfähig. </li>
        <li class="minus"> Gruppenabhängige Denkweise. Rational antriebslos, inflexibel. </li>
      </ul>
      <% break; 
    case 'gemini': %>
      Zwilling ♊ </h6>
      <ul>
        <li class="plus"> Mentale Offenheit. Flexibel in der Bewältigung von Eindrücken. </li>
        <li class="minus"> Tendiert zum Sophismus, oberflächlich. </li>
      </ul>
      <% break;
    case 'cancer': %>
      ♋ Krebs </h6>
      <ul>
        <li class="plus"> Kreative Denkweise. Rationaler Zugang zu emotionaler Wahrheit. </li>
        <li class="minus"> Intellektuell verspielt. Stimmungsabhängig im Denken. </li>
      </ul>
      <% break;
    case 'leo': %>
      ♌ Löwe </h6>
      <ul>
        <li class="plus"> Fähigkeit, Gedankengänge zu formen und zu konkretisieren. Optimistische und großzügige Denkweise. </li>
        <li class="minus"> Selbstherrlich. Eitel im intellektuellen Bereich. </li>
      </ul>
      <% break;
    case 'virgo': %>
      ♍ Jungfrau </h6>
      <ul>
        <li class="plus"> Pragmatisch, realistisch und vernünftig im Denken. </li>
        <li class="minus"> Mangelnde intellektuelle Eigenständigkeit. Opportunistisch und unkreativ. </li>
      </ul>
      <% break;
    case 'libra': %>
      ♎ Waage </h5>
      <ul>
        <li class="plus"> Ästhetisches Denken. Ausgeglichene Bewältigung von Eindrücken. Kann seine Meinung diplomatisch vertreten. Begabt in Kunst oder Handwerk. </li>
        <li class="minus"> Meinungsopportunistisch. Unfähig, intellektuelle Brüche und Widersprüche zu ertragen. Labil in der rationalen Standpunktbestimmung. </li>
      </ul>
      <% break;
    case 'scorpio': %>
      ♏ Skorpion </h5>
      <ul>
        <li class="plus"> Klare Standpunkte. Konsequent im Denken. Fähigkeit, allgemeingültige (geistige) Prozesse zu erkennen. </li>
        <li class="minus"> Tendiert zum zwanghaften Denken. Dogmatisch bis herzlos in der Eigenen Meinung. </li>
      </ul>
      <% break;
    case 'sagittarius': %>
      ♐ Schütze </h5>
      <ul>
        <li class="plus"> Intellektuell tolerant. Weise, aber eventuell nicht logisch, in der Meinungsbildung. Fähigkeit zum Versöhnen unvereinbarer Standpunkte. </li>
        <li class="minus"> Rationale Überheblichkeit. Erhebt die eigene Meinung zur kosmischen Wahrheit. Intellektuelle Geltungssucht. Angeber. </li>
      </ul>
      <% break;
    case 'capricorn': %>
      ♑ Steinbock </h5>  
      <ul>
        <li class="plus"> Zuverlässig und genau im Denken. Ernsthaft, logisch und präzise. </li>
        <li class="minus"> Unkreativ, konventionell und langsam in der Bewältigung von Eindrücken. </li>
      </ul>
      <% break;
    case 'aquarius': %>
      ♒ Wassermann </h5>  
      <ul>
        <li class="plus"> Bewältigung von Eindrücken erfolgt unkonventionell. Spontan, unabhängig. </li>
        <li class="minus"> Im Denken irrational, sprunghaft, wirklichkeitsfremd bis schizoid. Widerspruch zur Meinung anderer als Selbstzweck. </li>
      </ul> 
      <% break;
    case 'pisces': %>
      ♓ Fische </h5> 
      <ul>
        <li class="plus"> Intellektuelle Offenheit. Uneingeschränkte Toleranz, behutsam und einfühlsam in der Meinungsbildung. Intuitive, symbolhafte Denkweise. </li>
        <li class="minus"> Tendiert im Denken ins Irrationale zu entfliehen. Weltfremde Gedankengänge. Intellektueller Blackout. </li>
      </ul> 
      <% break;
  } %>
  <% break;
  
<!-- Venus -->
case 'venus': %>
  <h6> Venus im 
  <% switch( sign ) {
    case 'aries': %>
      ♈ Widder </h6>
      <ul>
        <li class="plus"> Begeisterungsfähig. Ausgeprägte erotische Energie. Selbstverantwortlich. </li>
        <li class="minus"> Oft Mangel an Fingerspitzengefühl. Fällt mit der Tür ins Haus. </li>
      </ul>
      <% break;

    case 'taurus': %>
      ♉ Stier </h6>
      <ul>
        <li class="plus"> Beständigkeit im Sinnlichen. Genussfähig und meist realistisch. </li>
        <li class="minus"> Gruppenabhängig im Begegnungsverhalten. Erotisch passiv, bequem. </li>
      </ul>
      <% break;

    case 'gemini': %>
      Zwilling ♊ </h6>
      <ul>
        <li class="plus"> Bewegtes Liebesleben. Erotische Kontaktfähigkeit. Kann sich vorteilhaft darstellen. Oft sprachbegabt oder kunsthandwerkliches Talent. </li>
        <li class="minus"> Angst vor tieferen Empfindungen. Neigt dazu, erotische Gefühle zu verdrängen. Oberflächlichkeit im Bereich der Partnerschaft als Selbstschutz. </li>
      </ul>
      <% break;

    case 'cancer': %>
      ♋ Krebs </h6>
      <ul>
        <li class="plus"> Kreativ im Erotischen. Große emotionale Hingabefähigkeit. </li>
        <li class="minus"> In der Begegnung zu verletzlich durch den Partner und Freunde. </li>
      </ul>
      <% break;

    case 'leo': %>
      ♌ Löwe </h6>
      <ul>
        <li class="plus"> Optimistisch. Lebensbejahend. Genussfähig. </li>
        <li class="minus"> Playboyverhalten. Eitel. Angst vor dem Alter. </li>
      </ul>
      <% break;

    case 'virgo': %>
      ♍ Jungfrau </h6>
      <ul>
        <li class="plus"> Realistische und vernünftige Einstellung zur Partnerschaft. Fähigkeit, andere richtig einzuschätzen. </li>
        <li class="minus"> Mangelnde EIgenständigkeit in der Begegnung. Versucht zu sehr, den Erwartungen anderer zu entsprechen. </li>
      </ul>
      <% break;

    case 'libra': %>
      ♎ Waage </h5>
      <ul>
        <li class="plus"> Ästhetische Hingabe. Romantisch. Wertschätzung alles Schönen. Künstlerische oder kunsthandwerkliche Begabung. </li>
        <li class="minus"> 
          Opportunistisch im Erotischen. Wankelmütig im Begegnungsverhalten. Schwierigkeiten in der eigenen erotischen Standpunktfindung. 
          Oberflächlich, eitel oder auch partnerfixiert. 
        </li>
      </ul>
      <% break;
    
    case 'scorpio': %>
      ♏ Skorpion </h5>
      <ul>
        <li class="plus"> Klare Vorstellung von den eigenen erotischen und materiellen Wünschen. Konsequent und zuverlässig im Begegnungsverhalten. </li>
        <li class="minus"> Übertriebene erotisch-emotionale Erwartungen an sich selbst und den Partner. Oft grundlose Eifersucht. </li>
      </ul>
      <% break;

    case 'sagittarius': %>
      ♐ Schütze </h5>
      <ul>
        <li class="plus"> In Beziehungen tolerant und optimistisch. Glück durch den Partner. </li>
        <li class="minus"> Maßlos im Erotischen. Neigung zu Dreiecksbeziehungen. Überhöhte Erwartungen an den Partner. Naiv. </li>
      </ul>
      <% break;

    case 'capricorn': %>
      ♑ Steinbock </h5>  
      <ul>
        <li class="plus"> Zuverlässig und genau im Hingabe- und Begegnungsbereich. Ernsthaft und treu. </li>
        <li class="minus"> Im Erotischen gehemmt. Überbetont konventionell. </li>
      </ul>
      <% break;

    case 'aquarius': %>
      ♒ Wassermann </h5>  
      <ul>
        <li class="plus"> Im Erotischen unkonventionell, spontan und unabhängig. </li>
        <li class="minus"> Unberechenbar im Begegnungsverhalten. Kaum zuverlässig. Widerspruch als Selbstzweck. </li>
      </ul>
      <% break;

    case 'pisces': %>
      ♓ Fische </h5> 
      <ul>
        <li class="plus"> Offenheit in der Begegnung. Uneingeschränkte Toleranz dem Partner gegnüber. Einfühlsam, hoffnungsvoll, idealistisch. </li>
        <li class="minus"> Tendiert erotisch ins Irreale zu entfliehen. Weltfremde Tagträumereien von romantischer Liebe, die nicht verwirklicht werden können. </li>
      </ul>
      <% break;
  } %>
  <% break;

<!-- Mars -->
case 'mars': %>
  <h6> Mars im 
  <% switch( sign ) {
    case 'aries': %>
      ♈ Widder </h6>
      <ul>
        <li class="plus"> Ausgeprägte instiktive Energie. Selbstständig im Durchsetzen von Eigeninteressen. </li>
        <li class="minus"> Egoistisch, rücksichtslos. Im Extremfall brutal. </li>
      </ul>
      <% break;

    case 'taurus': %>
      ♉ Stier </h6>

      <ul>
        <li class="plus"> Beständig und pragmatisch im Durchsetzen von Eigeninteressen. Genussorientierte instinktive Eigenart. </li>
        <li class="minus"> Gruppenabhängig im Durchsetzen von Eigeninteressen. Schwacher Instinkt. Eigensinnig, stur, verbohrt. </li>
      </ul>
      <% break;

    case 'gemini': %>
      Zwilling ♊ </h6>
      <ul>
        <li class="plus"> Instinktive Eigenart passt sich flexibel an die Situation an. Findet immer einen Weg, seine Interessen durchzusetzen. </li>
        <li class="minus"> Tendenz, sich in der Verfolgung von Zielen zu verzetteln. </li>
      </ul>
      <% break;

    case 'cancer': %>
      ♋ Krebs </h6>
      <ul>
        <li class="plus"> Kreatives Durchsetzen von Eigeninteressen. Instinktives Erfassen der Schwächen anderer. </li>
        <li class="minus"> Geringes Antriebspotential. Oft furchteinflößend oder eventuell gewalttätig. </li>
      </ul>
      <% break;
    
    case 'leo': %>
      ♌ Löwe </h6>
      <ul>
        <li class="plus"> Optimistisch und unbekümmert im Durchsetzen von Eigeninteressen. Fähigkeit, eigene Bedürfnisse zu konkretisieren und zu verwirklichen.  </li>
        <li class="minus"> Setzt Interessen nur selbstbezogen um. Vernachlässigt andere. Eitel, gierig. </li>
      </ul>
      <% break;

    case 'virgo': %>
      ♍ Jungfrau </h6>
      <ul>
        <li class="plus"> Pragmatisch, realistisch und vernünftig im Durchsetzen von Eigeninteressen. </li>
        <li class="minus"> Tendenz, eigene Bedürfnisse den Interessen anderer unterzuordnen. </li>
      </ul>
      <% break;

    case 'libra': %>
      ♎ Waage </h5>
      <ul>
        <li class="plus">
          Ästhetisches Durchsetzen von Eigeninteressen. Ausgeglichenes Temperament. 
          Fähigkeit eigene Bedürfnisse zu vertreten, ohne anzuecken.
          Arbeitet im Beruf gerne mit Menschen. 
        </li>
        <li class="minus"> 
          Opportunistisches Temperament. Unfähig instinktive Brüche und Widersprüche zu ertragen. Unsicher über die eigenen Bedürfnisse. Konfliktangst.
        </li>
      </ul>
      <% break;

    case 'scorpio': %>
      ♏ Skorpion </h5>
      <ul>
        <li class="plus"> Klare Aktivitäten. Konsequent im Durchsetzen eigener Interessen. Fähigkeit, allgemeingültige (körperliche) Prozesse zu erkennen. </li>
        <li class="minus"> Tendenz zum Zwanghaften im Durchsetzen von Eigeninteressen. Dogmatisch bis herzlos. </li>
      </ul>
      <% break;

    case 'sagittarius': %>
      ♐ Schütze </h5>
      <ul>
        <li class="plus"> Instinktiv tolerant. Weise, aber eventuell nicht logisch, in der Durchsetzung eigener Interessen. Fähigkeit zum Versöhnen unvereinbarer Aktivitäten. </li>
        <li class="minus"> Instinktive Überheblichkeit und Geltungssucht. Hält die eigenen Schwächen für bewundernswert. Angeber, muss immer gewinnen. </li>
      </ul>
      <% break;

    case 'capricorn': %>
      ♑ Steinbock </h5>  
      <ul>
        <li class="plus"> Zuverlässig und genau im Durchsetzen eigener Interessen. Ernsthaft und ausdauernd. Lehnt flüchtige sexuelle Abenteuer ab. </li>
        <li class="minus"> Nicht kreativ, konventionell. Gehemmt bis verklemmt. </li>
      </ul>
      <% break;

    case 'aquarius': %>
      ♒ Wassermann </h5>  
      <ul>
        <li class="plus"> In der instinktiven Eigenart unkonventionell, spontan und unabhängig. </li>
        <li class="minus"> Im Durchsetzen von Eigeninteressen sprunghaft, wirklichkeitsfremd bis schizoid. 
          Widerspricht den Bedürfnissen und Erwartungen anderer als Selbstzweck. 
          Sexuell irritierbar.
        </li>
      </ul>
      <% break;

    case 'pisces': %>
      ♓ Fische </h5> 
      <ul>
        <li class="plus"> Instinktiv offen und einfühlsam. Uneingeschränkt tolerant, sehr behutsam. Intuitives, oft symbolhaftes Durchsetzen der eigenen Interessen. </li>
        <li class="minus"> Tendenz zum instinktiven Entfliehen in Irreale. Weltfremde Aktivitäten, lässt sich eventuell ausnutzen. Schwache körperliche Abwehr. </li>
      </ul>
      <% break;
  } %> 
  <% break;

<!-- Jupiter -->
case 'jupiter': %>
  <h6> Jupiter im 
  <% switch( sign ) {
    case 'aries': %>
      ♈ Widder </h6>
      <p> Zeitphase, in der Eigeninitiative erwartet und gefördert wird. "Der Zweck heiligt die Mittel".</p>
      <% break;
    
    case 'taurus': %>
      ♉ Stier </h6>
      <p> 
        Zeitphase, in der Gruppenkonformität und Solidarität erwartet und gefördert wird. 
        Aus der Reihe tanzen ist unerwünscht, alle sollen an einem Strang ziehen. 
      </p>
      <% break;
    
    case 'gemini': %>
      Zwilling ♊ </h6>
      <p> 
        In dieser Zeitphase werden geistige Beweglichkeit und berufliche Flexibilität erwartet und honoriert. 
        Umschulungen oder Wechsel des Wohnortes sind typisch. 
        Oft sind Veränderungen von Moralvorstellungen möglich, somit auch Opportunismus.
      </p>
      <% break;
    
    case 'cancer': %>
      ♋ Krebs </h6>
      <p>
        Zeitphase, in der häusliche sowie patriotische Werte erwartet und gefördert werden. "Die Familie als Grundlage des Staates."
      </p>
      <% break;
  
    case 'leo': %>
      ♌ Löwe </h6>
      <p>
        Zeitphase, in der Großzügigkeit erwartet und gefördert wird. Falsche Bescheidenheit ist unerwünscht. Der Erfolgreiche bekommt recht.
      </p>
      <% break;
      
    case 'virgo': %>
      ♍ Jungfrau </h6>
      <p>
        Zeitphase, in der Anpassung, Unterordnung, Fleiß und Sparsamkeit erwartet und gefördert wird.
      </p>
      <% break;
  
    case 'libra': %>
      ♎ Waage </h5>
      <p>
        Zeitphase, in der äußere Ästhetik erwartet und gefördert wird. Diplomatie. Außenpolitik.
      </p>
      <% break;
  
    case 'scorpio': %>
      ♏ Skorpion </h5>
      <p>
        Zeitphase, in der Prinzipientreue erwartet und gefördert wird. Ideologische Konzepte. Abweichler sind unerwünscht. 
        Die herrschende Schicht ist überzeugt davon "im Besitz der Wahrheit" zu sein. mehr oder weniger friedliche Missionierung Andersdenkender.
      </p>
      <% break;
  
    case 'sagittarius': %>
      ♐ Schütze </h5>
      <p>
        Zeitphase, in der moralische Integrität erwartet und gefördert wird. Optimistische Grundstimmung.
      </p>
      <% break;
  
    case 'capricorn': %>
      ♑ Steinbock </h5>  
      <p>
        Zeitphase, in der gesellschaftsorientiertes, soziales Verhalten erwartet und gefördert wird. Sozialreform. Gesellschaftspolitik.
      </p>
      <% break;
    
    case 'aquarius': %>
      ♒ Wassermann </h5>  
      <p>
        Zeitphase, in der neue Ideen und Impulse benötigt und gefördert werden. Plötzlicher Wechsel von Wertmaßstäben.
      </p>
      <% break;
  
    case 'pisces': %>
      ♓ Fische </h5> 
      <p>
        Zeitphase, in der altruistische Motive gefördert werden. Unpraktisch. Unrealistisch. Romantisch. Pazifistisch.
      </p>
      <% break;
  } %>
  <% break;

<!-- Saturn -->
case 'saturn': %>
  <h6> Saturn im 
  <% switch( sign ) {
    case 'aries': %>
      ♈ Widder </h6>
      <p>
        Unterdrückung von Eigeninitiative. Unterordnung unter die Staatsräson. Militär.
      </p>
      <% break; 

    case 'taurus': %>
      ♉ Stier </h6>
      <p>
        Verpflichtung zum Zusammenhalt. Einschränkung im Besitzrecht. Absicherung auf Kosten des Wohlstandes.
      </p>
      <% break;

    case 'gemini': %>
      Zwilling ♊ </h6>
      <p>
        Zwang, sich außenpolitisch darzustellen. Profilverlust. Phase allgemeiner Verständigungsschwierigkeiten.
      </p>
      <% break;

    case 'cancer': %>
      ♋ Krebs </h6>
      <p>
        Eingriffe des Staates in die Angelegenheiten der Familie. Zwang zum Patriotismus.
      </p>
      <% break;
  
    case 'leo': %>
      ♌ Löwe </h6>
      <p>
        Vitalitätseinschränkung der Gesellschaft. Führungsschwäche, eventuell wirtschaftliche Depression. Starker Prestigeverlust.
      </p>
      <% break;

    case 'virgo': %>
      ♍ Jungfrau </h6>
      <p>
        Zwang zur Sparsamkeit. Verpflichtungen einhalten müssen. Gesellschaftliche Schwierigkeiten durch Fleiß überwinden. Der Gesellschaft dienen müssen.
      </p>
      <% break; 

    case 'libra': %>
      ♎ Waage </h5>
      <p>
        Verfehlte Außenpolitik. Schwierigkeit, gesellschaftliche Interessen im Ausland angemessen zu vertreten. Instabilität in Bündnissen. 
        Erkalten freundschaftlicher Beziehungen. Auflösung von Bündnissen.
      </p>
      <% break;

    case 'scorpio': %>
      ♏ Skorpion </h5>
      <p>
        Ideologische Unvereinbarkeit. Die eigenen (gesellschaftlichen) Wertmaßstäbe erzwingen wollen. Eventuell "kalter Krieg".
      </p>
      <% break;

    case 'sagittarius': %>
      ♐ Schütze </h5>
      <p>
        Zur Toleranz verpflichtet sein. Ausdehnung des eigenen Machtbereichs. 
      </p>
      <% break;

    case 'capricorn': %>
      ♑ Steinbock </h5>  
      <p>
        Gesellschaftliche Stabilität. Ausgeglichenes Verhältnis von sozialem Reglement und individuellem Freiraum. Angemessenes Rechtsempfinden.
      </p>
      <% break;

    case 'aquarius': %>
      ♒ Wassermann </h5>  
      <p>
        Außergewöhnliche gesellschaftliche Verpflichtungen. Plötzliche rechtliche und gesellschaftliche Veränderungen.
      </p>
      <% break;

    case 'pisces': %>
      ♓ Fische </h5> 
      <p>
        Unklare Rechtssituation. Auflösende Prozesse innerhalb der Rechtsordnung. Politische Schwäche. Schleichender Wandel in sozialen Strukturen.
      </p>
      <% break; 
  } %>
  <% break;

<!-- Uranus -->
case 'uranus': %>
  <h6> Uranus im 
  <% switch( sign ) {
    case 'aries': %>
      ♈ Widder </h6>
      <p>
        Veränderung in der Art der Durchsetung von Eigeninteressen. Änderung des Stellenwerts des Individuums. 
        Sozialromantische Vorstellungen über die Möglichkeiten des Menschen: "Reform des Individuums."
      </p>
      <% break;

    case 'taurus': %>
      ♉ Stier </h6>
      <p>
        Reform der Besitzverhältnisse. Plötzliche Änderung des Gruppenverhaltens. "Richtungswechsel der Herde."
      </p>
      <% break;
  
    case 'gemini': %>
      Zwilling ♊ </h6>
      <p>
        Änderung in der Selbstdarstellung. Erschließen neuer Wissensgebiete. Umbruch innerhalb der Wissenschaften.
      </p>
      <% break;
    
    case 'cancer': %>
      ♋ Krebs </h6>
      <p>
        Änderung der Einstellung zur Familie und dem Heim. Bruch mit Traditionen. Unpatriotische Generation. Kosmopolitismus.
      </p>
      <% break;
  
    case 'leo': %>
      ♌ Löwe </h6>
      <p>
        Veränderung im Selbstausdruck. Umbruch in der Sexualmoral. Nonkonformismus aus emotionaler Orientierungslosigkeit.
      </p>
      <% break;
  
    case 'virgo': %>
      ♍ Jungfrau </h6>
      <p>
        Neue Produktionsmethoden. Änderung im Dienstleistungsbereich. Politisches Unabhängikeitsstreben von Minderheiten, Kolonien und Satellietenstaaten.
      </p>
      <% break;
  
    case 'libra': %>
      ♎ Waage </h5>
      <p>
        Umbruch im Partnerschaftsverhalten. Begegnungsoffenheit bei gleichzeitiger Bindungsunfähigkeit.
      </p>
      <% break;

    case 'scorpio': %>
      ♏ Skorpion </h5>
      <p>
        Umbruch im Ideologischen. Radikaler Wertewandel: Desorientierung und Widersprüche im Weltbild.
      </p>
      <% break;

    case 'sagittarius': %>
      ♐ Schütze </h5>
      <p>
        Plötzlicher Wandel der Moralvorstellungen durch Veränderung der Umweltbedingungen.
      </p>
      <% break;

    case 'capricorn': %>
      ♑ Steinbock </h5>  
      <p>
        Plötzliche bis gewaltsame Änderung von Staatsformen. Umsturz der Rechtsbegriffe. Eventuell Bürgerkrieg.
      </p>
      <% break;
  
    case 'aquarius': %>
      ♒ Wassermann </h5>  
      <p>
        Idealisiertes Menschenbild. Scheinbares Aufheben sozialer Unterschiede. Neue Staatsform. Außergewöhnliche Fortschritte in der Wissenschaft.
      </p>
      <% break;
  
    case 'pisces': %>
      ♓ Fische </h5> 
      <p>
        Übergangsphase, in der Widersprüche innerhalb der Gesellschaft ohne offensichtliche Konsequenz nebeneinander bestehen können. Dekadenz.
      </p>
      <% break;
  } %>
  <% break;

<!-- Neptun -->
case 'neptune': %>
  <h6> Neptun im 
  <% switch( sign ) {
    case 'aries': %>
      ♈ Widder </h6>
      <p>
        Schwächung der instinktiven Eigenart (=angeborene Neigungen, Antriebe und Bedürfnisse). Phase der Orientierungslosigkeit. 
        Mangel an Eigeninitiative und Zivilcourage.  
      </p>
      <% break;

    case 'taurus': %>
      ♉ Stier </h6>
      <p>
        Unklare Bestzverhältnisse. Revierübergriffe. Allgemeine Körperschwäche. Uneindeutige Gruppenzugehörigkeit und Chance, die Zwänge der Gruppe zu überwinden. 
      </p>
      <% break;

    case 'gemini': %>
      Zwilling ♊ </h6>
      <p>
        Intellektuelle Desorientierung. Chance, scheinvernünftige Wissenschaftlichkeit zu überwinden.
      </p>
      <% break;
  
    case 'cancer': %>
      ♋ Krebs </h6>
      <p>
        Hingezogen sein zum Irrationalen. Spiritualität. Chance, falschen Patriotismus zu überwinden.
      </p>
      <% break;

    case 'leo': %>
      ♌ Löwe </h6>
      <p>
        Geschwächte Lebenskraft. Politische Handlungsschwäche. Scheinstärke zur Unzeit. Lebensfeindlich. Fehlspekulationen, Inflation. Chance, Geltungssucht zu überwinden.
      </p>
      <% break;

    case 'virgo': %>
      ♍ Jungfrau </h6>
      <p>
        Wirtschaftliche Depression, Auflösung sozialer Ordnung, Arbeitslosigkeit. Kollektive Unvernunft. Chance, falsche Leistungsorientierung zu überwinden.
      </p>
      <% break;

    case 'libra': %>
      ♎ Waage </h5>
      <p>
        Idealisierung von zwischenmenschlichen Beziehungen. Echte Begegnungsschwäche. Weltfremd im Partnerschaftsverhalten. Nebulöse Harmonievorstellungen.
        Chance, Scheinharmonien zu überwinden.
      </p>
      <% break;

    case 'scorpio': %>
      ♏ Skorpion </h5>
      <p>
        Abneigung gegen alles Ideologische. Entstehung neuer Geschlechtskrankheiten. Schädigung des Erbgutes. Chance, überflüssige Dogmen zu überwinden.
      </p>
      <% break;
  
    case 'sagittarius': %>
      ♐ Schütze </h5>
      <p>
        "New Age". Romantischer Mystizismus. Scheintoleranz. Chance, intelletuelle Missionierungsdrang zu überwinden.
      </p>
      <% break;

    case 'capricorn': %>
      ♑ Steinbock </h5>  
      <p>
        Aushöhlung der Gesellschaftsordnung. Auflösung von Staatsgrenzen. Autoritätsverlust der Machthabenden. Eventuell Seuchen. Chance, falsche Rechtsvorstellungen zu überwinden.
      </p>
      <% break;

    case 'aquarius': %>
      ♒ Wassermann </h5>  
      <p>
        Verschmelzen von Gegensätzen. Kaum merklicher Umschwung, sanfte Revolution. Chance, gesellschaftliche Widersprüche zu überwinden.
      </p>
      <% break;

    case 'pisces': %>
      ♓ Fische </h5> 
      <p>
        Neue Romantik. Ausbreitung des Pazifismus. Einschränkung der Technik. Humanistische Ideale. Chance, ein angemessenes Verhältnis zur Spiritualität zu entwickeln.
      </p>
      <% break;
  } %>
  <% break;

<!-- Pluto -->
case 'pluto': %>
  <h6> Pluto im 
  <% switch( sign ) {
    case 'aries': %>
      ♈ Widder </h6>
      <p>
        Kein Text.
      </p>
      <% break;
    
    case 'taurus': %>
      ♉ Stier </h6>
      <p>
        Kein Text.
      </p>
      <% break;
  
    case 'gemini': %>
      Zwilling ♊ </h6>
      <p>
        Umwälzende, neue Erkenntnisse, besonders in der Wissenschaft. Zwanghafter Selbstdarstellungszwang der Staaten. Vergötterung des Intellekts. 
        Das dämonische in der Wissenschaft. Entwicklung und beginnende Ausbreitung von Massenkommunikation: Presse, Film, Radio, Fernseher. 
        Mobilität als wissenschaftliche Errungenschaft. Positivismus.
      </p>
      <% break;
    
    case 'cancer': %>
      ♋ Krebs </h6>
      <p>
        Massensuggestion und Propaganda als politische Mittel. Eingriff des Staates in die Privatsphäre. Gleichschaltung der Emotionen. 
        Unmenschliche, weil rücksichtslos dogmatische Lehren. Zwang zum Patriotismus. "Blut-und-Boden"-Ideologie.
      </p>
      <% break;
    
    case 'leo': %>
      ♌ Löwe </h6>
      <p>
        Lebensfeindlich. Ideologie wird über Menschenleben gestellt. Unmenschliches Agieren. Führerkult. Märtyrerneurose. Aber auch ungeheure Regenerationskräfte. 
        Überleben unter schwierigsten Bedingungen. Radikale Veränderung des kollektiven Verhaltens.
      </p>
      <% break;
    
    case 'virgo': %>
      ♍ Jungfrau </h6>
      <p>
        Grundlegende Veränderung innerhlab hierarchischer Strukturen. Autokratie der Mächtigen wird durch Leistungsorientierung und -erwartung ersetzt. 
        Automatisierung von Arbeitsprozessen. Gewaltsame, unnatürliche Veränderung von Umweltbedingungen. Gefährliche Eingriffe in Regelmechanismen. 
        Verherrlichung des (scheinbar) Machbaren. Fortschrittsglauben.
      </p>
      <% break;
    
    case 'libra': %>
      ♎ Waage </h5>
      <p>
        Zwang zur Begegnung, bei gleichzeitiger Demonstration von Stärke. Aufrüstung. Bedrohungsangst. 
        Verbindliche und zuverlässige Außenpolitik ist die einzige Chance, Kriege zu verhindern. <br> 
        "Gleichgewicht des Schreckens."
      </p>
      <% break;

    case 'scorpio': %>
      ♏ Skorpion </h5>
      <p>
        Verhärtung im Ideologischen. Regression des gesunden Menschenverstands. Glaube an die starken Männer. Zunahme von diskriminierenden Einstellungen. 
        Gleichzeitig Herausforderung und Zwang, sich von überkommenen Prinzipien zu lösen, um das Überleben der alten Gesellschaftsformen zu ermöglichen. 
        Ansonsten Krieg um Konventionen möglich.
      </p>
      <% break;

    case 'sagittarius': %>
      ♐ Schütze </h5>
      <p>
        Scheintoleranz, die ideologisch Trennendes überspielt. Erarbeitung und Verbindlichmachung allgemeingültiger Wertmaßstäbe. 
        Weltweites Verbot von Diskriminierung, welches nicht eingehalten wird. "Weltregierung": Zwang zu Einsicht und Toleranz. 
        Chance auf Religions- und Glaubensfreiheit. Eventuell Abrüsten oder Abschaffung von Massenvernichtungswaffen.
      </p>
      <% break;

    case 'capricorn': %>
      ♑ Steinbock </h5>  
      <p>
        Kein Text.
      </p>
      <% break;
    
    case 'aquarius': %>
      ♒ Wassermann </h5>  
      <p>
        Kein Text.
      </p>
      <% break;
    
    case 'pisces': %>
      ♓ Fische </h5> 
      <p>
        Kein Text.
      </p>
      <% break;
  } %>
  <% break;
} %>
