<% if (key === 'aries') { %>
<h4 class="horo">Widder</h4>
<h6 class="horo">Deine Sonne steht im Tierkreiszeichen Widder</h6>
<p class="horo">
	Der Widder, das erste Zeichen des Tierkreises, repräsentiert den Beginn, das
	Aufbrechen und die ungestüme Kraft des Frühlings. Regiert wird dieses
	Sternzeichen vom Planeten Mars, der für Energie, Tatendrang und Mut steht.
	Widder-Menschen sind bekannt für ihre Entschlossenheit, Dynamik und
	Führungsqualitäten. Sie sind Pioniere und Innovatoren, die immer bereit sind,
	neue Wege zu beschreiten und Herausforderungen zu meistern. Mit ihrem feurigen
	Temperament und ihrer natürlichen Autorität sind sie geborene Anführer, die
	das Leben in vollen Zügen genießen und voranbringen wollen. Charakterlich
	zeichnen sich Widder durch ihre Direktheit, Ehrlichkeit und ihre
	unerschütterliche Willenskraft aus. Sie sind unabhängig, selbstbewusst und oft
	sehr zielstrebig. Ihre Energie und Begeisterung sind ansteckend, und sie haben
	die Gabe, andere mitzureißen und zu motivieren. Widder lieben es, im
	Mittelpunkt zu stehen und zeigen ihre Stärken gerne offen. Sie sind mutig und
	risikofreudig, scheuen keine Konfrontationen und setzen sich entschlossen für
	ihre Ziele ein. Ihre Spontaneität und ihr Abenteuergeist machen sie zu
	aufregenden und inspirierenden Persönlichkeiten. In Beziehungen und sozialen
	Situationen sind Widder leidenschaftlich und loyal. Sie investieren viel in
	ihre Partnerschaften und Freundschaften und sind stets bereit, ihre Lieben zu
	beschützen und zu unterstützen. Ihre offene und direkte Art sorgt dafür, dass
	sie immer ehrlich und transparent in ihren Gefühlen und Absichten sind. In
	sozialen Kreisen sind sie oft die treibende Kraft, die Events plant und
	Gemeinschaften zusammenbringt. Ihre Begeisterungsfähigkeit und ihr natürlicher
	Charme machen sie zu beliebten und geschätzten Freunden. Sie neigen dazu, sehr
	unabhängig zu sein und schätzen Partner, die ihre Freiheit und ihren
	Tatendrang respektieren und teilen. Allerdings können Widder auch
	problematische Aspekte aufweisen. Ihre Ungeduld und ihr impulsives Verhalten
	können sie in Schwierigkeiten bringen, da sie oft ohne ausreichende Planung
	handeln. Ihre Neigung, dominant aufzutreten und ihren Willen durchzusetzen,
	kann zu Konflikten und Missverständnissen führen. Zudem können sie aufgrund
	ihrer Direktheit und Ehrlichkeit manchmal als zu forsch oder rücksichtslos
	wahrgenommen werden. Widder-Menschen müssen lernen, ihre Energie zu zügeln und
	Geduld zu entwickeln, um nachhaltigere Entscheidungen zu treffen. Es ist
	wichtig, dass sie ihre Führungsqualitäten mit Empathie und Rücksichtnahme
	verbinden, um harmonischere und erfüllendere Beziehungen zu pflegen.
</p>
<% } %> <% if (key === 'taurus') { %>
<h4 class="horo">Stier</h4>
<h6 class="horo">Deine Sonne steht im Tierkreiszeichen Stier</h6>
<p class="horo">
	Der Stier, als zweites Zeichen des Tierkreises und regiert von der Venus,
	steht für Beständigkeit, Genuss und eine tiefe Verbindung zur materiellen
	Welt. Stiere sind bekannt für ihre Bodenständigkeit und Zuverlässigkeit.
	Dieses Erdzeichen hat eine natürliche Affinität zu allem Schönen und
	Sinnlichen, sei es in der Kunst, in der Natur oder in den einfachen Freuden
	des Lebens. Stiere schätzen Sicherheit und Stabilität und sind oft sehr
	geduldig, was ihnen ermöglicht, ihre Ziele mit Ausdauer und Entschlossenheit
	zu verfolgen. Charakterlich zeichnen sich Stiere durch ihre praktische und
	bodenständige Natur aus. Sie sind geduldig, beharrlich und haben einen starken
	Willen, der sie dazu bringt, ihre Vorhaben sorgfältig und methodisch zu
	verwirklichen. Stiere sind oft sehr loyal und treu, sowohl in ihren
	persönlichen Beziehungen als auch in beruflichen Verpflichtungen. Sie haben
	einen ausgeprägten Sinn für Qualität und Komfort, was sich in ihrer Liebe zu
	gutem Essen, schönen Dingen und einem gemütlichen Zuhause widerspiegelt. Ihre
	Verbindung zur Natur und ihre Fähigkeit, in der Gegenwart zu leben, machen sie
	zu verlässlichen und stabilen Individuen. In Beziehungen und sozialen
	Situationen sind Stiere warmherzig, liebevoll und hingebungsvoll. Sie sind
	äußerst loyal und erwarten dies auch von ihren Partnern und Freunden. Stiere
	legen großen Wert auf Beständigkeit und sind bereit, viel Zeit und Energie in
	die Pflege ihrer Beziehungen zu investieren. Sie sind sinnliche und
	körperliche Wesen, die die physischen und emotionalen Aspekte von Beziehungen
	sehr schätzen. Ihre naturverbundene und ruhige Art macht sie zu angenehmen und
	friedvollen Begleitern, die Konflikte lieber vermeiden und Harmonie suchen.
	Freundschaften und Partnerschaften mit einem Stier sind oft von tiefer
	Verbundenheit und Stabilität geprägt. Allerdings können Stiere auch mit
	einigen problematischen Aspekten konfrontiert werden. Ihre Neigung zur
	Beharrlichkeit kann manchmal in Sturheit umschlagen, wodurch sie schwer zu
	Kompromissen bereit sind und Veränderungen gegenüber widerwillig sein können.
	Diese Unbeweglichkeit kann dazu führen, dass sie Gelegenheiten verpassen oder
	sich in unproduktiven Situationen festfahren. Zudem kann ihre Liebe zu Komfort
	und Genuss in Übermaß umschlagen, was zu Faulheit oder Materialismus führen
	kann. Stiere müssen lernen, flexibler zu sein und sich auf Veränderungen
	einzulassen, ohne ihre grundlegenden Werte und Bedürfnisse zu vernachlässigen.
	Indem sie ihre sinnliche Natur in Balance halten und Offenheit für neue
	Erfahrungen entwickeln, können sie ein erfüllteres und dynamischeres Leben
	führen.
</p>
<% } %> <% if (key === 'gemini') { %>
<h4 class="horo">Zwillinge</h4>
<h6 class="horo">Deine Sonne steht im Tierkreiszeichen Zwillinge</h6>
<p class="horo">
	Zwillinge, das dritte Zeichen des Tierkreises, wird von Merkur, dem Planeten
	der Kommunikation und Intelligenz, regiert. Dieses Luftzeichen ist bekannt für
	seine Vielseitigkeit, Neugier und Anpassungsfähigkeit. Zwillinge haben eine
	lebhafte und bewegliche Natur, die sie dazu bringt, ständig neue Informationen
	und Erfahrungen zu suchen. Sie sind natürliche Kommunikatoren und lieben es,
	sich auszutauschen und zu lernen. Diese Eigenschaften machen sie zu
	interessanten und dynamischen Persönlichkeiten, die immer auf der Suche nach
	neuen Abenteuern und Wissen sind. Charakterlich zeichnen sich Zwillinge durch
	ihre Intelligenz, Schnelligkeit im Denken und Vielseitigkeit aus. Sie sind
	scharfsinnig, geistreich und haben die Fähigkeit, sich schnell an verschiedene
	Situationen anzupassen. Zwillinge sind oft sehr neugierig und haben ein
	breites Interessensspektrum, was sie dazu bringt, viele verschiedene
	Aktivitäten und Hobbys auszuprobieren. Sie haben eine angeborene Fähigkeit,
	Ideen zu verknüpfen und innovative Lösungen zu finden. Ihr reger Geist und
	ihre Kommunikationsfreude machen sie zu faszinierenden Gesprächspartnern, die
	immer etwas Neues und Interessantes zu erzählen haben. In Beziehungen und
	sozialen Situationen sind Zwillinge lebhaft, charmant und gesellig. Sie lieben
	es, Menschen zu treffen und sich in verschiedenen sozialen Kreisen zu bewegen.
	Ihre Fähigkeit, schnell Kontakte zu knüpfen und Gespräche zu führen, macht sie
	zu beliebten Gästen auf Partys und Veranstaltungen. In Partnerschaften sind
	sie oft liebevoll und aufmerksam, jedoch kann ihre ruhelose Natur manchmal zu
	Herausforderungen führen. Zwillinge brauchen viel geistige Stimulation und
	Abwechslung, was bedeuten kann, dass sie sich schnell langweilen, wenn eine
	Beziehung zu routiniert wird. Sie schätzen Ehrlichkeit und offene
	Kommunikation und brauchen einen Partner, der ihre Vielseitigkeit und ihren
	Wissensdurst teilt. Allerdings können Zwillinge auch mit einigen
	problematischen Aspekten konfrontiert werden. Ihre ständige Suche nach Neuem
	kann sie unbeständig und flüchtig wirken lassen, was zu Schwierigkeiten bei
	langfristigen Verpflichtungen führen kann. Manchmal neigen sie dazu, sich zu
	sehr auf oberflächliche Themen zu konzentrieren und tiefergehende emotionale
	Verbindungen zu vermeiden. Ihre Neigung zur Ablenkung und Unentschlossenheit
	kann dazu führen, dass sie Projekte nicht zu Ende bringen oder wichtige
	Entscheidungen aufschieben. Zwillinge müssen lernen, ihre Energie zu
	fokussieren und ihre vielen Interessen in einer Weise zu managen, die sowohl
	ihre intellektuellen Bedürfnisse als auch ihre emotionalen Verpflichtungen
	berücksichtigt. Indem sie eine Balance zwischen Abwechslung und Beständigkeit
	finden, können sie ihre einzigartigen Fähigkeiten und Talente voll entfalten.
</p>
<% } %> <% if (key === 'cancer') { %>
<h4 class="horo">Krebs</h4>
<h6 class="horo">Deine Sonne steht im Tierkreiszeichen Krebs</h6>
<p class="horo">
	Krebs, das vierte Zeichen des Tierkreises, wird vom Mond regiert, der für
	Emotionen, Intuition und innere Bedürfnisse steht. Dieses Wasserzeichen ist
	bekannt für seine tiefe Empfindsamkeit, sein starkes Mitgefühl und seine
	Fähigkeit, sich um andere zu kümmern. Krebse haben eine natürliche Verbindung
	zu ihrem Zuhause und ihrer Familie, und sie schätzen die Geborgenheit und den
	Komfort, den diese bieten. Sie sind oft stark von ihren Gefühlen geleitet und
	haben eine ausgeprägte Intuition, die ihnen hilft, sich in verschiedenen
	Lebenssituationen zurechtzufinden. Charakterlich zeichnen sich Krebse durch
	ihre emotionale Tiefe, Sensibilität und Loyalität aus. Sie sind oft sehr
	einfühlsam und können die Gefühle anderer Menschen gut nachvollziehen. Diese
	Empathie macht sie zu großartigen Freunden und Beratern. Krebse haben ein
	starkes Bedürfnis nach Sicherheit und Stabilität, sowohl in ihrem persönlichen
	Leben als auch in ihren Beziehungen. Sie sind meist vorsichtig und bedacht in
	ihren Handlungen und lassen sich Zeit, um Vertrauen zu anderen aufzubauen.
	Ihre Intuition und ihr inneres Wissen leiten sie oft auf den richtigen Weg,
	auch wenn sie sich manchmal von äußeren Umständen überwältigt fühlen. In
	Beziehungen und sozialen Situationen sind Krebse fürsorglich, liebevoll und
	aufmerksam. Sie legen großen Wert auf tiefe emotionale Verbindungen und sind
	bereit, viel für die Menschen, die sie lieben, zu tun. Krebse sind oft sehr
	familienorientiert und pflegen enge Bindungen zu ihren Angehörigen. Sie
	schaffen gerne ein gemütliches und sicheres Zuhause, in dem sich alle
	wohlfühlen können. In Freundschaften sind sie loyal und unterstützend, und
	ihre Freunde wissen, dass sie sich in schwierigen Zeiten auf sie verlassen
	können. Krebse schätzen Ehrlichkeit und Vertrauen und sind bereit, viel Zeit
	und Energie in ihre Beziehungen zu investieren. Allerdings können Krebse auch
	mit einigen problematischen Aspekten konfrontiert werden. Ihre starke
	emotionale Natur kann dazu führen, dass sie sich manchmal überfordert oder
	überwältigt fühlen. Sie neigen dazu, sehr sensibel auf Kritik und
	Zurückweisung zu reagieren, was ihre Selbstwertgefühl beeinträchtigen kann.
	Krebse können auch dazu neigen, sich in ihrer Komfortzone zu isolieren und
	Veränderungen zu meiden, was ihr persönliches Wachstum hemmen kann. Ihre
	starke Bindung an die Vergangenheit kann es ihnen schwer machen, loszulassen
	und weiterzumachen. Krebse müssen lernen, ihre Gefühle auf gesunde Weise zu
	verarbeiten und sich selbst mehr Raum für Flexibilität und Offenheit gegenüber
	neuen Erfahrungen zu geben. Indem sie ihre emotionale Stärke nutzen, können
	sie ihre einzigartigen Fähigkeiten zur Pflege und Unterstützung anderer voll
	entfalten und gleichzeitig ihr eigenes Wohlbefinden fördern.
</p>
<% } %> <% if (key === 'leo') { %>
<h4 class="horo">Löwe</h4>
<h6 class="horo">Deine Sonne steht im Tierkreiszeichen Löwe</h6>
<p class="horo">
	Löwe, das fünfte Zeichen des Tierkreises, wird von der Sonne regiert, die für
	Selbstbewusstsein, Kreativität und Lebensfreude steht. Dieses Feuerzeichen ist
	bekannt für seine strahlende Ausstrahlung, seinen natürlichen Charme und seine
	Fähigkeit, im Mittelpunkt zu stehen. Löwen haben eine starke Präsenz und
	ziehen oft die Aufmerksamkeit auf sich, wo immer sie hingehen. Sie sind
	geborene Anführer, die es lieben, ihre Umgebung zu inspirieren und zu
	motivieren. Ihre Energie und ihr Enthusiasmus sind ansteckend, und sie bringen
	häufig Wärme und Freude in die Leben der Menschen um sie herum. Charakterlich
	sind Löwen selbstbewusst, großzügig und leidenschaftlich. Sie haben ein
	starkes Bedürfnis nach Anerkennung und Bewunderung und streben danach, in
	allem, was sie tun, herausragend zu sein. Löwen sind kreativ und haben eine
	lebhafte Fantasie, die sich in ihren vielen Interessen und Hobbys
	widerspiegelt. Sie sind stolz auf ihre Fähigkeiten und Talente und haben keine
	Angst, diese zu zeigen. Trotz ihres starken äußeren Erscheinungsbildes haben
	Löwen auch eine sanfte und fürsorgliche Seite, die sich besonders in ihren
	Beziehungen zu ihren Lieben zeigt. In Beziehungen und sozialen Situationen
	sind Löwen warmherzig, loyal und beschützend. Sie schätzen tiefe und
	bedeutungsvolle Verbindungen und sind bereit, viel Zeit und Energie in ihre
	Beziehungen zu investieren. Löwen sind großzügige Partner und Freunde, die
	gerne das Beste für die Menschen um sie herum tun. Sie lieben es, Feste zu
	organisieren und ihre Lieben zu verwöhnen, sei es durch großzügige Geschenke
	oder herzliche Gesten. In Freundschaften sind Löwen treu und unterstützend,
	und ihre Freunde wissen, dass sie immer auf sie zählen können. Sie bringen
	Freude und Aufregung in ihre sozialen Kreise und sind oft die treibende Kraft
	hinter gemeinsamen Aktivitäten. Allerdings können Löwen auch mit einigen
	problematischen Aspekten konfrontiert werden. Ihr starkes Bedürfnis nach
	Anerkennung und Bewunderung kann dazu führen, dass sie manchmal eitel oder
	egozentrisch wirken. Löwen neigen dazu, die Kontrolle übernehmen zu wollen,
	was in manchen Situationen als dominant oder autoritär empfunden werden kann.
	Ihre stolze Natur kann es ihnen schwer machen, Kritik anzunehmen oder Fehler
	einzugestehen, was zu Konflikten in ihren Beziehungen führen kann. Löwen
	müssen lernen, ihre Selbstsicherheit mit Demut und Empathie zu balancieren und
	offen für die Meinungen und Bedürfnisse anderer zu sein. Indem sie ihre
	natürlichen Führungsqualitäten mit einer authentischen Fürsorge für andere
	verbinden, können sie ihre Beziehungen vertiefen und ein harmonischeres Leben
	führen.
</p>
<% } %> <% if (key === 'virgo') { %>
<h4 class="horo">Jungfrau</h4>
<h6 class="horo">Deine Sonne steht im Tierkreiszeichen Jungfrau</h6>
<p class="horo">
	Die Jungfrau ist das sechste Zeichen des Tierkreises und wird vom Merkur
	regiert, dem Planeten der Kommunikation und Intellektualität. Dieses
	Erdzeichen zeichnet sich durch seine pragmatische und analytische Natur aus.
	Jungfrauen sind bekannt für ihre Liebe zum Detail und ihre Fähigkeit, Ordnung
	und Struktur in ihr Leben und das Leben anderer zu bringen. Sie streben nach
	Perfektion und haben ein tiefes Bedürfnis nach Effizienz und Sauberkeit,
	sowohl in ihrer Umgebung als auch in ihren Gedanken und Handlungen.
	Charakterlich sind Jungfrauen sorgfältig, praktisch und zuverlässig. Sie haben
	einen scharfen Verstand und eine analytische Denkweise, die ihnen ermöglicht,
	Probleme schnell und effektiv zu lösen. Jungfrauen sind oft introvertiert und
	bescheiden, ziehen es vor, im Hintergrund zu arbeiten, anstatt im Rampenlicht
	zu stehen. Sie sind fleißig und verantwortungsbewusst, setzen hohe Maßstäbe
	für sich selbst und andere. Ihr starker Sinn für Pflicht und Disziplin macht
	sie zu wertvollen Teammitgliedern und verlässlichen Freunden. In Beziehungen
	und sozialen Situationen sind Jungfrauen zurückhaltend, aber unglaublich loyal
	und unterstützend. Sie zeigen ihre Liebe und Wertschätzung durch praktische
	Taten und nützliche Gesten, anstatt durch große emotionale Ausbrüche.
	Jungfrauen sind aufmerksam und einfühlsam, sie bemerken oft die kleinen Dinge,
	die andere übersehen, und sind immer bereit, zu helfen. Ihre soziale
	Zurückhaltung kann manchmal als Distanz oder Kälte missverstanden werden, aber
	wer sie wirklich kennt, weiß, dass sie tiefes Mitgefühl und Fürsorglichkeit
	besitzen. Sie bevorzugen tiefe, bedeutsame Verbindungen und schätzen
	Ehrlichkeit und Integrität in ihren Beziehungen. Allerdings können Jungfrauen
	auch mit einigen problematischen Aspekten konfrontiert werden. Ihr Streben
	nach Perfektion kann zu übermäßiger Selbstkritik und Kritik an anderen führen.
	Sie neigen dazu, sich über Kleinigkeiten Sorgen zu machen und können manchmal
	zu pedantisch oder pingelig sein. Ihre Tendenz, alles kontrollieren und
	organisieren zu wollen, kann zu Stress und Überforderung führen. Jungfrauen
	müssen lernen, loszulassen und sich mit dem Unvollkommenen abzufinden. Indem
	sie ihre Selbstakzeptanz stärken und lernen, ihre hohen Ansprüche zu mildern,
	können sie ein ausgeglicheneres und zufriedeneres Leben führen und
	harmonischere Beziehungen pflegen.
</p>
<% } %> <% if (key === 'libra') { %>
<h4 class="horo">Waage</h4>
<h6 class="horo">Deine Sonne steht im Tierkreiszeichen Waage</h6>
<p class="horo">
	Die Waage ist das siebte Zeichen des Tierkreises und wird von der Venus
	regiert, dem Planeten der Liebe, Schönheit und Harmonie. Dieses Luftzeichen
	zeichnet sich durch seinen ausgeprägten Sinn für Ästhetik und sein Bestreben
	nach Gleichgewicht und Gerechtigkeit aus. Waagen sind bekannt für ihre
	diplomatische Natur und ihre Fähigkeit, Konflikte zu lösen und Frieden zu
	fördern. Sie haben ein starkes Bedürfnis nach Harmonie in ihrem Umfeld und
	arbeiten kontinuierlich daran, eine ausgeglichene und angenehme Atmosphäre zu
	schaffen. Charakterlich sind Waagen charmant, höflich und gesellig. Sie haben
	ein feines Gespür für Ästhetik und Schönheit, was sich oft in ihrem
	persönlichen Stil und ihrem Geschmack für Kunst und Kultur widerspiegelt.
	Waagen sind intellektuell neugierig und genießen es, Ideen und Perspektiven zu
	diskutieren. Sie sind bekannt für ihre Fähigkeit, verschiedene Standpunkte zu
	verstehen und eine faire und ausgewogene Meinung zu bilden. Ihre freundliche
	und zugängliche Art macht es leicht, mit ihnen auszukommen und sie als Freunde
	zu gewinnen. In Beziehungen und sozialen Situationen sind Waagen warmherzig
	und romantisch. Sie schätzen Partnerschaften und legen großen Wert auf
	Zusammenarbeit und gegenseitige Unterstützung. Waagen sind bestrebt, ihren
	Partner glücklich zu machen und investieren viel Zeit und Energie in ihre
	Beziehungen. Sie sind ausgezeichnete Kommunikatoren und haben die Fähigkeit,
	Missverständnisse zu klären und harmonische Verbindungen aufrechtzuerhalten.
	In sozialen Kreisen sind Waagen oft das Bindeglied, das verschiedene Gruppen
	zusammenbringt, und sie genießen es, Gastgeber für gesellige Zusammenkünfte zu
	sein. Allerdings können Waagen auch mit einigen problematischen Aspekten
	konfrontiert werden. Ihr starkes Bedürfnis nach Harmonie kann dazu führen,
	dass sie Konflikten aus dem Weg gehen und Schwierigkeiten haben, klare
	Entscheidungen zu treffen. Sie neigen dazu, es allen recht machen zu wollen,
	was zu Unentschlossenheit und einem Mangel an Durchsetzungsvermögen führen
	kann. Diese Tendenz, sich zu sehr an die Wünsche anderer anzupassen, kann dazu
	führen, dass sie ihre eigenen Bedürfnisse und Wünsche vernachlässigen. Waagen
	müssen lernen, ihre eigenen Standpunkte klarer zu vertreten und ihre
	Entscheidungen entschlossener zu treffen, um ein ausgeglicheneres und
	erfüllteres Leben zu führen.
</p>
<% } %> <% if (key === 'scorpio') { %>
<h4 class="horo">Skorpion</h4>
<h6 class="horo">Deine Sonne steht im Tierkreiszeichen Skorpion</h6>
<p class="horo">
	Der Skorpion ist das achte Zeichen des Tierkreises und wird von den Planeten
	Mars und Pluto regiert. Dieses Wasserzeichen zeichnet sich durch seine
	Intensität, Tiefe und Leidenschaft aus. Skorpione sind bekannt für ihre
	geheimnisvolle Ausstrahlung und ihre Fähigkeit, in die Tiefen menschlicher
	Erfahrungen und Emotionen vorzudringen. Sie haben eine starke Präsenz und eine
	magnetische Anziehungskraft, die sie oft zu faszinierenden und charismatischen
	Individuen macht. Skorpione sind entschlossen und zielstrebig, und sie geben
	selten auf, wenn sie sich einmal ein Ziel gesetzt haben. Charakterlich sind
	Skorpione intensiv, loyal und leidenschaftlich. Sie haben eine tiefe
	emotionale Natur und sind in der Lage, starke Bindungen zu anderen zu knüpfen.
	Skorpione sind oft sehr intuitiv und können die Gefühle und Motivationen
	anderer Menschen leicht durchschauen. Diese Eigenschaft macht sie zu
	hervorragenden Beobachtern und Analytikern. Skorpione streben nach Wahrheit
	und Authentizität und schätzen Ehrlichkeit und Integrität bei sich selbst und
	anderen. Sie haben eine starke Willenskraft und sind bereit, große
	Anstrengungen zu unternehmen, um ihre Ziele zu erreichen. In Beziehungen und
	sozialen Situationen sind Skorpione intensiv und hingebungsvoll. Sie suchen
	tiefe und bedeutungsvolle Verbindungen und sind bereit, alles zu geben, um
	ihre Beziehungen zu schützen und zu pflegen. Skorpione sind loyal und
	zuverlässig und erwarten das Gleiche von ihren Partnern und Freunden. Sie
	können jedoch auch eifersüchtig und besitzergreifend sein, wenn sie das Gefühl
	haben, dass ihre Bindungen bedroht sind. In sozialen Kreisen können Skorpione
	zunächst reserviert und zurückhaltend erscheinen, aber wenn sie Vertrauen
	gefasst haben, öffnen sie sich und zeigen ihre warmherzige und
	leidenschaftliche Seite. Allerdings können Skorpione auch mit einigen
	problematischen Aspekten konfrontiert werden. Ihre intensive Natur kann dazu
	führen, dass sie dazu neigen, extrem zu reagieren und Schwierigkeiten haben,
	loszulassen. Skorpione können nachtragend sein und haben manchmal
	Schwierigkeiten, Verletzungen und Enttäuschungen zu verzeihen. Ihre Neigung
	zur Kontrolle und ihr Bedürfnis, die Dinge in ihrer Umgebung zu dominieren,
	können zu Konflikten führen. Skorpione müssen lernen, ihre Emotionen zu
	kontrollieren und zu verstehen, wann es notwendig ist, loszulassen und zu
	vergeben. Es ist wichtig für sie, Vertrauen zu entwickeln und ihre
	verletzliche Seite zu akzeptieren, um gesunde und ausgeglichene Beziehungen zu
	führen.
</p>
<% } %> <% if (key === 'sagittarius') { %>
<h4 class="horo">Schütze</h4>
<h6 class="horo">Deine Sonne steht im Tierkreiszeichen Schütze</h6>
<p class="horo">
	Der Schütze ist das neunte Zeichen des Tierkreises und wird vom Planeten
	Jupiter regiert. Dieses Feuerzeichen ist bekannt für seinen Optimismus,
	Abenteuerlust und seinen Drang nach Freiheit. Schützen sind wahre Entdecker,
	die ständig auf der Suche nach neuen Erfahrungen, Wissen und Erkenntnissen
	sind. Sie haben eine unstillbare Neugier und ein starkes Bedürfnis nach
	persönlichem Wachstum und Entwicklung. Mit ihrem offenen Geist und ihrem
	Enthusiasmus sind Schützen oft die Quelle von Inspiration und Freude in ihrem
	Umfeld. Charakterlich zeichnen sich Schützen durch ihre Ehrlichkeit,
	Großzügigkeit und philosophische Natur aus. Sie sind oft sehr direkt und
	sagen, was sie denken, ohne viel zu zögern. Diese Offenheit wird oft als
	erfrischend empfunden, kann aber manchmal auch als taktlos wahrgenommen
	werden. Schützen sind großzügige Seelen, die gerne teilen und anderen helfen.
	Sie haben eine natürliche Fähigkeit, das große Ganze zu sehen und haben oft
	tiefgründige, philosophische Überlegungen. Ihre positive Einstellung und ihr
	Optimismus machen sie zu großartigen Motivatoren und Anführern. In Beziehungen
	und sozialen Situationen sind Schützen charmant, gesellig und abenteuerlustig.
	Sie lieben es, neue Menschen kennenzulernen und Freundschaften zu schließen.
	In der Liebe suchen sie nach einem Partner, der ihre Freiheit respektiert und
	ihre Abenteuerlust teilt. Schützen schätzen Ehrlichkeit und Vertrauen und sind
	in der Lage, tiefe und bedeutungsvolle Beziehungen zu pflegen. Ihre fröhliche
	und positive Art zieht Menschen an, und sie sind oft der Mittelpunkt sozialer
	Ereignisse. Sie bringen eine leichte und unbeschwerte Energie in ihre
	Beziehungen und sind immer bereit, ihren Partnern und Freunden bei neuen
	Abenteuern zur Seite zu stehen. Allerdings können Schützen auch mit einigen
	problematischen Aspekten konfrontiert werden. Ihre Liebe zur Freiheit und
	Unabhängigkeit kann manchmal dazu führen, dass sie als unverbindlich oder
	unzuverlässig wahrgenommen werden. Schützen haben oft Schwierigkeiten mit
	Routine und Verpflichtungen und neigen dazu, sich schnell zu langweilen. Ihre
	direkte Art kann manchmal als unsensibel oder taktlos empfunden werden, was zu
	Missverständnissen führen kann. Schützen müssen lernen, einen Ausgleich
	zwischen ihrer Freiheit und ihren Verpflichtungen zu finden und sensibler auf
	die Gefühle anderer zu reagieren. Indem sie lernen, ihre Impulsivität zu
	zügeln und ihre Worte mit Bedacht zu wählen, können sie tiefere und stabilere
	Beziehungen aufbauen.
</p>
<% } %> <% if (key === 'capricorn') { %>
<h4 class="horo">Steinbock</h4>
<h6 class="horo">Deine Sonne steht im Tierkreiszeichen Steinbock</h6>
<p class="horo">
	Der Steinbock ist das zehnte Zeichen des Tierkreises und wird vom Planeten
	Saturn regiert. Dieses Erdzeichen ist bekannt für seine Disziplin,
	Zielstrebigkeit und praktische Natur. Steinböcke sind oft sehr ambitioniert
	und streben danach, ihre Ziele mit Ausdauer und harter Arbeit zu erreichen.
	Sie haben einen ausgeprägten Sinn für Verantwortung und nehmen ihre Pflichten
	sehr ernst. Mit ihrem realistischen und pragmatischen Ansatz sind sie oft die
	Stabilität und Struktur in ihrem Umfeld. Charakterlich zeichnen sich
	Steinböcke durch ihre Ernsthaftigkeit, Zuverlässigkeit und Geduld aus. Sie
	sind oft sehr fokussiert und lassen sich nicht leicht von ihren Plänen
	ablenken. Ihre Entschlossenheit und Hartnäckigkeit ermöglichen es ihnen, auch
	unter schwierigen Bedingungen ihre Ziele zu verfolgen. Steinböcke sind
	verantwortungsbewusst und haben eine starke Arbeitsmoral, was sie in
	beruflichen und persönlichen Projekten sehr erfolgreich macht. Sie neigen
	dazu, gut organisiert und methodisch vorzugehen, was ihnen hilft, ihre Ziele
	systematisch zu erreichen. In Beziehungen und sozialen Situationen sind
	Steinböcke loyal, zuverlässig und oft etwas zurückhaltend. Sie bauen ihre
	Beziehungen langsam und mit Bedacht auf, aber wenn sie sich einmal jemandem
	verpflichtet haben, sind sie sehr treu und beständig. Steinböcke suchen nach
	Stabilität und Beständigkeit in ihren Beziehungen und schätzen Partner, die
	ihre Werte teilen. In sozialen Kreisen können sie anfangs reserviert wirken,
	öffnen sich jedoch mit der Zeit und zeigen ihre warmherzige und unterstützende
	Seite. Ihre Freunde und Partner können sich stets auf sie verlassen, da
	Steinböcke immer bereit sind, ihnen in schwierigen Zeiten zur Seite zu stehen.
	Allerdings können Steinböcke auch mit einigen problematischen Aspekten
	konfrontiert werden. Ihre starke Fokussierung auf Ziele und Arbeit kann dazu
	führen, dass sie als kühl oder distanziert wahrgenommen werden. Steinböcke
	neigen dazu, ihre Emotionen zu kontrollieren und nicht leicht zu zeigen, was
	zu Missverständnissen führen kann. Ihre Tendenz, sehr kritisch und
	anspruchsvoll zu sein, kann manchmal zu Konflikten mit anderen führen.
	Steinböcke müssen lernen, eine Balance zwischen ihrer Arbeit und ihrem
	persönlichen Leben zu finden und ihre emotionale Seite zuzulassen. Indem sie
	offener und flexibler werden, können sie tiefere und erfüllendere Beziehungen
	aufbauen und ein ausgeglicheneres Leben führen.
</p>
<% } %> <% if (key === 'aquarius') { %>
<h4 class="horo">Wassermann</h4>
<h6 class="horo">Deine Sonne steht im Tierkreiszeichen Wassermann</h6>
<p class="horo">
	Der Wassermann ist das elfte Zeichen des Tierkreises und wird vom Planeten
	Uranus regiert. Dieses Luftzeichen ist bekannt für seine Unabhängigkeit,
	Innovationskraft und progressive Denkweise. Wassermänner sind oft
	zukunftsorientiert und haben eine starke Verbindung zu neuen Ideen und
	Technologien. Sie sind Visionäre, die gerne gesellschaftliche Normen in Frage
	stellen und neue Wege gehen, um positive Veränderungen zu bewirken. Mit ihrem
	humanitären Ansatz sind sie stets bestrebt, die Welt zu einem besseren Ort zu
	machen. Charakterlich zeichnen sich Wassermänner durch ihre Originalität,
	Intellektualität und ihren freien Geist aus. Sie sind sehr neugierig und
	lieben es, neue Konzepte und Theorien zu erforschen. Wassermänner sind meist
	sehr unabhängig und legen großen Wert auf ihre persönliche Freiheit. Sie sind
	oft unkonventionell und haben keine Angst davor, anders zu sein oder ihre
	Meinung zu äußern. Ihre Kreativität und ihr innovatives Denken machen sie zu
	hervorragenden Problemlösern, die gerne über den Tellerrand hinausblicken. In
	Beziehungen und sozialen Situationen sind Wassermänner freundlich, gesellig
	und oft sehr charmant. Sie schätzen ihre Freundschaften und sind oft in großen
	sozialen Kreisen aktiv. Wassermänner suchen in Beziehungen nach
	intellektueller Stimulation und einer tiefen geistigen Verbindung. Sie neigen
	dazu, ihre Partner als gleichwertige Freunde zu betrachten und legen großen
	Wert auf Gleichberechtigung und gegenseitigen Respekt. Ihre Unabhängigkeit
	kann jedoch dazu führen, dass sie manchmal distanziert oder unnahbar wirken.
	Dennoch sind sie loyal und verlässlich, wenn es darauf ankommt. Allerdings
	können Wassermänner auch mit einigen problematischen Aspekten konfrontiert
	werden. Ihre starke Unabhängigkeit und der Wunsch nach Freiheit können
	manchmal zu Schwierigkeiten in engen Beziehungen führen. Sie neigen dazu, sich
	emotional zu distanzieren, was zu Missverständnissen und Konflikten führen
	kann. Wassermänner können auch rebellisch und stur sein, besonders wenn sie
	das Gefühl haben, dass ihre Freiheit eingeschränkt wird. Es ist wichtig für
	sie, ein Gleichgewicht zwischen Unabhängigkeit und emotionaler Nähe zu finden.
	Indem sie lernen, ihre Emotionen besser zu kommunizieren und Kompromisse
	einzugehen, können sie tiefere und erfüllendere Beziehungen aufbauen.
</p>
<% } %> <% if (key === 'pisces') { %>
<h4 class="horo">Fische</h4>
<h6 class="horo">Deine Sonne steht im Tierkreiszeichen Fische</h6>
<p class="horo">
	Die Fische sind das zwölfte und letzte Zeichen des Tierkreises, regiert von
	Neptun, dem Planeten der Illusionen und Spiritualität. Dieses Wasserzeichen
	ist bekannt für seine tiefen emotionalen und intuitiven Fähigkeiten. Fische
	haben eine angeborene Verbindung zur spirituellen Welt und ein starkes
	Mitgefühl für andere. Sie sind oft künstlerisch veranlagt und haben ein
	reiches inneres Leben, das sie mit ihrer Umgebung verbindet und inspiriert.
	Mit ihrer sanften und einfühlsamen Natur streben Fische danach, Harmonie und
	Frieden in ihrem Umfeld zu schaffen. Charakterlich sind Fische sensibel,
	empathisch und anpassungsfähig. Sie besitzen eine bemerkenswerte Fähigkeit,
	die Gefühle und Bedürfnisse anderer zu erkennen und darauf zu reagieren. Diese
	Feinfühligkeit macht sie zu großartigen Zuhörern und Unterstützern. Fische
	sind oft träumerisch und neigen dazu, in ihrer eigenen Welt der Fantasie und
	Kreativität zu leben. Ihre Intuition ist stark ausgeprägt, und sie vertrauen
	oft auf ihre inneren Eingebungen und Gefühle. Ihre Anpassungsfähigkeit
	ermöglicht es ihnen, sich leicht an verschiedene Situationen und Menschen
	anzupassen. In Beziehungen und sozialen Situationen sind Fische liebevoll,
	fürsorglich und loyal. Sie sind in der Lage, tiefe emotionale Verbindungen zu
	anderen aufzubauen und sind stets bereit, ihre Unterstützung anzubieten.
	Fische suchen in ihren Beziehungen nach einer tiefen spirituellen und
	emotionalen Bindung. Sie sind sehr romantisch und idealistisch, was sie zu
	aufmerksamen und hingebungsvollen Partnern macht. Ihre Bereitschaft, sich für
	andere aufzuopfern, kann jedoch dazu führen, dass sie ihre eigenen Bedürfnisse
	vernachlässigen. In Freundschaften sind Fische loyal und verständnisvoll,
	immer bereit, zuzuhören und zu helfen. Allerdings können Fische auch mit
	einigen problematischen Aspekten konfrontiert werden. Ihre starke Sensibilität
	und Empathie können sie anfällig für emotionale Überlastung und Stress machen.
	Sie neigen dazu, sich leicht von den Emotionen und Problemen anderer
	beeinflussen zu lassen, was zu Erschöpfung führen kann. Fische können auch
	dazu neigen, vor der Realität zu fliehen und sich in ihrer eigenen
	Fantasiewelt zu verlieren, anstatt sich den Herausforderungen des Lebens zu
	stellen. Ihre Tendenz zur Selbstaufopferung kann dazu führen, dass sie
	ausgenutzt werden. Fische müssen lernen, gesunde Grenzen zu setzen und sich
	selbst genauso viel Aufmerksamkeit und Fürsorge zu schenken wie anderen, um
	ein ausgewogenes und erfülltes Leben zu führen.
</p>
<% } %>
