<div class="border">
  <div class="text-container">
    <h3 class="horo cntr"> Was ist ein Geburtshoroskop? </h3>
    <p class="horo"></p>
    <p class="horo"> Das Horoskop zeigt die Anordnung der Planeten und Himmelskörper zu einem bestimmten Zeitpunkt und an einem bestimmten Ort auf der Erde.
      In der grafischen Darstellung werden diese Objekte in eine Ebene projiziert angezeigt, die sogenannte <i>Ekliptik</i>, sie wird vom Verlauf der Sonne aufgespannt.
      In dieser Ebene liegen auch die Sternzeichen/Tierkreiszeichen, so dass die Sonne jährlich alle 12 Zeichen durchwandert. </p>
    <p class="horo"> Der Name dient zur Anzeige und geht nicht in die Berechnung mit ein. </p>
    <p class="horo"> Breiten- und Längengrad können über das Suchfeld ermittelt, oder direkt eingegeben werden.</p>
    <p class="horo"> Ist die Geburtszeit unbekannt, können keine zugehörigen Häuser bestimmt werden, da die Himmelskörper nur ca. 2 Stunden in einem Haus verweilen. <br>
      Aktiviere in diesem Fall die Checkbox und gelange zu einer von der Tageszeit unabhängigen Darstellung. </p>
    <p class="horo"> Das Häusersystem legt fest, nach welchen Kriterien die Häusergrenzen berechnet werden. </p>
    <p class="horo"></p>
  </div>
</div>