<!DOCTYPE html>
<html lang="de">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
  <link rel="stylesheet" href="../css/plotStyles.css">
  <link rel="stylesheet" href="../css/formStyles.css">
  <link rel="stylesheet" href="../css/styles.css">

  <link rel="stylesheet" href="../public/css/jquery.datetimepicker.min.css" />
  <link rel="icon" href="favicon.ico?v=1" />

  <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
  <script src="../../assets/datetimepicker-master/jquery.js"></script>
  <script src="../../assets/datetimepicker-master/build/jquery.datetimepicker.full.min.js"></script>

  <script src="https://unpkg.com/@geoapify/geocoder-autocomplete@^1/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <base href=<%=get_uri%>>

  <title> Horoskop </title>
</head>

<body class="horo">

  <h1 class="horo cntr fadeOutDiv"> Geburtshoroskop erstellen </h1>

  <div class="horo fadeOutDiv" id="popupForm">
    <div class="horo" id="formEjs"></div>
  </div>

  <div class="horo" id="plot-container"></div>

  <%-include('description.ejs')%>

</body>


<script src="../assets/plotFunc.js"></script>
<script>
  mainFunc();
</script>

</html>