<!DOCTYPE html>
<html lang="de">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
  <link rel="stylesheet" href="../css/plotStyles.css">
  <link rel="stylesheet" href="../css/formStyles.css">
  <link rel="stylesheet" href="../css/styles.css">

  <link rel="stylesheet" href="../public/css/jquery.datetimepicker.min.css" />
  <link rel="icon" href="favicon.ico?v=1" />

  <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
  <script src="../../assets/datetimepicker-master/jquery.js"></script>
  <script src="../../assets/datetimepicker-master/build/jquery.datetimepicker.full.min.js"></script>

  <script src="https://unpkg.com/@geoapify/geocoder-autocomplete@^1/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <base href=<%=get_uri%>>

  <title> Horoskop </title>
</head>

<body class="horo">
  <script>
    // const apiKey = "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";
    const apiKey = "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";
    const endpoint = 'https://api.openai.com/v1/chat/completions';

    async function askGPT(prompt) {
      try {
        const response = await axios.post(
          endpoint, {
            model: 'gpt-4o-mini', // oder 'gpt-4', falls verfügbar
            prompt: prompt,
            max_tokens: 150, // Maximale Länge der Antwort
            temperature: 0.7, // Kreativitätsgrad
          }, {
            headers: {
              'Content-Type': 'application/json',
              'Authorization': `Bearer ${apiKey}`,
            },
          }
        );
        console.log(response.data.choices[0].text.trim());
      } catch (error) {
        console.error('Fehler bei der Anfrage:', error.response?.data || error.message);
      }
    }
    // console.log(askGPT("how are you?"));
  </script>

  <h1 class="horo cntr fadeOutDiv"> Geburtshoroskop erstellen </h1>

  <div class="horo fadeOutDiv" id="popupForm">
    <div class="horo" id="formEjs"></div>
  </div>

  <div class="horo" id="plot-container"></div>

  <%-include('description.ejs')%>

</body>


<script src="../assets/plotFunc.js"></script>
<script>
  mainFunc();
</script>

</html>