/* -- normalmode -- */

/* :root {
	--cc-color-background: #f8efdf;
	--cc-card-light: #faf5ec;
	--cc-color-1: #211e1b;
	--cc-color-2: #3e3a34;
	--cc-color-16: #d69336;
	--cc-color-18: #eaca98;
	--cc-color-32: #ebad10;
} */


/* -- darkmode -- */
:root {
	--cc-color-background: #0b0a09;
	--cc-card-light: #090d16;
	--cc-color-1: #faf5ef;
	--cc-color-2: #bdb4a8;
	--cc-color-16: #af782c;
	--cc-color-18: #604218;
	--cc-color-32: #ebad10;
}

body {
	font-family: Iowan Old Style, Palatino, "Palatino Linotype", "Book Antiqua", "URW Palladio L", P052, serif;
	font-size: 14pt;
	line-height: 1.6;
	background-color: var(--cc-color-background);
	color: var(--cc-color-2);
}

h1.horo {
	hyphens: none;
	margin: 0 auto 14px auto;
	color: var(--cc-color-1);
}

h2.horo {
	margin: 24px auto 0 auto;
	font-size: 31px;
	color: var(--cc-color-1);
}

h3.horo {
	margin: 0 auto;
	font-size: 14pt;
	color: var(--cc-color-1);
}

h4.horo {
	margin: 24px auto 3px 7px;
	color: var(--cc-color-1);
}

h5.horo {
	margin: 7px auto 7px auto;
	font-size: 12pt;
}

h6.horo {
	margin: 7px auto 7px auto;
	font-size: 12pt;
	color: var(--cc-color-1);
}

.cntr {
	text-align: center;
}

.half {
	width: 50%;
}

p.horo {
	font-size: 12pt;
	text-align: justify !important;
	color: var(--cc-color-1);
}

a.horo {
	font-family: system-ui, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: var(--cc-color-32);
	font-size: 12pt;
	cursor: pointer;
}

hr.hrheader {
	width: 222px;
	margin: 1px auto;
}

hr.horo {
	border: 1px solid var(--cc-color-18);
	margin: 9px 0;
}

hr.horo.card {
	margin-top: 17px;
}

hr.horo.card {
	border: 1px solid var(--cc-color-16);
	margin-top: 14px;
}

span.sublabel {
	font-family: system-ui, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: var(--cc-color-2);
	cursor: default;
}

span.sublabel.bold {
	font-size: 12px;
	font-weight: bold;
}

.subheader {
	font-size: 111%;
	text-align: center;
	margin: 19px auto;
}

.horo.hide {
	display: none;
}

.horo.inline {
	display: inline;
}

@media print {
	@page: first {
		@bottom-center {
			content: none;
		}
	}

	@page {
		margin-left: 3mm;
		margin-right: 3mm;
		margin-top: 3mm;
		margin-bottom: 3mm;
	}

	body {
		background-color: white;
		padding-right: 15px;
		padding-left: 25px;
	}

	.horo.plot-flex-container {
		margin-top: -132px;
		padding-left: 36px;
		padding-right: 36px;
	}

	.horo.no-print {
		display: none;
	}

	.horo.page-break {
		page-break-before: always;
		break-before: always;
	}

	p.horo.lrMar {
		font-size: 11pt;
		margin: 12px 7px;
	}

	#print-graph1 {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 136px;
		font-family: Iowan Old Style, Palatino, "Palatino Linotype", "Book Antiqua", "URW Palladio L", P052, serif;
		background-color: var(--cc-card-light);
		color: var(--cc-color-2);
		border-radius: 48px / 36px;
		position: relative;
		overflow: hidden;
	}

	div.horo.legendDiv {
		page-break-inside: avoid;
		break-inside: avoid;
		padding-top: 24px;
	}

	#popUpLegend {
		display: grid;
	}

	.horo.hide {
		display: block;
	}

	h4.horo.hide {
		margin-left: 108px;
	}

	.signsTextBox {
		width: 100%;
		height: 96vh;
		display: flex;
		page-break-before: always;
		break-before: always;
		break-inside: avoid;
		margin-top: 24px;
	}

	p.horo.card {
		font-size: 11pt;
		overflow: visible;
		height: auto;
		padding: 0;
	}

	.cartesianDiv {
		flex-wrap: wrap-reverse;
	}

	.aspectOrbGrid {
		width: 100%;
	}

	div.flexItem5,
	div.flexItem6 {
		margin-top: 0;
		padding: 12px;
	}

	div.horo.half {
		width: 100%;
	}

	div.horo.half2 {
		width: 100%;
		margin-left: -33px;
	}

	.horo.lMar-print {
		margin-left: -12px;
		margin-bottom: 12px;
	}
}