<% if (planet2 === 'sun') { %>
  <% if (planet1 === 'moon') { %>
    <h4 class="horo">Sonne im ersten Haus im Quadrat zum Mond:</h4>
    <p class="horo">Dieses Quadrat kann zu inneren Spannungen führen. Deine emotionale Seite und dein
      Selbstausdruck könnten in Konflikt geraten, was zu Stimmungsschwankungen führen kann.</p>
  <% } %>

  <% if (planet1 === 'mercury') { %>
    <h4 class="horo">Sonne im ersten Haus im Quadrat zum Merkur:</h4>
    <p class="horo">Dein Selbstbewusstsein und deine Kommunikation stehen im Konflikt. Du könntest
      Schwierigkeiten haben, deine Gedanken klar auszudrücken oder impulsiv handeln.</p>
  <% } %>

  <% if (planet1 === 'venus') { %>
    <h4 class="horo">Sonne im ersten Haus im Quadrat zur Venus:</h4>
    <p class="horo">Beziehungen könnten komplex sein, da deine Persönlichkeit und dein Bedürfnis nach Harmonie
      im Widerspruch stehen könnten. Konflikte zwischen Selbstliebe und sozialer Anpassung sind
      möglich.</p>
  <% } %>

  <% if (planet1 === 'mars') { %>
    <h4 class="horo">Sonne im ersten Haus im Quadrat zum Mars:</h4>
    <p class="horo">Deine Entschlossenheit könnte in Konflikt mit deiner Energie stehen. Impulsives Handeln oder
      Frustrationen könnten auftreten, wenn du nicht achtsam bist.</p>
  <% } %>

  <% if (planet1 === 'jupiter') { %>
    <h4 class="horo">Sonne im ersten Haus im Quadrat zu Jupiter:</h4>
    <p class="horo">Ein übermäßiger Optimismus könnte zu Risiken führen. Du könntest dazu neigen, Dinge zu
      übertreiben oder unüberlegte Entscheidungen zu treffen.</p>
  <% } %>

  <% if (planet1 === 'saturn') { %>
    <h4 class="horo">Sonne im ersten Haus im Quadrat zu Saturn:</h4>
    <p class="horo">Dieses Quadrat kann zu Selbstzweifeln und mangelndem Selbstvertrauen führen. Du könntest
      Schwierigkeiten haben, deine Ziele zu erreichen, wenn du dich von Selbstkritik überwältigen lässt.</p>
  <% } %>

  <% if (planet1 === 'uranus') { %>
    <h4 class="horo">Sonne im ersten Haus im Quadrat zu Uranus:</h4>
    <p class="horo">Deine Individualität könnte gegen gesellschaftliche Normen stoßen. Unvorhersehbare
      Veränderungen und der Wunsch nach Freiheit könnten Konflikte verursachen.</p>
  <% } %>

  <% if (planet1 === 'neptune') { %>
    <h4 class="horo">Sonne im ersten Haus im Quadrat zu Neptun:</h4>
    <p class="horo">Verwirrung und Unsicherheit könnten auftreten, da deine Identität und deine spirituelle Sensibilität
      miteinander ringen. Klare Grenzen sind wichtig, um Illusionen zu vermeiden.</p>
  <% } %>

  <% if (planet1 === 'pluto') { %>
    <h4 class="horo">Sonne im ersten Haus im Quadrat zu Pluto:</h4>
    <p class="horo">Dieses Quadrat kann zu Machtkämpfen und Kontrollproblemen führen. Du könntest den Drang
      verspüren, tiefgreifende Veränderungen zu erzwingen, was Konflikte hervorrufen kann.</p>
  <% } %>

  <% if (planet1 === 'northnode') { %>
    <h4 class="horo">Sonne im ersten Haus im Quadrat zu den Mondknoten:</h4>
    <p class="horo">Dein Lebensweg könnte von inneren Konflikten geprägt sein. Du könntest Schwierigkeiten haben,
      deine Bestimmung zu erkennen und dich zwischen Vergangenheit und Zukunft hin- und
      hergerissen fühlen.</p>
  <% } %>

  <% if (planet1 === 'ascendant') { %>
    <h4 class="horo">Sonne im ersten Haus im Quadrat zum Aszendenten:</h4>
    <p class="horo">Deine Persönlichkeit und äußere Erscheinung stehen im Konflikt. Du könntest Probleme haben,
      dich selbstbewusst zu präsentieren, oder Selbstzweifel könnten auftreten.</p>
  <% } %>

  <% if (planet1 === 'midheaven') { %>
    <h4 class="horo">Sonne im ersten Haus im Quadrat zum Medium Coeli (MC):</h4>
    <p class="horo">Berufliche Herausforderungen könnten auftreten, da deine Karriereziele und öffentliche Position
      mit deiner Identität kollidieren könnten. Klare Prioritäten sind erforderlich.</p>
  <% } %>
<% } %>