<p class="horo">
  <i>"Anlagen, Persönlichkeitskern, Geburt, frühe Kindheit, Erscheinung."</i> <br> <br>
  Die Spitze des ersten Hauses fällt immer auf den Punkt am Horizont,
  ist also gleichbedeutend mit dem <b>Aszendenten</b>.
</p>