<% if (planet2 === 'sun') { %>
  <% if (planet1 === 'moon') { %>
    <h4 class="horo">Sonne im ersten Haus im Sextil zum Mond:</h4>
    <p class="horo">Deine emotionale Intelligenz und dein Selbstausdruck ergänzen sich harmonisch. Du kannst deine
      Gefühle gut kommunizieren und bist sensibel für die Bedürfnisse anderer.</p>
  <% } %>

  <% if (planet1 === 'mercury') { %>
    <h4 class="horo">Sonne im ersten Haus im Sextil zum Merkur:</h4>
    <p class="horo">Dein Selbstbewusstsein und deine geistige Klarheit arbeiten gut zusammen. Du kannst dich
      mühelos ausdrücken und bringst frische Ideen und einen klaren Kommunikationsstil mit.</p>
  <% } %>

  <% if (planet1 === 'venus') { %>
    <h4 class="horo">Sonne im ersten Haus im Sextil zur Venus:</h4>
    <p class="horo">Deine Persönlichkeit strahlt Anmut und Charme aus. Du hast ein talentiertes Händchen für soziale
      Interaktionen und bist in der Lage, harmonische Beziehungen zu pflegen.</p>
  <% } %>

  <% if (planet1 === 'mars') { %>
    <h4 class="horo">Sonne im ersten Haus im Sextil zum Mars:</h4>
    <p class="horo">Deine Entschlossenheit und Energie sind in Einklang. Du gehst Herausforderungen mit
      Selbstvertrauen an und setzt deine Energie effektiv ein, um deine Ziele zu erreichen.</p>
  <% } %>

  <% if (planet1 === 'jupiter') { %>
    <h4 class="horo">Sonne im ersten Haus im Sextil zu Jupiter:</h4>
    <p class="horo">Dein Optimismus und deine Großzügigkeit sind eine natürliche Ergänzung. Du ziehst Glück und
      Erfolg an, während du andere mit deiner positiven Einstellung inspirierst.</p>
  <% } %>

  <% if (planet1 === 'saturn') { %>
    <h4 class="horo">Sonne im ersten Haus im Sextil zu Saturn:</h4>
    <p class="horo">Dein Ehrgeiz und deine Disziplin werden durch dieses Sextil verstärkt. Du setzt klare Ziele und
      arbeitest hart, um sie zu erreichen, was zu langfristigem Erfolg führt.</p>
  <% } %>

  <% if (planet1 === 'uranus') { %>
    <h4 class="horo">Sonne im ersten Haus im Sextil zu Uranus:</h4>
    <p class="horo">Deine Originalität und Unkonventionalität kommen zum Ausdruck. Du strebst nach persönlicher
      Freiheit und Selbstausdruck, wodurch du innovative Lösungen findest.</p>
  <% } %>

  <% if (planet1 === 'neptune') { %>
    <h4 class="horo">Sonne im ersten Haus im Sextil zu Neptun:</h4>
    <p class="horo">Dein Mitgefühl und deine spirituelle Sensibilität harmonieren gut. Du erlebst tiefgründige spirituelle
      Erfahrungen und kannst künstlerische Talente entwickeln.</p>
  <% } %>

  <% if (planet1 === 'pluto') { %>
    <h4 class="horo">Sonne im ersten Haus im Sextil zu Pluto:</h4>
    <p class="horo">Deine Macht und Transformation sind in Balance. Du kannst Hindernisse überwinden und
      tiefgreifende Veränderungen in deinem Leben herbeiführen.</p>
  <% } %>

  <% if (planet1 === 'northnode') { %>
    <h4 class="horo">Sonne im ersten Haus im Sextil zu den Mondknoten:</h4>
    <p class="horo">Dein Lebensweg und dein Schicksal sind harmonisch miteinander verbunden. Du könntest das
      Gefühl haben, deine Lebensmission mit Klarheit und Bestimmtheit zu verfolgen.</p>
  <% } %>

  <% if (planet1 === 'ascendant') { %>
    <h4 class="horo">Sonne im ersten Haus im Sextil zum Aszendenten:</h4>
    <p class="horo">Deine Persönlichkeit und äußere Erscheinung arbeiten gut zusammen. Du hinterlässt einen
      selbstbewussten Eindruck und ziehst Menschen durch deine Präsenz an.</p>
  <% } %>

  <% if (planet1 === 'midheaven') { %>
    <h4 class="horo">Sonne im ersten Haus im Sextil zum Medium Coeli (MC):</h4>
    <p class="horo">Deine beruflichen Ziele und öffentliche Position sind in Einklang mit deiner Identität. Du strebst
      nach Erfolg in der Öffentlichkeit und kannst deine Karriereziele mühelos erreichen.</p>
  <% } %>

<% } %>
