<% if (key === 'sun') { %>
  <h5>☉ Sonne:</h5>
  <ul>
    <li class="plus">Eigenständig, unabhängig, selbstbewusst, aufrichtig sich selbst gegenüber.</li>
    <li class="minus">Egozentrisch, eigenbrötlerisch, selbstherrlich und undiplomatisch. Emotional isoliert.</li>
  </ul>  
<% } %> 
<% if (key === 'moon') { %>
  <h5>☽ Mond:</h5>
  <ul>
    <li class="plus">Empfindsam, sensibel und künstlerisch begabt.</li>
    <li class="minus">Emotional auf sich selbst fixiert. Autoaggressive Neigung.</li>
  </ul>  
<% } %> 
<% if (key === 'mercury') { %>
  <h5>☿ Merkur:</h5>
  <ul>
    <li class="plus"> Ausgeprägte rationale Energie. Eigenständige Denkweise. </li>
    <li class="minus"> Opportunistisches Denken. Gefangen im Subjektiven. </li>
  </ul>  
<% } %> 
<% if (key === 'venus') { %>
  <h5>♀ Venus:</h5>
  <ul>
    <li class="plus">Kontaktfreudig und allgemein beliebt. Guter Umgang mit Menschen, sowie künstlerisch ambitioniert.</li>
    <li class="minus">Zu nachgiebig anderen gegenüber und von ihren Meinungen abhängig.</li>
  </ul>  
<% } %> 
<% if (key === 'mars') { %>
  <h5>♂ Mars:</h5>
  <ul>
    <li class="plus">Eigene Anlagen werden auch gegen Widerstände durchgesetzt und verwirklicht.</li>
    <li class="minus">Egozentrisch, rücksichtslos. Unterschätzt die eigene Wirkung auf andere.</li>
  </ul>  
<% } %> 
<% if (key === 'jupiter') { %>
  <h5>♃ Jupiter:</h5>
  <ul>
    <li class="plus">Tolerant und Gerecht. Lebt nach humanistischen und philosophischen Maßstäben.</li>
    <li class="minus">Idealisiert die Realität durch philosophische Überlegungen. Weltfremd.</li>
  </ul>  
<% } %> 
<% if (key === 'saturn') { %>
  <h5>♄ Saturn:</h5>
  <ul>
    <li class="plus"> Konzentriert, ausdauernd und konsequent. </li>
    <li class="minus"> Gehemmt, zu ernsthaft, widerstandsorientiert. </li>
  </ul>  
<% } %> 
<% if (key === 'uranus') { %>
  <h5>♅ Uranus:</h5>
  <ul>
    <li class="plus"> Kann Spannungen im persönlichen Umfeld kreativ nutzen. Ist nicht seinen Trieben ausgeliefert. </li>
    <li class="minus"> Aggressionshemmung. Verklemmtheit. </li>
  </ul>  
<% } %> 
<% if (key === 'neptune') { %>
  <h5>♆ Neptun:</h5>
  <ul>
    <li class="plus"> Intuitive, künstlerisch-mediale Veranlagung. </li>
    <li class="minus"> Schwach im Durchsetzen. Labil. </li>
  </ul>  
<% } %> 
<% if (key === 'pluto') { %>
  <h5>♇ Pluto:</h5>
  <ul>
    <li class="plus"> Kann bei der Durchsetzung eigener Interessen sämtliche Reserven mobilisieren. </li>
    <li class="minus"> Kann gelegentlich auf angeborene genetische Defekte hinweisen.</li>
  </ul>   
<% } %> 
<% if (key === 'ascendant') { %>
  <h5>AC Aszendent:</h5>
  <ul>
    <li class="plus">...</li>
    <li class="minus">...</li>
  </ul>  
<% } %> 