<% if ( planet2 === 'sun' ) { %>

  <% if ( planet1 === 'moon' ) { %>
    <h4 class="horo">Sonne im ersten Haus in Konjunktion zum Mond:</h4>
    <p class="horo">Diese Konjunktion verstärkt deine emotionale Verbundenheit mit deinem Selbstausdruck. Du bist
    intuitiv und kannst deine Gefühle und Bedürfnisse klar kommunizieren.</p>
  <% } %>

  <% if (planet1 === 'mercury') { %>
    <h4 class="horo">Sonne im ersten Haus in Konjunktion zum Merkur:</h4>
    <p class="horo">Deine Persönlichkeit ist geprägt von Intellekt und Kommunikationsfähigkeiten. Du drückst dich
      klar und selbstbewusst aus und bist ein ausgezeichneter Gesprächspartner.</p>
  <% } %>
  
  <% if (planet1 === 'venus') { %>
    <h4 class="horo">Sonne im ersten Haus in Konjunktion zur Venus:</h4>
    <p class="horo">Du strahlst Charme und Liebenswürdigkeit aus. Beziehungen sind für dich von zentraler
      Bedeutung, und du bist in der Lage, harmonische Bindungen zu schaffen.</p>
  <% } %>
  
  <% if (planet1 === 'mars') { %>
    <h4 class="horo">Sonne im ersten Haus in Konjunktion zum Mars:</h4>
    <p class="horo">Du bist energiegeladen und zielorientiert. Diese Konjunktion verleiht dir Entschlossenheit und den
      Antrieb, Herausforderungen zu meistern.</p>
  <% } %>  

  <% if (planet1 === 'jupiter') { %>
    <h4 class="horo">Sonne im ersten Haus in Konjunktion zu Jupiter:</h4>
    <p class="horo">Du hast eine optimistische Einstellung und ziehst Glück und Erfolg an. Deine Persönlichkeit ist
      großzügig und du inspirierst andere mit deinem Glauben an das Gute im Leben.</p>
  <% } %>
  
  <% if (planet1 === 'saturn') { %>
    <h4 class="horo">Sonne im ersten Haus in Konjunktion zu Saturn:</h4>
    <p class="horo">Deine ernsthafte und disziplinierte Natur führt zu langfristigem Erfolg. Du übernimmst
      Verantwortung und arbeitest hart an deinen Zielen.</p>
  <% } %>
  
  <% if (planet1 === 'uranus') { %>
    <h4 class="horo">Sonne im ersten Haus in Konjunktion zu Uranus:</h4>
    <p class="horo">Du bist originell und unkonventionell. Diese Konjunktion verstärkt deine Individualität und deinen
      Drang nach Freiheit.</p>
  <% } %>
  
  <% if (planet1 === 'neptune') { %>
    <h4 class="horo">Sonne im ersten Haus in Konjunktion zu Neptun:</h4>
    <p class="horo">Deine Persönlichkeit ist mitfühlend und spirituell. Du hast ein tiefes Verständnis für die emotionale
      Welt und bringst Kreativität und Mitgefühl in dein Leben.</p>
  <% } %>
  
  <% if (planet1 === 'pluto') { %>
    <h4 class="horo">Sonne im ersten Haus in Konjunktion zu Pluto:</h4>
    <p class="horo">Diese Konjunktion verleiht dir eine starke persönliche Macht und die Fähigkeit zur Transformation.
      Du kannst tiefgreifende Veränderungen in deinem Leben bewirken.</p>
  <% } %>
  
  <% if (planet1 === 'northnode') { %>
    <h4 class="horo">Sonne im ersten Haus in Konjunktion zu den Mondknoten:</h4>
    <p class="horo">Diese Konjunktion betont die Bedeutung von Schicksal und Lebensweg. Du könntest eine klare
      Richtung und Lebenszweck verspüren und dich deiner Lebensmission bewusst sein.</p>
  <% } %>
  
  <% if (planet1 === 'ascendant') { %>
    <h4 class="horo">Sonne im ersten Haus in Konjunktion zum Aszendenten:</h4>
    <p class="horo">Deine Persönlichkeit und äußere Erscheinung sind eng miteinander verbunden. Du strahlst
      Selbstbewusstsein und Präsenz aus, was andere anzieht.</p>
  <% } %>
  
  <% if (planet1 === 'midheaven') { %>
    <h4 class="horo">Sonne im ersten Haus in Konjunktion zum Medium Coeli (MC):</h4>
    <p class="horo">Deine Karriere und öffentliche Position sind zentral für deine Identität. Du strebst nach beruflichem
      Erfolg und kannst in der Öffentlichkeit glänzen.</p>
  <% } %>
  
<% } %> 


<% if ( planet2 === 'moon' ) { %>
  <% if ( planet1 === 'sun' ) { %>
    <p> 
    Diese Konjunktion zwischen der Sonne im ersten Haus und dem Mond verleiht dir eine starke
    Verbindung zwischen deinem Wesen und deinen emotionalen Bedürfnissen. Du bist eine Person,
    die stark von ihren Gefühlen beein usst wird und eine intensive emotionale Natur besitzt. Dein
    inneres Selbst und deine Identität sind eng mit deinen emotionalen Erfahrungen verknüpft. Du
    hast die Fähigkeit, deine emotionalen Bedürfnisse auszudrücken und dich selbst auf einer tiefen
    emotionalen Ebene zu verstehen.</p> 
  <% } %>

  <% if ( planet1 === 'mercury' ) { %>
    Mit dieser Konjunktion zwischen der Sonne im ersten Haus und Merkur besitzt du eine starke
Verbindung zwischen deiner Identität und deinem Denkvermögen. Du bist ein scharfsinniger und
kommunikativer Mensch, der seine Gedanken und Ideen klar und überzeugend ausdrücken kann.
Dein Verstand ist lebhaft und du bist in der Lage, komplexe Informationen schnell zu erfassen und
zu analysieren. Deine Identität ist eng mit deinem Intellekt verbunden, und du bringst einen
frischen und dynamischen Ansatz in deine Kommunikation ein.
  <% } %>

  <% if ( planet1 === 'venus') { %>
    Diese Konjunktion zwischen der Sonne im ersten Haus und Venus verleiht dir eine natürliche
Anziehungskraft und Charme. Du bist eine liebevolle und herzliche Person, die von harmonischen
Beziehungen und Schönheit angezogen wird. Dein äußeres Erscheinungsbild und deine
Persönlichkeit strahlen eine magnetische Energie aus, die andere Menschen anzieht. Du bringst
Leidenschaft und Kreativität in dein Leben und drückst deine Identität auf eine liebevolle und
ästhetische Weise aus.
  <% } %> 

  <% if ( planet1 === 'mars' ) { %>
    Mit dieser Konjunktion zwischen der Sonne im ersten Haus und Mars besitzt du eine starke
Energie und Entschlossenheit. Du bist ein Kämpfer und hast einen starken Willen, um deine Ziele
zu erreichen. Deine Identität ist geprägt von Mut, Durchsetzungsvermögen und einer aktiven
Herangehensweise an das Leben. Du bist bereit, Risiken einzugehen und Hindernisse zu
überwinden, um das zu erreichen, was du dir vorgenommen hast. Dein Selbstausdruck ist
dynamisch und energiegeladen.
  <% } %>

  <% if ( planet1 === 'jupiter' ) { %>
    Diese Konjunktion zwischen der Sonne im ersten Haus und Jupiter verleiht dir eine expansive und
optimistische Persönlichkeit. Du bist ein Mensch mit großem Glauben und Vertrauen in das
Leben. Deine Identität ist geprägt von einem Gefühl der Fülle und des Wachstums. Du hast eine
positive Einstellung und bist bereit, Herausforderungen anzunehmen und neue Horizonte zu
erkunden. Du bringst Freude, Enthusiasmus und Großzügigkeit in dein Leben und strahlst eine
natürliche Autorität und Weisheit aus.
  <% } %>

  <% if ( planet1 === 'saturn') { %>
    Diese Konjunktion zwischen der Sonne im ersten Haus und Saturn verleiht dir eine ernsthafte und
zielgerichtete Persönlichkeit. Du bist ein Mensch mit starken Prinzipien und einem starken Sinn für
Verantwortung. Deine Identität ist geprägt von Disziplin, Ausdauer und einem strebsamen
Charakter. Du hast ein ausgeprägtes P ichtbewusstsein und arbeitest hart, um deine Ziele zu
erreichen. Du bist bereit, langfristige Verp ichtungen einzugehen und nimmst deine Rolle und
Verantwortung in der Gesellschaft ernst.
  <% } %> 

  <% if ( planet1 === 'uranus' ) { %>
    Diese Konjunktion zwischen der Sonne im ersten Haus und Uranus verleiht dir eine einzigartige
und originelle Identität. Du bist ein unkonventioneller und unabhängiger Geist, der bereit ist, die
Grenzen zu überschreiten und neue Wege zu gehen. Du fühlst dich von Freiheit und Individualität
angezogen und hast den Mut, deine eigene Einzigartigkeit auszudrücken. Deine Identität ist
geprägt von einem starken Sinn für Authentizität und Innovation, und du bringst frische und
aufregende Ideen in die Welt.
  <% } %>

  <% if ( planet1 === 'neptune' ) { %>
    Mit dieser Konjunktion zwischen der Sonne im ersten Haus und Neptun besitzt du eine tiefe
Verbindung zur spirituellen Dimension deiner Identität. Du bist ein Träumer und Visionär, der von
höheren Ebenen des Bewusstseins und der Kreativität inspiriert wird. Deine Identität ist geprägt
von Empathie, Sensibilität und Mitgefühl. Du hast eine starke Intuition und die Fähigkeit, dich mit
dem Universum auf einer tiefen Ebene zu verbinden. Du bringst spirituelle Weisheit und eine
inspirierende Aura in dein Leben und beein usst andere Menschen auf eine tiefgreifende Weise.
  <% } %>

  <% if ( planet1 === 'pluto' ) { %>
    Diese Konjunktion zwischen der Sonne im ersten Haus und Pluto verleiht dir eine immense innere
Kraft und Transformation in Bezug auf deine Identität. Du bist ein Mensch von großer Tiefe und
Intensität. Deine Identität ist geprägt von einem tiefen Verständnis der Macht und der Fähigkeit
zur Selbsterneuerung. Du bist bereit, dich tiefgreifenden Veränderungen zu unterziehen und deine
eigene Persönlichkeit auf eine transformative Weise zu entwickeln. Du hast eine magnetische
Ausstrahlung und bist in der Lage, andere Menschen zu inspirieren und zu beein ussen.
  <% } %> 

<% } %>

<% if ( planet2 === 'mercury' ) { %>
  ☿ Merkur 
<% } %>

<% if ( planet2 === 'venus') { %>
  ♀ Venus
<% } %> 

<% if ( planet2 === 'mars' ) { %>
  ♂ Mars
<% } %>

<% if ( planet2 === 'jupiter' ) { %>
  ♃ Jupiter
<% } %>

<% if ( planet2 === 'saturn') { %>
  ♄ Saturn
<% } %> 

<% if ( planet2 === 'uranus' ) { %>
  ♅ Uranus
<% } %>

<% if ( planet2 === 'neptune' ) { %>
  ♆ Neptun 
<% } %>

<% if ( planet2 === 'pluto' ) { %>
  ♇ Pluto
<% } %>

<% if ( planet2 === 'northnode' ) { %>
  ♆ Neptun 
<% } %>

<% if ( planet2 === 'ascendant' ) { %>
  ♇ Pluto
<% } %>

<% if ( planet2 === 'midheaven') { %>
  ☉ Sonne
<% } %> 
