<% if (key === 'sun') { %>
  <h5> ☉ Sonne </h5>
  <ul>
    <li class="plus"> Unabhängig von Reflexzwängen. Größtmöglicher gesellschaftlicher Freiraum. </li>
    <li class="minus">
      Opprtunistisch. Lebt nach Zeitströmungen unabhängig von der eigenen Individualität. 
      Weltfremd, unpraktisch.
    </li>
  </ul> 
<% } %> 
<% if (key === 'moon') { %>
  <h5> ☽ Mond </h5>
  <ul>
    <li class="plus"> Im Seelischen unabhängig. Emotional unangreifbar. </li>
    <li class="minus"> Seelisch labil oder einsam. Unklarheit über die eigenen Empfindungen. </li>
  </ul> 
<% } %> 
<% if (key === 'mercury') { %>
  <h5> ☿ Merkur </h5>
  <ul>
    <li class="plus">
      Größtmögliche Freiheit und Unabhängigkeit in der Bewältigung von Eindrücken. 
      Denken und seelische Aussteuerung unabhängig von Umweltbedingungen. Intelektuelles Erfassen von Hintergründigem.
    </li>
    <li class="minus">
      Intelektuelle Außenseiterposition. Unfähig, sich an Umweltgegebenheiten anzupassen.
      Reaktionsgelähmt oder mangelnde Klarheit im Ausdruck.
    </li>
  </ul>  
<% } %> 
<% if (key === 'venus') { %>
  <h5> ♀ Venus </h5>
  <ul>
    <li class="plus"> Idealistisch und künstlerisch, malerisch begabt. Uneingeschränkte Begegnungsoffenheit. </li>
    <li class="minus">
      Unbewusste Angst, vom Partner, oder anderen durschaut zu werden. 
      Neigt deswegen zu Verständnisschwierigkeiten in Beziehungen.
    </li>
  </ul>  
<% } %> 
<% if (key === 'mars') { %>
  <h5> ♂ Mars </h5>
  <ul>
    <li class="plus"> Kein Interesse an Oberflächlichem. </li>
    <li class="minus"> Orientierungslos in der Entfaltung instiktiven Verhaltens, oder weltfremd. </li>
  </ul> 
<% } %> 
<% if (key === 'jupiter') { %>
  <h5> ♃ Jupiter </h5>
  <ul>
    <li class="plus"> Oft sehr phantasiebegabt, sensibel und einfühlsam. Moralisch integer und unbestechlich. </li>
    <li class="minus"> Zu sehr durch Mystizismus beeinflussbar. </li>
  </ul> 
<% } %> 
<% if (key === 'saturn') { %>
  <h5> ♄ Saturn </h5>
  <ul>
    <li class="plus"> 
      Gibt wenig auf Äußerlichkeiten und lässt sich nicht durch Titel oder Stellung beeindrucken. 
      Versucht, hinter die Dinge zu blicken. 
    </li>
    <li class="minus"> Mangel an Zuverlässigkeit. Undiszipliniert. </li>
  </ul>  
<% } %> 
<% if (key === 'uranus') { %>
  <h5> ♅ Uranus </h5>
  <ul>
    <li class="plus"> Außergewöhnliches, kreatives Potential. Meist künstlerisch-technische Begabung. </li>
    <li class="minus"> Gefahr des Realitätsverlustes, psychische Erkrankung. </li>
  </ul> 
<% } %> 
<% if (key === 'neptune') { %>
  <h5> ♆ Neptun </h5>
  <ul>
    <li class="plus"> Verlässliche Intuition. Bleibt von autoritärer oder bürokratischer Willkür unbehelligt. </li>
    <li class="minus"> Weltfremd und unrealistisch. Eventuell Sonderling der Gesellschaft. </li>
  </ul> 
<% } %> 
<% if (key === 'pluto') { %>
  <h5> ♇ Pluto </h5>
  <ul>
    <li class="plus"> Neigt zu symbolhaft, magischer Denkweise. Unabhängig von geistigen Traditionen. </li>
    <li class="minus"> In Kriesensituationen stark erhöhte psychische Labilität. </li>
  </ul> 
<% } %> 
<% if (key === 'ascendant') { %>
  <h5>AC Aszendent:</h5>
  <ul>
    <li class="plus">...</li>
    <li class="minus">...</li>
  </ul> 
<% } %> 
