<% if (key === 'sun') { %>
  <h5> ☉ Sonne </h5>
  <ul>
    <li class="plus"> Kann Interessen anderer erkennen und danach handeln. Konsequente und logische Verhaltensmuster. </li>
    <li class="minus"> Dogmatische, bis hin zu unerbitterlichen Ansichten. Zug ins Destruktive. </li>
  </ul> 
<% } %> 
<% if (key === 'moon') { %>
  <h5> ☽ Mond </h5>
  <ul>
    <li class="plus"> Beständig und konsequent im Empfinden. </li>
    <li class="minus"> Mangelnde emotionale Instinktsicherheit. </li>
  </ul>  
<% } %> 
<% if (key === 'mercury') { %>
  <h5> ☿ Merkur </h5>
  <ul>
    <li class="plus"> Klare Standpunkte und geradlinige Denkweise. Erkennt allgemeingültige Aussagen. </li>
    <li class="minus"> Denken kann als zwanghaft empfunden werden. Schlaflosigkeit oder Verbohrtheit. </li>
  </ul> 
<% } %> 
<% if (key === 'venus') { %>
  <h5> ♀ Venus </h5>
  <ul>
    <li class="plus">
      Charismatisch, leidenschaftlich, erotisch. Intensive und unbedingte zwischenmenschliche Beziehungen.
    </li>
    <li class="minus">
      Eventuell zwanghaftes Liebesleben, Zug ins Morbide, den Partner belastend.
      Chronische innere Anspannung.
    </li>
  </ul>  
<% } %> 
<% if (key === 'mars') { %>
  <h5> ♂ Mars </h5>
  <ul>
    <li class="plus">
      Konsequent in der Durchsetzung instinktiver Eigenart. 
      Verwirklicht im subjektiven Verhalten übergeordnete (familienbezogene) Interessen.
    </li>
    <li class="minus">
      Tendenz, die Realität an die eignen Vorstellung anzupassen. 
      Eventuell auf Kosten der Gesundheit. Neigt zu Schuldgefühlen.
    </li>
  </ul>  
<% } %> 
<% if (key === 'jupiter') { %>
  <h5> ♃ Jupiter </h5>
  <ul>
    <li class="plus"> Überzeugunskraft und Führungsfäöhigkeiten. Charismatisch und Chance auf außergewöhnlichen Erfolg. </li>
    <li class="minus"> Zwanghafter Überzeugungsdrang und selbsverherrlichend. Verträgt wenig Kritik, unbelehrbar. </li>
  </ul> 
<% } %> 
<% if (key === 'saturn') { %>
  <h5> ♄ Saturn </h5>
  <ul>
    <li class="plus"> Setzt auf klare und eindeutige Richtlinien, die gewissenhaft verfolgt werden. </li>
    <li class="minus"> Prinzipienreiter. Unfähigkeit zum Umdenken. </li>
  </ul>  
<% } %> 
<% if (key === 'uranus') { %>
  <h5> ♅ Uranus </h5>
  <ul>
    <li class="plus"> Geistige Flexibilität. Kann mit unterschiedlichen Ansichten umgehen. </li>
    <li class="minus"> Kann unter widersprüchlichen Wertmaßstäben leiden. </li>
  </ul>  
<% } %> 
<% if (key === 'neptune') { %>
  <h5> ♆ Neptun </h5>
  <ul>
    <li class="plus"> Undogmatisch, geistige Unabhängigkeit. </li>
    <li class="minus"> Prinzipienlosigkeit oder fehlender Halt durch (geistige) Gruppenbildung. </li>
  </ul>  
<% } %> 
<% if (key === 'pluto') { %>
  <h5> ♇ Pluto </h5>
  <ul>
    <li class="plus"> In eine (geistige) Tradition eingebunden. Klaren Prinzipien verpflichtet. </li>
    <li class="minus"> Mangelnde geistige Eigenständigkeit und durch Schuldgefühle manipulierbar. </li>
  </ul>   
<% } %> 
<% if (key === 'ascendant') { %>
  <h5>AC Aszendent:</h5>
  <ul>
    <li class="plus">...</li>
    <li class="minus">...</li>
  </ul>  
<% } %> 
