<% if (key === 'sun') { %>
  <h5> ☉ Sonne </h5>
  <ul>
    <li class="plus"> Individuell und originell, löst sich von den Erwartungen der Familie. </li>
    <li class="minus"> Verliert den roten Faden, oder führt Angefangenes nicht zu Ende. Widersprüchliches Verhalten. </li>
  </ul> 
<% } %> 
<% if (key === 'moon') { %>
  <h5> ☽ Mond </h5>
  <ul>
    <li class="plus"> Auf seelischer Ebene sehr eigenständig. </li>
    <li class="minus"> Fürchtet emotionale Verbindlichkeiten. </li>
  </ul>   
<% } %> 
<% if (key === 'mercury') { %>
  <h5> ☿ Merkur </h5>
  <ul>
    <li class="plus"> Schnelle, unabhängige Auffassungsgabe. Wahrscheinlich originelle bis geniale Denkweise mit vielen Ideen.</li>
    <li class="minus"> Eigene Meinung widersprüchlich oder standpunktlos. Oft mit Nervenkrankheiten verbunden.</li>
  </ul>  
<% } %> 
<% if (key === 'venus') { %>
  <h5> ♀ Venus </h5>
  <ul>
    <li class="plus"> Spontan mit sich selbst, flexibel in den Einnahmequellen, wenig ortsgebunden. Musikalisch begabt.</li>
    <li class="minus"> Kann Bindungsängste bedeuten, oder auch unberechenbares Verhalten.</li>
  </ul>   
<% } %> 
<% if (key === 'mars') { %>
  <h5> ♂ Mars </h5>
  <ul>
    <li class="plus"> Handelt instinktiv und unkonventionell, dadurch unabhängig von typischen Reaktionsmustern. Kann Aggressionen kreativ bewältigen. </li>
    <li class="minus"> Lehnt zum Selbstzweck Konventionen ab, Rebellion. Kann auch sexuelle Unausgeglichenheit und unberechenbare Aggressionsausbrüche bedeuten. </li>
  </ul> 
<% } %> 
<% if (key === 'jupiter') { %>
  <h5> ♃ Jupiter </h5>
  <ul>
    <li class="plus"> Erfolg basiert auf Originalität, einer übergeordneten Weltsicht. Kosmopolit. </li>
    <li class="minus"> Tendiert zu surrealen Moralvorstellungen und utopischen Ideen. </li>
  </ul>   
<% } %> 
<% if (key === 'saturn') { %>
  <h5> ♄ Saturn </h5>
  <ul>
    <li class="plus">Überwindet auf kreative Weise konventionelle Sackgassen. </li>
    <li class="minus">Innerlich meist angespannt. </li>
  </ul>  
<% } %> 
<% if (key === 'uranus') { %>
  <h5> ♅ Uranus </h5>
  <ul>
    <li class="plus"> Gut entwickelte Individualität. Unterstützung durch Gleichgesinnte. </li>
    <li class="minus"> Übertriebene oder zwanghafte Originalität. </li>
  </ul>  
<% } %> 
<% if (key === 'neptune') { %>
  <h5> ♆ Neptun </h5>
  <ul>
    <li class="plus"> Erkennt das gemeinsame im Verschiedenen. </li>
    <li class="minus"> Angst vor Entwicklung eigener Persönlichkeit, ignoriert Widersprüche. </li>
  </ul>  
<% } %> 
<% if (key === 'pluto') { %>
  <h5> ♇ Pluto </h5>
  <ul>
    <li class="plus"> Kann neue gesellschaftliche Maßstäbe setzen. </li>
    <li class="minus"> Entwickelt und lebt eindeutige Prinzipien nur mühsam. </li>
  </ul> 
<% } %> 
<% if (key === 'ascendant') { %>
  <h5>AC Aszendent:</h5>
  <ul>
    <li class="plus">...</li>
    <li class="minus">...</li>
  </ul>  
<% } %> 
