<% if (key === 'sun') { %>
  <h5> ☉ Sonne </h5>
  <ul>
    <li class="plus"> Zuverlässig, pragmatisch, ordentlich und hilfsbereit. </li>
    <li class="minus"> Neigt zu Farblosigkeit und vertraut blind Autoritäten. Mitläufer. </li>
  </ul>  
<% } %> 
<% if (key === 'moon') { %>
  <h5> ☽ Mond </h5>
  <ul>
    <li class="plus"> Gute Beobachtungsfähigkeit und analytische Denkweise. </li>
    <li class="minus"> Zu starke Gefühlskontrolle und Tendenz zu psychosomatischen Erkranungen. Auch empfindlich gegenüber Kritik. </li>
  </ul>  
<% } %> 
<% if (key === 'mercury') { %>
  <h5> ☿ Merkur </h5>
  <ul>
    <li class="plus"> Pragmatisch, realistisch und vernünftig im Bewältigen von Eindrücken. </li>
    <li class="minus"> Stellt eventuell die Effektivität, oder Nutzen, über die Moral. </li>
  </ul>  
<% } %> 
<% if (key === 'venus') { %>
  <h5> ♀ Venus </h5>
  <ul>
    <li class="plus"> Pragmatisches, realistisches Verhältnis zur Erotik. </li>
    <li class="minus"> Tendiert zur Scheinhingabe, die "schöne Fassade" ersetzt echte Genußfähigkeit. </li>
  </ul>  
<% } %> 
<% if (key === 'mars') { %>
  <h5> ♂ Mars </h5>
  <ul>
    <li class="plus"> Rebelliert gegen Begrenzungen und Anpassungszwang und setzt sich durch. Scharfe Auffassungsgabe. </li>
    <li class="minus"> Überempfindlich gegen Reglements und Schwierigkeit sich in Strukturen einzufinden. Überreagiert auf Angriffe. </li>
  </ul>  
<% } %> 
<% if (key === 'jupiter') { %>
  <h5> ♃ Jupiter </h5>
  <ul>
    <li class="plus"> Schnelle Situationserfassung der nahen Umgebung. Sprachlich begabt und sehr leistungsfähig. </li>
    <li class="minus"> Voreilig, ungenau, schlampig. Großzügiger, als angemessen oder möglich. </li>
  </ul>  
<% } %> 
<% if (key === 'saturn') { %>
  <h5> ♄ Saturn </h5>
  <ul>
    <li class="plus"> Gute Anpassungsfähigkeit und soziale Ader. Dadurch für Dienstleistungen geeignet. </li>
    <li class="minus"> Unterdrückt persönliche Interessen, um nicht aufzufallen. </li>
  </ul>  
<% } %> 
<% if (key === 'uranus') { %>
  <h5> ♅ Uranus </h5>
  <ul>
    <li class="plus"> Kann aus Anpassungsmustern ausbrechen. Besonders schnelles Reaktionsvermögen. </li>
    <li class="minus"> Widerspruch als Selbstzweck. </li>
  </ul>  
<% } %> 
<% if (key === 'neptune') { %>
  <h5> ♆ Neptun </h5>
  <ul>
    <li class="plus"> Völlig unabhängig von konventionellen Anpassungsmustern. Lässt sich nicht ködern. </li>
    <li class="minus"> Gefährdung durch die Betäubung wichtiger (seelischer) Reflexe. Eingeschränkte reaktionsfähigkeit. </li>
  </ul>  
<% } %> 
<% if (key === 'pluto') { %>
  <h5> ♇ Pluto </h5>
  <ul>
    <li class="plus"> Erscheint betont unabhängig und selbstbewusst. </li>
    <li class="minus"> Neigt zu unterbewussten masochistischen Mustern. </li>
  </ul>   
<% } %> 
<% if (key === 'ascendant') { %>
  <h5>AC Aszendent:</h5>
  <ul>
    <li class="plus">...</li>
    <li class="minus">...</li>
  </ul>  
<% } %> 