<% if (key === 'sun') { %>
  <h5> ☉ Sonne </h5>
  <ul>
    <li class="plus">
      Lebt in Einklang mit der Gesellschaft.
    </li>
    <li class="minus">
      Leistungs- und Karriereorientiert auf Kosten persönlicher Interessen.
    </li>
  </ul>  
<% } %> 
<% if (key === 'moon') { %>
  <h5> ☽ Mond </h5>
  <ul>
    <li class="plus">
      Ausgeprägtes soziales Gewissen und Gerechtigkeitssinn.
    </li>
    <li class="minus">
      Entfremdung von der eigenen Gefühlssphäre durch leistungsorientiertes Denken und Tendenz zu Schuldgefühlen.
    </li>
  </ul>  
<% } %> 
<% if (key === 'mercury') { %>
  <h5> ☿ Merkur </h5>
  <ul>
    <li class="plus">
      Kann maßgebliche Zeitströmungen auffassen und seelisch verarbeiten, eventuell auch aussprechen oder aufschreiben. 
      Kann sich intellektuell zuverlässig innerhalb vorgegebener Richtlinien bewegen.
    </li>
    <li class="minus">
      Langsame Auffassungsgabe, besonders in Kriesensituationen. Intellektuelle Scheuklappen.
    </li>
  </ul>  
<% } %> 
<% if (key === 'venus') { %>
  <h5> ♀ Venus </h5>
  <ul>
    <li class="plus">
      Attraktiv entsprechend dem Zeitgeist. Zuverlässig und treu in der Partnerschaft. 
      Ausgeprägtes Gerechtigkeitsempfinden.
    </li>
    <li class="minus">
      Misstrauen gegenüber dem anderen Geschlecht. 
      Benötigt viel Zeit um Vertrauen aufzubauen. Wirkt unterkühlt.
    </li>
  </ul>  
<% } %> 
<% if (key === 'mars') { %>
  <h5> ♂ Mars </h5>
  <ul>
    <li class="plus">Ausdauer und Ehrgeiz beim Verfolgen eigener Ziele. Hohe Selbstdisziplin.</li>
    <li class="minus">Aggressionshemmung, oder auch Neigung zu 'sadistischen' Verhaltensweisen.</li>
  </ul>  
<% } %> 
<% if (key === 'jupiter') { %>
  <h5> ♃ Jupiter </h5>
  <ul>
    <li class="plus"> Kann hohe gesellschaftliche Anerkennung erreichen. </li>
    <li class="minus"> Tendiert zum Opportunismus. Im persönlichen Umgang oft beschränkte Kontaktfähigkeit. </li>
  </ul>  
<% } %> 
<% if (key === 'saturn') { %>
  <h5> ♄ Saturn </h5>
  <ul>
    <li class="plus"> Kann sehr hochgesteckte Ziele erreichen. </li>
    <li class="minus">Vernachlässigt eigene Privatsphäre. </li>
  </ul>  
<% } %> 
<% if (key === 'uranus') { %>
  <h5> ♅ Uranus </h5>
  <ul>
    <li class="plus"> Kann außergewöhnliche gesellschaftliche Bedeutung erreichen. </li>
    <li class="minus">
      Leidet unter schwer eingrenzbaren Schuldgefühlen, die zur Aufgabe von Zielen führen können.
      Im Extremfall auf Erfolglosigkeit programmiert.
    </li>
  </ul>  
<% } %> 
<% if (key === 'neptune') { %>
  <h5> ♆ Neptun </h5>
  <ul>
    <li class="plus">
      Spirituelle Lebensorientierung und Denkweise. Versteht die Hintergründe gesellschaftlicher Konventionen.
      Psychologisch-therapeutische Begabung.
    </li>
    <li class="minus">
      Psychisch labil. Kann gesellschaftlichen Druck schwer ertragen. Betäubung von Ängsten und Schuldgefühlen. 
    </li>
  </ul>  
<% } %> 
<% if (key === 'pluto') { %>
  <h5> ♇ Pluto </h5>
  <ul>
    <li class="plus"> Zuverlässig und konsequent in außerpersönlichen Beziehungen. </li>
    <li class="minus"> Übertriebenes Machtstreben aus Angst vor der Macht anderer. </li>
  </ul>   
<% } %> 
<% if (key === 'ascendant') { %>
  <h5>AC Aszendent:</h5>
  <ul>
    <li class="plus">...</li>
    <li class="minus">...</li>
  </ul>  
<% } %> 