<% if (key === 'sun') { %>
  <h5> ☉ Sonne </h5>
  <ul>
    <li class="plus"> Starke Lebenskraft, subjektive Folgerichtigkeit im Verhalten. Genussfähig. </li>
    <li class="minus"> 
      Angst und Ablehnung von Verantwortung, verspielt und wehleidig. 
      Will ständig gelobt und bewundert werden, egoistisch.
    </li>
  </ul>  
<% } %> 
<% if (key === 'moon') { %>
  <h5> ☽ Mond </h5>
  <ul>
    <li class="plus"> Spricht die Emotionen anderer an und ist oft beliebt. Kann Gefühle gut ausdrücken. </li>
    <li class="minus"> Geschlechterrollenirritation, Zug ins Manipulative. Unbeständiges Verhalten. </li>
  </ul>  
<% } %> 
<% if (key === 'mercury') { %>
  <h5> ☿ Merkur </h5>
  <ul>
    <li class="plus">Gute verbale oder schriftliche Ausdrucksfähigkeit. </li>
    <li class="minus"> 
      Zerredet den eigenen seelischen Ausdruck. Versuch emotionaler Unangreifbarkeit durch Scheinneutralität.
    </li>
  </ul>  
<% } %> 
<% if (key === 'venus') { %>
  <h5> ♀ Venus </h5>
  <ul>
    <li class="plus"> Hingabe durch Gefühlsausdruck. Künstlerisches Talent. </li>
    <li class="minus"> Eitel und selbstherrlich, insbesondere in persönlichen Beziehungen. </li>
  </ul>  
<% } %> 
<% if (key === 'mars') { %>
  <h5>♂ Mars </h5>
  <ul>
    <li class="plus"> 
      Sehr hohes Energiepotential und ausgeprägter Sinn für Gerechtigkeit. Starke Ausdrucksfähigkeit.
    </li>
    <li class="minus"> Selbstgerecht, eitel oder schnell beleidigt. Tendenz zur Selbstüberforderung. </li>
  </ul>  
<% } %> 
<% if (key === 'jupiter') { %>
  <h5> ♃ Jupiter </h5>
  <ul>
    <li class="plus"> Oft schneller Erfolg in der Verwirklichung persönlicher Interessen. Natürliche Autorität und tolerantes Verhalten.</li>
    <li class="minus">Großspurig und naiv. Handelt vorwiegend lustbetont. Selbstüberschätzung.</li>
  </ul>  
<% } %> 
<% if (key === 'saturn') { %>
  <h5> ♄ Saturn </h5>
  <ul>
    <li class="plus">Ehrgeizig und konsequent in der Verfolgung hochgesteckter Ziele.</li>
    <li class="minus">Keine Klarheit im Gefühlsleben. Neigt zu Depressionen.</li>
  </ul>  
<% } %> 
<% if (key === 'uranus') { %>
  <h5> ♅ Uranus </h5>
  <ul>
    <li class="plus"> Emotionale Ausdrucksweise kreativ und flexibel. </li>
    <li class="minus"> Kann sich nur schwer festlegen. Angst vor Verbindlichkeiten. </li>
  </ul>  
<% } %> 
<% if (key === 'neptune') { %>
  <h5> ♆ Neptun </h5>
  <ul>
    <li class="plus"> Wahrhaftig und sehr flexibel im Selbstausdruck. Sensibel und emphatisch. </li>
    <li class="minus"> Steht nicht zu seinen Handlungen. Schwankender Charakter möglich. </li>
  </ul>  
<% } %> 
<% if (key === 'pluto') { %>
  <h5> ♇ Pluto </h5>
  <ul>
    <li class="plus"> Dazu fähig, intensive Gefühle auszudrücken. Führungsqualität. </li>
    <li class="minus"> Übertriebener Ehrgeiz. Mangel an Spontaneität. </li>
  </ul>   
<% } %> 
<% if (key === 'ascendant') { %>
  <h5>AC Aszendent:</h5>
  <ul>
    <li class="plus">...</li>
    <li class="minus">...</li>
  </ul>  
<% } %> 