<% if (key === 'sun') { %>
  <h5> ☉ Sonne </h5>
  <ul>
    <li class="plus">Ausdauernd und meist zuverlässig. Praktisches und realistisches Verhalten.</li>
    <li class="minus">Pflegmatisch, inflexibel und neigt zu Vorurteilen. Hängt von der Meinung anderer ab.</li>
  </ul>  
<% } %> 
<% if (key === 'moon') { %>
  <h5> ☽ Mond </h5>
  <ul>
    <li class="plus">Künstlerisches Empfinden. Kann sich gut in Gruppendynamiken einfühlen und damit Probleme lösen.</li>
    <li class="minus">Unrealistisch, weltfremd, absurde Existensängste.</li>
  </ul>  
<% } %> 
<% if (key === 'mercury') { %>
  <h5> ☿ Merkur </h5>
  <ul>
    <li class="plus"> Gründliche und realistische Umweltbewältigung. </li>
    <li class="minus"> 
      Subjektiv und traditionslos im Denken. Opportunistisch aus Sicherheitsbedürfnis, "geistige Phlegma".
    </li>
  </ul>
<% } %> 
<% if (key === 'venus') { %>
  <h5> ♀ Venus </h5>
  <ul>
    <li class="plus"> 
      Besondere Kontaktfähigkeit, allgemein beliebt. Kann mit Menschen umgehen. Künstlerisch ambitioniert.
    </li>
    <li class="minus"> Zu nachgiebig dem Partner gegnüber. Vielfach zu sehr auf die eigene Wirkung auf andere bedacht. </li>
  </ul>  
<% } %> 
<% if (key === 'mars') { %>
  <h5> ♂ Mars </h5>
  <ul>
    <li class="plus"> Beständig und pragmatisch im Durchsetzen eigener Interessen. Eigenverantwortlich und genussorientiert.</li>
    <li class="minus"> Existenzangst. Angst Risiken einzugehen. Eigensinnig. Überbetonung auf Materiellem. </li>
  </ul>  
<% } %> 
<% if (key === 'jupiter') { %>
  <h5> ♃ Jupiter </h5>
  <ul>
    <li class="plus"> Wohlstand, materielle Sicherheit, beruflicher Erfolg und robuste Gesundheit. </li>
    <li class="minus"> Existenzangst. Materialistische Grundeinstellung. </li>
  </ul>  
<% } %> 
<% if (key === 'saturn') { %>
  <h5> ♄ Saturn </h5>
  <ul>
    <li class="plus"> Vorsichtig. Verantwortungsvoll in der materiellen Absicherung. </li>
    <li class="minus"> Mißtrauen, grenzt sich zu sehr gegen andere ab. </li>
  </ul>  
<% } %> 
<% if (key === 'uranus') { %>
  <h5> ♅ Uranus </h5>
  <ul>
    <li class="plus"> Ausgeprägte Individualität. Unterliegt kaum sozialen Vorurteilen. </li>
    <li class="minus"> Erlebt sich als wurzellos. </li>
  </ul>  
<% } %> 
<% if (key === 'neptune') { %>
  <h5> ♆ Neptun </h5>
  <ul>
    <li class="plus"> Intitive Existenssicherung. Unabhängigkeit von Kriterien der Sippe. </li>
    <li class="minus"> Orientierungslosigkeit, schwaches Immunsystem, manipulierbar. </li>
  </ul>  
<% } %> 
<% if (key === 'pluto') { %>
  <h5> ♇ Pluto </h5>
  <ul>
    <li class="plus"> Fähigkeit, es zu außergewöhnlich hohem materiellen Wohlstand zu bringen. </li>
    <li class="minus"> Hinweis auf massive Existenzängste, die bis hin zum Geiz führen können. </li>
  </ul>   
<% } %> 
<% if (key === 'ascendant') { %>
  <h5> AC Aszendent </h5>
  <ul>
    <li class="plus">...</li>
    <li class="minus">...</li>
  </ul>  
<% } %> 
