<% if (key === 'sun') { %>
  <h5> ☉ Sonne </h5>
  <ul>
    <li class="plus">
      Verhalten im Sinne der eigenen seelischenGrundlagen. 
      Sich selbst treu und wenig Interesse an Oberflächlichkeiten.
    </li>
    <li class="minus"> Verschlossen und Mangel an sozialem Kontakt. </li>
  </ul>  
<% } %> 
<% if (key === 'moon') { %>
  <h5> ☽ Mond </h5>
  <ul>
    <li class="plus"> Ausgeprägte Emotionalität und Empfindungsfähigkeit. Sechster Sinn. </li>
    <li class="minus"> Tendenz zu Überempfindlichkeit und Gefühlsduselei. </li>
  </ul>  
<% } %> 
<% if (key === 'mercury') { %>
  <h5> ☿ Merkur </h5>
  <ul>
    <li class="plus"> Schöpferische Bewältigung von Eindrücken. Emotionaler Zugang zu Schrift und Sprache. </li>
    <li class="minus"> 
      Übertriebene subjektive Auseinandersetzung mit den eigenen seelischen Prozessen. 
      Probleme mit logischer Argumentation.
    </li>
  </ul>  
<% } %> 
<% if (key === 'venus') { %>
  <h5> ♀ Venus </h5>
  <ul>
    <li class="plus"> Schöpferische Erotik. Emotionaler Zugang zum Partner. Vertaut den eigenen seelischen Kräften. </li>
    <li class="minus"> 
      Stellt das eigene Licht unter den Scheffel. Beziehungen und die eigene Selbstsicherheit sehr stimmungsabhängig. 
    </li>
  </ul>  
<% } %> 
<% if (key === 'mars') { %>
  <h5> ♂ Mars </h5>
  <ul>
    <li class="plus">Starkes Bedürfnis nach schöpferischem Selbstausdruck.</li>
    <li class="minus">Selbstzerstörerisches Verhalten. Tyrannei der Mitmenschen.</li>
  </ul>  
<% } %> 
<% if (key === 'jupiter') { %>
  <h5> ♃ Jupiter </h5>
  <ul>
    <li class="plus"> Grundsätzlich positive Lebenseinstellung. Großes seelisches Energiereservoir. </li>
    <li class="minus"> Nimmt das eigene Seelenleben zu wichtig. </li>
  </ul>  
<% } %> 
<% if (key === 'saturn') { %>
  <h5> ♄ Saturn </h5>
  <ul>
    <li class="plus"> Fähig, sich gegen Unerwünschstes emotional abzugrenzen. </li>
    <li class="minus"> Gefühlsblockaden. </li>
  </ul>  
<% } %> 
<% if (key === 'uranus') { %>
  <h5> ♅ Uranus </h5>
  <ul>
    <li class="plus"> Spannungen werden oft schöpferisch genutzt. Seelische Kreativität. </li>
    <li class="minus"> Angst vor eindeutigen Empfindungen, oder unfähig diese wahrzunehmen. </li>
  </ul>  
<% } %> 
<% if (key === 'neptune') { %>
  <h5>♆ Neptun:</h5>
  <ul>
    <li class="plus"> Gute Verbindung zum Unterbeussten. Spirituell veranlagt. </li>
    <li class="minus"> Betäubung der Emotionen. </li>
  </ul>  
<% } %> 
<% if (key === 'pluto') { %>
  <h5> ♇ Pluto </h5>
  <ul>
    <li class="plus"> Zu intensivsten EMpfindungen fähig. </li>
    <li class="minus"> Neigt dazu, Emotionen durch Vorstellungen zu ersetzen. Verdrängungsstrategie. </li>
  </ul>   
<% } %> 
<% if (key === 'ascendant') { %>
  <h5> AC Aszendent </h5>
  <ul>
    <li class="plus">...</li>
    <li class="minus">...</li>
  </ul>  
<% } %> 