<% if (key === 'aries') { %>
  <h4>♈ Widder:</h4>
  <p>&#10139; Der Widder bewohnt das zwölfte Haus.</p> 
<% } %> 
<% if (key === 'taurus') { %>
  <h4>♉Stier</h4>
  <p>&#10139; Der Stier bewohnt das zwölfte Haus.</p> 
<% } %> 
<% if (key === 'gemini') { %>
  <h4> ♊ Zwilling:</h4>
  <p>&#10139; Die Zwillinge bewohnen das zwölfte Haus.</p>  
<% } %> 
<% if (key === 'cancer') { %>
  <h4>♋ Krebs:</h4>
  <p>&#10139; Der Krebs bewohnt das zwölfte Haus.</p> 
<% } %> 
<% if (key === 'leo') { %>
  <h4>♌ Löwe:</h4>
  <p>&#10139; Der Löwe bewohnt das zwölfte Haus.</p> 
<% } %> 
<% if (key === 'virgo') { %>
  <h4>♍ Jungfrau:</h4>
  <p>&#10139; Der Jungfrau bewohnt das zwölfte Haus.</p>  
<% } %> 
<% if (key === 'libra') { %>
  <h4>♎ Waage:</h4>
  <p>&#10139; Die Waage gestaltet das zwölfte Haus.</p> 
<% } %> 
<% if (key === 'scorpio') { %>
  <h4>♏ Skorpion:</h4>
  <p>&#10139; Der Skorpion bewohnt das zwölfte Haus.</p> 
<% } %> 
<% if (key === 'sagittarius') { %>
  <h4>♐ Schütze:</h4>
  <p>&#10139; Der Schütze bewohnt das zwölfte Haus.</p> 
<% } %> 
<% if (key === 'capricorn') { %>
  <h4>♑ Steinbock:</h4>
  <p>&#10139; Der Steinbock bewohnt das zwölfte Haus.</p> 
<% } %> 
<% if (key === 'aquarius') { %>
  <h4>♒ Wassermann:</h4>
  <p>&#10139; Der Wassermann bewohnt das zwölfte Haus.</p>  
<% } %> 
<% if (key === 'pisces') { %>
  <h4>♓ Fische:</h4>
  <p>&#10139; Die Fische schwimmen im zwölfte Haus.</p>  
<% } %> 
