<p>
  <i>
    "Krankheiten, Krankenhaus, Gefängnis, Kloster, geheime Feinde, oder auch das Namenlose, Nirvana, 
    Auflösung des Stofflichen, Überwindung des körperlichen, überlegen bis weltfremd, idealistisch, undurchschaubar."
  </i>
</p>