
<h6> 
  <% if ( planet1 === 'sun' ) { %>
    ☉ Sonne 
  <% } %>
  <% if ( planet1 === 'moon' ) { %>
    ☽ Mond 
  <% } %>
  <% if ( planet1 === 'mercury' ) { %>
    ☿ Merkur 
  <% } %>

  <% if ( planet1 === 'venus') { %>
    ♀ Venus
  <% } %> 

  <% if ( planet1 === 'mars' ) { %>
    ♂ Mars
  <% } %>

  <% if ( planet1 === 'jupiter' ) { %>
    ♃ Jupiter
  <% } %>

  <% if ( planet1 === 'saturn') { %>
    ♄ Saturn
  <% } %> 

  <% if ( planet1 === 'uranus' ) { %>
    ♅ Uranus
  <% } %>

  <% if ( planet1 === 'neptune' ) { %>
    ♆ Neptun 
  <% } %>

  <% if ( planet1 === 'pluto' ) { %>
    ♇ Pluto
  <% } %>

  in Konjunktion mit

  <% if ( planet2 === 'sun') { %>
    ☉ Sonne
  <% } %> 

  <% if ( planet2 === 'moon' ) { %>
    ☽ Mond 
  <% } %>

  <% if ( planet2 === 'mercury' ) { %>
    ☿ Merkur 
  <% } %>

  <% if ( planet2 === 'venus') { %>
    ♀ Venus
  <% } %> 

  <% if ( planet2 === 'mars' ) { %>
    ♂ Mars
  <% } %>

  <% if ( planet2 === 'jupiter' ) { %>
    ♃ Jupiter
  <% } %>

  <% if ( planet2 === 'saturn') { %>
    ♄ Saturn
  <% } %> 

  <% if ( planet2 === 'uranus' ) { %>
    ♅ Uranus
  <% } %>

  <% if ( planet2 === 'neptune' ) { %>
    ♆ Neptun 
  <% } %>

  <% if ( planet2 === 'pluto' ) { %>
    ♇ Pluto
  <% } %>

  - Aspektstärke: 
  <%= orbis %> 
</h6>

<p> 
  <% if ( planet1 === 'sun' ) { %>

    <% if ( planet2 === 'moon' ) { %>
      Diese Konjunktion zwischen der Sonne im zweiten Haus und dem Mond verstärkt deine
emotionale Verbundenheit mit materiellen Werten und Ressourcen. Du bist sensibel für den
Ein uss von Geld und Besitz auf deine emotionale Sicherheit. Deine Identität ist eng mit deinem
materiellen Wohlstand verbunden, und du kannst dich durch den Besitz von Dingen und die
Sicherheit nanzieller Stabilität emotional erfüllt fühlen. Es ist wichtig für dich, eine Balance
zwischen deinen emotionalen Bedürfnissen und deinem materiellen Streben zu nden. 
    <% } %>
  
    <% if ( planet2 === 'mercury' ) { %>
      Mit dieser Konjunktion zwischen der Sonne im zweiten Haus und Merkur hast du eine starke
Verbindung zwischen deiner Identität und deinem Denkvermögen in Bezug auf materielle
Angelegenheiten. Du bist ein scharfsinniger und strategischer Denker, wenn es um Finanzen und
Werte geht. Deine Identität ist geprägt von einem praktischen und geschäftlichen Ansatz, wenn es
darum geht, deine nanziellen Ziele zu erreichen. Du bist in der Lage, klare und überlegte
Entscheidungen in Bezug auf Geld und Besitz zu tre en. 
    <% } %>
  
    <% if ( planet2 === 'venus') { %>
      Diese Konjunktion zwischen der Sonne im zweiten Haus und Venus verstärkt deine natürliche
Anziehungskraft und Freude an materiellen Genüssen. Du schenkst Schönheit, Kunst und Luxus
eine hohe Bedeutung in deinem Leben. Deine Identität ist geprägt von einem starken Sinn für
Ästhetik und Wertigkeit. Du strebst nach harmonischen und sinnlichen Erfahrungen in Bezug auf
Geld und Besitz. Du bringst eine warme und liebenswürdige Energie in deine nanziellen
Angelegenheiten ein und kannst andere Menschen mit deiner Großzügigkeit und deinem Charme
beein ussen.
    <% } %> 
  
    <% if ( planet2 === 'mars' ) { %>
      Mit dieser Konjunktion zwischen der Sonne im zweiten Haus und Mars besitzt du eine starke
Entschlossenheit und Energie, wenn es um materielle Angelegenheiten geht. Du bist bereit, hart
für deine nanziellen Ziele zu arbeiten und deine Ressourcen e ektiv einzusetzen. Deine Identität
ist geprägt von einem kämpferischen und ehrgeizigen Ansatz, um finanzielle Sicherheit und
Wohlstand zu erreichen. Du bist in der Lage, Hindernisse zu überwinden und Risiken einzugehen,
um deine finanziellen Ziele zu verwirklichen.
    <% } %>
  
    <% if ( planet2 === 'jupiter' ) { %>
      Mit dieser Konjunktion zwischen der Sonne im zweiten Haus und Jupiter besitzt du eine
expansive und großzügige Haltung in Bezug auf Geld und Besitz. Du hast einen optimistischen
Glauben an deine nanziellen Möglichkeiten und eine positive Einstellung zum materiellen
Wohlstand. Deine Identität ist geprägt von einem Sinn für Fülle und Über uss. Du neigst dazu,
großzügig zu sein und andere Menschen mit deinem Wohlstand zu unterstützen. Du bringst 
eine natürliche Autorität und Weisheit in finanzielle Angelegenheiten ein und bist bereit, finanzielle
Risiken einzugehen, um Wachstum und Expansion zu erreichen.
    <% } %>
  
    <% if ( planet2 === 'saturn') { %>
      Diese Konjunktion zwischen der Sonne im zweiten Haus und Saturn verleiht dir eine ernsthafte
und verantwortungsbewusste Einstellung in Bezug auf Geld und Besitz. Du bist ein Mensch mit
starken Prinzipien und einem klaren Verständnis für nanzielle Verantwortung. Deine Identität ist
geprägt von einem strengen Arbeitsmoral und einer disziplinierten Herangehensweise an
nanzielle Angelegenheiten. Du bist bereit, langfristige Pläne zu machen und geduldig auf den
Aufbau von nanzieller Sicherheit hinzuarbeiten. Du bringst Stabilität und Zuverlässigkeit in deine
nanziellen Entscheidungen ein.
    <% } %> 
  
    <% if ( planet2 === 'uranus' ) { %>
      Mit dieser Konjunktion zwischen der Sonne im zweiten Haus und Uranus besitzt du eine originelle
und unkonventionelle Einstellung in Bezug auf Geld und Besitz. Du bist bereit, unkonventionelle
Wege einzuschlagen und neue Ansätze zu nden, um nanzielle Freiheit und Unabhängigkeit zu
erreichen. Deine Identität ist geprägt von einem Verlangen nach nanzieller Innovation und einem
Wunsch, dich von traditionellen nanziellen Strukturen zu lösen. Du bringst Originalität und
Er ndungsgeist in deine nanziellen Bemühungen ein und kannst unerwartete Chancen nutzen.
    <% } %>
  
    <% if ( planet2 === 'neptune' ) { %>
      Diese Konjunktion zwischen der Sonne im zweiten Haus und Neptun verleiht dir eine kreative und
intuitive Einstellung in Bezug auf Geld und Besitz. Du bist empfänglich für die spirituelle
Dimension von Reichtum und kannst dich mit der höheren Bedeutung von materiellen Ressourcen
verbinden. Deine Identität ist geprägt von einem tiefen Verständnis für die Verbindung zwischen
Materie und Spiritualität. Du kannst Geld und Besitz als ein Mittel zur Verwirklichung deiner
spirituellen Ziele und zur Erfüllung deiner Träume sehen. Du bringst Mitgefühl und Inspiration in
deine nanziellen Entscheidungen ein und kannst andere Menschen auf einer tieferen Ebene
beein ussen.
    <% } %>
  
    <% if ( planet2 === 'pluto' ) { %>
      Diese Konjunktion zwischen der Sonne im zweiten Haus und Pluto verleiht dir eine starke Macht
und Intensität in Bezug auf Geld und Besitz. Du bist bereit, tiefgreifende Veränderungen und
Transformationen in deinen nanziellen Angelegenheiten zu erleben. Deine Identität ist geprägt
von einer tiefen Verbindung zu deinem nanziellen Potenzial und einem starken Wunsch nach
Kontrolle über deine Ressourcen. Du bist entschlossen und fokussiert darauf, finanziellen
Wohlstand und Sicherheit zu erlangen. Du bringst eine immense Willenskraft und
Durchsetzungsvermögen in deine finanziellen Bemühungen ein und kannst Hindernisse
überwinden, um deine Ziele zu erreichen.
    <% } %> 
  <% } %>

  <% if ( planet1 === 'moon' ) { %>
    ☽ Mond 

    <% if ( planet2 === 'sun') { %>
      ☉ Sonne
    <% } %> 
  
    <% if ( planet2 === 'mercury' ) { %>
      ☿ Merkur 
    <% } %>
  
    <% if ( planet2 === 'venus') { %>
      ♀ Venus
    <% } %> 
  
    <% if ( planet2 === 'mars' ) { %>
      ♂ Mars
    <% } %>
  
    <% if ( planet2 === 'jupiter' ) { %>
      ♃ Jupiter
    <% } %>
  
    <% if ( planet2 === 'saturn') { %>
      ♄ Saturn
    <% } %> 
  
    <% if ( planet2 === 'uranus' ) { %>
      ♅ Uranus
    <% } %>
  
    <% if ( planet2 === 'neptune' ) { %>
      ♆ Neptun 
    <% } %>
  
    <% if ( planet2 === 'pluto' ) { %>
      ♇ Pluto
    <% } %>
  <% } %>

  <% if ( planet1 === 'mercury' ) { %>
    ☿ Merkur 

    <% if ( planet2 === 'sun') { %>
      ☉ Sonne
    <% } %> 
  
    <% if ( planet2 === 'moon' ) { %>
      ☽ Mond 
    <% } %>
  
    <% if ( planet2 === 'venus') { %>
      ♀ Venus
    <% } %> 
  
    <% if ( planet2 === 'mars' ) { %>
      ♂ Mars
    <% } %>
  
    <% if ( planet2 === 'jupiter' ) { %>
      ♃ Jupiter
    <% } %>
  
    <% if ( planet2 === 'saturn') { %>
      ♄ Saturn
    <% } %> 
  
    <% if ( planet2 === 'uranus' ) { %>
      ♅ Uranus
    <% } %>
  
    <% if ( planet2 === 'neptune' ) { %>
      ♆ Neptun 
    <% } %>
  
    <% if ( planet2 === 'pluto' ) { %>
      ♇ Pluto
    <% } %>
  <% } %>

  <% if ( planet1 === 'venus') { %>
    ♀ Venus

    <% if ( planet2 === 'sun') { %>
      ☉ Sonne
    <% } %> 
  
    <% if ( planet2 === 'moon' ) { %>
      ☽ Mond 
    <% } %>
  
    <% if ( planet2 === 'mercury' ) { %>
      ☿ Merkur 
    <% } %>
  
    <% if ( planet2 === 'mars' ) { %>
      ♂ Mars
    <% } %>
  
    <% if ( planet2 === 'jupiter' ) { %>
      ♃ Jupiter
    <% } %>
  
    <% if ( planet2 === 'saturn') { %>
      ♄ Saturn
    <% } %> 
  
    <% if ( planet2 === 'uranus' ) { %>
      ♅ Uranus
    <% } %>
  
    <% if ( planet2 === 'neptune' ) { %>
      ♆ Neptun 
    <% } %>
  
    <% if ( planet2 === 'pluto' ) { %>
      ♇ Pluto
    <% } %>
  <% } %> 

  <% if ( planet1 === 'mars' ) { %>
    ♂ Mars

    <% if ( planet2 === 'sun') { %>
      ☉ Sonne
    <% } %> 
  
    <% if ( planet2 === 'moon' ) { %>
      ☽ Mond 
    <% } %>
  
    <% if ( planet2 === 'mercury' ) { %>
      ☿ Merkur 
    <% } %>
  
    <% if ( planet2 === 'venus') { %>
      ♀ Venus
    <% } %> 
  
    <% if ( planet2 === 'jupiter' ) { %>
      ♃ Jupiter
    <% } %>
  
    <% if ( planet2 === 'saturn') { %>
      ♄ Saturn
    <% } %> 
  
    <% if ( planet2 === 'uranus' ) { %>
      ♅ Uranus
    <% } %>
  
    <% if ( planet2 === 'neptune' ) { %>
      ♆ Neptun 
    <% } %>
  
    <% if ( planet2 === 'pluto' ) { %>
      ♇ Pluto
    <% } %>
  <% } %>

  <% if ( planet1 === 'jupiter' ) { %>
    ♃ Jupiter

    <% if ( planet2 === 'sun') { %>
      ☉ Sonne
    <% } %> 
  
    <% if ( planet2 === 'moon' ) { %>
      ☽ Mond 
    <% } %>
  
    <% if ( planet2 === 'mercury' ) { %>
      ☿ Merkur 
    <% } %>
  
    <% if ( planet2 === 'venus') { %>
      ♀ Venus
    <% } %> 
  
    <% if ( planet2 === 'mars' ) { %>
      ♂ Mars
    <% } %>
  
    <% if ( planet2 === 'saturn') { %>
      ♄ Saturn
    <% } %> 
  
    <% if ( planet2 === 'uranus' ) { %>
      ♅ Uranus
    <% } %>
  
    <% if ( planet2 === 'neptune' ) { %>
      ♆ Neptun 
    <% } %>
  
    <% if ( planet2 === 'pluto' ) { %>
      ♇ Pluto
    <% } %>
  <% } %>

  <% if ( planet1 === 'saturn') { %>
    ♄ Saturn

    <% if ( planet2 === 'sun') { %>
      ☉ Sonne
    <% } %> 
  
    <% if ( planet2 === 'moon' ) { %>
      ☽ Mond 
    <% } %>
  
    <% if ( planet2 === 'mercury' ) { %>
      ☿ Merkur 
    <% } %>
  
    <% if ( planet2 === 'venus') { %>
      ♀ Venus
    <% } %> 
  
    <% if ( planet2 === 'mars' ) { %>
      ♂ Mars
    <% } %>
  
    <% if ( planet2 === 'jupiter' ) { %>
      ♃ Jupiter
    <% } %>
  
    <% if ( planet2 === 'uranus' ) { %>
      ♅ Uranus
    <% } %>
  
    <% if ( planet2 === 'neptune' ) { %>
      ♆ Neptun 
    <% } %>
  
    <% if ( planet2 === 'pluto' ) { %>
      ♇ Pluto
    <% } %>
  <% } %> 

  <% if ( planet1 === 'uranus' ) { %>
    ♅ Uranus
    <% if ( planet2 === 'sun') { %>
      ☉ Sonne
    <% } %> 
  
    <% if ( planet2 === 'moon' ) { %>
      ☽ Mond 
    <% } %>
  
    <% if ( planet2 === 'mercury' ) { %>
      ☿ Merkur 
    <% } %>
  
    <% if ( planet2 === 'venus') { %>
      ♀ Venus
    <% } %> 
  
    <% if ( planet2 === 'mars' ) { %>
      ♂ Mars
    <% } %>
  
    <% if ( planet2 === 'jupiter' ) { %>
      ♃ Jupiter
    <% } %>
  
    <% if ( planet2 === 'saturn') { %>
      ♄ Saturn
    <% } %> 
  
    <% if ( planet2 === 'neptune' ) { %>
      ♆ Neptun 
    <% } %>
  
    <% if ( planet2 === 'pluto' ) { %>
      ♇ Pluto
    <% } %>
  <% } %>

  <% if ( planet1 === 'neptune' ) { %>
    ♆ Neptun 
    <% if ( planet2 === 'sun') { %>
      ☉ Sonne
    <% } %> 
  
    <% if ( planet2 === 'moon' ) { %>
      ☽ Mond 
    <% } %>
  
    <% if ( planet2 === 'mercury' ) { %>
      ☿ Merkur 
    <% } %>
  
    <% if ( planet2 === 'venus') { %>
      ♀ Venus
    <% } %> 
  
    <% if ( planet2 === 'mars' ) { %>
      ♂ Mars
    <% } %>
  
    <% if ( planet2 === 'jupiter' ) { %>
      ♃ Jupiter
    <% } %>
  
    <% if ( planet2 === 'saturn') { %>
      ♄ Saturn
    <% } %> 
  
    <% if ( planet2 === 'uranus' ) { %>
      ♅ Uranus
    <% } %>
  
    <% if ( planet2 === 'pluto' ) { %>
      ♇ Pluto
    <% } %>
  <% } %>

  <% if ( planet1 === 'pluto' ) { %>
    ♇ Pluto

    <% if ( planet2 === 'sun') { %>
      ☉ Sonne
    <% } %> 
  
    <% if ( planet2 === 'moon' ) { %>
      ☽ Mond 
    <% } %>
  
    <% if ( planet2 === 'mercury' ) { %>
      ☿ Merkur 
    <% } %>
  
    <% if ( planet2 === 'venus') { %>
      ♀ Venus
    <% } %> 
  
    <% if ( planet2 === 'mars' ) { %>
      ♂ Mars
    <% } %>
  
    <% if ( planet2 === 'jupiter' ) { %>
      ♃ Jupiter
    <% } %>
  
    <% if ( planet2 === 'saturn') { %>
      ♄ Saturn
    <% } %> 
  
    <% if ( planet2 === 'uranus' ) { %>
      ♅ Uranus
    <% } %>
  
    <% if ( planet2 === 'neptune' ) { %>
      ♆ Neptun 
    <% } %>
  <% } %>

</p>
