<% if (key === 'sun') { %>
  <h5> ☉ Sonne </h5>
  <ul>
    <li class="plus"> Begegnungsfähig. Wichtigkeit persönlicher Kontakte. </li>
    <li class="minus"> Tendenz, sich zu sehr von anderen abhängig zu machen und so unselbstständig zu bleiben. </li>
  </ul>  
<% } %> 
<% if (key === 'moon') { %>
  <h5> ☽ Mond </h5>
  <ul>
    <li class="plus"> Emotional begegnungsfähig. Beliebt im persönlichen Umfeld. </li>
    <li class="minus"> Im Denken subjektiv, in der Bewältigung von Umwelteindrücken stark stimmungsabhängig. </li>
  </ul>  
<% } %> 
<% if (key === 'mercury') { %>
  <h5> ☿ Merkur </h5>
  <ul>
    <li class="plus">
      Kann die Meinung anderer in eigene Überlegungen mit einbeziehen. Künstlerische oder kunsthandwerkliche Begabung. 
      Ästhetische Denkweise.
    </li>
    <li class="minus">
      Meinungsopportunismus. Unfähig, intelektuelle Brüche oder Widersprüche zu ertragen. 
      Von der Zustimmung anderer abhängig.
    </li>
  </ul>  
<% } %> 
<% if (key === 'venus') { %>
  <h5> ♀ Venus </h5>
  <ul>
    <li class="plus"> Echte Begegnungs- und Kontaktfähigkeit. </li>
    <li class="minus">
      Achtet tendenziell zu sehr auf Äußerlichkeiten und macht sich in der Existenzsicherung stark vom Partner abhängig.</li>
  </ul>  
<% } %> 
<% if (key === 'mars') { %>
  <h5> ♂ Mars </h5>
  <ul>
    <li class="plus"> Begreift schnell die unmittelbare Umgebung. Ist geistig beweglich. </li>
    <li class="minus"> Unterstellt oft eine böse Absicht und handelt unüberlegt. </li>
  </ul>  
<% } %> 
<% if (key === 'jupiter') { %>
  <h5> ♃ Jupiter </h5>
  <ul>
    <li class="plus"> Kommt gut an in der Öffentlichkeit. Wohlhabender Partner oder Erfolg durch Partner. </li>
    <li class="minus">
      Schwierigkeit persönliche Beziehungen (Partnerschaft) aufzubauen oder tendiert zu Dreiecksbeziehungen.
    </li>
  </ul>  
<% } %> 
<% if (key === 'saturn') { %>
  <h5> ♄ Saturn </h5>
  <ul>
    <li class="plus"> Treue und Tiefe in der Partnerschaft. </li>
    <li class="minus"> Hemmung bei Kontakten und Begegnungen. </li>
  </ul>  
<% } %> 
<% if (key === 'uranus') { %>
  <h5> ♅ Uranus </h5>
  <ul>
    <li class="plus"> Kreatives Potential und Spontaneität im Begegnungsverhalten. </li>
    <li class="minus"> Unfähigkeit zu Eindeutigkeit und Verbindlichkeit in der Partnerschaft. </li>
  </ul>  
<% } %> 
<% if (key === 'neptune') { %>
  <h5> ♆ Neptun </h5>
  <ul>
    <li class="plus"> Wahrhaftige und unbegrenzte Begegnungsfähigkeit. </li>
    <li class="minus"> Instikntunsicherheit in der Partnerwahl. Affinität zu labilen Partnern. </li>
  </ul>  
<% } %> 
<% if (key === 'pluto') { %>
  <h5> ♇ Pluto </h5>
  <ul>
    <li class="plus"> Charismatische Ausstrahlung. Der "Partner-Archetypus". </li>
    <li class="minus"> Stark selektiver Wirklichkeitszugang. </li>
  </ul>   
<% } %> 
<% if (key === 'ascendant') { %>
  <h5> AC Aszendent </h5>
  <ul>
    <li class="plus">...</li>
    <li class="minus">...</li>
  </ul>  
<% } %> 