<% if (key === 'sun') { %>
  <h5> ☉ Sonne </h5>
  <ul>
    <li class="plus">Flexibel, vermittlungsfähig, neutrales und objektives Handeln. </li>
    <li class="minus">Oberflächlich, flatterhaft.</li>
  </ul>  
<% } %> 
<% if (key === 'moon') { %>
  <h5> ☽ Mond </h5>
  <ul>
    <li class="plus">Kann Emotionen Darstellen. Schauspieler- oder Rednertalent. </li>
    <li class="minus">Rationalisierung von Empfindungen. Scheinintellekt. </li>
  </ul>  
<% } %> 
<% if (key === 'mercury') { %>
  <h5> ☿ Merkur </h5>
  <ul>
    <li class="plus"> Offene und angemssene Bewältigung von Eindrücken. Beweglich im Denken. </li>
    <li class="minus"> Eventuell Zug ins Sophistische. </li>
  </ul>  
<% } %> 
<% if (key === 'venus') { %>
  <h5> ♀ Venus </h5>
  <ul>
    <li class="plus"> Charmant. Fähigkeit zu ästhetischer Selbstdarstellung. Sprachgewandt. </li>
    <li class="minus"> Konfliktscheu und oberflächliche Erotik. </li>
  </ul>  
<% } %> 
<% if (key === 'mars') { %>
  <h5> ♂ Mars </h5>
  <ul>
    <li class="plus">Kann Neigungen, Antriebe und Bedürfnisse darstellen und durchsetzen. Sprachliche Begabung.</li>
    <li class="minus">
      Tendenz, eigenen Intellekt und Ego zu überschätzen. 
      Nimmt eigene Rücksichtslosigkeit nicht wahr und neigt zu verletzenden Äußerungen.
    </li>
  </ul>  
<% } %> 
<% if (key === 'jupiter') { %>
  <h5> ♃ Jupiter </h5>
  <ul>
    <li class="plus">Sprachlich begabt und Fähigkeit sich vorteilhaft darzustellen.</li>
    <li class="minus">Angeberei und bau von Luftschlössern. Hochstapler oder Scharlatan.</li>
  </ul>  
<% } %> 
<% if (key === 'saturn') { %>
  <h5> ♄ Saturn </h5>
  <ul>
    <li class="plus"> Konsequent im Denken. Ernsthaft und Tiefe suchend. </li>
    <li class="minus"> Mangelnde intellektuelle Flexibilität, somit Scheinlogik ausgeliefert. </li>
  </ul>  
<% } %> 
<% if (key === 'uranus') { %>
  <h5> ♅ Uranus </h5>
  <ul>
    <li class="plus"> Fähigkeit, sich originell darzustellen. </li>
    <li class="minus"> Vom persönlichen Umfeld unverstanden. </li>
  </ul>  
<% } %> 
<% if (key === 'neptune') { %>
  <h5> ♆ Neptun </h5>
  <ul>
    <li class="plus"> Fähigkeit zu intuitivem, bildhaftem Denken. </li>
    <li class="minus"> Mangelnde Klarheit im Selbstausdruck. Angst, im Mittelpunkt zu stehen. </li>
  </ul>  
<% } %> 
<% if (key === 'pluto') { %>
  <h5> ♇ Pluto </h5>
  <ul>
    <li class="plus"> Abstrakte Denkweise und Herangehensweise an Probleme. Intellektuelle Begabung. </li>
    <li class="minus"> Lässt keine anderen Meinungen zu und handelt zwanghaft. </li>
  </ul>   
<% } %> 
<% if (key === 'ascendant') { %>
  <h5>AC Aszendent:</h5>
  <ul>
    <li class="plus">...</li>
    <li class="minus">...</li>
  </ul>  
<% } %> 