
<h6>

  &emsp; Bildet Opposition mit

  <% if ( planet2 === 'sun') { %>
    ☉ Sonne
  <% } %> 

  <% if ( planet2 === 'moon' ) { %>
    ☽ Mond 
  <% } %>

  <% if ( planet2 === 'mercury' ) { %>
    ☿ Merkur 
  <% } %>

  <% if ( planet2 === 'venus') { %>
    ♀ Venus
  <% } %> 

  <% if ( planet2 === 'mars' ) { %>
    ♂ Mars
  <% } %>

  <% if ( planet2 === 'jupiter' ) { %>
    ♃ Jupiter
  <% } %>

  <% if ( planet2 === 'saturn') { %>
    ♄ Saturn
  <% } %> 

  <% if ( planet2 === 'uranus' ) { %>
    ♅ Uranus
  <% } %>

  <% if ( planet2 === 'neptune' ) { %>
    ♆ Neptun 
  <% } %>

  <% if ( planet2 === 'pluto' ) { %>
    ♇ Pluto
  <% } %>

  - Aspektstärke: 
  <%= orbis %> 


</h6>


<p> 
  <% if ( planet1 === 'sun' ) { %>
    ☉ Sonne 

    <% if ( planet2 === 'moon' ) { %>
      ☽ Mond 
    <% } %>
  
    <% if ( planet2 === 'mercury' ) { %>
      ☿ Merkur 
    <% } %>
  
    <% if ( planet2 === 'venus') { %>
      ♀ Venus
    <% } %> 
  
    <% if ( planet2 === 'mars' ) { %>
      ♂ Mars
    <% } %>
  
    <% if ( planet2 === 'jupiter' ) { %>
      ♃ Jupiter
    <% } %>
  
    <% if ( planet2 === 'saturn') { %>
      ♄ Saturn
    <% } %> 
  
    <% if ( planet2 === 'uranus' ) { %>
      ♅ Uranus
    <% } %>
  
    <% if ( planet2 === 'neptune' ) { %>
      ♆ Neptun 
    <% } %>
  
    <% if ( planet2 === 'pluto' ) { %>
      ♇ Pluto
    <% } %> 
  <% } %>

  <% if ( planet1 === 'moon' ) { %>
    ☽ Mond 

    <% if ( planet2 === 'sun') { %>
      ☉ Sonne
    <% } %> 
  
    <% if ( planet2 === 'mercury' ) { %>
      ☿ Merkur 
    <% } %>
  
    <% if ( planet2 === 'venus') { %>
      ♀ Venus
    <% } %> 
  
    <% if ( planet2 === 'mars' ) { %>
      ♂ Mars
    <% } %>
  
    <% if ( planet2 === 'jupiter' ) { %>
      ♃ Jupiter
    <% } %>
  
    <% if ( planet2 === 'saturn') { %>
      ♄ Saturn
    <% } %> 
  
    <% if ( planet2 === 'uranus' ) { %>
      ♅ Uranus
    <% } %>
  
    <% if ( planet2 === 'neptune' ) { %>
      ♆ Neptun 
    <% } %>
  
    <% if ( planet2 === 'pluto' ) { %>
      ♇ Pluto
    <% } %>
  <% } %>

  <% if ( planet1 === 'mercury' ) { %>
    ☿ Merkur 

    <% if ( planet2 === 'sun') { %>
      ☉ Sonne
    <% } %> 
  
    <% if ( planet2 === 'moon' ) { %>
      ☽ Mond 
    <% } %>
  
    <% if ( planet2 === 'venus') { %>
      ♀ Venus
    <% } %> 
  
    <% if ( planet2 === 'mars' ) { %>
      ♂ Mars
    <% } %>
  
    <% if ( planet2 === 'jupiter' ) { %>
      ♃ Jupiter
    <% } %>
  
    <% if ( planet2 === 'saturn') { %>
      ♄ Saturn
    <% } %> 
  
    <% if ( planet2 === 'uranus' ) { %>
      ♅ Uranus
    <% } %>
  
    <% if ( planet2 === 'neptune' ) { %>
      ♆ Neptun 
    <% } %>
  
    <% if ( planet2 === 'pluto' ) { %>
      ♇ Pluto
    <% } %>
  <% } %>

  <% if ( planet1 === 'venus') { %>
    ♀ Venus

    <% if ( planet2 === 'sun') { %>
      ☉ Sonne
    <% } %> 
  
    <% if ( planet2 === 'moon' ) { %>
      ☽ Mond 
    <% } %>
  
    <% if ( planet2 === 'mercury' ) { %>
      ☿ Merkur 
    <% } %>
  
    <% if ( planet2 === 'mars' ) { %>
      ♂ Mars
    <% } %>
  
    <% if ( planet2 === 'jupiter' ) { %>
      ♃ Jupiter
    <% } %>
  
    <% if ( planet2 === 'saturn') { %>
      ♄ Saturn
    <% } %> 
  
    <% if ( planet2 === 'uranus' ) { %>
      ♅ Uranus
    <% } %>
  
    <% if ( planet2 === 'neptune' ) { %>
      ♆ Neptun 
    <% } %>
  
    <% if ( planet2 === 'pluto' ) { %>
      ♇ Pluto
    <% } %>
  <% } %> 

  <% if ( planet1 === 'mars' ) { %>
    ♂ Mars

    <% if ( planet2 === 'sun') { %>
      ☉ Sonne
    <% } %> 
  
    <% if ( planet2 === 'moon' ) { %>
      ☽ Mond 
    <% } %>
  
    <% if ( planet2 === 'mercury' ) { %>
      ☿ Merkur 
    <% } %>
  
    <% if ( planet2 === 'venus') { %>
      ♀ Venus
    <% } %> 
  
    <% if ( planet2 === 'jupiter' ) { %>
      ♃ Jupiter
    <% } %>
  
    <% if ( planet2 === 'saturn') { %>
      ♄ Saturn
    <% } %> 
  
    <% if ( planet2 === 'uranus' ) { %>
      ♅ Uranus
    <% } %>
  
    <% if ( planet2 === 'neptune' ) { %>
      ♆ Neptun 
    <% } %>
  
    <% if ( planet2 === 'pluto' ) { %>
      ♇ Pluto
    <% } %>
  <% } %>

  <% if ( planet1 === 'jupiter' ) { %>
    ♃ Jupiter

    <% if ( planet2 === 'sun') { %>
      ☉ Sonne
    <% } %> 
  
    <% if ( planet2 === 'moon' ) { %>
      ☽ Mond 
    <% } %>
  
    <% if ( planet2 === 'mercury' ) { %>
      ☿ Merkur 
    <% } %>
  
    <% if ( planet2 === 'venus') { %>
      ♀ Venus
    <% } %> 
  
    <% if ( planet2 === 'mars' ) { %>
      ♂ Mars
    <% } %>
  
    <% if ( planet2 === 'saturn') { %>
      ♄ Saturn
    <% } %> 
  
    <% if ( planet2 === 'uranus' ) { %>
      ♅ Uranus
    <% } %>
  
    <% if ( planet2 === 'neptune' ) { %>
      ♆ Neptun 
    <% } %>
  
    <% if ( planet2 === 'pluto' ) { %>
      ♇ Pluto
    <% } %>
  <% } %>

  <% if ( planet1 === 'saturn') { %>
    ♄ Saturn

    <% if ( planet2 === 'sun') { %>
      ☉ Sonne
    <% } %> 
  
    <% if ( planet2 === 'moon' ) { %>
      ☽ Mond 
    <% } %>
  
    <% if ( planet2 === 'mercury' ) { %>
      ☿ Merkur 
    <% } %>
  
    <% if ( planet2 === 'venus') { %>
      ♀ Venus
    <% } %> 
  
    <% if ( planet2 === 'mars' ) { %>
      ♂ Mars
    <% } %>
  
    <% if ( planet2 === 'jupiter' ) { %>
      ♃ Jupiter
    <% } %>
  
    <% if ( planet2 === 'uranus' ) { %>
      ♅ Uranus
    <% } %>
  
    <% if ( planet2 === 'neptune' ) { %>
      ♆ Neptun 
    <% } %>
  
    <% if ( planet2 === 'pluto' ) { %>
      ♇ Pluto
    <% } %>
  <% } %> 

  <% if ( planet1 === 'uranus' ) { %>
    ♅ Uranus
    <% if ( planet2 === 'sun') { %>
      ☉ Sonne
    <% } %> 
  
    <% if ( planet2 === 'moon' ) { %>
      ☽ Mond 
    <% } %>
  
    <% if ( planet2 === 'mercury' ) { %>
      ☿ Merkur 
    <% } %>
  
    <% if ( planet2 === 'venus') { %>
      ♀ Venus
    <% } %> 
  
    <% if ( planet2 === 'mars' ) { %>
      ♂ Mars
    <% } %>
  
    <% if ( planet2 === 'jupiter' ) { %>
      ♃ Jupiter
    <% } %>
  
    <% if ( planet2 === 'saturn') { %>
      ♄ Saturn
    <% } %> 
  
    <% if ( planet2 === 'neptune' ) { %>
      ♆ Neptun 
    <% } %>
  
    <% if ( planet2 === 'pluto' ) { %>
      ♇ Pluto
    <% } %>
  <% } %>

  <% if ( planet1 === 'neptune' ) { %>
    ♆ Neptun 
    <% if ( planet2 === 'sun') { %>
      ☉ Sonne
    <% } %> 
  
    <% if ( planet2 === 'moon' ) { %>
      ☽ Mond 
    <% } %>
  
    <% if ( planet2 === 'mercury' ) { %>
      ☿ Merkur 
    <% } %>
  
    <% if ( planet2 === 'venus') { %>
      ♀ Venus
    <% } %> 
  
    <% if ( planet2 === 'mars' ) { %>
      ♂ Mars
    <% } %>
  
    <% if ( planet2 === 'jupiter' ) { %>
      ♃ Jupiter
    <% } %>
  
    <% if ( planet2 === 'saturn') { %>
      ♄ Saturn
    <% } %> 
  
    <% if ( planet2 === 'uranus' ) { %>
      ♅ Uranus
    <% } %>
  
    <% if ( planet2 === 'pluto' ) { %>
      ♇ Pluto
    <% } %>
  <% } %>

  <% if ( planet1 === 'pluto' ) { %>
    ♇ Pluto

    <% if ( planet2 === 'sun') { %>
      ☉ Sonne
    <% } %> 
  
    <% if ( planet2 === 'moon' ) { %>
      ☽ Mond 
    <% } %>
  
    <% if ( planet2 === 'mercury' ) { %>
      ☿ Merkur 
    <% } %>
  
    <% if ( planet2 === 'venus') { %>
      ♀ Venus
    <% } %> 
  
    <% if ( planet2 === 'mars' ) { %>
      ♂ Mars
    <% } %>
  
    <% if ( planet2 === 'jupiter' ) { %>
      ♃ Jupiter
    <% } %>
  
    <% if ( planet2 === 'saturn') { %>
      ♄ Saturn
    <% } %> 
  
    <% if ( planet2 === 'uranus' ) { %>
      ♅ Uranus
    <% } %>
  
    <% if ( planet2 === 'neptune' ) { %>
      ♆ Neptun 
    <% } %>
  <% } %>

</p>
