
<h6>

  &emsp; Bildet Konjunktion mit

  <% if ( planet2 === 'sun') { %>
    ☉ Sonne
  <% } %> 

  <% if ( planet2 === 'moon' ) { %>
    ☽ Mond 
  <% } %>

  <% if ( planet2 === 'mercury' ) { %>
    ☿ Merkur 
  <% } %>

  <% if ( planet2 === 'venus') { %>
    ♀ Venus
  <% } %> 

  <% if ( planet2 === 'mars' ) { %>
    ♂ Mars
  <% } %>

  <% if ( planet2 === 'jupiter' ) { %>
    ♃ Jupiter
  <% } %>

  <% if ( planet2 === 'saturn') { %>
    ♄ Saturn
  <% } %> 

  <% if ( planet2 === 'uranus' ) { %>
    ♅ Uranus
  <% } %>

  <% if ( planet2 === 'neptune' ) { %>
    ♆ Neptun 
  <% } %>

  <% if ( planet2 === 'pluto' ) { %>
    ♇ Pluto
  <% } %>

  - Aspektstärke: 
  <%= orbis %> 
</h6>

<p> 
  <% if ( planet1 === 'sun' ) { %>

    <% if ( planet2 === 'moon' ) { %>
      Mit dieser Konjunktion zwischen der Sonne im dritten Haus und dem Mond hast du eine starke
Verbindung zwischen deiner Identität und deinen emotionalen Bedürfnissen sowie deiner
Kommunikation. Deine Gefühle und Emotionen beein ussen maßgeblich deine Art zu denken und
zu kommunizieren. Du bist ein intuitiver und emp ndsamer Kommunikator, der in der Lage ist,
seine Gefühle und Emotionen klar und ausdrucksstark zu vermitteln. Deine Identität ist geprägt
von emotionaler Intelligenz und einem starken Bedürfnis nach emotionaler Sicherheit durch den
Austausch von Gedanken und Ideen mit anderen.
    <% } %>
  
    <% if ( planet2 === 'mercury' ) { %>
      Mit dieser Konjunktion zwischen der Sonne im dritten Haus und Merkur hast du eine starke
Verbindung zwischen deiner Identität und deinem Denkvermögen sowie deiner Kommunikation.
Du bist ein natürlicher Redner und Denker, der eine klare und kraftvolle Kommunikation besitzt.
Deine Identität ist geprägt von einer schnellen Au assungsgabe und einer lebendigen Art, deine
Gedanken auszudrücken. Du bist ein wissbegieriger und vielseitiger Geist, der sich gerne mit
verschiedenen Themen beschäftigt und sein Wissen mit anderen teilt.
    <% } %>
  
    <% if ( planet2 === 'venus') { %>
      Diese Konjunktion zwischen der Sonne im dritten Haus und Venus verstärkt deine Fähigkeit, auf
charmante und liebenswürdige Weise zu kommunizieren. Du bist ein natürlicher Diplomat und
hast eine angenehme Art, deine Gedanken und Ideen zu präsentieren. Deine Identität ist geprägt
von einer harmonischen und ästhetischen Art, dich auszudrücken. Du bringst eine positive und
freundliche Energie in deine Kommunikation ein und hast das Talent, andere mit deinen Worten
und deinem Ausdruck zu bezaubern.
    <% } %> 
  
    <% if ( planet2 === 'mars' ) { %>
      Mit dieser Konjunktion zwischen der Sonne im dritten Haus und Mars besitzt du eine starke
Ausdrucksstärke und Durchsetzungskraft in deiner Kommunikation. Du bist ein direkter und
energischer Kommunikator, der seine Gedanken und Ideen selbstbewusst vermittelt. Deine
Identität ist geprägt von einer kämpferischen und dynamischen Art, dich auszudrücken. Du bist
leidenschaftlich und entschlossen, deine Botschaften zu vermitteln und andere zu inspirieren.
    <% } %>
  
    <% if ( planet2 === 'jupiter' ) { %>
      Diese Konjunktion zwischen der Sonne im dritten Haus und Jupiter verstärkt deine
kommunikativen Fähigkeiten und deinen Optimismus. Du bist ein expansiver und begeisterter
Kommunikator, der in der Lage ist, andere zu motivieren und zu inspirieren. Deine Identität ist
geprägt von einem positiven Glauben an die Kraft der Kommunikation und der Verbreitung von
Wissen. Du bringst eine natürliche Autorität und Weisheit in deine Kommunikation ein und kannst
andere mit deinem Optimismus und deinem Enthusiasmus anstecken.
    <% } %>
  
    <% if ( planet2 === 'saturn') { %>
      Mit dieser Konjunktion zwischen der Sonne im dritten Haus und Saturn hast du eine ernsthafte
und strukturierte Art zu kommunizieren. Du bist ein methodischer und konzentrierter Denker, der
klare und präzise Botschaften vermittelt. Deine Identität ist geprägt von einem starken Sinn für
Verantwortung und Disziplin in der Kommunikation. Du bringst Stabilität und Zuverlässigkeit in
deine Worte ein und hast das Talent, komplexe Ideen auf eine klare und verständliche Weise zu
erklären.
    <% } %> 
  
    <% if ( planet2 === 'uranus' ) { %>
      Mit dieser Konjunktion zwischen der Sonne im dritten Haus und Uranus besitzt du eine originelle
und unkonventionelle Art zu kommunizieren. Du bist ein innovativer und frei denkender
Kommunikator, der neue Ansätze und Ideen einbringt. Deine Identität ist geprägt von einem
Verlangen nach Freiheit und Individualität in der Art und Weise, wie du deine Gedanken
ausdrückst. Du bringst Originalität und Er ndungsgeist in deine Kommunikation ein und kannst
andere mit deinem einzigartigen Denken überraschen und inspirieren.
    <% } %>
  
    <% if ( planet2 === 'neptune' ) { %>
      Diese Konjunktion zwischen der Sonne im dritten Haus und Neptun verleiht deiner
Kommunikation eine kreative und einfühlsame Note. Du bist ein intuitiver und sensibler
Kommunikator, der in der Lage ist, eine tiefere Ebene der Verbindung herzustellen. Deine Identitätist geprägt von einem tiefen Verständnis für die Kraft der Worte und deren emotionale
Auswirkungen auf andere. Du bringst Mitgefühl und Inspiration in deine Kommunikation ein und
hast das Talent, andere Menschen auf einer tieferen Ebene zu berühren.
    <% } %>
  
    <% if ( planet2 === 'pluto' ) { %>
      Mit dieser Konjunktion zwischen der Sonne im dritten Haus und Pluto hast du eine transformative
und machtbewusste Art zu kommunizieren. Du bist ein intensiver und leidenschaftlicher Redner,
der in der Lage ist, tiefgreifende Veränderungen durch seine Worte herbeizuführen. Deine Identität
ist geprägt von einem starken Ein uss und einer starken Präsenz in deiner Kommunikation. Du
bringst eine immense Willenskraft und Durchsetzungsvermögen in deine Worte ein und kannst
andere mit deiner Überzeugungskraft beein ussen.
    <% } %> 
  <% } %>

  <% if ( planet1 === 'moon' ) { %>
    ☽ Mond 

    <% if ( planet2 === 'sun') { %>
      ☉ Sonne
    <% } %> 
  
    <% if ( planet2 === 'mercury' ) { %>
      ☿ Merkur 
    <% } %>
  
    <% if ( planet2 === 'venus') { %>
      ♀ Venus
    <% } %> 
  
    <% if ( planet2 === 'mars' ) { %>
      ♂ Mars
    <% } %>
  
    <% if ( planet2 === 'jupiter' ) { %>
      ♃ Jupiter
    <% } %>
  
    <% if ( planet2 === 'saturn') { %>
      ♄ Saturn
    <% } %> 
  
    <% if ( planet2 === 'uranus' ) { %>
      ♅ Uranus
    <% } %>
  
    <% if ( planet2 === 'neptune' ) { %>
      ♆ Neptun 
    <% } %>
  
    <% if ( planet2 === 'pluto' ) { %>
      ♇ Pluto
    <% } %>
  <% } %>

  <% if ( planet1 === 'mercury' ) { %>
    ☿ Merkur 

    <% if ( planet2 === 'sun') { %>
      ☉ Sonne
    <% } %> 
  
    <% if ( planet2 === 'moon' ) { %>
      ☽ Mond 
    <% } %>
  
    <% if ( planet2 === 'venus') { %>
      ♀ Venus
    <% } %> 
  
    <% if ( planet2 === 'mars' ) { %>
      ♂ Mars
    <% } %>
  
    <% if ( planet2 === 'jupiter' ) { %>
      ♃ Jupiter
    <% } %>
  
    <% if ( planet2 === 'saturn') { %>
      ♄ Saturn
    <% } %> 
  
    <% if ( planet2 === 'uranus' ) { %>
      ♅ Uranus
    <% } %>
  
    <% if ( planet2 === 'neptune' ) { %>
      ♆ Neptun 
    <% } %>
  
    <% if ( planet2 === 'pluto' ) { %>
      ♇ Pluto
    <% } %>
  <% } %>

  <% if ( planet1 === 'venus') { %>
    ♀ Venus

    <% if ( planet2 === 'sun') { %>
      ☉ Sonne
    <% } %> 
  
    <% if ( planet2 === 'moon' ) { %>
      ☽ Mond 
    <% } %>
  
    <% if ( planet2 === 'mercury' ) { %>
      ☿ Merkur 
    <% } %>
  
    <% if ( planet2 === 'mars' ) { %>
      ♂ Mars
    <% } %>
  
    <% if ( planet2 === 'jupiter' ) { %>
      ♃ Jupiter
    <% } %>
  
    <% if ( planet2 === 'saturn') { %>
      ♄ Saturn
    <% } %> 
  
    <% if ( planet2 === 'uranus' ) { %>
      ♅ Uranus
    <% } %>
  
    <% if ( planet2 === 'neptune' ) { %>
      ♆ Neptun 
    <% } %>
  
    <% if ( planet2 === 'pluto' ) { %>
      ♇ Pluto
    <% } %>
  <% } %> 

  <% if ( planet1 === 'mars' ) { %>
    ♂ Mars

    <% if ( planet2 === 'sun') { %>
      ☉ Sonne
    <% } %> 
  
    <% if ( planet2 === 'moon' ) { %>
      ☽ Mond 
    <% } %>
  
    <% if ( planet2 === 'mercury' ) { %>
      ☿ Merkur 
    <% } %>
  
    <% if ( planet2 === 'venus') { %>
      ♀ Venus
    <% } %> 
  
    <% if ( planet2 === 'jupiter' ) { %>
      ♃ Jupiter
    <% } %>
  
    <% if ( planet2 === 'saturn') { %>
      ♄ Saturn
    <% } %> 
  
    <% if ( planet2 === 'uranus' ) { %>
      ♅ Uranus
    <% } %>
  
    <% if ( planet2 === 'neptune' ) { %>
      ♆ Neptun 
    <% } %>
  
    <% if ( planet2 === 'pluto' ) { %>
      ♇ Pluto
    <% } %>
  <% } %>

  <% if ( planet1 === 'jupiter' ) { %>
    ♃ Jupiter

    <% if ( planet2 === 'sun') { %>
      ☉ Sonne
    <% } %> 
  
    <% if ( planet2 === 'moon' ) { %>
      ☽ Mond 
    <% } %>
  
    <% if ( planet2 === 'mercury' ) { %>
      ☿ Merkur 
    <% } %>
  
    <% if ( planet2 === 'venus') { %>
      ♀ Venus
    <% } %> 
  
    <% if ( planet2 === 'mars' ) { %>
      ♂ Mars
    <% } %>
  
    <% if ( planet2 === 'saturn') { %>
      ♄ Saturn
    <% } %> 
  
    <% if ( planet2 === 'uranus' ) { %>
      ♅ Uranus
    <% } %>
  
    <% if ( planet2 === 'neptune' ) { %>
      ♆ Neptun 
    <% } %>
  
    <% if ( planet2 === 'pluto' ) { %>
      ♇ Pluto
    <% } %>
  <% } %>

  <% if ( planet1 === 'saturn') { %>
    ♄ Saturn

    <% if ( planet2 === 'sun') { %>
      ☉ Sonne
    <% } %> 
  
    <% if ( planet2 === 'moon' ) { %>
      ☽ Mond 
    <% } %>
  
    <% if ( planet2 === 'mercury' ) { %>
      ☿ Merkur 
    <% } %>
  
    <% if ( planet2 === 'venus') { %>
      ♀ Venus
    <% } %> 
  
    <% if ( planet2 === 'mars' ) { %>
      ♂ Mars
    <% } %>
  
    <% if ( planet2 === 'jupiter' ) { %>
      ♃ Jupiter
    <% } %>
  
    <% if ( planet2 === 'uranus' ) { %>
      ♅ Uranus
    <% } %>
  
    <% if ( planet2 === 'neptune' ) { %>
      ♆ Neptun 
    <% } %>
  
    <% if ( planet2 === 'pluto' ) { %>
      ♇ Pluto
    <% } %>
  <% } %> 

  <% if ( planet1 === 'uranus' ) { %>
    ♅ Uranus
    <% if ( planet2 === 'sun') { %>
      ☉ Sonne
    <% } %> 
  
    <% if ( planet2 === 'moon' ) { %>
      ☽ Mond 
    <% } %>
  
    <% if ( planet2 === 'mercury' ) { %>
      ☿ Merkur 
    <% } %>
  
    <% if ( planet2 === 'venus') { %>
      ♀ Venus
    <% } %> 
  
    <% if ( planet2 === 'mars' ) { %>
      ♂ Mars
    <% } %>
  
    <% if ( planet2 === 'jupiter' ) { %>
      ♃ Jupiter
    <% } %>
  
    <% if ( planet2 === 'saturn') { %>
      ♄ Saturn
    <% } %> 
  
    <% if ( planet2 === 'neptune' ) { %>
      ♆ Neptun 
    <% } %>
  
    <% if ( planet2 === 'pluto' ) { %>
      ♇ Pluto
    <% } %>
  <% } %>

  <% if ( planet1 === 'neptune' ) { %>
    ♆ Neptun 
    <% if ( planet2 === 'sun') { %>
      ☉ Sonne
    <% } %> 
  
    <% if ( planet2 === 'moon' ) { %>
      ☽ Mond 
    <% } %>
  
    <% if ( planet2 === 'mercury' ) { %>
      ☿ Merkur 
    <% } %>
  
    <% if ( planet2 === 'venus') { %>
      ♀ Venus
    <% } %> 
  
    <% if ( planet2 === 'mars' ) { %>
      ♂ Mars
    <% } %>
  
    <% if ( planet2 === 'jupiter' ) { %>
      ♃ Jupiter
    <% } %>
  
    <% if ( planet2 === 'saturn') { %>
      ♄ Saturn
    <% } %> 
  
    <% if ( planet2 === 'uranus' ) { %>
      ♅ Uranus
    <% } %>
  
    <% if ( planet2 === 'pluto' ) { %>
      ♇ Pluto
    <% } %>
  <% } %>

  <% if ( planet1 === 'pluto' ) { %>
    ♇ Pluto

    <% if ( planet2 === 'sun') { %>
      ☉ Sonne
    <% } %> 
  
    <% if ( planet2 === 'moon' ) { %>
      ☽ Mond 
    <% } %>
  
    <% if ( planet2 === 'mercury' ) { %>
      ☿ Merkur 
    <% } %>
  
    <% if ( planet2 === 'venus') { %>
      ♀ Venus
    <% } %> 
  
    <% if ( planet2 === 'mars' ) { %>
      ♂ Mars
    <% } %>
  
    <% if ( planet2 === 'jupiter' ) { %>
      ♃ Jupiter
    <% } %>
  
    <% if ( planet2 === 'saturn') { %>
      ♄ Saturn
    <% } %> 
  
    <% if ( planet2 === 'uranus' ) { %>
      ♅ Uranus
    <% } %>
  
    <% if ( planet2 === 'neptune' ) { %>
      ♆ Neptun 
    <% } %>
  <% } %>

</p>
